Repository docker-library/official-images, pull requests merged in 2018-06, with the labels that each got.

#4411 Remove Flink 1.3 images
  library/flink
Labels: library/flink

#4412 Turn on container support by default
  library/ibmjava
Labels: library/ibmjava

#4414 update oraclelinux:6.9 for procps
  library/oraclelinux
Labels: library/oraclelinux

#4415 Update tools-deps clojure variant to latest version
  library/clojure
Labels: library/clojure

#4413 Update sl container for sl6 to current (build-date=20180601)
  library/sl
Labels: library/sl

#4417 Update swarm v1.2.9
  library/swarm
Labels: library/swarm

#4419 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4418 add 7.5.1804 minor release, update monthly build
  library/centos
Labels: library/centos

#4421 Groovy 2.5.0
  library/groovy
Labels: library/groovy

#4420 Update Couchbase Server 4 to 4.6.5
  library/couchbase
Labels: library/couchbase

#4424 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4422 Bump Haskell 8.4.3.
  library/haskell
Labels: library/haskell

#4425 Gradle 4.8
  library/gradle
Labels: library/gradle

#4428 Updated mainline nginx to 1.15.0.
  library/nginx
Labels: library/nginx

#4429 Bump Traefik to v1.6.3
  library/traefik
Labels: library/traefik

#4427 erlang/otp 20.3.7 rebar3 3.5.3
  library/erlang
Labels: library/erlang

#4430 Update docker-library images
  library/bash
  library/ghost
  library/julia
  library/matomo
  library/memcached
  library/mongo
  library/openjdk
  library/owncloud
  library/percona
  library/php
  library/piwik
  library/python
  library/rocket.chat
  library/ruby
  library/wordpress
Labels: library/bash, library/ghost, library/julia, library/matomo, library/memcached, library/mongo, library/openjdk, library/owncloud, library/percona, library/php, library/piwik, library/python, library/rocket.chat, library/ruby, library/wordpress

#4432 Update rust to 1.26.2
  library/rust
Labels: library/rust

#4435 Update influxdata images
  library/chronograf
  library/telegraf
Labels: library/chronograf, library/telegraf

#4437 Update node.js v10.x to 10.4.0
  library/node
Labels: library/node

#4434 [gazebo] new docker templates and bump gazebo from 9.0 to 9.1
  library/gazebo
Labels: library/gazebo

#4441 bumping vault to 0.10.2
  library/vault
Labels: library/vault

#4442 Fix bad sha1 introduced in previous PR after the release of XWiki 10.4 for postgres
  library/xwiki
Labels: library/xwiki

#4443 Update docker-library images
  library/drupal
  library/ghost
  library/golang
  library/mongo
  library/owncloud
  library/postgres
  library/tomcat
Labels: library/drupal, library/ghost, library/golang, library/mongo, library/owncloud, library/postgres, library/tomcat

#4449 Aerospike 4.2.0.3
  library/aerospike
Labels: library/aerospike

#4448 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4445 [gazebo] version bump for gazebo 7, 8 and 9
  library/gazebo
Labels: library/gazebo

#4446 Update Apache Storm
  library/storm
Labels: library/storm

#4450 Update docker-library images
  library/ghost
  library/openjdk
  library/redmine
Labels: library/ghost, library/openjdk, library/redmine

#4447 [ros] EOL jessie and dockerfiles generated from new templates
  library/ros
Labels: library/ros

#4456 Node sec release june
  library/node
Labels: library/node

#4453 update composer tags
  library/composer
Labels: library/composer

#4455 Update telegraf image
  library/telegraf
Labels: library/telegraf

#4457 Upgrade CrateDB to 3.0.2
  library/crate
Labels: library/crate

#4459 Update Couchbase Server CE to 5.1.1
  library/couchbase
Labels: library/couchbase

#4461 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4462 erlang/otp 20.3.8
  library/erlang
Labels: library/erlang

#4463 Add MediaWiki 1.31
  library/mediawiki
Labels: library/mediawiki

#4464 Haxe 4.0.0-preview.4
  library/haxe
Labels: library/haxe

#4466 Bump Traefik to v1.6.4
  library/traefik
Labels: library/traefik

#4467 Sentry 9.0.0rc1
  library/sentry
Labels: library/sentry

#4468 [security] Update to OpenJDK 8u171 (Alpine), Redis 3.2.12 and 4.0.10
  library/openjdk
  library/redis
Labels: library/openjdk, library/redis

#4469 Update docker-library images
  library/elasticsearch
  library/ghost
  library/kibana
  library/logstash
  library/mongo
  library/php
  library/rabbitmq
  library/redmine
  library/tomcat
Labels: library/elasticsearch, library/ghost, library/kibana, library/logstash, library/mongo, library/php, library/rabbitmq, library/redmine, library/tomcat

#4382 Enhance entrypoint to better cope with arbitrary user id
  library/nuxeo
Labels: library/nuxeo

#4465 Release Neo4j 3.3.6 and 3.1.9
  library/neo4j
Labels: library/neo4j

#4438 Release OrientDB v 3.0.2
  library/orientdb
Labels: library/orientdb

#4476 Upgrade MediaWiki PHP to 7.2
  library/mediawiki
Labels: library/mediawiki

#4472 [nats-streaming] Release v0.10.0
  library/nats-streaming
Labels: library/nats-streaming

#4477 Update docker-library images
  library/ghost
  library/mariadb
  library/mongo
  library/php
  library/redis
  library/redmine
  library/rocket.chat
Labels: library/ghost, library/mariadb, library/mongo, library/php, library/redis, library/redmine, library/rocket.chat

#4478 Update node to 10.5.0
  library/node
Labels: library/node

#4479 bumping vault to 0.10.3
  library/vault
Labels: library/vault

#4480 Update photon image
  library/photon
Labels: library/photon

#4481 Add version 7.7.0 of Bonita
  library/bonita
Labels: library/bonita

#4482 XWiki 10.5 has been released
  library/xwiki
Labels: library/xwiki

#4483 kong: bump to 0.14.0rc1
  library/kong
Labels: library/kong

#4473 update R 3.5.0 image using post-transition packages
  library/r-base
Labels: library/r-base

#4485 Maven 3.5.4
  library/maven
Labels: library/maven

#4486 Update Lightstreamer to version 7.0.1
  library/lightstreamer
Labels: library/lightstreamer

#4484 Upgrade rust to 1.27.0
  library/rust
Labels: library/rust

#4488 Gradle 4.8.1
  library/gradle
Labels: library/gradle

#4489 Update adminer
  library/adminer
Labels: library/adminer

#4492 Update XWiki LTS to 9.11.6
  library/xwiki
Labels: library/xwiki

#4493 Upgrades to elixir 1.6.6
  library/elixir
Labels: library/elixir

#4494 Update perl image for 5.28.0 (and remove 5.22.4)
  library/perl
Labels: library/perl

#4496 Sentry 9.0
  library/sentry
Labels: library/sentry

#4491 Release Plone 5.1.2
  library/plone
Labels: library/plone

#4490 Groovy 2.6.0-alpha-2
  library/groovy
Labels: library/groovy

#4498 Update Jetty
  library/jetty
Labels: library/jetty

#4499 Update Consul image to 1.1.0
  library/consul
Labels: library/consul

#4502 Update Amazon Linux images (2.0.20180622.1, 2018.03.0.20180622)
  library/amazonlinux
Labels: library/amazonlinux

#4504 influxdb 1.5.4
  library/influxdb
Labels: library/influxdb

#4503 Update docker-library images
  library/ghost
  library/golang
  library/haproxy
  library/irssi
  library/mariadb
  library/mongo
  library/php
  library/python
  library/redis
  library/redmine
Labels: library/ghost, library/golang, library/haproxy, library/irssi, library/mariadb, library/mongo, library/php, library/python, library/redis, library/redmine

#4507 kong: bump to 0.14.0rc2
  library/kong
Labels: library/kong

#4509 Update XWiki LTS to 9.11.7
  library/xwiki
Labels: library/xwiki

#4510 Update to Adminer 4.6.3
  library/adminer
Labels: library/adminer

#4511 Groovy 2.6.0-alpha-4 and 3.0.0-alpha-3
  library/groovy
Labels: library/groovy

#4515 erlang/otp 20.3.8.2
  library/erlang
Labels: library/erlang

#4512 slim images
  library/gradle
Labels: library/gradle

#4517 [gazebo] version bump for gazebo 7 and 8
  library/gazebo
Labels: library/gazebo

#4518 Update photon image
  library/photon
Labels: library/photon
