Repository docker-library/official-images, pull requests merged in 2018-02, with the labels that each got.

#3994 Eggdrop v1.8.3 *STABLE*
  library/eggdrop
Labels: library/eggdrop

#3996 Bumps Consul version to 1.0.6
  library/consul
Labels: library/consul

#3997 Update to Adminer 4.6.1
  library/adminer
Labels: library/adminer

#3999 [Gazebo] version bump for v7
  library/gazebo
Labels: library/gazebo

#4000 Bump Traefik to v1.5.2
  library/traefik
Labels: library/traefik

#4001 Update docker-library images
  library/cassandra
  library/drupal
  library/mongo
  library/postgres
  library/tomcat
Labels: library/cassandra, library/drupal, library/mongo, library/postgres, library/tomcat

#4003 Update docker-library images
  library/adminer
  library/percona
Labels: library/adminer, library/percona

#4005 Maven on jdk-10 and jdk-10-slim
  library/maven
Labels: library/maven

#4004 haxe: add 4.0.0 preview, remove source files from alpine
  library/haxe
Labels: library/haxe

#3995 Fixed issue - Unsupported FROM (tomcat:7.0.82)
  library/convertigo
Labels: library/convertigo

#4008 Update docker-library images
  library/ghost
  library/mariadb
  library/memcached
Labels: library/ghost, library/mariadb, library/memcached

#4006 Add node.js chakra core version
  library/node
Labels: library/node

#4009 erlang 20.2.3
  library/erlang
Labels: library/erlang

#4014 update teamspeak 3.1.0
  library/teamspeak
Labels: library/teamspeak

#4013 haxe: 3.4.5 -> 3.4.6
  library/haxe
Labels: library/haxe

#4010 Update influxdata images
  library/chronograf
  library/influxdb
  library/kapacitor
  library/telegraf
Labels: library/chronograf, library/influxdb, library/kapacitor, library/telegraf

#4012 Update for node.js v6.13.0
  library/node
Labels: library/node

#4016 Upgrade rust to 1.24
  library/rust
Labels: library/rust

#4015 Improve performance
  library/open-liberty
Labels: library/open-liberty

#4017 [Gazebo] version bump for v7 and v8
  library/gazebo
Labels: library/gazebo

#4018 Move websphere-library beta to 2018.2.0_0
  library/websphere-liberty
Labels: library/websphere-liberty

#4022 Aerospike 3.14.1.8
  library/aerospike
Labels: library/aerospike

#4021 Update docker library images
  library/cassandra
  library/docker
  library/drupal
  library/ghost
  library/golang
  library/irssi
  library/mongo
  library/mysql
  library/postgres
  library/rocket.chat
  library/ruby
  library/tomcat
Labels: library/cassandra, library/docker, library/drupal, library/ghost, library/golang, library/irssi, library/mongo, library/mysql, library/postgres, library/rocket.chat, library/ruby, library/tomcat

#4020 Upgrade Couchbase Server EE to 5.1.0
  library/couchbase
Labels: library/couchbase

#4024 Apache Storm upgrades and cleanups
  library/storm
Labels: library/storm

#4025 Publish Neo4j 3.3.3
  library/neo4j
Labels: library/neo4j

#4026 Updated CrateDB to version 2.3.3
  library/crate
Labels: library/crate

#4027 Add Thrift 0.11.0 tags
  library/thrift
Labels: library/thrift

#4028 Update clojure images to latest git commit
  library/clojure
Labels: library/clojure

#4023 Bump IBM Java version to 1.8.0_sr5fp10 (8.0.5.10).
  library/ibmjava
Labels: library/ibmjava

#4029 Update to Adminer 4.6.2
  library/adminer
Labels: library/adminer

#4030 Updated nginx.
  library/nginx
Labels: library/nginx

#4031 bump vault to 0.9.4, adding multi platform support
  library/vault
Labels: library/vault

#4034 Aerospike 3.16.0.1
  library/aerospike
Labels: library/aerospike

#4036 Bump jurby to 9.1.16.0
  library/jruby
Labels: library/jruby

#4033 Update docker-library images
  library/cassandra
  library/elasticsearch
  library/ghost
  library/kibana
  library/logstash
  library/mysql
  library/nextcloud
  library/owncloud
  library/percona
  library/rabbitmq
  library/rocket.chat
Labels: library/cassandra, library/elasticsearch, library/ghost, library/kibana, library/logstash, library/mysql, library/nextcloud, library/owncloud, library/percona, library/rabbitmq, library/rocket.chat

#4037 Update Node v9.6.0 & gpg server list
  library/node
Labels: library/node

#4038 Update docker-library images
  library/docker
  library/drupal
  library/owncloud
  library/piwik
Labels: library/docker, library/drupal, library/owncloud, library/piwik

#4039 Update MySQL 8.0.4-rc to fix "SHOW DATABASES"
  library/mysql
Labels: library/mysql

#4040 erlang 20.2.4
  library/erlang
Labels: library/erlang

#4041 haxe: 3.4.6 -> 3.4.7, use TLS1.2 for downloading in win images
  library/haxe
Labels: library/haxe

#4042 Update node.js v9.6.0 to v9.6.1
  library/node
Labels: library/node

#4045 Update Storm to v1.2.1
  library/storm
Labels: library/storm

#4046 Official Convertigo 7.4.8 release
  library/convertigo
Labels: library/convertigo

#4047 Amazon Linux: add 2017.12.0.20180222 and 2017.09.1.20180222
  library/amazonlinux
Labels: library/amazonlinux

#4049 Groovy 2.5.0-beta-3
  library/groovy
Labels: library/groovy

#4050 haxe 4.0.0-preview.3
  library/haxe
Labels: library/haxe

#4051 Update to Flink 1.4.1
  library/flink
Labels: library/flink

#4052 updated teamspeak to 3.1.1
  library/teamspeak
Labels: library/teamspeak

#4053 XWiki 10.1 release
  library/xwiki
Labels: library/xwiki

#4054 Update Mono to latest 5.8.0.127 release
  library/mono
Labels: library/mono

#4055 Bump vault to 0.9.5
  library/vault
Labels: library/vault

#4056 Update docker-library images
  library/mariadb
  library/mongo
  library/mysql
  library/rabbitmq
Labels: library/mariadb, library/mongo, library/mysql, library/rabbitmq

#4057 add armv7 support for CentOS
  library/centos
Labels: library/centos

#4060 Bump Traefik to v1.5.3
  library/traefik
Labels: library/traefik

#4062 Release OrientDB v 3.0.0RC2
  library/orientdb
Labels: library/orientdb

#4063 Upgrade XWiki to 9.11.3
  library/xwiki
Labels: library/xwiki

#4066 Update BusyBox to 1.28.1
  library/busybox
Labels: library/busybox
