Repository docker-library/official-images, pull requests merged in 2018-07, with the labels that each got.

#4514 Update WebSphere Liberty to version 18.0.0.2
  library/websphere-liberty
Labels: library/websphere-liberty

#4520 Update Solr to 7.4.0
  library/solr
Labels: library/solr

#4521 Bump IBM Java version to 1.8.0_sr5fp17 (8.0.5.17).
  library/ibmjava
Labels: library/ibmjava

#4506 Update Clear Linux OS to 23300
  library/clearlinux
Labels: library/clearlinux

#4522 Update sl container for sl7 to current (build-date=20180702)
  library/sl
Labels: library/sl

#4525 Update photon image
  library/photon
Labels: library/photon

#4526 Bug fix/passwd rocksdb
  library/arangodb
Labels: library/arangodb

#4528 Release OrientDB v 3.0.3
  library/orientdb
Labels: library/orientdb

#4529 updated CrateDB to version 3.0.3
  library/crate
Labels: library/crate

#4533 Update ghost, mariadb, python, tomcat
  library/ghost
  library/mariadb
  library/python
  library/tomcat
Labels: library/ghost, library/mariadb, library/python, library/tomcat

#4501 alpine: add 3.8 release and update edge
  library/alpine
Labels: library/alpine

#4535 Add version 7.7.1 of Bonita
  library/bonita
Labels: library/bonita

#4537 [nats] Release v1.2.0
  library/nats
Labels: library/nats

#4538 Update telegraf image
  library/telegraf
Labels: library/telegraf

#4536 Update node.js v9.x to v10.6.0
  library/node
Labels: library/node

#4532 Update photon image
  library/photon
Labels: library/photon

#4534 Add Windows 1803 variants to "golang"
  library/golang
Labels: library/golang

#4545 oraclelinux image updates
  library/oraclelinux
Labels: library/oraclelinux

#4546 Update spiped:alpine to alpine:3.8
  library/spiped
Labels: library/spiped

#4548 Update influxdb image
  library/influxdb
Labels: library/influxdb

#4544 erlang/otp 21.0.2
  library/erlang
Labels: library/erlang

#4549 Update docker, drupal, openjdk, rabbitmq, tomcat, and wordpress
  library/docker
  library/drupal
  library/openjdk
  library/rabbitmq
  library/tomcat
  library/wordpress
Labels: library/docker, library/drupal, library/openjdk, library/rabbitmq, library/tomcat, library/wordpress

#4551 upgrade R to R 3.5.1
  library/r-base
Labels: library/r-base

#4554 Bump Traefik to v1.7.0-rc1
  library/traefik
Labels: library/traefik

#4550 revert the `elixir:1.6` series to be with `erlang:20`
  library/elixir
Labels: library/elixir

#4470 Release Zend Server 2018.0
  library/php-zendserver
Labels: library/php-zendserver

#4558 Update photon image
  library/photon
Labels: library/photon

#4559 Odoo 9.0-11.0: update to release 20180710
  library/odoo
Labels: library/odoo

#4560 Add support for arm64v8 architecture.
  library/znc
Labels: library/znc

#4561 Bump Traefik to v1.6.5
  library/traefik
Labels: library/traefik

#4562 Bump rust to 1.27.1
  library/rust
Labels: library/rust

#4565 CouchDB 1.7.2/2.1.2 releases
  library/couchdb
Labels: library/couchdb

#4563 Update docker-library images
  library/buildpack-deps
  library/hello-seattle
  library/hello-world
  library/hola-mundo
  library/mongo
  library/openjdk
  library/postgres
  library/rabbitmq
  library/redis
  library/rocket.chat
Labels: library/buildpack-deps, library/hello-seattle, library/hello-world, library/hola-mundo, library/mongo, library/openjdk, library/postgres, library/rabbitmq, library/redis, library/rocket.chat

#4568 add architectures to composer manifest
  library/composer
Labels: library/composer

#4569 Add ARM64v8 images for Flink
  library/flink
Labels: library/flink

#4572 Bonita : fix issue with usernames and databases names containing @
  library/bonita
Labels: library/bonita

#4573 Update docker-library images
  library/bash
  library/ghost
  library/joomla
Labels: library/bash, library/ghost, library/joomla

#4575 Enable ARM64v8 support in Kaazing Gateway
  library/kaazing-gateway
Labels: library/kaazing-gateway

#4576 Add support for arm64v8 to lightstreamer
  library/lightstreamer
Labels: library/lightstreamer

#4577 Add version 7.7.2 of Bonita
  library/bonita
Labels: library/bonita

#4579 Add golang-alpine3.8 flavours
  library/golang
Labels: library/golang

#4566 Fix gradle Architectures (also deduplicate GitCommit for easier updating)
  library/gradle
Labels: library/gradle

#4580 release OrientDB v 2.2.36 and v 3.0.4
  library/orientdb
Labels: library/orientdb

#4583 Update photon image
  library/photon
Labels: library/photon

#4585 erlang/otp 21.0.3
  library/erlang
Labels: library/erlang

#4584 Release of Neo4j 3.4.4
  library/neo4j
Labels: library/neo4j

#4587 haxe: enable arm32v7 and arm64v8 for the stretch variant
  library/haxe
Labels: library/haxe

#4588 Groovy 2.5.1
  library/groovy
Labels: library/groovy

#4589 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4590 Update photon image
  library/photon
Labels: library/photon

#4591 Update docker-library images
  library/docker
  library/httpd
  library/mariadb
  library/openjdk
  library/postgres
  library/python
  library/redis
Labels: library/docker, library/httpd, library/mariadb, library/openjdk, library/postgres, library/python, library/redis

#4593 Update Debian, especially for 9.5
  library/debian
Labels: library/debian

#4595 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#4597 Remove support for 1.6
  library/eggdrop
Labels: library/eggdrop

#4594 [gazebo] version bump for gazebo 9
  library/gazebo
Labels: library/gazebo

#4598 Gradle 4.9
  library/gradle
Labels: library/gradle

#4602 Bump Traefik to v1.7.0-rc2
  library/traefik
Labels: library/traefik

#4603 Update telegraf image
  library/telegraf
Labels: library/telegraf

#4599 Add Architectures tag to support multiple architectures
  library/mediawiki
Labels: library/mediawiki

#4600 Add a jessie flavour for erlang/otp 21
  library/erlang
Labels: library/erlang

#4609 Adding springBoot tags
  library/websphere-liberty
Labels: library/websphere-liberty

#4608 Update sl container for sl6 to current (build-date=20180718)
  library/sl
Labels: library/sl

#3752 Add official container for YOURLS
  library/yourls
Labels: library/yourls, new-image

#4613 Update telegraf image
  library/telegraf
Labels: library/telegraf

#4614 Add all openjdk supported architectures to flink image
  library/flink
Labels: library/flink

#4606 Update ZNC to 1.7.1
  library/znc
Labels: library/znc

#4612 Update node.js v10 images, remove v9
  library/node
Labels: library/node

#4617 the elixir 1.6 images built on top of erlang 21
  library/elixir
Labels: library/elixir

#4618 Update to Flink 1.5.1
  library/flink
Labels: library/flink

#4619 Update chronograf image
  library/chronograf
Labels: library/chronograf

#4620 Bump Rust to 1.27.2
  library/rust
Labels: library/rust

#4621 XWiki 10.6 has been released
  library/xwiki
Labels: library/xwiki

#4622 Update docker-library images
  library/buildpack-deps
  library/docker
  library/ghost
  library/golang
  library/httpd
  library/julia
  library/mongo
  library/openjdk
  library/owncloud
  library/php
  library/pypy
  library/python
  library/ruby
Labels: library/buildpack-deps, library/docker, library/ghost, library/golang, library/httpd, library/julia, library/mongo, library/openjdk, library/owncloud, library/php, library/pypy, library/python, library/ruby

#4626 update erlang based alpine os version
  library/erlang
Labels: library/erlang

#4627 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4628 Add Spring Boot tags for open-liberty official image
  library/open-liberty
Labels: library/open-liberty

#4629 Update Couchbase Server Enterprise to 5.5.0 (and remove 5.5.0-beta)
  library/couchbase
Labels: library/couchbase

#4625 Update node chakracore to 10.6.0
  library/node
Labels: library/node

#4631 erlang/otp 20.3.8.3
  library/erlang
Labels: library/erlang

#4633 Updated mainline nginx to 1.15.2.
  library/nginx
Labels: library/nginx

#4632 adds support to tomee 7.0.5
  library/tomee
Labels: library/tomee

#4630 haxe: add alpine3.8, enable arm64v8 for alpine variants
  library/haxe
Labels: library/haxe

#4634 Update cassandra, drupal, ghost, haproxy, julia, mariadb, pypy, and python
  library/cassandra
  library/drupal
  library/gcc
  library/ghost
  library/haproxy
  library/julia
  library/mariadb
  library/openjdk
  library/pypy
  library/python
  library/ruby
  library/tomcat
Labels: library/cassandra, library/drupal, library/gcc, library/ghost, library/haproxy, library/julia, library/mariadb, library/openjdk, library/pypy, library/python, library/ruby, library/tomcat

#4635 Updating Vault to 0.10.4
  library/vault
Labels: library/vault

#4636 Updating Oracle Linux 6 and 7 images for amd64/arm64v8
  library/oraclelinux
Labels: library/oraclelinux

#4611 Update CirrOS to 0.4.0
  library/cirros
Labels: library/cirros

#4638 Release Nuxeo 10.2
  library/nuxeo
Labels: library/nuxeo

#4640 Update Ubuntu (esp. for 18.04.1 and Artful EOL)
  library/ubuntu
Labels: library/ubuntu

#4642 Aerospike 4.2.0.5
  library/aerospike
Labels: library/aerospike

#4641 Update docker-library images
  library/gcc
  library/ghost
  library/mongo
  library/mysql
  library/postgres
  library/python
  library/redis
  library/rocket.chat
  library/tomcat
Labels: library/gcc, library/ghost, library/mongo, library/mysql, library/postgres, library/python, library/redis, library/rocket.chat, library/tomcat

#4643 Releasing 3.4.5
  library/neo4j
Labels: library/neo4j

#4646 Update docker-library images
  library/buildpack-deps
  library/julia
  library/openjdk
  library/percona
  library/postgres
Labels: library/buildpack-deps, library/julia, library/openjdk, library/percona, library/postgres

#4647 Update photon image
  library/photon
Labels: library/photon

#4644 Updating Elixir to 1.7.1
  library/elixir
Labels: library/elixir

#4649 Update clojure boot variants to new boot 2.8.1 release
  library/clojure
Labels: library/clojure

#4648 erlang/otp 21.0.4
  library/erlang
Labels: library/erlang

#4652 Update Consul to version 1.2.2
  library/consul
Labels: library/consul

#4386 new ALT Linux base image supported by BaseALT
  library/alt
Labels: library/alt, new-image

#4653 Update mongo-express to 0.49.0
  library/mongo-express
Labels: library/mongo-express

#4655 Update docker-library images
  library/bash
  library/cassandra
  library/ghost
  library/haproxy
  library/httpd
  library/mongo
  library/mysql
  library/openjdk
  library/owncloud
  library/percona
  library/postgres
  library/rabbitmq
  library/rocket.chat
  library/tomcat
  library/wordpress
Labels: library/bash, library/cassandra, library/ghost, library/haproxy, library/httpd, library/mongo, library/mysql, library/openjdk, library/owncloud, library/percona, library/postgres, library/rabbitmq, library/rocket.chat, library/tomcat, library/wordpress

#4657 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4660 Update docker-library images
  library/busybox
  library/ghost
  library/mariadb
  library/pypy
  library/python
  library/rocket.chat
Labels: library/busybox, library/ghost, library/mariadb, library/pypy, library/python, library/rocket.chat
