Repository docker-library/official-images, pull requests merged in 2018-11, with the labels that each got.

#5018 Releasing Neo4j 3.3.8
  library/neo4j
Labels: library/neo4j

#4986 Add nodejs v11, update v10, remove unsupported architectures & variations
  library/node
Labels: library/node

#5023 Solr: fix arm
  library/solr
Labels: library/solr

#5025 Update node v11 to v11.1.0
  library/node
Labels: library/node

#5029 Update docker-library images
  library/docker
  library/ghost
  library/mariadb
  library/openjdk
  library/owncloud
  library/redmine
  library/rocket.chat
  library/ruby
  library/wordpress
Labels: library/docker, library/ghost, library/mariadb, library/openjdk, library/owncloud, library/redmine, library/rocket.chat, library/ruby, library/wordpress

#5033 Update clojure:tools-deps variants to latest release
  library/clojure
Labels: library/clojure

#5034 Release 3.3.9, pull support for old versions
  library/neo4j
Labels: library/neo4j

#5038 Update Flink images
  library/flink
Labels: library/flink

#5031 Fixes in eclipse-mosquitto image
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#5036 erlang/otp 20.3.8.11
  library/erlang
Labels: library/erlang

#5016 version up: v1.7.4
  library/elixir
Labels: library/elixir

#5041 Updated mainline nginx to 1.15.6 and stable to 1.14.1.
  library/nginx
Labels: library/nginx

#5040 Fedora Update 20181106
  library/fedora
Labels: library/fedora

#5043 Update photon image
  library/photon
Labels: library/photon

#5039 Update Logstash to 6.x upstream images
  library/logstash
Labels: library/logstash

#5049 Bump jruby to 9.2.2.0
  library/jruby
Labels: library/jruby

#5054 Update docker library images
  library/docker
  library/ghost
  library/kibana
  library/logstash
  library/memcached
  library/mongo
  library/openjdk
  library/php
  library/postgres
  library/redis
  library/redmine
  library/ruby
  library/tomcat
Labels: library/docker, library/ghost, library/kibana, library/logstash, library/memcached, library/mongo, library/openjdk, library/php, library/postgres, library/redis, library/redmine, library/ruby, library/tomcat

#5056 Odoo: update 10.0-12.0 to release 20181109
  library/odoo
Labels: library/odoo

#5057 Update to jruby 9.2.3.0
  library/jruby
Labels: library/jruby

#5059 Bump Rakudo-Star version to 2018.10
  library/rakudo-star
Labels: library/rakudo-star

#5058 Progress forward neurodebian to the setup with nd_freeze and eatmydata preinstalled
  library/neurodebian
Labels: library/neurodebian

#5066 Update Docker Inc-maintained image Maintainers
  library/notary
  library/registry
Labels: library/notary, library/registry

#5067 Bump jruby to 9.2.4.0
  library/jruby
Labels: library/jruby

#5068 Update ELK to 6.4.3
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5069 Updating vault to 0.11.5 and 1.0.0-beta2
  library/vault
Labels: library/vault

#5063 Update docker-library images
  library/drupal
  library/julia
  library/php
  library/redmine
Labels: library/drupal, library/julia, library/php, library/redmine

#5070 Update docker-library images, esp for https://bugs.debian.org/913614
  library/bash
  library/cassandra
  library/elasticsearch
  library/gcc
  library/ghost
  library/httpd
  library/julia
  library/kibana
  library/logstash
  library/mariadb
  library/mongo
  library/mysql
  library/owncloud
  library/percona
  library/php
  library/postgres
  library/python
  library/redis
  library/redmine
  library/tomcat
  library/wordpress
Labels: library/bash, library/cassandra, library/elasticsearch, library/gcc, library/ghost, library/httpd, library/julia, library/kibana, library/logstash, library/mariadb, library/mongo, library/mysql, library/owncloud, library/percona, library/php, library/postgres, library/python, library/redis, library/redmine, library/tomcat, library/wordpress

#5062 Update Debian (9.6, 20181112)
  library/debian
Labels: library/debian

#5060 Groovy 2.5.4
  library/groovy
Labels: library/groovy

#5076 Update influxdata images
  library/chronograf
  library/influxdb
Labels: library/chronograf, library/influxdb

#5075 notary: Update to 0.6.1 and add multi-arch support
  library/notary
Labels: library/notary

#5072 erlang/otp 20.3.8.13
  library/erlang
Labels: library/erlang

#5077 Update Clear Linux OS latest+base images to release 26290
  library/clearlinux
Labels: library/clearlinux

#4995 drop 17, add rebar3 into alpine, update base os to stretch, update to 20.3.8.14, 18.3.8.11, 21.1.2
  library/erlang
Labels: library/erlang

#5080 Releasing Neo4j 3.4.10
  library/neo4j
Labels: library/neo4j

#5079 Update node v11 to v11.2.0 with Yarn v1.12.3
  library/node
Labels: library/node

#5084 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#5071 Update Consul image for versions 1.3.1/1.4.0
  library/consul
Labels: library/consul

#5086 Update node chakracore v10.13.0 w/ Yarn@1.12.3 & Stretch base image
  library/node
Labels: library/node

#5089 Update websphere-liberty:javaee8
  library/websphere-liberty
Labels: library/websphere-liberty

#5092 Update docker-library images
  library/busybox
  library/elasticsearch
  library/ghost
  library/irssi
  library/joomla
  library/kibana
  library/logstash
  library/mariadb
  library/matomo
  library/openjdk
  library/redmine
  library/tomcat
Labels: library/busybox, library/elasticsearch, library/ghost, library/irssi, library/joomla, library/kibana, library/logstash, library/mariadb, library/matomo, library/openjdk, library/redmine, library/tomcat

#5073 crux: Add mutli-arch builds and new (old) version
  library/crux
Labels: library/crux

#5095 Release OrientDB v 3.0.11
  library/orientdb
Labels: library/orientdb

#5097 kong: bump to 1.0.0rc3
  library/kong
Labels: library/kong

#5096 [Gazebo] version bump, and add support for ARM and Debian
  library/gazebo
Labels: library/gazebo

#5100 Update to Adminer 4.7.0
  library/adminer
Labels: library/adminer

#5101 remove Java 10 images
  library/gradle
Labels: library/gradle

#5103 Odoo: update 10.0-12.0 to release 20181126
  library/odoo
Labels: library/odoo

#5104 Update WebSphere Liberty beta to 2018.11.0.0
  library/websphere-liberty
Labels: library/websphere-liberty

#5106 BLD-1187 rollback sql_mode after migration to centos
  library/percona
Labels: library/percona

#5094 fix erlang 18, 19 slim crypto not found problem
  library/erlang
Labels: library/erlang

#5102 Update Node to 8.13
  library/node
Labels: library/node

#5108 Update Amazon Linux images (hello, arm64v8)
  library/amazonlinux
Labels: library/amazonlinux

#5109 Gradle 5.0
  library/gradle
Labels: library/gradle

#5110 Releasing Neo4j 3.5.0
  library/neo4j
Labels: library/neo4j

#5111 PHP 7.3 RC6
  library/php
Labels: library/php

#5116 Node security update
  library/node
Labels: library/node

#5114 Update docker-library images
  library/ghost
  library/joomla
  library/matomo
  library/openjdk
  library/php
  library/postgres
  library/redis
  library/wordpress
Labels: library/ghost, library/joomla, library/matomo, library/openjdk, library/php, library/postgres, library/redis, library/wordpress

#5119 bump jruby 9.2.4.1
  library/jruby
Labels: library/jruby

#5098 SonarQube 7.4 and 6.7.6
  library/sonarqube
Labels: library/sonarqube

#5117 Add openjdk 11 based clojure images
  library/clojure
Labels: library/clojure

#5123 Bump IBM Java version to 1.8.0_sr5fp26 (8.0.5.26).
  library/ibmjava
Labels: library/ibmjava

#5122 Update XWiki version to 10.10
  library/xwiki
Labels: library/xwiki

#5120 HASKELL: GHC 8.4.4 and 8.6.2
  library/haskell
Labels: library/haskell
