Repository docker-library/official-images, pull requests merged in 2018-12, with the labels that each got.

#5126 Node: Update for Node.js v10.14.1 w/ Yarn v1.12.3
  library/node
Labels: library/node

#5132 Update clojure git commit to latest SHA
  library/clojure
Labels: library/clojure

#5133 composer 1.8.0 release
  library/composer
Labels: library/composer

#5134 Add version 7.7.5 of Bonita
  library/bonita
Labels: library/bonita

#5136 Update sl container for sl7 to current (build-date=20181203)
  library/sl
Labels: library/sl

#5127 [percona] up to 5.6.42
  library/percona
Labels: library/percona

#5135 Bump Traefik to v1.7.5
  library/traefik
Labels: library/traefik

#5138 Update node to 6.15.1
  library/node
Labels: library/node

#5128 erlang/otp 21.1.4, rebar3 3.7.5
  library/erlang
Labels: library/erlang

#5139 Aerospike 4.4.0.5
  library/aerospike
Labels: library/aerospike

#5143 [percona] up to 5.7.24
  library/percona
Labels: library/percona

#5140 Update docker-library images
  library/buildpack-deps
  library/openjdk
  library/redmine
Labels: library/buildpack-deps, library/openjdk, library/redmine

#5137 Updating vault to 1.0.0
  library/vault
Labels: library/vault

#5145 Update telegraf image
  library/telegraf
Labels: library/telegraf

#5146 add 7.6.1810 and update base 7 images
  library/centos
Labels: library/centos

#5147 Updated stable nginx to 1.14.2.
  library/nginx
Labels: library/nginx

#5152 Update Rust to 1.31.0
  library/rust
Labels: library/rust

#5153 Update Swift docker maintainers and repository location
  library/swift
Labels: library/swift

#5149 Update for latest CouchDB (2.3.0)
  library/couchdb
Labels: library/couchdb

#5156 swift: typo in maintainer email address
  library/swift
Labels: library/swift

#5157 Add Bonita 7.8 and remove 7.6
  library/bonita
Labels: library/bonita

#5154 Update docker-library images
  library/docker
  library/drupal
  library/elasticsearch
  library/gcc
  library/ghost
  library/haproxy
  library/kibana
  library/logstash
  library/mongo
  library/openjdk
  library/postgres
  library/python
  library/tomcat
  library/wordpress
Labels: library/docker, library/drupal, library/elasticsearch, library/gcc, library/ghost, library/haproxy, library/kibana, library/logstash, library/mongo, library/openjdk, library/postgres, library/python, library/tomcat, library/wordpress

#5158 erlang/otp 20.3.8.15
  library/erlang
Labels: library/erlang

#5161 Bump jruby to 9.2.5.0
  library/jruby
Labels: library/jruby

#5160 Update node.js v11 from v11.3.0 to v11.4.0
  library/node
Labels: library/node

#5162 Update docker-library images
  library/docker
  library/openjdk
  library/php
Labels: library/docker, library/openjdk, library/php

#5163 Update GCC to 7.4.0
  library/gcc
Labels: library/gcc

#5167 Release OrientDB v 3.0.12
  library/orientdb
Labels: library/orientdb

#5168 Update eclipse-mosquitto to 1.5.5
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#5165 gpg fixes
  library/groovy
Labels: library/groovy

#5166 add Percona Server for MongoDB images
  library/percona
  test/config.sh
  test/run.sh
Labels: library/percona

#5169 erlang/otp 21.2
  library/erlang
Labels: library/erlang

#5170 Update node.js v10 from v10.14.1 to v10.14.2
  library/node
Labels: library/node

#5173 Aerospike 4.4.0.6
  library/aerospike
Labels: library/aerospike

#5174 Eggdrop 1.8.4 Release Candidate 1
  library/eggdrop
Labels: library/eggdrop

#5175 Update Backdrop
  library/backdrop
Labels: library/backdrop

#5176 Update Redis version to 5.0.3
  library/redis
Labels: library/redis

#5155 Please upgrade to the ArangoDB Release 3.4.0
  library/arangodb
Labels: library/arangodb

#5178 Update influxdata images
  library/chronograf
  library/influxdb
  library/kapacitor
  library/telegraf
Labels: library/chronograf, library/influxdb, library/kapacitor, library/telegraf

#5182 Bump Traefik to v1.7.6
  library/traefik
Labels: library/traefik

#5088 update CrateDB version to 3.1.3
  library/crate
Labels: library/crate

#5179 Release Nuxeo 10.3
  library/nuxeo
Labels: library/nuxeo

#5185 Add websphere-liberty 18.0.0.4 images
  library/websphere-liberty
Labels: library/websphere-liberty

#5186 Fix incorrect version for jruby 9.2.5.0
  library/jruby
Labels: library/jruby

#5188 Update Clear Linux OS latest+base images to release 26790
  library/clearlinux
Labels: library/clearlinux

#5189 Gradle 4.10.3
  library/gradle
Labels: library/gradle

#5190 Eggdrop v1.8.4 Release Candidate 2
  library/eggdrop
Labels: library/eggdrop

#5192 Groovy 2.4.16
  library/groovy
Labels: library/groovy

#5193 Fedora Update 20181217
  library/fedora
Labels: library/fedora

#5195 Update Solr to 7.6
  library/solr
Labels: library/solr

#5197 Add go 1.11.4, go 1.10.7
  library/golang
Labels: library/golang

#5198 Update chronograf image
  library/chronograf
Labels: library/chronograf

#5206 [security] Update haproxy to 1.8.15, 1.9-dev11
  library/haproxy
Labels: library/haproxy

#5210 [Security] Add back-ported releases for Consul
  library/consul
Labels: library/consul

#5208 WordPress image updated to 5.0.1
  library/wordpress
Labels: library/wordpress

#5201 Releasing Neo4j 3.4.11
  library/neo4j
Labels: library/neo4j

#5202 added teamspeak 3.5.1
  library/teamspeak
Labels: library/teamspeak

#5203 updating vault to 1.0.1
  library/vault
Labels: library/vault

#5205 Update node.js v8 & v11
  library/node
Labels: library/node

#5211 Update photon image
  library/photon
Labels: library/photon

#5191 Update clojure git commit & boot tags for boot 2.8.2, lein tags for lein 2.8.3, and tools-deps tags for 1.10.0.403
  library/clojure
Labels: library/clojure

#5212 Update docker-library images
  library/elasticsearch
  library/golang
  library/haproxy
  library/julia
  library/kibana
  library/logstash
  library/openjdk
  library/ruby
  library/tomcat
  library/wordpress
Labels: library/elasticsearch, library/golang, library/haproxy, library/julia, library/kibana, library/logstash, library/openjdk, library/ruby, library/tomcat, library/wordpress

#5213 Update websphere-liberty beta to 2018.12.0.0
  library/websphere-liberty
Labels: library/websphere-liberty

#5214 Upgrade rust to 1.31.1
  library/rust
Labels: library/rust

#5215 alpine: version bump for 3.8.2
  library/alpine
Labels: library/alpine

#5219 erlang/otp 21.2.1, alpine images include ca-certificates
  library/erlang
Labels: library/erlang

#5217 Official 7.5.4 release!
  library/convertigo
Labels: library/convertigo

#5221 Update bash, haproxy, mariadb
  library/bash
  library/haproxy
  library/mariadb
Labels: library/bash, library/haproxy, library/mariadb

#5223 Update r-base to R 3.5.2
  library/r-base
Labels: library/r-base

#5225 Upgrade CrateDB to 3.1.4
  library/crate
Labels: library/crate

#5226 Groovy 2.5.5
  library/groovy
Labels: library/groovy

#5227 Update docker-library images
  library/busybox
  library/ghost
  library/joomla
  library/mariadb
  library/mongo
  library/openjdk
  library/python
  library/ruby
Labels: library/busybox, library/ghost, library/joomla, library/mariadb, library/mongo, library/openjdk, library/python, library/ruby

#5228 Updated mainline nginx to 1.15.8.
  library/nginx
Labels: library/nginx

#5231 Release ArangoDB 3.4.1
  library/arangodb
Labels: library/arangodb

#5230 Update node.js v6, v8, v10 & v11
  library/node
Labels: library/node

#5233 XWiki 10.11 is now released
  library/xwiki
Labels: library/xwiki

#5234 Update docker image for Ruby 2.6 release
  library/ruby
Labels: library/ruby

#5236 Update MongoDB (templating, 4.0.5)
  library/mongo
Labels: library/mongo

#5237 Update docker-library images
  library/openjdk
  library/ruby
Labels: library/openjdk, library/ruby

#5241 Update Debian (20181226) and Ubuntu (20181220)
  library/debian
  library/ubuntu
Labels: library/debian, library/ubuntu

#5240 Eggdrop v1.8.4 *STABLE*
  library/eggdrop
Labels: library/eggdrop

#5243 Update Flink version to 1.6.3 and 1.7.1
  library/flink
Labels: library/flink
