Repository docker-library/official-images, pull requests merged in 2018-04, with the labels that each got.

#4189 Groovy 2.4.15
  library/groovy
Labels: library/groovy

#4192 Update photon image
  library/photon
Labels: library/photon

#4193 Update influxdata images
  library/chronograf
Labels: library/chronograf

#4194 Update node.js v4, v6, v8 and v9
  library/node
Labels: library/node

#4195 Upgrade rust to 1.25.0
  library/rust
Labels: library/rust

#4197 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4203 Updated mainline nginx to 1.13.11.
  library/nginx
Labels: library/nginx

#4204 Update BusyBox to 1.28.2
  library/busybox
Labels: library/busybox

#4201 Update sl container for sl6 to current (build-date=20180403)
  library/sl
Labels: library/sl

#4202 Update sl container for sl7 to current (build-date=20180403)
  library/sl
Labels: library/sl

#4205 [nats-streaming] Release v0.9.2
  library/nats-streaming
Labels: library/nats-streaming

#4207 Update docker-library images.
  library/docker
  library/ghost
  library/golang
  library/openjdk
  library/php
  library/python
  library/tomcat
Labels: library/docker, library/ghost, library/golang, library/openjdk, library/php, library/python, library/tomcat

#4208 Bump Traefik to v1.6.0-rc4
  library/traefik
Labels: library/traefik

#4210 Update influxdata images
  library/chronograf
Labels: library/chronograf

#4211 Update BusyBox to 1.28.3
  library/busybox
Labels: library/busybox

#4212 Add swift 4.1
  library/swift
Labels: library/swift

#4213 Update node.js v9.x to v9.11.1
  library/node
Labels: library/node

#4214 bumping vault to 0.10-rc1
  library/vault
Labels: library/vault

#4215 update for CentOS monthly images april 05
  library/centos
Labels: library/centos

#4218 Bump IBM Java version to 1.8.0_sr5fp11(8.0.5.11).
  library/ibmjava
Labels: library/ibmjava

#4209 Update to 18.0.0.1 of Liberty and use server.xml from zip
  library/open-liberty
Labels: library/open-liberty

#4225 Update CrateDB to version 2.3.6
  library/crate
Labels: library/crate

#4226 erlang 19.3.6.8
  library/erlang
Labels: library/erlang

#4216 Update docker-library images
  library/docker
  library/nextcloud
  library/openjdk
  library/redmine
  library/rocket.chat
  library/wordpress
Labels: library/docker, library/nextcloud, library/openjdk, library/redmine, library/rocket.chat, library/wordpress

#4229 Amazon Linux: add 2017.12.0.20180330 and 2017.09.1.20180409
  library/amazonlinux
Labels: library/amazonlinux

#4227 Groovy 2.5.0-rc-1 and branch rebasing
  library/groovy
Labels: library/groovy

#4233 Updated mainline nginx to 1.13.12.
  library/nginx
Labels: library/nginx

#4234 bumping vault to 0.10
  library/vault
Labels: library/vault

#4235 Update docker-library images
  library/golang
  library/haproxy
  library/hello-seattle
  library/hello-world
  library/hola-mundo
  library/redmine
  library/rocket.chat
  library/tomcat
Labels: library/golang, library/haproxy, library/hello-seattle, library/hello-world, library/hola-mundo, library/redmine, library/rocket.chat, library/tomcat

#4236 update to include i386 image for c7
  library/centos
Labels: library/centos

#4237 SonarQube 6.7.3
  library/sonarqube
Labels: library/sonarqube

#4238 Update docker-library images
  library/docker
  library/ghost
Labels: library/docker, library/ghost

#4244 Bump Traefik to v1.6.0-rc5
  library/traefik
Labels: library/traefik

#4231 Update photon image
  library/photon
Labels: library/photon

#4246 Update docker-library images
  library/buildpack-deps
  library/docker
  library/ghost
Labels: library/buildpack-deps, library/docker, library/ghost

#4242 Update Solr to 7.3.0
  library/solr
Labels: library/solr

#4247 Adding Couchbase Server 5.5.0 Beta
  library/couchbase
Labels: library/couchbase

#4248 Update websphere-liberty beta to 2018.4.0.0
  library/websphere-liberty
Labels: library/websphere-liberty

#4249 Update consul image to 1.0.7
  library/consul
Labels: library/consul

#4250 Update influxdata images
  library/influxdb
Labels: library/influxdb

#4251 [Gazebo] version bump for v7
  library/gazebo
Labels: library/gazebo

#4255 Add slim rust images
  library/rust
Labels: library/rust

#4257 Bump Traefik to v1.6.0-rc6
  library/traefik
Labels: library/traefik

#4259 Release Zend Server 9.1.3
  library/php-zendserver
Labels: library/php-zendserver

#4258 Oracle Linux 7.5 release
  library/oraclelinux
Labels: library/oraclelinux

#4261 SonarQube 7.1
  library/sonarqube
Labels: library/sonarqube

#4262 Update official images
  library/chronograf
  library/telegraf
Labels: library/chronograf, library/telegraf

#4263 Reference new WebSphere Liberty commit
  library/websphere-liberty
Labels: library/websphere-liberty

#4267 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4264 Update docker-library images
  library/elasticsearch
  library/ghost
  library/kibana
  library/logstash
  library/mariadb
  library/mongo
  library/openjdk
  library/python
Labels: library/elasticsearch, library/ghost, library/kibana, library/logstash, library/mariadb, library/mongo, library/openjdk, library/python

#4268 Update perl image for 5.24.4/5.26.2 and cpanm 1.7044
  library/perl
Labels: library/perl

#4269 Update docker-library images
  library/drupal
  library/haproxy
  library/mysql
Labels: library/drupal, library/haproxy, library/mysql

#4271 erlang/otp 20.3.3
  library/erlang
Labels: library/erlang

#4272 Maven on jdk-11
  library/maven
Labels: library/maven

#4265 Update to Joomla! 3.8.7
  library/joomla
Labels: library/joomla

#4266 Update opensuse: Drop 42.2, update 42.3 and add myself as maintainer
  library/opensuse
Labels: library/opensuse

#4273 Update docker-library images
  library/docker
  library/openjdk
  library/owncloud
  library/python
  library/tomcat
Labels: library/docker, library/openjdk, library/owncloud, library/python, library/tomcat

#4270 Update clojure to latest commit (w/ tools-deps based images)
  library/clojure
Labels: library/clojure

#4276 Gradle 4.7
  library/gradle
Labels: library/gradle

#4274 erlang/otp 20.3.4
  library/erlang
Labels: library/erlang

#4277 Update XWiki version to 10.3
  library/xwiki
Labels: library/xwiki

#4278 Bump jruby to 9.1.17.0
  library/jruby
Labels: library/jruby

#4280 Update docker-library images
  library/httpd
  library/irssi
  library/openjdk
  library/php
  library/piwik
  library/rocket.chat
  library/wordpress
Labels: library/httpd, library/irssi, library/openjdk, library/php, library/piwik, library/rocket.chat, library/wordpress

#4283 Update influxdata images
  library/chronograf
  library/telegraf
Labels: library/chronograf, library/telegraf

#4285 Amazon Linux: add 2018.03.0.20180424
  library/amazonlinux
Labels: library/amazonlinux

#4196 Rename piwik to matomo
  library/matomo
Labels: library/matomo, new-image

#4286 kong: bump to 0.13.1
  library/kong
Labels: library/kong

#4287 erlang/otp 18.3.4.9, 20 slim uses libssl 1.1
  library/erlang
Labels: library/erlang

#4292 Update nextcloud image
  library/nextcloud
Labels: library/nextcloud

#4290 mageia 6 Image update
  library/mageia
Labels: library/mageia

#4293 Update docker-library images
  library/cassandra
  library/docker
  library/drupal
  library/ghost
  library/haproxy
  library/mariadb
  library/matomo
  library/mongo
  library/openjdk
  library/percona
  library/php
  library/piwik
  library/postgres
  library/pypy
  library/python
Labels: library/cassandra, library/docker, library/drupal, library/ghost, library/haproxy, library/mariadb, library/matomo, library/mongo, library/openjdk, library/percona, library/php, library/piwik, library/postgres, library/pypy, library/python

#4294 bumping vault to 0.10.1
  library/vault
Labels: library/vault

#4296 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#4295 [ROS] Bump versions for ROS Indigo, Kinetic and Lunar
  library/ros
Labels: library/ros

#4281 Update Debian to 20180426, especially for perl-base CVEs (and "iputils-ping" change)
  library/debian
Labels: library/debian

#4301 Update node to have correct `latest` tags
  library/node
Labels: library/node
