Repository docker-library/official-images, pull requests merged in 2019-05, with the labels that each got.

#5835 Update XWiki version
  library/xwiki
Labels: library/xwiki

#5836 eclipse-mosquitto 1.6.2
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#5837 Update websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#5840 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#5838 Update ghost
  library/ghost
Labels: library/ghost

#5848 Update photon image
  library/photon
Labels: library/photon

#5846 Jetty updates
  library/jetty
Labels: library/jetty

#5844 Update sl container for sl7 to current (build-date=20190501)
  library/sl
Labels: library/sl

#5843 Update sl container for sl6 to current (build-date=20190501)
  library/sl
Labels: library/sl

#5845 Update docker
  library/docker
Labels: library/docker

#5849 [percona] update psmdb-36 version
  library/percona
Labels: library/percona

#5841 Update node.js v11 from v11.14.0 to v11.15.0
  library/node
Labels: library/node

#5852 Update mariadb
  library/mariadb
Labels: library/mariadb

#5853 Update openjdk
  library/openjdk
Labels: library/openjdk

#5851 Update ELK to 7.0.1 and 6.7.2
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5847 Update php
  library/php
Labels: library/php

#5858 Update YOURLS GitCommit SHA
  library/yourls
Labels: library/yourls

#5860 Update gcc
  library/gcc
Labels: library/gcc

#5861 Update openjdk
  library/openjdk
Labels: library/openjdk

#5859 Update mongo
  library/mongo
Labels: library/mongo

#5856 Upgrade MediaWiki to 1.32.1
  library/mediawiki
Labels: library/mediawiki

#5867 update golang
  library/golang
Labels: library/golang

#5865 Update pypy
  library/pypy
Labels: library/pypy

#5866 Update python
  library/python
Labels: library/python

#5868 erlang/otp 21.3.8
  library/erlang
Labels: library/erlang

#5872 Update ghost
  library/ghost
Labels: library/ghost

#5873 Update Clear Linux OS to 29250
  library/clearlinux
Labels: library/clearlinux

#5862 Update Debian (especially for 9.9)
  library/debian
Labels: library/debian

#5871 [percona] update percona-server version
  library/percona
Labels: library/percona

#5879 Update Consul to v1.5.0
  library/consul
Labels: library/consul

#5885 Update BusyBox (especially for CVE-2019-5021)
  library/busybox
Labels: library/busybox

#5882 Update to XWiki 10.11.8
  library/xwiki
Labels: library/xwiki

#5883 Add version 7.8.4 of Bonita
  library/bonita
Labels: library/bonita

#5887 Update mysql
  library/mysql
Labels: library/mysql

#5890 Update openjdk
  library/openjdk
Labels: library/openjdk

#5892 Update drupal
  library/drupal
Labels: library/drupal

#5888 Update joomla
  library/joomla
Labels: library/joomla

#5891 Update wordpress
  library/wordpress
Labels: library/wordpress

#5893 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5894 Update mongo
  library/mongo
Labels: library/mongo

#5895 Update mariadb
  library/mariadb
Labels: library/mariadb

#5896 Update postgres
  library/postgres
Labels: library/postgres

#5889 Update julia
  library/julia
Labels: library/julia

#5886 Added armv7hl image for mageia 6
  library/mageia
Labels: library/mageia

#5899 Aerospike 4.5.2.2
  library/aerospike
Labels: library/aerospike

#5898 alpine: bump 3.9.4 and edge 20190508
  library/alpine
Labels: library/alpine

#5901 Groovy 2.5.7 and 3.0.0-alpha-1
  library/groovy
Labels: library/groovy

#5876 Update Clear Linux OS to 29280
  library/clearlinux
Labels: library/clearlinux

#5900 Update photon image
  library/photon
Labels: library/photon

#5908 update crate 3.2 to lastest 3.2.8 release
  library/crate
Labels: library/crate

#5910 Upgrade Rust to 1.34.2
  library/rust
Labels: library/rust

#5909 erlang/otp 22.0
  library/erlang
Labels: library/erlang

#5902 arangodb 3.3.23 and 3.4.5
  library/arangodb
Labels: library/arangodb

#5911 telegraf 1.10.4
  library/telegraf
Labels: library/telegraf

#5913 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#5912 erlang/otp 21.3.8.1
  library/erlang
Labels: library/erlang

#5914 Update haproxy
  library/haproxy
Labels: library/haproxy

#5915 Update tomcat
  library/tomcat
Labels: library/tomcat

#5916 Update ghost
  library/ghost
Labels: library/ghost

#5917 Update mariadb
  library/mariadb
Labels: library/mariadb

#5918 Update docker
  library/docker
Labels: library/docker

#5920 Update redis
  library/redis
Labels: library/redis

#5919 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5921 Release OrientDB v 3.0.19
  library/orientdb
Labels: library/orientdb

#5923 Update drupal
  library/drupal
Labels: library/drupal

#5924 [percona] update ps-56 version
  library/percona
Labels: library/percona

#5926 Update julia
  library/julia
Labels: library/julia

#5927 Update openjdk
  library/openjdk
Labels: library/openjdk

#5928 Haskell GHC 8.6.5
  library/haskell
Labels: library/haskell

#5930 Update photon image
  library/photon
Labels: library/photon

#5931 Added first version of new images for the upcoming mageia 7
  library/mageia
Labels: library/mageia

#4035 Update Hy to 0.17.0
  library/hylang
Labels: library/hylang

#5933 Update ELK (7.1.0, 6.8.0)
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5935 [nats-streaming] Release v0.14.2
  library/nats-streaming
Labels: library/nats-streaming

#5932 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5934 erlang/otp 21.3.8.2, 22.0.1
  library/erlang
Labels: library/erlang

#5939 Update ghost
  library/ghost
Labels: library/ghost

#5940 Update mariadb
  library/mariadb
Labels: library/mariadb

#5941 Update wordpress
  library/wordpress
Labels: library/wordpress

#5938 Update memcached
  library/memcached
Labels: library/memcached

#5944 Update photon image
  library/photon
Labels: library/photon

#5945 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#5946 Add versions 1.4.5 and 1.5.1
  library/consul
Labels: library/consul

#5947 Upgrade rust to 1.35.0
  library/rust
Labels: library/rust

#5952 [percona] Update ps-56
  library/percona
Labels: library/percona

#5956 Update mysql
  library/mysql
Labels: library/mysql

#5949 Bump IBM Java version to 1.8.0_sr5fp36 (8.0.5.36).
  library/ibmjava
Labels: library/ibmjava

#5948 Update influxdata images
  library/chronograf
  library/influxdb
  library/kapacitor
  library/telegraf
Labels: library/chronograf, library/influxdb, library/kapacitor, library/telegraf

#5955 Update haproxy
  library/haproxy
Labels: library/haproxy

#5954 Update drupal
  library/drupal
Labels: library/drupal

#5953 Update openjdk
  library/openjdk
Labels: library/openjdk

#5710 Add AdoptOpenJDK Images (Includes both HotSpot and Eclipse OpenJ9)
  library/adoptopenjdk
  test/config.sh
Labels: library/adoptopenjdk, new-image

#5957 kong 1.2.0rc1
  library/kong
Labels: library/kong

#5958 Update Zookeeper to 3.5.5
  library/zookeeper
Labels: library/zookeeper

#5962 elixir v1.8.2
  library/elixir
Labels: library/elixir

#5963 Update CrateDB to 3.3.3
  library/crate
Labels: library/crate

#5960 Add new latest release p9 to ALT Linux
  library/alt
Labels: library/alt

#5951 Update WebSphere Liberty to 19.0.0.5
  library/websphere-liberty
Labels: library/websphere-liberty

#5961 [ROS] Update ROS Dockerfile templates
  library/ros
Labels: library/ros

#5964 [maven] Adopt changes from openjdk image
  library/maven
Labels: library/maven

#5965 [percona] Update ps-57 version
  library/percona
Labels: library/percona

#5967 Update to XWiki 11.4
  library/xwiki
Labels: library/xwiki

#5970 added teamspeak 3.8.0
  library/teamspeak
Labels: library/teamspeak

#5969 Update perl image for 5.30 (and remove 5.24)
  library/perl
Labels: library/perl

#5971 arangodb 3.4.6
  library/arangodb
Labels: library/arangodb

#5972 Update opensuse:42.3 to latest commit
  library/opensuse
Labels: library/opensuse

#5950 Update Open Liberty to 19.0.0.5
  library/open-liberty
  test/tests/open-liberty-hello-world/run.sh
Labels: library/open-liberty

#5973 Add Solr 8.1.1
  library/solr
Labels: library/solr

#5974 Update Flink images
  library/flink
Labels: library/flink

#5977 Update openjdk
  library/openjdk
Labels: library/openjdk

#5981 Update ghost
  library/ghost
Labels: library/ghost

#5983 Update mongo
  library/mongo
Labels: library/mongo

#5979 Update memcached
  library/memcached
Labels: library/memcached

#5976 Add Open Liberty Java 11 images
  library/open-liberty
  test/tests/open-liberty-hello-world/run.sh
Labels: library/open-liberty

#5978 Update wordpress
  library/wordpress
Labels: library/wordpress

#5982 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5985 Update tomcat
  library/tomcat
Labels: library/tomcat

#5984 Update openjdk
  library/openjdk
Labels: library/openjdk

#5986 Version bump for Gazebo 9
  library/gazebo
Labels: library/gazebo

#5987 Bump Traefik to v1.7.12
  library/traefik
Labels: library/traefik

#5995 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#5991 Update docker
  library/docker
Labels: library/docker

#5992 Update mongo
  library/mongo
Labels: library/mongo

#5994 Update ghost
  library/ghost
Labels: library/ghost

#5996 update oraclelinux for bind
  library/oraclelinux
Labels: library/oraclelinux

#5998 kong: bump to 1.2.0rc2
  library/kong
Labels: library/kong

#5999 [nats-streaming] Release v0.14.3
  library/nats-streaming
Labels: library/nats-streaming

#5993 Update php
  library/php
Labels: library/php

#5997 Fixing workarea permissions in websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#5857 Add Java 12, move to AdoptOpenJDK, and change default user to root
  library/gradle
Labels: library/gradle

#5988 Add Java 12 and move to AdoptOpenJDK
  library/groovy
Labels: library/groovy

#6000 [ROS] Update ROS2 repository signing key
  library/ros
Labels: library/ros
