Repository docker-library/official-images, pull requests merged in 2019-09, with the labels that each got.

#6564 Introduce ZOO_4LW_COMMANDS_WHITELIST env var to Zookeeper
  library/zookeeper
Labels: library/zookeeper

#6565 Update Clear Linux OS to 30900
  library/clearlinux
Labels: library/clearlinux

#6566 Update memcached
  library/memcached
Labels: library/memcached

#6567 Update python
  library/python
Labels: library/python

#6568 Update php
  library/php
Labels: library/php

#6569 [security][varnish] update to mitigate VSV3
  library/varnish
Labels: library/varnish

#6572 Update influxdata images
  library/chronograf
  library/influxdb
Labels: library/chronograf, library/influxdb

#6570 Update sl container for sl7 to current (build-date=20190903)
  library/sl
Labels: library/sl

#6571 Update sl container for sl6 to current (build-date=20190903)
  library/sl
Labels: library/sl

#6576 Update docker
  library/docker
Labels: library/docker

#6577 Update drupal
  library/drupal
Labels: library/drupal

#6578 [Swift] Update the Docker images to Swift 5.0.3
  library/swift
Labels: library/swift

#6574 Bump Traefik to v2.0.0-rc2
  library/traefik
Labels: library/traefik

#6581 Releasing Neo4J 3.5.9
  library/neo4j
Labels: library/neo4j

#6583 Update openjdk
  library/openjdk
Labels: library/openjdk

#6582 Node: Update node.js v12 from v12.9.1 to v12.10.0
  library/node
Labels: library/node

#6584 Update wordpress
  library/wordpress
Labels: library/wordpress

#6586 haxe: 4.0.0-rc.4
  library/haxe
Labels: library/haxe

#6587 Update php
  library/php
Labels: library/php

#6590 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#6589 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#6592 Gradle 5.6.2
  library/gradle
Labels: library/gradle

#6595 Update redmine
  library/redmine
Labels: library/redmine

#6596 Update haproxy
  library/haproxy
Labels: library/haproxy

#6598 Update openjdk
  library/openjdk
Labels: library/openjdk

#6599 Update photon image
  library/photon
Labels: library/photon

#6600 Aerospike 4.6.0.4
  library/aerospike
Labels: library/aerospike

#6603 Update Clear Linux OS to 30960
  library/clearlinux
Labels: library/clearlinux

#6609 Update golang
  library/golang
Labels: library/golang

#6611 Update bash
  library/bash
Labels: library/bash

#6612 Update ghost
  library/ghost
Labels: library/ghost

#6606 Update cassandra
  library/cassandra
Labels: library/cassandra

#6605 Update websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#6610 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6607 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#6608 Update tomcat
  library/tomcat
Labels: library/tomcat

#6613 Maven 3.6.2
  library/maven
Labels: library/maven

#6614 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#6616 Bump Traefik to v2.0.0-rc3
  library/traefik
Labels: library/traefik

#6618 arangodb 3.4.8
  library/arangodb
Labels: library/arangodb

#6619 Update telegraf image
  library/telegraf
Labels: library/telegraf

#6617 Update Debian (9.11, 10.1)
  library/debian
Labels: library/debian

#6635 updating for vault 1.2.3
  library/vault
Labels: library/vault

#6638 Add TomEE 7.0.6 on Java 8
  library/tomee
Labels: library/tomee

#6640 Update Gazebo v7, v9
  library/gazebo
Labels: library/gazebo

#6641 Bump Traefik to v2.0.0-rc4 and v1.7.16
  library/traefik
Labels: library/traefik

#6643 Update openjdk
  library/openjdk
Labels: library/openjdk

#6644 Update Clear Linux OS to 30970
  library/clearlinux
Labels: library/clearlinux

#6645 Bump Traefik to v2.0.0
  library/traefik
Labels: library/traefik

#6646 Update websphere-liberty to 19.0.0.9
  library/websphere-liberty
Labels: library/websphere-liberty

#6650 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#6651 Update haproxy
  library/haproxy
Labels: library/haproxy

#6652 Update bash
  library/bash
Labels: library/bash

#6653 Update julia
  library/julia
Labels: library/julia

#6648 Mosquitto 1.6.6 and 1.5.9
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#6654 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6658 Add SapMachine 13
  library/sapmachine
Labels: library/sapmachine

#6656 Update openjdk
  library/openjdk
Labels: library/openjdk

#6649 Update php
  library/php
Labels: library/php

#6660 Update to Flink 1.8.2
  library/flink
Labels: library/flink

#6655 Update wordpress
  library/wordpress
Labels: library/wordpress

#6657 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#6663 [varnish] update to 6.3
  library/varnish
Labels: library/varnish

#6664 [ROS] Update ROS2 Dashing and Crystal
  library/ros
Labels: library/ros

#6665 Update wordpress
  library/wordpress
Labels: library/wordpress

#6667 Update redmine
  library/redmine
Labels: library/redmine

#6666 Update tomcat
  library/tomcat
Labels: library/tomcat

#6669 Haskell GHC 8.8.1
  library/haskell
Labels: library/haskell

#6670 [nats] Release v2.1.0
  library/nats
Labels: library/nats

#6668 rebar3 3.12.0, erlang/otp 21.3.8.7, erlang/otp 22.1
  library/erlang
Labels: library/erlang

#6671 Update Clear Linux OS to 31070
  library/clearlinux
Labels: library/clearlinux

#6673 Bump Traefik to v1.7.17
  library/traefik
Labels: library/traefik

#6675 [Swift] Add Swift 5.1 Docker images and remove Swift 3.x Docker images
  library/swift
Labels: library/swift

#6678 Updated nginx to 1.17.4
  library/nginx
Labels: library/nginx

#6677 Bump for Mono 6.4 stable release
  library/mono
Labels: library/mono

#6674 Add Java 11 images for WebSphere Liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#6679 Update telegraf image
  library/telegraf
Labels: library/telegraf

#6661 Add an ubuntu Kong image which includes arm64
  library/kong
Labels: library/kong

#6681 eclipse-mosquitto 1.6.7
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#6682 Official Convertigo 7.6.4 release !
  library/convertigo
Labels: library/convertigo

#6683 alpine: edge snapshot 20190925
  library/alpine
Labels: library/alpine

#6684 Update redis
  library/redis
Labels: library/redis

#6685 Update openjdk
  library/openjdk
Labels: library/openjdk

#6686 Update joomla
  library/joomla
Labels: library/joomla

#6687 Update bash
  library/bash
Labels: library/bash

#6688 Update docker
  library/docker
Labels: library/docker

#6689 Update julia
  library/julia
Labels: library/julia

#6690 Update ghost
  library/ghost
Labels: library/ghost

#6691 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6692 [security] Update golang
  library/golang
Labels: library/golang

#6696 [security] Update PHP to 7.3.10, 7.2.23
  library/php
Labels: library/php

#6676 Releasing Neo4j 3.5.11
  library/neo4j
Labels: library/neo4j

#6695 Bump Traefik to v2.0.1 and v1.7.18
  library/traefik
Labels: library/traefik

#6694 Update Rust to 1.38.0
  library/rust
Labels: library/rust

#6698 Update postgres
  library/postgres
Labels: library/postgres

#6699 Update yourls
  library/yourls
Labels: library/yourls

#6700 ZNC 1.7.5
  library/znc
Labels: library/znc

#6701 Bump IBM Java version to 1.8.0_sr5fp41 (8.0.5.41).
  library/ibmjava
Labels: library/ibmjava

#6702 Fedora Update 2019-09-27
  library/fedora
Labels: library/fedora

#6703 erlang/otp 22.1.1
  library/erlang
Labels: library/erlang

#6705 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6706 Update haproxy
  library/haproxy
Labels: library/haproxy

#6707 Update openjdk
  library/openjdk
Labels: library/openjdk

#6708 Update Clear Linux OS to 31110
  library/clearlinux
Labels: library/clearlinux

#6710 XWiki 11.8 released
  library/xwiki
Labels: library/xwiki

#6711 Update docker
  library/docker
Labels: library/docker
