Repository docker-library/official-images, pull requests merged in 2019-03, with the labels that each got.

#5490 Update Rocket.Chat to 0.74.3
  library/rocket.chat
Labels: library/rocket.chat

#5494 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#5495 Update photon image
  library/photon
Labels: library/photon

#5496 Add version 7.8.2 of Bonita
  library/bonita
Labels: library/bonita

#5497 Add Solr 7.7.1, remove older versions
  library/solr
Labels: library/solr

#5498 Update telegraf image
  library/influxdb
Labels: library/influxdb

#5499 Update open-liberty to 19.0.0.2
  library/open-liberty
Labels: library/open-liberty

#5500 Update websphere-liberty to 19.0.0.2
  library/websphere-liberty
Labels: library/websphere-liberty

#5501 Update docker-library images
  library/buildpack-deps
  library/docker
  library/ghost
  library/mariadb
  library/mongo
  library/openjdk
  library/rabbitmq
  library/ruby
Labels: library/buildpack-deps, library/docker, library/ghost, library/mariadb, library/mongo, library/openjdk, library/rabbitmq, library/ruby

#5502 Update Debian (especially for 9.8)
  library/debian
Labels: library/debian

#5503 Bump IBM Java version to 1.8.0_sr5fp30 (8.0.5.30).
  library/ibmjava
Labels: library/ibmjava

#5505 Update sl container for sl6 to current (build-date=20190304)
  library/sl
Labels: library/sl

#5507 Update sl container for sl7 to current (build-date=20190304)
  library/sl
Labels: library/sl

#5508 Update docker-library images
  library/python
  library/ruby
Labels: library/python, library/ruby

#5509 Update photon image
  library/photon
Labels: library/photon

#5512 [security] Bump Consul to version 1.4.3
  library/consul
Labels: library/consul

#5506 [Swift] Update the Swift toolchain to 4.2.3
  library/swift
Labels: library/swift

#5511 Official convertigo 7.5.6 release.
  library/convertigo
Labels: library/convertigo

#5510 Update photon image
  library/photon
Labels: library/photon

#5515 Update telegraf image
  library/telegraf
Labels: library/telegraf

#5517 Add vault 1.1.0-beta2 tag
  library/vault
Labels: library/vault

#5516 alpine: builds from new upstream
  library/alpine
Labels: library/alpine

#5520 Release OrientDB v 3.0.17
  library/orientdb
Labels: library/orientdb

#5518 erlang/otp 21.2.7
  library/erlang
Labels: library/erlang

#5521 Update docker-library images
  library/ghost
  library/mariadb
  library/php
  library/ruby
Labels: library/ghost, library/mariadb, library/php, library/ruby

#5523 Add version 7.8.3 of Bonita
  library/bonita
Labels: library/bonita

#5525 Update YOURLS GitCommit sha
  library/yourls
Labels: library/yourls

#5527 Update photon image
  library/photon
Labels: library/photon

#5529 Update docker-library images
  library/bash
  library/drupal
  library/golang
  library/haproxy
  library/httpd
  library/joomla
  library/matomo
  library/memcached
  library/openjdk
  library/postgres
  library/python
  library/rabbitmq
  library/redis
  library/wordpress
Labels: library/bash, library/drupal, library/golang, library/haproxy, library/httpd, library/joomla, library/matomo, library/memcached, library/openjdk, library/postgres, library/python, library/rabbitmq, library/redis, library/wordpress

#5532 Update spiped
  library/spiped
Labels: library/spiped

#5531 Fedora Update 2019-03-10.
  library/fedora
Labels: library/fedora

#5533 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#5534 Bump for CouchDB - 2.3.1
  library/couchdb
Labels: library/couchdb

#5535 Update YOURLS GitCommit sha
  library/yourls
Labels: library/yourls

#5524 Update for 7.6.1810
  library/clefos
Labels: library/clefos

#5538 WordPress updated to 5.1.1
  library/wordpress
Labels: library/wordpress

#5536 erlang/otp 21.3
  library/erlang
Labels: library/erlang

#5537 Upgraded CrateDB to 3.2.5
  library/crate
Labels: library/crate

#5540 Update Clear Linux OS to 28290
  library/clearlinux
Labels: library/clearlinux

#5541 arangodb 3.4.4
  library/arangodb
Labels: library/arangodb

#5542 Update docker image for Ruby 2.6.2 release
  library/ruby
Labels: library/ruby

#5546 update CentOS images to march images
  library/centos
Labels: library/centos

#5543 Update docker-library images
  library/drupal
  library/elasticsearch
  library/ghost
  library/joomla
  library/kibana
  library/logstash
  library/matomo
  library/mongo
  library/rabbitmq
  library/tomcat
Labels: library/drupal, library/elasticsearch, library/ghost, library/joomla, library/kibana, library/logstash, library/matomo, library/mongo, library/rabbitmq, library/tomcat

#5547 update oraclelinux for openssl
  library/oraclelinux
Labels: library/oraclelinux

#5548 Update photon image
  library/photon
Labels: library/photon

#5513 Add Amazon Corretto 11 image
  library/amazoncorretto
Labels: library/amazoncorretto

#5549 Aerospike 4.5.0.8
  library/aerospike
Labels: library/aerospike

#5551 Remove unsupported CrateDB 2.1.10 and 2.0.7 images
  library/crate
Labels: library/crate

#5550 Update docker-library images
  library/golang
  library/mongo
Labels: library/golang, library/mongo

#5552 [percona] Update psmdb-36 version
  library/percona
Labels: library/percona

#5553 Amazon Corretto 11 is GA.
  library/amazoncorretto
Labels: library/amazoncorretto

#5554 [nats-streaming] Release v0.12.2
  library/nats-streaming
Labels: library/nats-streaming

#5557 Remove unsupported image
  library/mageia
Labels: library/mageia

#5560 Bump Traefik to v2.0.0-alpha1
  library/traefik
Labels: library/traefik

#5558 Update docker image for Ruby 2.5.5 release
  library/ruby
Labels: library/ruby

#5559 Update Mono to 5.x.1 releases (security update)
  library/mono
Labels: library/mono

#5555 Update Postfixadmin to 3.2.2
  library/postfixadmin
Labels: library/postfixadmin

#5566 Update photon image
  library/photon
Labels: library/photon

#5561 Update redis
  library/redis
Labels: library/redis

#5562 Update drupal
  library/drupal
Labels: library/drupal

#5563 Update mongo
  library/mongo
Labels: library/mongo

#5565 Update Matomo to 3.9.0
  library/matomo
Labels: library/matomo

#5567 Bump Traefik to v2.0.0-alpha2
  library/traefik
Labels: library/traefik

#5568 Update haproxy
  library/haproxy
Labels: library/haproxy

#5570 Update ghost
  library/ghost
Labels: library/ghost

#5564 Update python
  library/python
Labels: library/python

#5569 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5571 Update ELK to 5.6.16
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5572 Update bash
  library/bash
Labels: library/bash

#5573 [Gazebo] EOL v8 and version bump v9
  library/gazebo
Labels: library/gazebo

#5574 erlang/otp 21.3.1, rebar3 3.9.1
  library/erlang
Labels: library/erlang

#5575 added teamspeak 3.7.0
  library/teamspeak
Labels: library/teamspeak

#5577 Gradle 5.3
  library/gradle
Labels: library/gradle

#5578 Update to sonarqube 7.7
  library/sonarqube
Labels: library/sonarqube

#5579 Update drupal
  library/drupal
Labels: library/drupal

#5580 Update Clear Linux OS to 28410
  library/clearlinux
Labels: library/clearlinux

#5581 update vault to 1.1.0
  library/vault
Labels: library/vault

#5585 [security] Bump Consul to version 1.4.4
  library/consul
Labels: library/consul

#5588 Update python
  library/python
Labels: library/python

#5589 Update matomo
  library/matomo
Labels: library/matomo

#5582 Update photon image
  library/photon
Labels: library/photon

#5591 Update docker
  library/docker
Labels: library/docker

#5576 Update Flink images
  library/flink
Labels: library/flink

#5586 kong: bump Kong to 1.1.0rc2
  library/kong
Labels: library/kong

#5590 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#5595 Update ghost
  library/ghost
Labels: library/ghost

#5596 Update mongo
  library/mongo
Labels: library/mongo

#5594 Update wordpress
  library/wordpress
Labels: library/wordpress

#5583 add arm32v7 architecture for erlang/top 20+, erlang 21.3.2
  library/erlang
Labels: library/erlang

#5592 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5598 upgrade r-base to R 3.5.3 released previous Monday
  library/r-base
Labels: library/r-base

#5602 Upgrade after the XWiki 11.2 release
  library/xwiki
Labels: library/xwiki

#5587 Update open-liberty to run as non-root
  library/open-liberty
Labels: library/open-liberty

#5599 haxe: 4.0.0.rc.2 update and jessie build fix
  library/haxe
Labels: library/haxe

#5604 Update mariadb
  library/mariadb
Labels: library/mariadb

#5605 Update pypy
  library/pypy
Labels: library/pypy

#5606 Upgraded CrateDB to 3.2.6
  library/crate
Labels: library/crate

#5607 Updated mainline nginx to 1.15.10
  library/nginx
Labels: library/nginx

#5608 Update telegraf image
  library/telegraf
Labels: library/telegraf

#5609 Update Debian (especially for "jessie-updates" issue)
  library/debian
Labels: library/debian

#5610 Kong 1.1
  library/kong
Labels: library/kong

#5612 Update influxdb images
  library/influxdb
Labels: library/influxdb

#5615 Update ghost
  library/ghost
Labels: library/ghost

#5617 Update mongo
  library/mongo
Labels: library/mongo

#5616 Update openjdk
  library/openjdk
Labels: library/openjdk

#5614 Update python
  library/python
Labels: library/python

#5622 Update open-liberty to 19.0.0.3
  library/open-liberty
Labels: library/open-liberty

#5623 Release of XWiki 10.11.4
  library/xwiki
Labels: library/xwiki

#5624 Update ELK to 6.7.0
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5629 Gradle 5.3.1
  library/gradle
Labels: library/gradle

#5632 added teamspeak 3.7.1
  library/teamspeak
Labels: library/teamspeak

#5634 Update photon image
  library/photon
Labels: library/photon

#5635 kong: bump Kong to 1.1.1
  library/kong
Labels: library/kong

#5637 Update docker
  library/docker
Labels: library/docker

#5638 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5628 [Gazebo] version bump v7, v9, v10
  library/gazebo
Labels: library/gazebo

#5631 update oraclelinux for libssh2
  library/oraclelinux
Labels: library/oraclelinux

#5640 Update mongo
  library/mongo
Labels: library/mongo

#5641 Update haproxy
  library/haproxy
Labels: library/haproxy

#5639 Update pypy
  library/pypy
Labels: library/pypy

#5642 Update openjdk
  library/openjdk
Labels: library/openjdk

#5636 Update tomcat
  library/tomcat
Labels: library/tomcat

#5611 update euleros-2.3.18.09 for amd64 and aarch64
  library/euleros
Labels: library/euleros

#5621 Update websphere-liberty to 19.0.0.3
  library/websphere-liberty
Labels: library/websphere-liberty

#5613 [Swift] Add Swift 5.0 release images for bionic and xenial.
  library/swift
Labels: library/swift

#5643 Update photon image
  library/photon
Labels: library/photon
