Repository docker-library/official-images, pull requests merged in 2019-10, with the labels that each got.

#6718 [security] Update ruby
  library/ruby
Labels: library/ruby

#6713 ZNC: use normal URL again
  library/znc
Labels: library/znc

#6714 add initial centos8 image
  library/centos
Labels: library/centos

#6715 Update sl container for sl6 to current (build-date=20191001)
  library/sl
Labels: library/sl

#6716 Update sl container for sl7 to current (build-date=20191001)
  library/sl
Labels: library/sl

#6719 Update bash
  library/bash
Labels: library/bash

#6720 Update memcached
  library/memcached
Labels: library/memcached

#6721 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#6722 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6723 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#6724 Update drupal
  library/drupal
Labels: library/drupal

#6725 Update ruby
  library/ruby
Labels: library/ruby

#6726 Update mongo
  library/mongo
Labels: library/mongo

#6727 Update python
  library/python
Labels: library/python

#6729 Update docker
  library/docker
Labels: library/docker

#6728 kong 1.4.0rc1
  library/kong
Labels: library/kong

#6680 Update clojure with latest releases & upstream changes
  library/clojure
Labels: library/clojure

#6730 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6731 Update openjdk
  library/openjdk
Labels: library/openjdk

#6732 Update wordpress
  library/wordpress
Labels: library/wordpress

#6733 Update postgres
  library/postgres
Labels: library/postgres

#6736 Update php
  library/php
Labels: library/php

#6738 Update photon image
  library/photon
Labels: library/photon

#6737 Update julia
  library/julia
Labels: library/julia

#6734 Node: Update node.js v12 from v12.10.0 to v12.11.0
  library/node
Labels: library/node

#6740 Update Clear Linux OS to 31140
  library/clearlinux
Labels: library/clearlinux

#6741 Update CrateDB to 4.0.6
  library/crate
Labels: library/crate

#6742 erlang/otp 20.3.8.23
  library/erlang
Labels: library/erlang

#6743 Update telegraf image
  library/telegraf
Labels: library/telegraf

#6745 Upgrade MediaWiki
  library/mediawiki
Labels: library/mediawiki

#6749 arangodb 3.5.1
  library/arangodb
Labels: library/arangodb

#6744 Update XWiki to 11.8.1 release
  library/xwiki
Labels: library/xwiki

#6748 Add version 7.9.3 of Bonita
  library/bonita
Labels: library/bonita

#6746 erlang/otp 22.1.2, 21.3.8.8
  library/erlang
Labels: library/erlang

#6754 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6752 Bump Traefik to v2.0.2
  library/traefik
Labels: library/traefik

#6758 Update Couchbase Server EE to 6.0.3 (and add 6.5.0-beta2)
  library/couchbase
Labels: library/couchbase

#6757 Gradle, add git-lfs
  library/gradle
Labels: library/gradle

#6759 Node: Update node.js v8 to v8.16.2
  library/node
Labels: library/node

#6760 erlang/otp 22.1.3
  library/erlang
Labels: library/erlang

#6761 Release OrientDB v 3.0.24
  library/orientdb
Labels: library/orientdb

#6765 Update photon image
  library/photon
Labels: library/photon

#6767 [Swift] Update Swift Docker images to support 5.1.1 release
  library/swift
Labels: library/swift

#6763 Update websphere-liberty for 19.0.0.10
  library/websphere-liberty
Labels: library/websphere-liberty

#6764 Update open-liberty for 19.0.0.10 release
  library/open-liberty
Labels: library/open-liberty

#6770 Update ghost
  library/ghost
Labels: library/ghost

#6769 Update postgres
  library/postgres
Labels: library/postgres

#6771 Update tomcat
  library/tomcat
Labels: library/tomcat

#6772 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6773 Update openjdk
  library/openjdk
Labels: library/openjdk

#6775 addserver development snapshot
  library/eggdrop
Labels: library/eggdrop

#6776 Update Clear Linux OS to 31290
  library/clearlinux
Labels: library/clearlinux

#6777 elixir v1.9.2
  library/elixir
Labels: library/elixir

#6780 Aerospike 4.7.0.2
  library/aerospike
Labels: library/aerospike

#6781 Update docker
  library/docker
Labels: library/docker

#6782 Add better GPG keyserver solution
  library/eggdrop
Labels: library/eggdrop

#5459 WIP: add: archlinux
  library/archlinux
Labels: library/archlinux, new-image

#6783 Composer: update latest alias
  library/composer
Labels: library/composer

#6784 Update oraclelinux for python 2.7
  library/oraclelinux
Labels: library/oraclelinux

#6768 Update mysql
  library/mysql
Labels: library/mysql

#6785 Update openjdk
  library/openjdk
Labels: library/openjdk

#6787 Update wordpress
  library/wordpress
Labels: library/wordpress

#6788 Update python
  library/python
Labels: library/python

#6789 Update pypy
  library/pypy
Labels: library/pypy

#6786 Update joomla
  library/joomla
Labels: library/joomla

#6790 Update mongo
  library/mongo
Labels: library/mongo

#6791 Update bash
  library/bash
Labels: library/bash

#6792 Update ghost
  library/ghost
Labels: library/ghost

#6793 kong 1.4.0rc2
  library/kong
Labels: library/kong

#6795 erlang/otp 21.3.8.9
  library/erlang
Labels: library/erlang

#6796 Update SapMachine from version 11.0.4 to 11.0.5.
  library/sapmachine
Labels: library/sapmachine

#6794 Update Debian (20191014)
  library/debian
Labels: library/debian

#6798 Update Hy
  library/hylang
Labels: library/hylang

#6799 Update Amazon Corretto (8.232.09.1 and 11.0.5.10.1).
  library/amazoncorretto
Labels: library/amazoncorretto

#6805 [security] Update golang 1.13.3 and 1.12.12
  library/golang
Labels: library/golang

#6766 Update NATS imf file
  library/nats
Labels: library/nats

#6801 Add version 7.9.4 of Bonita
  library/bonita
Labels: library/bonita

#6802 Update SapMachine from version 13 to 13.0.1.
  library/sapmachine
Labels: library/sapmachine

#6807 Release Neo4j 3.5.12
  library/neo4j
Labels: library/neo4j

#6808 Update ibmjava to newer OS levels.
  library/ibmjava
Labels: library/ibmjava

#6810 Update Ubuntu (esp. for Eoan's GA)
  library/ubuntu
Labels: library/ubuntu

#6778 Update Sonarqube to prepare 8.0 release
  library/sonarqube
Labels: library/sonarqube

#6812 Update NATS tags
  library/nats
Labels: library/nats

#6811 Update photon image
  library/photon
Labels: library/photon

#6804 ZNC: re-enable IPv6, upgrade alpine
  library/znc
Labels: library/znc

#6813 Update golang
  library/golang
Labels: library/golang

#6814 Update mongo
  library/mongo
Labels: library/mongo

#6815 Update julia
  library/julia
Labels: library/julia

#6817 Update openjdk
  library/openjdk
Labels: library/openjdk

#6819 Update pypy
  library/pypy
Labels: library/pypy

#6816 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6818 Update python
  library/python
Labels: library/python

#6820 Update php
  library/php
Labels: library/php

#6803 Upgrade MediaWiki
  library/mediawiki
Labels: library/mediawiki

#6806 Gradle 5.6.3
  library/gradle
Labels: library/gradle

#6809 Release of GeoNetwork 3.8.1
  library/geonetwork
Labels: library/geonetwork

#6822 Update Zookeeper to 3.5.6
  library/zookeeper
Labels: library/zookeeper

#6827 Update redmine
  library/redmine
Labels: library/redmine

#6828 Update ghost
  library/ghost
Labels: library/ghost

#6824 Update sl container for sl7 to current (build-date=20191021)
  library/sl
Labels: library/sl

#6823 Update Clear Linux OS to 31350
  library/clearlinux
Labels: library/clearlinux

#6825 alpine: bump 3.10.3
  library/alpine
Labels: library/alpine

#6829 Update golang
  library/golang
Labels: library/golang

#6830 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#6831 Haskell: Add ssh client to support Stack tool.
  library/haskell
Labels: library/haskell

#6833 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#6834 [varnish][security] Address vsv0004
  library/varnish
Labels: library/varnish

#6835 Update to Adminer 4.7.4
  library/adminer
Labels: library/adminer

#6836 erlang/otp 22.1.4
  library/erlang
Labels: library/erlang

#6839 Updated nginx to 1.17.5
  library/nginx
Labels: library/nginx

#6840 Update clojure:tools-deps to 1.10.1.478
  library/clojure
Labels: library/clojure

#6842 Add alpine image
  library/nats
Labels: library/nats

#6845 Update ghost
  library/ghost
Labels: library/ghost

#6846 kong: bump Kong to 1.4.0
  library/kong
Labels: library/kong

#6847 Update haproxy
  library/haproxy
Labels: library/haproxy

#6848 Update python
  library/python
Labels: library/python

#6849 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6850 Update mongo
  library/mongo
Labels: library/mongo

#6853 Update NATS
  library/nats
Labels: library/nats

#6750 Odoo: Add Odoo 13.0
  library/odoo
Labels: library/odoo

#6854 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#6851 Update php
  library/php
Labels: library/php

#6855 kong: move plain tags to 1.4 images
  library/kong
Labels: library/kong

#6859 [security] Update php
  library/php
Labels: library/php

#6860 [security] Update php
  library/php
Labels: library/php

#6856 Update haproxy
  library/haproxy
Labels: library/haproxy

#6858 Update httpd
  library/httpd
Labels: library/httpd

#6857 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6865 Groovy 3.0.0-rc-1
  library/groovy
Labels: library/groovy

#6864 Update Rakudo-Star entry to include Alpine image
  library/rakudo-star
Labels: library/rakudo-star

#6862 Update photon image
  library/photon
Labels: library/photon

#6861 erlang/otp 21.3.8.10, 22.1.5
  library/erlang
Labels: library/erlang

#6866 Update Clear Linux OS to 31380
  library/clearlinux
Labels: library/clearlinux

#6863 haxe: update to 4.0.0, update neko to 2.3.0
  library/haxe
Labels: library/haxe

#6868 Update CrateDB to 4.0.7
  library/crate
Labels: library/crate

#6872 Update openjdk
  library/openjdk
Labels: library/openjdk

#6869 Update to Flink 1.9.1
  library/flink
Labels: library/flink

#6873 Fedora Update 20191028.
  library/fedora
Labels: library/fedora

#6874 Bump Traefik to v2.0.4 and v1.7.19
  library/traefik
Labels: library/traefik

#6875 Update to XWiki 11.9
  library/xwiki
Labels: library/xwiki

#6876 Update telegraf image
  library/telegraf
Labels: library/telegraf

#6870 Plone: Release 4.3.19 and 5.1.6
  library/plone
Labels: library/plone

#6878 Update adminer
  library/adminer
Labels: library/adminer

#6880 Update busybox
  library/busybox
Labels: library/busybox

#6881 Update httpd
  library/httpd
Labels: library/httpd

#6884 Update docker
  library/docker
Labels: library/docker

#6882 Update cassandra
  library/cassandra
Labels: library/cassandra

#6885 Update ghost
  library/ghost
Labels: library/ghost

#6883 Update ruby
  library/ruby
Labels: library/ruby

#6879 update Bonita maintainers
  library/bonita
Labels: library/bonita
