Repository docker-library/official-images, pull requests merged in 2019-04, with the labels that each got.

#5633 Bump Traefik to v2.0.0-alpha3 and v1.7.10
  library/traefik
Labels: library/traefik

#5645 ZNC 1.7.3
  library/znc
Labels: library/znc

#5647 Update clojure:tools-deps to 1.10.0.442
  library/clojure
Labels: library/clojure

#5648 Update ALT Linux - 20190401
  library/alt
Labels: library/alt

#5650 Release OrientDB v 3.0.18
  library/orientdb
Labels: library/orientdb

#5653 [Swift] Add Swift 4.2.4 release Dockerfile
  library/swift
Labels: library/swift

#5654 Update sl container for sl7 to current (build-date=20190401)
  library/sl
Labels: library/sl

#5666 Remove vanity "hello-world" images
  library/hello-seattle
  library/hola-mundo
Labels: library/hello-seattle, library/hola-mundo

#5658 kong 1.1.1
  library/kong
Labels: library/kong

#5665 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#5649 Bump IBM Java version to 1.8.0_sr5fp31 (8.0.5.31).
  library/ibmjava
Labels: library/ibmjava

#5655 erlang/otp 21.3.3
  library/erlang
Labels: library/erlang

#5659 Update httpd
  library/httpd
Labels: library/httpd

#5660 Update redmine
  library/redmine
Labels: library/redmine

#5669 Update mariadb
  library/mariadb
Labels: library/mariadb

#5668 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5664 Update ghost
  library/ghost
Labels: library/ghost

#5663 Update busybox
  library/busybox
Labels: library/busybox

#5662 Update mongo
  library/mongo
Labels: library/mongo

#5661 Update openjdk
  library/openjdk
Labels: library/openjdk

#5646 Update latest stable version of MediaWiki
  library/mediawiki
Labels: library/mediawiki

#5672 Update docker image for Ruby 2.4.6
  library/ruby
Labels: library/ruby

#5673 Fedora Update 2019-04-03
  library/fedora
Labels: library/fedora

#5677 Update redmine
  library/redmine
Labels: library/redmine

#5675 Update open-liberty for springBoot image fix
  library/open-liberty
Labels: library/open-liberty

#5674 Update websphere-liberty for springBoot image fix
  library/websphere-liberty
Labels: library/websphere-liberty

#5644 update EulerOS-2.3.1806 and EulerOS-2.3.1803
  library/euleros
Labels: library/euleros

#5681 Update ghost
  library/ghost
Labels: library/ghost

#5679 Aerospike 4.5.2.1
  library/aerospike
Labels: library/aerospike

#5676 Sentry 9.1.0
  library/sentry
Labels: library/sentry

#5682 Update openjdk
  library/openjdk
Labels: library/openjdk

#5687 Update ruby
  library/ruby
Labels: library/ruby

#5686 Update photon image
  library/photon
Labels: library/photon

#5688 Update mongo
  library/mongo
Labels: library/mongo

#5690 Update docker
  library/docker
Labels: library/docker

#5689 Update golang
  library/golang
Labels: library/golang

#5685 upgrade php
  library/php
Labels: library/php

#5691 Update Zookeeper to 3.4.14
  library/zookeeper
Labels: library/zookeeper

#5692 Update Clear Linux OS to 28670
  library/clearlinux
Labels: library/clearlinux

#5695 Update drupal
  library/drupal
Labels: library/drupal

#5696 Update mariadb
  library/mariadb
Labels: library/mariadb

#5694 Release of XWiki 10.11.5
  library/xwiki
Labels: library/xwiki

#5698 Update golang
  library/golang
Labels: library/golang

#5693 alpine: edge snapshot 20190408
  library/alpine
Labels: library/alpine

#5705 Update docker
  library/docker
Labels: library/docker

#5706 Update joomla
  library/joomla
Labels: library/joomla

#5707 Update ghost
  library/ghost
Labels: library/ghost

#5699 Revert Clear Linux OS to 28410
  library/clearlinux
Labels: library/clearlinux

#5700 Releasing Neo4j 3.5.4
  library/neo4j
Labels: library/neo4j

#5701 Updated mainline nginx to 1.15.11
  library/nginx
Labels: library/nginx

#5709 Official Convertigo 7.5.7 release !
  library/convertigo
Labels: library/convertigo

#5713 Update Clear Linux OS to 28780
  library/clearlinux
Labels: library/clearlinux

#5712 Update wordpress
  library/wordpress
Labels: library/wordpress

#5704 composer release 1.8.5
  library/composer
Labels: library/composer

#5715 update oraclelinux for openssh, python
  library/oraclelinux
Labels: library/oraclelinux

#5718 Upgrade Rust to 1.34.0
  library/rust
Labels: library/rust

#5721 Update docker
  library/docker
Labels: library/docker

#5723 Update mongo
  library/mongo
Labels: library/mongo

#5716 Update to Flink 1.8.0
  library/flink
Labels: library/flink

#5722 Update openjdk
  library/openjdk
Labels: library/openjdk

#5724 updating vault to 1.1.1
  library/vault
Labels: library/vault

#5727 Upgraded CrateDB to 3.2.7
  library/crate
Labels: library/crate

#5717 Update Mono to 5.20 (new stable) and 5.18 service release
  library/mono
Labels: library/mono

#5725 Update golang version 1.12.4 and 1.11.9
  library/golang
Labels: library/golang

#5728 Update XWiki LTS version
  library/xwiki
Labels: library/xwiki

#5731 Update ELK to 6.7.1
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5734 Update python
  library/python
Labels: library/python

#5726 Bump jruby to 9.2.7.0
  library/jruby
Labels: library/jruby

#5730 Bump Rakudo-Star version to 2019.03
  library/rakudo-star
Labels: library/rakudo-star

#5729 erlang/otp 21.3.4
  library/erlang
Labels: library/erlang

#5735 Update tomcat
  library/tomcat
Labels: library/tomcat

#5736 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5740 Add ELK 7.0.0
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5741 Update photon image
  library/photon
Labels: library/photon

#5744 erlang/otp 21.3.5
  library/erlang
Labels: library/erlang

#5745 [maven] amazoncorretto-11
  library/maven
Labels: library/maven

#5748 Updated nginx to 1.15.12
  library/nginx
Labels: library/nginx

#5749 Gradle 5.4
  library/gradle
Labels: library/gradle

#5746 Update photon image
  library/photon
Labels: library/photon

#5750 Update Amazon Corretto 8 and 11 for April 2019 security releases.
  library/amazoncorretto
Labels: library/amazoncorretto

#5751 [nats-streaming] Release v0.14.0
  library/nats-streaming
Labels: library/nats-streaming

#5747 [maven] Maven 3.6.1
  library/maven
Labels: library/maven

#5753 [percona] Update psmdb-40 version
  library/percona
Labels: library/percona

#5754 Bump Traefik to v2.0.0-alpha4
  library/traefik
Labels: library/traefik

#5755 Update influxdata images
  library/chronograf
  library/influxdb
  library/telegraf
Labels: library/chronograf, library/influxdb, library/telegraf

#5756 erlang/otp 20.3.8.21, rebar3 3.10.0
  library/erlang
Labels: library/erlang

#5757 Update ruby
  library/ruby
Labels: library/ruby

#5758 Update ghost
  library/ghost
Labels: library/ghost

#5759 Update openjdk
  library/openjdk
Labels: library/openjdk

#5760 Update pypy
  library/pypy
Labels: library/pypy

#5761 Update docker
  library/docker
Labels: library/docker

#5764 Update drupal
  library/drupal
Labels: library/drupal

#5762 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5763 Update tomcat
  library/tomcat
Labels: library/tomcat

#5765 Update Backdrop to 1.12.6
  library/backdrop
Labels: library/backdrop

#5766 erlang/otp 21.3.6, rebar3 3.10.0
  library/erlang
Labels: library/erlang

#5769 Update photon image
  library/photon
Labels: library/photon

#5771 Add websphere-liberty ifix support and add PH06340 ifix
  library/websphere-liberty
Labels: library/websphere-liberty

#5780 Drop support for ELK 5.x (now EOL upstream)
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#5772 Sentry 9.1.1
  library/sentry
Labels: library/sentry

#5774 [maven] maven 3.6.1 on amazoncorretto-8
  library/maven
Labels: library/maven

#5776 Update docker
  library/docker
Labels: library/docker

#5777 Update openjdk
  library/openjdk
Labels: library/openjdk

#5778 Update bash
  library/bash
Labels: library/bash

#5779 Update Amazon Corretto 8 to 8.212.04.2
  library/amazoncorretto
Labels: library/amazoncorretto

#5781 Update photon image
  library/photon
Labels: library/photon

#5775 Added cosmic
  library/neurodebian
Labels: library/neurodebian

#5784 update vault to 1.1.2
  library/vault
Labels: library/vault

#5785 XWiki 10.11.7 release
  library/xwiki
Labels: library/xwiki

#5787 [Swift] Add Swift 5.0.1 release tags
  library/swift
Labels: library/swift

#5786 Updated stable nginx to 1.16.0
  library/nginx
Labels: library/nginx

#5783 Fedora Update 2019-04-23.
  library/fedora
Labels: library/fedora

#5788 Update photon image
  library/photon
Labels: library/photon

#5790 Swift: Restore 5.0-bionic and 5.0-xenial tags
  library/swift
Labels: library/swift

#5791 Update SonarQube image from 6.7.6 to 6.7.7
  library/sonarqube
Labels: library/sonarqube

#5792 Odoo: update 10.0-12.0 to release 20190424
  library/odoo
Labels: library/odoo

#5794 Consul: backport minor tag releases
  library/consul
Labels: library/consul

#5752 releasing zendserver 2018.0.3 9.1.8 8.5.12
  library/php-zendserver
Labels: library/php-zendserver

#5795 kong: bump to 1.1.2
  library/kong
Labels: library/kong

#5796 Update postgres
  library/postgres
Labels: library/postgres

#5797 Update ghost
  library/ghost
Labels: library/ghost

#5798 Update php
  library/php
Labels: library/php

#5799 Update python
  library/python
Labels: library/python

#5800 Update pypy
  library/pypy
Labels: library/pypy

#5802 Update mysql
  library/mysql
Labels: library/mysql

#5801 Update openjdk
  library/openjdk
Labels: library/openjdk

#5806 Consul: removing older versions after backport tags
  library/consul
Labels: library/consul

#5805 update CrateDB to version 3.3.2
  library/crate
Labels: library/crate

#5808 Update docker
  library/docker
Labels: library/docker

#5810 Update haproxy
  library/haproxy
Labels: library/haproxy

#5811 Update Rust to 1.34.1
  library/rust
Labels: library/rust

#5807 Enhance nuxeo image: fix instance.clid pb, remove duplicated layer, d…
  library/nuxeo
Labels: library/nuxeo

#5809 Update wordpress
  library/wordpress
Labels: library/wordpress

#5803 [node]: update tags for v12
  library/node
Labels: library/node

#5782 Update Ubuntu, especially for Disco's GA
  library/ubuntu
Labels: library/ubuntu

#5303 Add fluentd images
  library/fluentd
Labels: library/fluentd, new-image

#5819 Consul: security patches for Consul 0.9.4-1.4.4
  library/consul
Labels: library/consul

#5814 Bump Traefik to v1.7.11
  library/traefik
Labels: library/traefik

#5816 Update chronograf image
  library/chronograf
Labels: library/chronograf

#5817 Update open-liberty to 19.0.0.4
  library/open-liberty
Labels: library/open-liberty

#5820 Gradle 5.4.1
  library/gradle
Labels: library/gradle

#5821 Update to mosquitto 1.6.1
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#5812 Releasing Neo4j 3.4.13 and 3.5.5
  library/neo4j
Labels: library/neo4j

#5768 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#5813 erlang/otp 21.3.7
  library/erlang
Labels: library/erlang

#5822 [nats-streaming] Release v0.14.1
  library/nats-streaming
Labels: library/nats-streaming

#5825 upgrade r-base to R 3.6.0 released yesterday
  library/r-base
Labels: library/r-base

#5826 Bump IBM Java version to 1.8.0_sr5fp35 (8.0.5.35).
  library/ibmjava
Labels: library/ibmjava

#5827 Update Solr 6.6.6 and 8.0
  library/solr
Labels: library/solr

#5828 Update openjdk
  library/openjdk
Labels: library/openjdk
