Repository docker-library/official-images, pull requests merged in 2019-02, with the labels that each got.

#5361 Odoo: update 10.0-12.0 to release 20190128
  library/odoo
Labels: library/odoo

#5380 kong: bump Kong to 1.0.3
  library/kong
Labels: library/kong

#5383 Update spiped:alpine to alpine:3.9
  library/spiped
Labels: library/spiped

#5384 Official Convertigo 7.5.5 release !
  library/convertigo
Labels: library/convertigo

#5385 Add WebSphere Liberty 19.0.0.1 images
  library/websphere-liberty
Labels: library/websphere-liberty

#5386 Update Open Liberty to 19.0.0.1
  library/open-liberty
Labels: library/open-liberty

#5382 Update docker image for Ruby 2.6.1 release
  library/ruby
Labels: library/ruby

#5388 Please upgrade to the ArangoDB Release 3.4.2
  library/arangodb
Labels: library/arangodb

#5393 Update sl container for sl7 to current (build-date=20190204)
  library/sl
Labels: library/sl

#5392 erlang/otp 21.2.5
  library/erlang
Labels: library/erlang

#5389 haxe: 4.0.0-rc.1
  library/haxe
Labels: library/haxe

#5387 Update docker-library images
  library/golang
  library/haproxy
  library/httpd
  library/mariadb
  library/memcached
  library/mysql
  library/openjdk
  library/php
  library/postgres
  library/rabbitmq
  library/redis
  library/ruby
  library/wordpress
Labels: library/golang, library/haproxy, library/httpd, library/mariadb, library/memcached, library/mysql, library/openjdk, library/php, library/postgres, library/rabbitmq, library/redis, library/ruby, library/wordpress

#5398 Update sl container for sl6 to current (build-date=20190205)
  library/sl
Labels: library/sl

#5401 Update telegraf image
  library/telegraf
Labels: library/telegraf

#5403 Update docker-library images
  library/bash
  library/buildpack-deps
  library/busybox
  library/drupal
  library/gcc
  library/ghost
  library/haproxy
  library/httpd
  library/irssi
  library/julia
  library/memcached
  library/mongo
  library/openjdk
  library/php
  library/postgres
  library/python
  library/redmine
  library/ruby
  library/tomcat
  library/wordpress
Labels: library/bash, library/buildpack-deps, library/busybox, library/drupal, library/gcc, library/ghost, library/haproxy, library/httpd, library/irssi, library/julia, library/memcached, library/mongo, library/openjdk, library/php, library/postgres, library/python, library/redmine, library/ruby, library/tomcat, library/wordpress

#5404 Update influxdb images to include enterprise images for 1.7
  library/influxdb
Labels: library/influxdb

#5394 Update Ubuntu, especially for CVE-2019-3462 in Disco
  library/ubuntu
Labels: library/ubuntu

#5399 Update Debian, especially for CVE-2019-3462 in testing/unstable
  library/debian
Labels: library/debian

#5395 [Swift] Update the docker image with Swift 4.2.2 release
  library/swift
Labels: library/swift

#5397 Groovy 2.5.6
  library/groovy
Labels: library/groovy

#5400 Gradle 5.2
  library/gradle
Labels: library/gradle

#5405 Update photon image
  library/photon
Labels: library/photon

#5406 Update to Jetty 9.4.14, add JRE 11
  library/jetty
Labels: library/jetty

#5410 Release OrientDB v 3.0.14
  library/orientdb
Labels: library/orientdb

#5412 Update docker-library images
  library/drupal
  library/haproxy
  library/kibana
  library/logstash
  library/mariadb
  library/openjdk
  library/rabbitmq
Labels: library/drupal, library/haproxy, library/kibana, library/logstash, library/mariadb, library/openjdk, library/rabbitmq

#5409 Upgrade CrateDB 3.1 to 3.1.6
  library/crate
Labels: library/crate

#5414 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#5415 Update Couchbase Server EE to 6.0.1
  library/couchbase
Labels: library/couchbase

#5416 [nats] Release v1.4.1
  library/nats
Labels: library/nats

#5419 Eclipse Mosquitto 1.5.6
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#5417 [nats-streaming-server] Release v0.12.0
  library/nats-streaming
Labels: library/nats-streaming

#5418 Update Clear Linux OS to 27670
  library/clearlinux
Labels: library/clearlinux

#5420 Upgrade CrateDB to 3.2.3
  library/crate
Labels: library/crate

#5423 Gradle 5.2.1
  library/gradle
Labels: library/gradle

#5422 Update docker-library images
  library/drupal
  library/elasticsearch
  library/ghost
  library/openjdk
  library/php
  library/rabbitmq
  library/tomcat
Labels: library/drupal, library/elasticsearch, library/ghost, library/openjdk, library/php, library/rabbitmq, library/tomcat

#5411 Update Thrift to 0.12
  library/thrift
Labels: library/thrift

#5425 composer 1.8.4
  library/composer
Labels: library/composer

#5428 Update lein to 2.9.0 in clojure
  library/clojure
Labels: library/clojure

#5426 Bump Traefik to v1.7.9
  library/traefik
Labels: library/traefik

#5430 Update docker-library images
  library/golang
  library/haproxy
  library/httpd
  library/mariadb
  library/matomo
  library/pypy
  library/python
  library/rabbitmq
Labels: library/golang, library/haproxy, library/httpd, library/mariadb, library/matomo, library/pypy, library/python, library/rabbitmq

#5431 Add Solr 7.7.0
  library/solr
Labels: library/solr

#5432 Releasing Neo4j 3.5.3
  library/neo4j
Labels: library/neo4j

#5436 ZNC: switch from root user earlier, support --user
  library/znc
Labels: library/znc

#5437 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#5439 Update docker-library images
  library/cassandra
  library/ghost
  library/irssi
  library/joomla
  library/mongo
  library/pypy
Labels: library/cassandra, library/ghost, library/irssi, library/joomla, library/mongo, library/pypy

#5438 Release OrientDB v 3.0.15
  library/orientdb
Labels: library/orientdb

#5440 updating vault to 1.0.3, removing 0.11.6
  library/vault
Labels: library/vault

#5441 Update photon image
  library/photon
Labels: library/photon

#5443 Update influxdb and chronograf images
  library/chronograf
  library/influxdb
Labels: library/chronograf, library/influxdb

#5444 Bump jruby to 9.2.6.0
  library/jruby
Labels: library/jruby

#5446 Update docker-library images
  library/busybox
  library/ghost
  library/rabbitmq
Labels: library/busybox, library/ghost, library/rabbitmq

#5447 Update docker-library images
  library/openjdk
  library/postgres
Labels: library/openjdk, library/postgres

#5449 Fix spurious 9.2.5 > 9.2.6
  library/jruby
Labels: library/jruby

#5451 Fedora Update 2019-02-18
  library/fedora
Labels: library/fedora

#5450 [percona] psmdb-4.0.5
  library/percona
Labels: library/percona

#5454 Update to Flink 1.7.2
  library/flink
Labels: library/flink

#5456 update oraclelinux for systemd
  library/oraclelinux
Labels: library/oraclelinux

#5457 Add support for armv8 arch and fix transient store configuration
  library/nuxeo
Labels: library/nuxeo

#5453 erlang/otp 20.3.8.20 and 21.2.6, rebar3 3.9.0
  library/erlang
Labels: library/erlang

#5424 Update Backdrop CMS to version 1.12.3
  library/backdrop
Labels: library/backdrop

#5460 [ros] remove images for EOL ROS Ardent
  library/ros
Labels: library/ros

#5462 Update XWiki version
  library/xwiki
Labels: library/xwiki

#5458 Update docker-library images
  library/elasticsearch
  library/kibana
  library/logstash
  library/php
  library/python
  library/rabbitmq
  library/redis
Labels: library/elasticsearch, library/kibana, library/logstash, library/php, library/python, library/rabbitmq, library/redis

#5464 Update docker-library images
  library/docker
  library/drupal
  library/ghost
  library/mariadb
  library/pypy
  library/python
  library/tomcat
  library/wordpress
Labels: library/docker, library/drupal, library/ghost, library/mariadb, library/pypy, library/python, library/tomcat, library/wordpress

#5463 kong: bump to 1.1.0rc1
  library/kong
Labels: library/kong

#5465 Aerospike 4.5.0.5
  library/aerospike
Labels: library/aerospike

#5466 Update docker-library images
  library/gcc
  library/openjdk
  library/rabbitmq
  library/redmine
  library/wordpress
Labels: library/gcc, library/openjdk, library/rabbitmq, library/redmine, library/wordpress

#5468 Update ALT Linux - 20190225
  library/alt
Labels: library/alt

#5470 Update photon image
  library/photon
Labels: library/photon

#5471 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#5473 Update Go to 1.12 (GA)
  library/golang
Labels: library/golang

#5467 Updating permissions for server cache
  library/websphere-liberty
Labels: library/websphere-liberty

#5472 Release of XWiki 11.1
  library/xwiki
Labels: library/xwiki

#5474 Please upgrade to the ArangoDB Release 3.4.3
  library/arangodb
Labels: library/arangodb

#5478 [Gazebo] Add gazebo v10
  library/gazebo
Labels: library/gazebo

#5480 Update to Flink 1.6.4
  library/flink
Labels: library/flink

#5477 Remove "opensuse:tumbleweed" from supported tags
  library/opensuse
Labels: library/opensuse

#5481 Updated mainline nginx to 1.15.9
  library/nginx
Labels: library/nginx

#5482 Upgrade CrateDB to 3.2.4
  library/crate
Labels: library/crate

#5483 Update clojure lein & tools-deps variants to latest
  library/clojure
Labels: library/clojure

#5484 Update telegraf image
  library/telegraf
Labels: library/telegraf

#5479 releasing Neo4j 3.2.14
  library/neo4j
Labels: library/neo4j

#5476 Update docker-library images
  library/docker
  library/ghost
  library/openjdk
  library/python
  library/rabbitmq
  library/redmine
Labels: library/docker, library/ghost, library/openjdk, library/python, library/rabbitmq, library/redmine

#5489 [security] Update Node.js to 11.10.1, 10.15.2, 8.15.1, 6.17.0
  library/node
Labels: library/node

#5487 Release OrientDB v 3.0.16
  library/orientdb
Labels: library/orientdb

#5492 Update rust to 1.33.0
  library/rust
Labels: library/rust

#5488 [percona] up to psmdb-4.0.6
  library/percona
Labels: library/percona

#5493 Update Eclipse Mosquitto to 1.5.8
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto
