Repository docker-library/official-images, pull requests merged in 2019-08, with the labels that each got.

#6392 Update python
  library/python
Labels: library/python

#6394 Fedora Update - 20190801.
  library/fedora
Labels: library/fedora

#6396 eclipse-mosquitto 1.6.4
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#6399 Update redis
  library/redis
Labels: library/redis

#6388 Update php
  library/php
Labels: library/php

#6393 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#6403 Fix nasty dind regression
  library/docker
Labels: library/docker

#6402 Update ELK to 7.3.0
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#6361 update sonarqube to the latest Dockefile
  library/sonarqube
Labels: library/sonarqube

#6404 Update sl container for sl7 to current (build-date=20190802)
  library/sl
Labels: library/sl

#6405 Update photon image
  library/photon
Labels: library/photon

#6406 [security] Update php
  library/php
Labels: library/php

#6401 [ros] update apt repo and key for EOL images
  library/ros
Labels: library/ros

#3972 Add Jobber
  library/jobber
Labels: library/jobber, new-image

#6408 Update python
  library/python
Labels: library/python

#6407 Update docker
  library/docker
Labels: library/docker

#6409 Update Clear Linux OS to 30650
  library/clearlinux
Labels: library/clearlinux

#6410 SASL development snapshot
  library/eggdrop
Labels: library/eggdrop

#6411 Composer release 1.9
  library/composer
Labels: library/composer

#6414 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#6416 Update bash
  library/bash
Labels: library/bash

#6413 Update openjdk
  library/openjdk
Labels: library/openjdk

#6412 Update wordpress
  library/wordpress
Labels: library/wordpress

#6415 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6417 Update joomla
  library/joomla
Labels: library/joomla

#6418 Update ghost
  library/ghost
Labels: library/ghost

#6420 updating vault to 1.2.1
  library/vault
Labels: library/vault

#6419 [ros] Remove EOL images
  library/ros
Labels: library/ros

#6421 Update haproxy
  library/haproxy
Labels: library/haproxy

#6422 Update mongo
  library/mongo
Labels: library/mongo

#6423 Add Couchbase Server 6.5.0 Beta
  library/couchbase
Labels: library/couchbase

#6425 Groovy 2.5.8 and 3.0.0-beta-3
  library/groovy
Labels: library/groovy

#6426 Update XWiki after 11.6.1 release
  library/xwiki
Labels: library/xwiki

#6427 Bump Traefik to v1.7.13
  library/traefik
Labels: library/traefik

#6428 update oraclelinux for curl
  library/oraclelinux
Labels: library/oraclelinux

#6431 Update mongo
  library/mongo
Labels: library/mongo

#6433 Update drupal
  library/drupal
Labels: library/drupal

#6429 Update node.js v10 to 10.16.2 and v12 to 12.8.0
  library/node
Labels: library/node

#6434 Update openjdk
  library/openjdk
Labels: library/openjdk

#6430 Update postgres
  library/postgres
Labels: library/postgres

#6432 Update php
  library/php
Labels: library/php

#6437 alpine: edge snapshot 20190809
  library/alpine
Labels: library/alpine

#6439 Update CrateDB to 4.0.3
  library/crate
Labels: library/crate

#6440 [ros] remove ROS Bouncy
  library/ros
Labels: library/ros

#6442 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#6435 Update haproxy
  library/haproxy
Labels: library/haproxy

#6436 Update julia
  library/julia
Labels: library/julia

#6441 Update openjdk
  library/openjdk
Labels: library/openjdk

#6443 Update mongo
  library/mongo
Labels: library/mongo

#6444 Update golang
  library/golang
Labels: library/golang

#6447 Update Clear Linux OS to 30730
  library/clearlinux
Labels: library/clearlinux

#6448 Update docker
  library/docker
Labels: library/docker

#6449 Update python
  library/python
Labels: library/python

#6450 Update pypy
  library/pypy
Labels: library/pypy

#6451 Update bash
  library/bash
Labels: library/bash

#6452 Update gcc
  library/gcc
Labels: library/gcc

#6459 [security] Update golang
  library/golang
Labels: library/golang

#6453 Update Debian (20190812)
  library/debian
Labels: library/debian

#6457 Add Consul 1.6.0-rc1 tag
  library/consul
Labels: library/consul

#6458 Update joomla
  library/joomla
Labels: library/joomla

#6456 Update mongo
  library/mongo
Labels: library/mongo

#6455 Update ghost
  library/ghost
Labels: library/ghost

#6454 Update httpd
  library/httpd
Labels: library/httpd

#6460 Official Convertigo 7.6.3 release
  library/convertigo
Labels: library/convertigo

#6461 Bump Traefik to v1.7.14
  library/traefik
Labels: library/traefik

#6462 Update Ubuntu (esp. for 18.04.3 LTS)
  library/ubuntu
Labels: library/ubuntu

#6463 kong 1.2.2
  library/kong
Labels: library/kong

#6471 Updated mainline nginx to 1.17.3, stable to 1.16.1
  library/nginx
Labels: library/nginx

#6464 Gradle 5.6
  library/gradle
Labels: library/gradle

#6465 Releasing Neo4j 3.4.15
  library/neo4j
Labels: library/neo4j

#6467 updating vault to 1.2.2
  library/vault
Labels: library/vault

#6469 [nats] Release 2.0.4
  library/nats
Labels: library/nats

#6470 [percona] Update ps-80 version
  library/percona
Labels: library/percona

#6381 Add Solr 8.2; add tini and OOM handling
  library/solr
Labels: library/solr

#6472 Update wordpress
  library/wordpress
Labels: library/wordpress

#6473 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#6474 Update pypy
  library/pypy
Labels: library/pypy

#6475 Update bash
  library/bash
Labels: library/bash

#6476 Update openjdk
  library/openjdk
Labels: library/openjdk

#6477 Update golang
  library/golang
Labels: library/golang

#6479 [security] Update node.js to 8.16.1, 10.16.3, and 12.8.1
  library/node
Labels: library/node

#6478 [nats-streaming] Release v0.16.0
  library/nats-streaming
Labels: library/nats-streaming

#6482 update notary to 0.6.1-2
  library/notary
Labels: library/notary

#6486 kong 1.3.0rc2
  library/kong
Labels: library/kong

#6487 Update photon image
  library/photon
Labels: library/photon

#6481 Upgrade rust to 1.37.0
  library/rust
Labels: library/rust

#6483 Odoo: update 10.0-12.0 to release 20190816
  library/odoo
Labels: library/odoo

#6484 Update websphere-liberty to 19.0.0.8
  library/websphere-liberty
Labels: library/websphere-liberty

#6488 Aerospike 4.6.0.2
  library/aerospike
Labels: library/aerospike

#6495 kong 1.0.4
  library/kong
Labels: library/kong

#6493 Fix jruby issues
  library/jruby
Labels: library/jruby

#6494 Update Clear Linux OS to 30800
  library/clearlinux
Labels: library/clearlinux

#6496 Update haproxy
  library/haproxy
Labels: library/haproxy

#6497 Update ghost
  library/ghost
Labels: library/ghost

#6498 Update docker
  library/docker
Labels: library/docker

#6499 Update tomcat
  library/tomcat
Labels: library/tomcat

#6500 Update bash
  library/bash
Labels: library/bash

#6501 alpine: bump 3.10.2 and add a `3` tag
  library/alpine
Labels: library/alpine

#6504 Release OrientDB v 3.0.23
  library/orientdb
Labels: library/orientdb

#6505 update to august centos container image
  library/centos
Labels: library/centos

#6468 Bump jruby to 9.2.8.0
  library/jruby
Labels: library/jruby

#6502 [percona] update ps-56 version
  library/percona
Labels: library/percona

#6506 Update julia
  library/julia
Labels: library/julia

#6503 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#6507 Update ghost
  library/ghost
Labels: library/ghost

#6509 arangodb 3.5.0 and arangodb 3.4.7
  library/arangodb
Labels: library/arangodb

#6510 Bump IBM Java version to 1.8.0_sr5fp40 (8.0.5.40).
  library/ibmjava
Labels: library/ibmjava

#6512 Update httpd
  library/httpd
Labels: library/httpd

#6514 Update mongo
  library/mongo
Labels: library/mongo

#6511 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#6513 Update php
  library/php
Labels: library/php

#6515 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6516 Update tomcat
  library/tomcat
Labels: library/tomcat

#6518 Update golang
  library/golang
Labels: library/golang

#6517 kong 1.3.0
  library/kong
Labels: library/kong

#6520 arangodb 3.4.7 and 3.5.0 (less CVEs)
  library/arangodb
Labels: library/arangodb

#6522 Add version 7.9.2 of Bonita
  library/bonita
Labels: library/bonita

#6525 Update photon image
  library/photon
Labels: library/photon

#6526 Update ghost
  library/ghost
Labels: library/ghost

#6530 Update docker
  library/docker
Labels: library/docker

#6529 Update openjdk
  library/openjdk
Labels: library/openjdk

#6527 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6531 Update bash
  library/bash
Labels: library/bash

#6528 Update php
  library/php
Labels: library/php

#6552 [security] Update ruby
  library/ruby
Labels: library/ruby

#6553 Update ghost
  library/ghost
Labels: library/ghost

#6551 Node: Update node.js v12 from v12.9.0 to v12.9.1
  library/node
Labels: library/node

#6554 Gradle 5.6.1
  library/gradle
Labels: library/gradle

#6557 [security] Update irssi
  library/irssi
Labels: library/irssi

#6556 Update golang to 1.13rc2
  library/golang
Labels: library/golang

#6558 Update memcached
  library/memcached
Labels: library/memcached

#6559 Update redmine
  library/redmine
Labels: library/redmine

#6560 Update bash
  library/bash
Labels: library/bash

#6555 Update Flink images
  library/flink
Labels: library/flink

#6562 Release of GeoNetwork 3.8.0
  library/geonetwork
Labels: library/geonetwork
