Repository docker-library/official-images, pull requests merged in 2019-11, with the labels that each got.

#6896 Update golang 1.13.4 and 1.12.13
  library/golang
Labels: library/golang

#6899 Composer: release 1.9.1
  library/composer
Labels: library/composer

#6900 Update photon image
  library/photon
Labels: library/photon

#6890 Releasing Neo4j 3.4.16
  library/neo4j
Labels: library/neo4j

#6897 use DEB_HOST_GNU_TYPE
  library/erlang
Labels: library/erlang

#6901 Maven on openj9 8 and 11
  library/maven
Labels: library/maven

#6902 Gradle 5.6.4
  library/gradle
Labels: library/gradle

#6903 Update Clear Linux OS to 31470
  library/clearlinux
Labels: library/clearlinux

#6906 Update matomo
  library/matomo
Labels: library/matomo

#6907 Update openjdk
  library/openjdk
Labels: library/openjdk

#6908 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6909 Update bash
  library/bash
Labels: library/bash

#6910 Update python
  library/python
Labels: library/python

#6911 Update mongo
  library/mongo
Labels: library/mongo

#6912 Update ghost
  library/ghost
Labels: library/ghost

#6913 Update ALT Linux - 20191103
  library/alt
Labels: library/alt

#6904 Updating tags
  library/open-liberty
Labels: library/open-liberty

#6915 Update sl container for sl7 to current (build-date=20191105)
  library/sl
Labels: library/sl

#6914 haxe 4.0.1
  library/haxe
Labels: library/haxe

#6916 Release of GeoNetwork 3.8.2
  library/geonetwork
Labels: library/geonetwork

#6917 Update docker
  library/docker
Labels: library/docker

#6918 Update joomla
  library/joomla
Labels: library/joomla

#6920 [Haskell] Migrate Git Repo.
  library/haskell
Labels: library/haskell

#6919 archlinux: 20191105
  library/archlinux
Labels: library/archlinux

#6923 eclipse-mosquitto: Add ca-certificates
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#6924 Odoo: update 11.0-13.0 to release 20191106
  library/odoo
Labels: library/odoo

#6921 Update websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#6925 Update jruby to 9.2.9.0
  library/jruby
Labels: library/jruby

#6929 Update clojure:tools-deps to 1.10.1.483
  library/clojure
Labels: library/clojure

#6922 erlang/otp 22.1.6
  library/erlang
Labels: library/erlang

#6930 elixir v1.9.4
  library/elixir
Labels: library/elixir

#6933 Update rust to 1.39.0
  library/rust
Labels: library/rust

#6934 AdoptOpenJDK release updates
  library/adoptopenjdk
Labels: library/adoptopenjdk

#6936 Update photon image
  library/photon
Labels: library/photon

#6926 Update sl container for sl6 to current (build-date=20191106)
  library/sl
Labels: library/sl

#6939 arangodb 3.5.2
  library/arangodb
Labels: library/arangodb

#6940 Update websphere-liberty to 19.0.0.11
  library/websphere-liberty
Labels: library/websphere-liberty

#6942 updating vault to 1.2.4
  library/vault
Labels: library/vault

#6943 Update open-liberty to 19.0.0.11
  library/open-liberty
Labels: library/open-liberty

#6945 [Swift] Update to Swift 5.1.2 release
  library/swift
Labels: library/swift

#6937 Update TeamSpeak to 3.10.0
  library/teamspeak
Labels: library/teamspeak

#6947 Update mariadb
  library/mariadb
Labels: library/mariadb

#6949 Update openjdk
  library/openjdk
Labels: library/openjdk

#6950 Update drupal
  library/drupal
Labels: library/drupal

#6952 Update docker
  library/docker
Labels: library/docker

#6948 Update ghost
  library/ghost
Labels: library/ghost

#6944 add updated centos containers
  library/centos
Labels: library/centos

#6953 Upgrade Java 12 to 13 and make AdoptOpenJDK architecture changes
  library/groovy
Labels: library/groovy

#6955 Update Clear Linux OS to 31530
  library/clearlinux
Labels: library/clearlinux

#6956 Update Storm to 2.1.0
  library/storm
Labels: library/storm

#6951 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#6946 Gradle 6.0
  library/gradle
Labels: library/gradle

#6959 Update tomcat
  library/tomcat
Labels: library/tomcat

#6958 Update memcached
  library/memcached
Labels: library/memcached

#6957 erlang/otp 22.1.7
  library/erlang
Labels: library/erlang

#6938 Add Solr 8.3
  library/solr
Labels: library/solr

#6905 Update influxdb image
  library/influxdb
Labels: library/influxdb

#6961 Update CrateDB to 4.0.8
  library/crate
Labels: library/crate

#6962 Release OrientDB v 3.0.25
  library/orientdb
Labels: library/orientdb

#6960 haxe 4.0.2
  library/haxe
Labels: library/haxe

#6963 Update telegraf image
  library/telegraf
Labels: library/telegraf

#6964 Update wordpress
  library/wordpress
Labels: library/wordpress

#6965 Update mariadb
  library/mariadb
Labels: library/mariadb

#6966 Upgrade XWiki LTS version
  library/xwiki
Labels: library/xwiki

#6969 Zend Server maintenance update
  library/php-zendserver
Labels: library/php-zendserver

#6970 Update wordpress
  library/wordpress
Labels: library/wordpress

#6971 Update bash
  library/bash
Labels: library/bash

#6973 Add @danielnelson as a maintainer for the telegraf image
  library/telegraf
Labels: library/telegraf

#6974 alpine: edge snapshot 20191114
  library/alpine
Labels: library/alpine

#6975 updating vault to 1.3.0
  library/vault
Labels: library/vault

#6977 Bump Traefik to v2.0.5
  library/traefik
Labels: library/traefik

#6979 Update drupal
  library/drupal
Labels: library/drupal

#6980 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#6982 Update docker
  library/docker
Labels: library/docker

#6984 Update openjdk
  library/openjdk
Labels: library/openjdk

#6976 bump Consul to v1.6.2
  library/consul
Labels: library/consul

#6981 Update gcc
  library/gcc
Labels: library/gcc

#6983 Update php
  library/php
Labels: library/php

#6978 Update python
  library/python
Labels: library/python

#6986 Update influxdb images
  library/influxdb
Labels: library/influxdb

#6987 Update to Adminer 4.7.5
  library/adminer
Labels: library/adminer

#6988 Bump Traefik to v2.1.0-rc2
  library/traefik
Labels: library/traefik

#6990 Update docker
  library/docker
Labels: library/docker

#6991 Update haproxy
  library/haproxy
Labels: library/haproxy

#6989 Update postgres
  library/postgres
Labels: library/postgres

#6992 Update Clear Linux OS to 31640
  library/clearlinux
Labels: library/clearlinux

#6994 added teamspeak 3.10.1
  library/teamspeak
Labels: library/teamspeak

#6995 cleanup
  library/php-zendserver
Labels: library/php-zendserver

#6997 Update Rocket.Chat to 2.2.0
  library/rocket.chat
Labels: library/rocket.chat

#6999 Update julia
  library/julia
Labels: library/julia

#6996 erlang/otp 20.3.8.24
  library/erlang
Labels: library/erlang

#7000 Update bash
  library/bash
Labels: library/bash

#6993 Bump Perl to 5.30.1
  library/perl
Labels: library/perl

#7003 Node: Added multiple versions of alpine
  library/node
Labels: library/node

#7002 add libc6-compat for ARM builds
  library/consul
Labels: library/consul

#7004 [nats-server] Release v2.1.2
  library/nats
Labels: library/nats

#7005 Gradle 6.0.1
  library/gradle
Labels: library/gradle

#7006 erlang/otp 21.3.8.11
  library/erlang
Labels: library/erlang

#7007 Updated nginx to 1.17.6
  library/nginx
Labels: library/nginx

#7009 Releasing neo4j 3.4.17
  library/neo4j
Labels: library/neo4j

#7015 Update redis
  library/redis
Labels: library/redis

#7011 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#7016 Update tomcat
  library/tomcat
Labels: library/tomcat

#7017 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7019 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#7014 erlang/otp 22.1.8
  library/erlang
Labels: library/erlang

#7018 Update php
  library/php
Labels: library/php

#7020 Update openjdk
  library/openjdk
Labels: library/openjdk

#7012 Update Debian (esp. for 10.2)
  library/debian
Labels: library/debian

#7022 added teamspeak 3.10.2
  library/teamspeak
Labels: library/teamspeak

#7023 library/perl: Set an always-accessible WORKDIR
  library/perl
Labels: library/perl

#7025 Upgrade XWiki stable version to 11.10
  library/xwiki
Labels: library/xwiki

#7026 Update Clear Linux OS to 31700
  library/clearlinux
Labels: library/clearlinux

#7008 Update telegraf image
  library/telegraf
Labels: library/telegraf

#7027 Aerospike 4.7.0.5
  library/aerospike
Labels: library/aerospike

#7028 Official 7.6.5 release
  library/convertigo
Labels: library/convertigo

#7029 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#7030 Update ruby
  library/ruby
Labels: library/ruby

#7031 Update bash
  library/bash
Labels: library/bash

#7032 Update haproxy
  library/haproxy
Labels: library/haproxy

#7033 Update openjdk
  library/openjdk
Labels: library/openjdk

#7034 Update julia
  library/julia
Labels: library/julia

#7035 Update postgres
  library/postgres
Labels: library/postgres

#7038 Roll back Ubuntu 14.04 Trusty 20191107
  library/ubuntu
Labels: library/ubuntu

#7036 Matomo 3.13.0
  library/matomo
Labels: library/matomo

#7039 [ROS] Add ROS Eloquent release
  library/ros
Labels: library/ros

#7037 [maven] Maven 3.6.3
  library/maven
Labels: library/maven

#7042 Update postgres
  library/postgres
Labels: library/postgres

#7044 Update CrateDB to 4.0.9
  library/crate
Labels: library/crate

#7045 Releasing 3.5.13
  library/neo4j
Labels: library/neo4j

#7043 Allow XWiki's Servlet Context Path to be configurable
  library/xwiki
Labels: library/xwiki

#7040 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7041 Update ghost
  library/ghost
Labels: library/ghost

#7047 Bump IBM Java version to 1.8.0_sr6fp0 (8.0.6.0).
  library/ibmjava
Labels: library/ibmjava

#7049 Update php
  library/php
Labels: library/php

#7048 Update httpd
  library/httpd
Labels: library/httpd
