Repository docker-library/official-images, pull requests merged in 2020-04, with the labels that each got.

#7722 Update redis
  library/redis
Labels: library/redis

#7723 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7724 Java 14
  library/gradle
Labels: library/gradle

#7727 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#7726 Update wordpress
  library/wordpress
Labels: library/wordpress

#7725 Java 14 and Groovy 3.0.2
  library/groovy
Labels: library/groovy

#7729 [security] Update haproxy
  library/haproxy
Labels: library/haproxy

#7728 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#7730 Add version 7.10.4 of Bonita
  library/bonita
Labels: library/bonita

#7731 Update drupal
  library/drupal
Labels: library/drupal

#7743 [security] Update redmine
  library/redmine
Labels: library/redmine

#7732 fixing the tomee commit
  library/tomee
Labels: library/tomee

#7733 updated teamspeak to 3.12.1
  library/teamspeak
Labels: library/teamspeak

#7734 Update photon image
  library/photon
Labels: library/photon

#7735 Aerospike 4.8.0.8
  library/aerospike
Labels: library/aerospike

#7738 Update Clear Linux OS to 32760
  library/clearlinux
Labels: library/clearlinux

#7739 Update to spiped 1.6.1
  library/spiped
Labels: library/spiped

#7742 Update XWiki to 12.2.1
  library/xwiki
Labels: library/xwiki

#7736 Gazebo | Update v9
  library/gazebo
Labels: library/gazebo

#7737 Bump IBM Java version to 1.8.0_sr6fp7 (8.0.6.7).
  library/ibmjava
Labels: library/ibmjava

#7744 Update openjdk
  library/openjdk
Labels: library/openjdk

#7745 Update julia
  library/julia
Labels: library/julia

#7746 Update bash
  library/bash
Labels: library/bash

#7747 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7750 bump Kong to 2.0.3
  library/kong
Labels: library/kong

#7751 archlinux: add 20200407
  library/archlinux
Labels: library/archlinux

#7753 Release of GeoNetwork 3.10.1
  library/geonetwork
Labels: library/geonetwork

#7755 Updating Vault to 1.4.0
  library/vault
Labels: library/vault

#7759 Update golang
  library/golang
Labels: library/golang

#7757 Update ghost
  library/ghost
Labels: library/ghost

#7762 Release of GeoNetwork 3.10.2
  library/geonetwork
Labels: library/geonetwork

#7763 composer 1.10.4
  library/composer
Labels: library/composer

#7758 Adding myself as co-maintainer to docker-haskell
  library/haskell
Labels: library/haskell

#7761 Bump Rocket.Chat 3.0.12
  library/rocket.chat
Labels: library/rocket.chat

#7764 erlang/otp 22.3.2
  library/erlang
Labels: library/erlang

#7765 Update bash
  library/bash
Labels: library/bash

#7766 Update tomcat
  library/tomcat
Labels: library/tomcat

#7767 Aerospike 4.9.0.3
  library/aerospike
Labels: library/aerospike

#7768 Update openjdk
  library/openjdk
Labels: library/openjdk

#7769 Adding Oracle Linux 7 Update 8 for amd64 and arm64v8
  library/oraclelinux
Labels: library/oraclelinux

#7771 Update photon image
  library/photon
Labels: library/photon

#7773 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7772 Update php
  library/php
Labels: library/php

#7775 Update Clear Linux OS to 32820
  library/clearlinux
Labels: library/clearlinux

#7777 Update influxdb image
  library/influxdb
Labels: library/influxdb

#7780 Update bash
  library/bash
Labels: library/bash

#7781 Update ruby
  library/ruby
Labels: library/ruby

#7574 Add new caddy image
  library/caddy
Labels: library/caddy, new-image

#7782 Update memcached
  library/memcached
Labels: library/memcached

#7779 Updates websphere-liberty for 20.0.0.4
  library/websphere-liberty
Labels: library/websphere-liberty

#7783 Update PyPy to Debian Buster
  library/pypy
Labels: library/pypy

#7784 Updated mageia images
  library/mageia
Labels: library/mageia

#7785 Composer 1.10.5
  library/composer
Labels: library/composer

#7786 caddy: Add arm32/arm64 architectures
  library/caddy
Labels: library/caddy

#7787 Update busybox
  library/busybox
Labels: library/busybox

#7778 Update open-liberty for 20.0.0.4 release
  library/open-liberty
Labels: library/open-liberty

#7788 Update openjdk
  library/openjdk
Labels: library/openjdk

#7789 Removed mga 6 images as they are EOL now.
  library/mageia
Labels: library/mageia

#7792 Update telegraf
  library/telegraf
Labels: library/telegraf

#7793 Update Amazon Corretto (8.252.09.1 and 11.0.7.10.1).
  library/amazoncorretto
Labels: library/amazoncorretto

#7795 update chronograf image
  library/chronograf
Labels: library/chronograf

#7797 Update hello-world
  library/hello-world
Labels: library/hello-world

#7798 Update openjdk
  library/openjdk
Labels: library/openjdk

#7799 Update ghost
  library/ghost
Labels: library/ghost

#7800 Update mongo
  library/mongo
Labels: library/mongo

#7801 caddy: Update image (add mailcap)
  library/caddy
Labels: library/caddy

#7802 Update redmine
  library/redmine
Labels: library/redmine

#7803 Update hylang
  library/hylang
Labels: library/hylang

#7794 Update Debian to 20200414, esp for DSA-4652
  library/debian
Labels: library/debian

#7804 Update Debian with mips64le
  library/debian
Labels: library/debian

#7805 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#7807 Add a collection of mips64le images
  library/haproxy
  library/httpd
  library/irssi
  library/memcached
  library/php
  library/postgres
  library/python
  library/redis
  library/ruby
Labels: library/haproxy, library/httpd, library/irssi, library/memcached, library/php, library/postgres, library/python, library/redis, library/ruby

#7806 Update busybox
  library/busybox
Labels: library/busybox

#7808 Add s390x to more PHP consumers
  library/drupal
  library/joomla
  library/matomo
  library/wordpress
Labels: library/drupal, library/joomla, library/matomo, library/wordpress

#7810 Updated mainline nginx to 1.17.10
  library/nginx
Labels: library/nginx

#7811 Update SapMachine to 11.0.7 / 14.0.1
  library/sapmachine
Labels: library/sapmachine

#7809 Update several images to gosu 1.12
  library/cassandra
  library/ghost
  library/mariadb
  library/mongo
  library/mysql
  library/postgres
  library/redis
  library/redmine
Labels: library/cassandra, library/ghost, library/mariadb, library/mongo, library/mysql, library/postgres, library/redis, library/redmine

#7815 [security] Update php
  library/php
Labels: library/php

#7817 Update php
  library/php
Labels: library/php

#7813 Update postfixadmin to 3.2.4
  library/postfixadmin
Labels: library/postfixadmin

#7818 [Swift] Update Swift version to 5.2.2
  library/swift
Labels: library/swift

#7819 Update ALT Linux - 20200417
  library/alt
Labels: library/alt

#7820 Update php
  library/php
Labels: library/php

#7821 Update photon image
  library/photon
Labels: library/photon

#7822 Update php
  library/php
Labels: library/php

#7824 Update spiped
  library/spiped
Labels: library/spiped

#7835 Update hylang
  library/hylang
Labels: library/hylang

#7823 Update adminer
  library/adminer
Labels: library/adminer

#7825 Odoo: update 11.0-13.0 to release 20200417
  library/odoo
Labels: library/odoo

#7833 Update sl container for sl7 to current (build-date=20200420)
  library/sl
Labels: library/sl

#7838 Update julia
  library/julia
Labels: library/julia

#7839 Update redis
  library/redis
Labels: library/redis

#7840 Update haproxy
  library/haproxy
Labels: library/haproxy

#7841 Update mongo
  library/mongo
Labels: library/mongo

#7842 Update bash
  library/bash
Labels: library/bash

#7832 Update shasums for jdk8u252-b08, jdk-11.0.7 and jdk-14.0.1+7
  library/adoptopenjdk
Labels: library/adoptopenjdk

#7836 Update openjdk
  library/openjdk
Labels: library/openjdk

#7843 Update redmine
  library/redmine
Labels: library/redmine

#7828 Update Clear Linux OS to 32870
  library/clearlinux
Labels: library/clearlinux

#7834 Update python
  library/python
Labels: library/python

#7844 Aerospike 4.8.0.9
  library/aerospike
Labels: library/aerospike

#7827 caddy: Add Windows images
  library/caddy
Labels: library/caddy

#7845 Update ghost
  library/ghost
Labels: library/ghost

#7847 caddy: Windows 2016 TLS 1.2 fix
  library/caddy
Labels: library/caddy

#7837 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#7849 Official Convertigo 7.8.0 release
  library/convertigo
Labels: library/convertigo

#7850 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#7848 Add adoptopenjdk 14.0.1+7 hotspot release.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#7829 maven: add adoptopenjdk and openjdk
  library/maven
Labels: library/maven

#7851 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7855 Fix PyPy build on s390x and arm64v8
  library/pypy
Labels: library/pypy

#7856 erlang/otp 23.0-rc3
  library/erlang
Labels: library/erlang

#7859 Update yourls
  library/yourls
Labels: library/yourls

#7861 Aerospike 4.9.0.5
  library/aerospike
Labels: library/aerospike

#7857 arangodb 3.6.3
  library/arangodb
Labels: library/arangodb

#7860 Update mysql
  library/mysql
Labels: library/mysql

#7862 Update mariadb
  library/mariadb
Labels: library/mariadb

#7858 [security] Update Debian to 20200422 (esp for CVE-2020-1967)
  library/debian
Labels: library/debian

#7867 alpine: bump 3.11.6, 3.10.5 and 3.9.6 (CVE-2020-1967)
  library/alpine
Labels: library/alpine

#7865 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#7863 fix(node): mark v14 as current
  library/node
Labels: library/node

#7868 Updated stable nginx to 1.18.0
  library/nginx
Labels: library/nginx

#7869 Update Rust to 1.43.0
  library/rust
Labels: library/rust

#7872 Update bash
  library/bash
Labels: library/bash

#7871 Update python
  library/python
Labels: library/python

#7874 Bump Couchbase Server EE to 6.5.1
  library/couchbase
Labels: library/couchbase

#7876 Adopt Windows Update for Notarized Binaries
  library/adoptopenjdk
Labels: library/adoptopenjdk

#7877 Update to Flink 1.9.3
  library/flink
Labels: library/flink

#7878 Update photon image
  library/photon
Labels: library/photon

#7883 Update bash
  library/bash
Labels: library/bash

#7882 Update tomcat
  library/tomcat
Labels: library/tomcat

#7881 Update openjdk
  library/openjdk
Labels: library/openjdk

#7853 Switch to nginx
  library/php-zendserver
Labels: library/php-zendserver

#7885 elixir v1.10.3
  library/elixir
Labels: library/elixir

#7886 Update Clear Linux OS to 32910
  library/clearlinux
Labels: library/clearlinux

#7887 erlang/otp 21.3.8.15
  library/erlang
Labels: library/erlang

#7889 Update mysql
  library/mysql
Labels: library/mysql

#7890 Update ghost
  library/ghost
Labels: library/ghost

#7891 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7893 Bump Couchbase Server CE to 6.5.1
  library/couchbase
Labels: library/couchbase

#7896 Update matomo
  library/matomo
Labels: library/matomo

#7897 Update postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#7899 alpine: edge snapshot 20200428
  library/alpine
Labels: library/alpine

#7894 Update rakudo-star to version 2020.01
  library/rakudo-star
Labels: library/rakudo-star

#7901 Update to Telegraf 1.14.2
  library/telegraf
Labels: library/telegraf

#7903 Update python
  library/python
Labels: library/python

#7904 Update mongo
  library/mongo
Labels: library/mongo

#7895 Update CrateDB to 4.1.5
  library/crate
Labels: library/crate

#7905 Bump Traefik to v2.2.1
  library/traefik
Labels: library/traefik

#7906 Update Amazon Corretto (Remove src.zip)
  library/amazoncorretto
Labels: library/amazoncorretto
