Repository docker-library/official-images, pull requests merged in 2020-10, with the labels that each got.

#8810 Update nextcloud
  library/nextcloud
Labels: library/nextcloud

#8811 Release OrientDB v 3.1.3
  library/orientdb
Labels: library/orientdb

#8813 Release Neo4j 4.1.3
  library/neo4j
Labels: library/neo4j

#8816 Update openjdk
  library/openjdk
Labels: library/openjdk

#8817 Update ghost
  library/ghost
Labels: library/ghost

#8818 Update php
  library/php
Labels: library/php

#8819 Update haproxy
  library/haproxy
Labels: library/haproxy

#8812 update latest images
  library/fedora
Labels: library/fedora

#8822 Add versions 7.11.2 & 7.10.6 of Bonita
  library/bonita
Labels: library/bonita

#8821 Release of GeoNetwork v3.10.4
  library/geonetwork
Labels: library/geonetwork

#8823 Odoo: Add odoo 14.0
  library/odoo
Labels: library/odoo

#8828 Update photon image
  library/photon
Labels: library/photon

#8830 Update python
  library/python
Labels: library/python

#8825 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8826 Update ruby
  library/ruby
Labels: library/ruby

#8827 Update ghost
  library/ghost
Labels: library/ghost

#8831 Update mongo
  library/mongo
Labels: library/mongo

#8832 Update hylang
  library/hylang
Labels: library/hylang

#8829 [mediawiki] move lts to 1.35
  library/mediawiki
Labels: library/mediawiki

#8834 erlang/otp 23.1.1, 22.3.4.11, 21.3.8.18, rebar3 3.14.1
  library/erlang
Labels: library/erlang

#8835 Update nextcloud
  library/nextcloud
Labels: library/nextcloud

#8838 Updated nginx versions
  library/nginx
Labels: library/nginx

#8839 Update Matomo
  library/matomo
Labels: library/matomo

#8841 Update sl container for sl7 to current (build-date=20201006)
  library/sl
Labels: library/sl

#8842 Update joomla
  library/joomla
Labels: library/joomla

#8843 Update Python 3.9 images to GA release
  library/python
Labels: library/python

#8844 Fix permissions for license files in alpine image
  library/amazoncorretto
Labels: library/amazoncorretto

#8845 Update Clear Linux OS to 33810
  library/clearlinux
Labels: library/clearlinux

#8847 Update bash
  library/bash
Labels: library/bash

#8849 Update ghost
  library/ghost
Labels: library/ghost

#8848 Update openjdk
  library/openjdk
Labels: library/openjdk

#8850 Update python
  library/python
Labels: library/python

#8851 update jetty versions to 9.4.32 and 10 & 11 beta2
  library/jetty
Labels: library/jetty

#8837 Upgrade to 8.5
  library/sonarqube
Labels: library/sonarqube

#8853 arangodb 3.6.7.1
  library/arangodb
Labels: library/arangodb

#8855 Updates for the release of open-liberty 20.0.0.10
  library/open-liberty
Labels: library/open-liberty

#8856 Update mariadb
  library/mariadb
Labels: library/mariadb

#8857 Update drupal
  library/drupal
Labels: library/drupal

#8858 Release Oracle Linux 7 Update 9
  library/oraclelinux
Labels: library/oraclelinux

#8859 updated tomee to latest versions
  library/tomee
Labels: library/tomee

#8860 Fedora Update 2020-10-08
  library/fedora
Labels: library/fedora

#8861 Update Rust to 1.47.0
  library/rust
Labels: library/rust

#8862 Update clojure tools-deps variants to 1.10.1.697
  library/clojure
Labels: library/clojure

#8863 Update nextcloud
  library/nextcloud
Labels: library/nextcloud

#8864 Remove older oraclelinux tags.
  library/oraclelinux
Labels: library/oraclelinux

#8870 Update Solr to 8.6.3
  library/solr
Labels: library/solr

#8871 Update rocket.chat to 3.7.1
  library/rocket.chat
Labels: library/rocket.chat

#8872 Update clojure tools-deps variants to 1.10.1.708
  library/clojure
Labels: library/clojure

#8874 Update wordpress
  library/wordpress
Labels: library/wordpress

#8875 Update openjdk
  library/openjdk
Labels: library/openjdk

#8877 Update photon image
  library/photon
Labels: library/photon

#8876 Aerospike 5.2.0.2
  library/aerospike
Labels: library/aerospike

#8879 upgrade r-base to R 4.0.3 released yesterday
  library/r-base
Labels: library/r-base

#8885 Update haproxy
  library/haproxy
Labels: library/haproxy

#8886 consul: 1.9.0-beta1
  library/consul
Labels: library/consul

#8883 Odoo: update 12.0-14.0 to release 20201012
  library/odoo
Labels: library/odoo

#8873 Update ghost
  library/ghost
Labels: library/ghost

#8878 [percona] update psmdb
  library/percona
Labels: library/percona

#8888 Add Amazon Corretto 15 images
  library/amazoncorretto
Labels: library/amazoncorretto

#8889 Updating oraclelinux:7 and oraclelinux:7-slim for ELSA-2020-4076
  library/oraclelinux
Labels: library/oraclelinux

#8887 Update Debian to 20201012 (esp. for 10.6)
  library/debian
Labels: library/debian

#8882 Update CrateDB to 4.2.6
  library/crate
Labels: library/crate

#8890 Update tomcat
  library/tomcat
Labels: library/tomcat

#8891 Update busybox
  library/busybox
Labels: library/busybox

#8881 Update Git
  library/gradle
Labels: library/gradle

#8892 Add OpenJ9 images
  library/gradle
Labels: library/gradle

#8893 caddy: v2.2.1 release
  library/caddy
Labels: library/caddy

#8894 Update golang
  library/golang
Labels: library/golang

#8895 Gradle 6.7
  library/gradle
Labels: library/gradle

#8900 Publish docker image for XWiki 12.6.3
  library/xwiki
Labels: library/xwiki

#8904 Update clojure tools-deps variants to 1.10.1.716
  library/clojure
Labels: library/clojure

#8905 Update openjdk
  library/openjdk
Labels: library/openjdk

#8901 PHP 8.0.0rc2.
  library/php
Labels: library/php

#8781 Add AdoptOpenJDK 15_36 support.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#8906 arangodb 3.6.8
  library/arangodb
Labels: library/arangodb

#8899 Composer 1.10.15, 2.0.0-RC2
  library/composer
Labels: library/composer

#8918 AdoptOpenJDK: Roll back dockerfiles to Ubuntu 18.04 to match bionic tags.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#8907 Update Clear Linux OS to 33840
  library/clearlinux
Labels: library/clearlinux

#8908 Update bash
  library/bash
Labels: library/bash

#8910 Update haproxy
  library/haproxy
Labels: library/haproxy

#8911 Update pypy
  library/pypy
Labels: library/pypy

#8912 Update python
  library/python
Labels: library/python

#8913 Update mysql
  library/mysql
Labels: library/mysql

#8914 Aerospike 5.2.0.4
  library/aerospike
Labels: library/aerospike

#8915 Bump Traefik to v2.3.2
  library/traefik
Labels: library/traefik

#8909 Update docker
  library/docker
Labels: library/docker

#8919 erlang/otp 22.3.4.12
  library/erlang
Labels: library/erlang

#8921 Update openjdk
  library/openjdk
Labels: library/openjdk

#8922 Update ghost
  library/ghost
Labels: library/ghost

#8923 arangodb 3.7.3
  library/arangodb
Labels: library/arangodb

#8673 Remove Sentry image
  library/sentry
Labels: library/sentry

#8920 Update sl container for sl7 to current (build-date=20201020)
  library/sl
Labels: library/sl

#8916 Replace Java 14 with Java 15
  library/gradle
Labels: library/gradle

#8917 Replace Java 14 with Java 15
  library/groovy
Labels: library/groovy

#8925 Update CrateDB to 4.2.7
  library/crate
Labels: library/crate

#8926 Update Amazon Corretto-11 to 11.0.9
  library/amazoncorretto
Labels: library/amazoncorretto

#8928 Release OrientDB v 3.1.4
  library/orientdb
Labels: library/orientdb

#8930 Updating WebSphere Liberty to 20.0.0.10
  library/websphere-liberty
Labels: library/websphere-liberty

#8931 Updating Oracle Linux images for tzdata-2020b
  library/oraclelinux
Labels: library/oraclelinux

#8927 alpine: bump 3.12.1
  library/alpine
Labels: library/alpine

#8933 node: update to v15.0.0
  library/node
Labels: library/node

#8934 Update CrateDB to 4.3.0.
  library/crate
Labels: library/crate

#8935 Fix matomo tags
  library/matomo
Labels: library/matomo

#8932 Telegraf v1.15.4, v1.16.0
  library/telegraf
Labels: library/telegraf

#8936 Update mysql
  library/mysql
Labels: library/mysql

#8938 Update mariadb
  library/mariadb
Labels: library/mariadb

#8939 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#8937 Update openjdk
  library/openjdk
Labels: library/openjdk

#8941 [Haskell] Update bundled Stack version.
  library/haskell
Labels: library/haskell

#8942 Updating oraclelinux:6 and oraclelinux:6-slim for tzdata-2020b
  library/oraclelinux
Labels: library/oraclelinux

#8940 Update Ubuntu: Release Ubuntu 20.10 (Groovy Gorilla)
  library/ubuntu
Labels: library/ubuntu

#8944 Update docker
  library/docker
Labels: library/docker

#8946 Update SonarQube to 8.5.1
  library/sonarqube
Labels: library/sonarqube

#8947 Update clojure tools-deps variants to 1.10.1.727
  library/clojure
Labels: library/clojure

#8948 consul: add 1.8.5
  library/consul
Labels: library/consul

#8949 Composer 1.10.16 & 2.0.2
  library/composer
Labels: library/composer

#8950 Update nextcloud
  library/nextcloud
Labels: library/nextcloud

#8951 Update SapMachine images
  library/sapmachine
Labels: library/sapmachine

#8952 Update Clear Linux OS to 33890
  library/clearlinux
Labels: library/clearlinux

#8954 Fix for sonarqube:7.9.4
  library/sonarqube
Labels: library/sonarqube

#8955 Odoo: update 12.0-14.0 to release 20201026
  library/odoo
Labels: library/odoo

#8958 [percona] Update psmdb-36 version
  library/percona
Labels: library/percona

#8959 XWiki 12.9 has been released
  library/xwiki
Labels: library/xwiki

#8960 Fedora Update 2020-10-26
  library/fedora
Labels: library/fedora

#8962 Update haproxy
  library/haproxy
Labels: library/haproxy

#8963 Update bash
  library/bash
Labels: library/bash

#8964 Update redis
  library/redis
Labels: library/redis

#8965 Update openjdk
  library/openjdk
Labels: library/openjdk

#8961 Update php
  library/php
Labels: library/php

#8966 Update ghost
  library/ghost
Labels: library/ghost

#8971 [security] Update memcached
  library/memcached
Labels: library/memcached

#8970 [security] Update redis
  library/redis
Labels: library/redis

#8967 Update vault latest to 1.5.5
  library/vault
Labels: library/vault

#8968 Update sl container for sl7 to current (build-date=20201027)
  library/sl
Labels: library/sl

#8974 Update Amazon Corretto 8 and 15
  library/amazoncorretto
Labels: library/amazoncorretto

#8975 update jetty versions to 9.4.33 and 10 & 11 beta3
  library/jetty
Labels: library/jetty

#8953 AdoptOpenJDK: Oct 2020 release of 8u272-b10, 11.0.9+11 and 15.0.1+9.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#8978 Update XWiki 12.6.x version to 12.6.4
  library/xwiki
Labels: library/xwiki

#8980 Composer 2.0.3
  library/composer
Labels: library/composer

#8981 maven: add amazoncorretto-15
  library/maven
Labels: library/maven

#8983 Update openjdk
  library/openjdk
Labels: library/openjdk

#8984 Telegraf v1.16.1
  library/telegraf
Labels: library/telegraf

#8985 etchosts + oident patchlevel
  library/eggdrop
Labels: library/eggdrop

#8972 bump kong to 2.2.0
  library/kong
Labels: library/kong

#8986 Update chronograf images
  library/chronograf
Labels: library/chronograf

#8987 [security] Update php
  library/php
Labels: library/php

#8979 elixir 1.11.1, and change to the new repo url
  library/elixir
Labels: library/elixir

#8989 Update python
  library/python
Labels: library/python

#8988 Update memcached
  library/memcached
Labels: library/memcached

#8990 Updating oraclelinux images for tzdata-2020d
  library/oraclelinux
Labels: library/oraclelinux
