Repository docker-library/official-images, pull requests merged in 2020-07, with the labels that each got.

#8254 [ros] add rolling distribution images
  library/ros
Labels: library/ros

#8287 Gradle 6.5.1
  library/gradle
Labels: library/gradle

#8123 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#8288 Update ghost
  library/ghost
Labels: library/ghost

#8242 [percona] Update psmdb-40 version
  library/percona
Labels: library/percona

#8289 fix(logging): fix default logging configuration
  library/bonita
Labels: library/bonita

#8292 Update Vault docker images to 1.3.7/1.4.3.
  library/vault
Labels: library/vault

#8293 Update XWiki to 12.5.1
  library/xwiki
Labels: library/xwiki

#8291 Update Sonarqube to 8.4.0
  library/sonarqube
Labels: library/sonarqube

#8294 Update photon image
  library/photon
Labels: library/photon

#8295 Update Clear Linux OS to 33460
  library/clearlinux
Labels: library/clearlinux

#8296 Update Storm to 2.2.0
  library/storm
Labels: library/storm

#8298 newcaps development snapshot
  library/eggdrop
Labels: library/eggdrop

#8300 Update sl container for sl6 to current (build-date=20200706)
  library/sl
Labels: library/sl

#8301 Update sl container for sl7 to current (build-date=20200706)
  library/sl
Labels: library/sl

#8303 haxe 4.1.2
  library/haxe
Labels: library/haxe

#8304 Update openjdk
  library/openjdk
Labels: library/openjdk

#8305 Update mongo
  library/mongo
Labels: library/mongo

#8306 Update httpd
  library/httpd
Labels: library/httpd

#8307 Update python
  library/python
Labels: library/python

#8308 Update haproxy
  library/haproxy
Labels: library/haproxy

#8309 Update tomcat
  library/tomcat
Labels: library/tomcat

#8310 Update bash
  library/bash
Labels: library/bash

#8297 archlinux: add 20200705
  library/archlinux
Labels: library/archlinux

#8302 Update Ubuntu 20200706
  library/ubuntu
Labels: library/ubuntu

#8311 Update clojure tools-deps images to 1.10.1.547
  library/clojure
Labels: library/clojure

#8313 Updates for 20.0.0.7 release of websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#8314 Updates for the 20.0.0.7 release of open-liberty
  library/open-liberty
Labels: library/open-liberty

#8312 Update to Flink 1.11.0
  library/flink
Labels: library/flink

#8317 Update to latest clojure commit
  library/clojure
Labels: library/clojure

#8318 Update HAProxy to 2.2.0
  library/haproxy
Labels: library/haproxy

#8319 Release OrientDB v 3.1.1
  library/orientdb
Labels: library/orientdb

#8320 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#8321 elixir v1.10.4
  library/elixir
Labels: library/elixir

#8299 Update the maintainers list and small update to 2019.0 Dockerfile
  library/php-zendserver
Labels: library/php-zendserver

#8322 Bump Traefik to v2.2.2
  library/traefik
Labels: library/traefik

#8323 Update ghost
  library/ghost
Labels: library/ghost

#8324 Update tomcat
  library/tomcat
Labels: library/tomcat

#8325 Update bash
  library/bash
Labels: library/bash

#8326 Update haproxy
  library/haproxy
Labels: library/haproxy

#8328 Update CrateDB to 4.1.8
  library/crate
Labels: library/crate

#8330 Update php
  library/php
Labels: library/php

#8332 Update drupal
  library/drupal
Labels: library/drupal

#8331 Update openjdk
  library/openjdk
Labels: library/openjdk

#8164 fedora container update
  library/fedora
Labels: library/fedora

#8316 kong: bump 2.0 series to 2.0.5
  library/kong
Labels: library/kong

#8334 Update mainline nginx to 1.19.1 and bumped njs for mainline/stable im…
  library/nginx
Labels: library/nginx

#8327 Update ghost
  library/ghost
Labels: library/ghost

#8335 erlang/otp 22.3.4.3
  library/erlang
Labels: library/erlang

#8336 Bump Traefik to v2.2.4
  library/traefik
  test/config.sh
Labels: library/traefik

#8338 Update photon image
  library/photon
Labels: library/photon

#8337 bump kong to 2.1.0-rc.1
  library/kong
Labels: library/kong

#8339 caddy: update builder image
  library/caddy
Labels: library/caddy

#8340 Update Clear Linux OS to 33490
  library/clearlinux
Labels: library/clearlinux

#8341 Friendica Release "Red Hot Poker" 2020.07
  library/friendica
Labels: library/friendica

#8343 Bump Traefik to v2.2.5
  library/traefik
Labels: library/traefik

#8344 Release Neo4j 3.5.20
  library/neo4j
Labels: library/neo4j

#8345 Update bash
  library/bash
Labels: library/bash

#8346 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8348 Update mongo
  library/mongo
Labels: library/mongo

#8349 Update mysql
  library/mysql
Labels: library/mysql

#8350 Update ghost
  library/ghost
Labels: library/ghost

#8351 Update python
  library/python
Labels: library/python

#8347 Update haproxy
  library/haproxy
Labels: library/haproxy

#8354 [security] Update golang
  library/golang
Labels: library/golang

#8353 kong: adjust the 2.0.5 and 2.1.0-rc.1 entrypoints to allow empty values as a default
  library/kong
Labels: library/kong

#8352 Releasing Neo4j 4.1.1
  library/neo4j
Labels: library/neo4j

#8355 Update influxdb images
  library/chronograf
  library/influxdb
Labels: library/chronograf, library/influxdb

#8357 Update redmine
  library/redmine
Labels: library/redmine

#8358 Update openjdk
  library/openjdk
Labels: library/openjdk

#8342 add ppc64le to Architectures, support sudo in container
  library/r-base
Labels: library/r-base

#8363 Update Vault to 1.5.0-rc
  library/vault
Labels: library/vault

#8356 Update JRuby release to 9.2.12.0
  library/jruby
Labels: library/jruby

#8364 Bump Traefik to v2.3.0-rc2 and v1.7.25
  library/traefik
Labels: library/traefik

#8367 Updating Oracle Linux 7 images for CVE-2020-12049
  library/oraclelinux
Labels: library/oraclelinux

#8368 chmod groovy home so other users can use volume
  library/groovy
Labels: library/groovy

#8370 Update SapMachine (11.0.8, 14.0.2)
  library/sapmachine
Labels: library/sapmachine

#8371 composer 1.10.9
  library/composer
Labels: library/composer

#8372 Update rocket.chat to 3.4.2
  library/rocket.chat
Labels: library/rocket.chat

#8374 Update rust to 1.45.0
  library/rust
Labels: library/rust

#8375 Update hylang
  library/hylang
Labels: library/hylang

#8365 Update openjdk
  library/openjdk
Labels: library/openjdk

#8377 Update oraclelinux:7-slim images
  library/oraclelinux
Labels: library/oraclelinux

#8378 Update golang
  library/golang
Labels: library/golang

#8380 Aerospike 5.0.0.10
  library/aerospike
Labels: library/aerospike

#8381 Bump Traefik to v2.2.6
  library/traefik
Labels: library/traefik

#8379 adoptopenjdk: update to 8u262, 11.0.8 and 14.0.2
  library/adoptopenjdk
Labels: library/adoptopenjdk

#8384 Update photon image
  library/photon
Labels: library/photon

#8369 Update CrateDB to 4.2.1.
  library/crate
Labels: library/crate

#8385 Update Clear Linux OS to 33510
  library/clearlinux
Labels: library/clearlinux

#8386 Bump Traefik to v2.2.7
  library/traefik
Labels: library/traefik

#8387 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8388 Update mysql
  library/mysql
Labels: library/mysql

#8389 Update bash
  library/bash
Labels: library/bash

#8391 Update haproxy
  library/haproxy
Labels: library/haproxy

#8392 Matomo 3.14.0
  library/matomo
Labels: library/matomo

#8383 arangodb 3.6.5
  library/arangodb
Labels: library/arangodb

#8393 Updating oraclelinux:8 and oraclelinux:8-slim images
  library/oraclelinux
Labels: library/oraclelinux

#8397 [security] Update python
  library/python
Labels: library/python

#8390 Update openjdk
  library/openjdk
Labels: library/openjdk

#8376 kong: bump to 2.1.0
  library/kong
Labels: library/kong

#8394 erlang/otp 23.0.3
  library/erlang
Labels: library/erlang

#8395 Releasing Neo4j 4.0.7
  library/neo4j
Labels: library/neo4j

#8396 [percona] update percona-server 8.0 version
  library/percona
Labels: library/percona

#8398 Update to Flink 1.11.1
  library/flink
Labels: library/flink

#8400 Update redis
  library/redis
Labels: library/redis

#8402 Add additional Telegraf maintainers
  library/telegraf
Labels: library/telegraf

#8401 Update ghost
  library/ghost
Labels: library/ghost

#8404 Update photon image
  library/photon
Labels: library/photon

#8399 Update Vault to 1.5.0
  library/vault
Labels: library/vault

#8405 Update Debian, especially for 9.13 (the final Stretch release)
  library/debian
Labels: library/debian

#8410 [mono] Ship 6.10; Debian 9->10
  library/mono
Labels: library/mono

#8412 As announced [1], Ubuntu Eoan is EOL.
  library/ubuntu
Labels: library/ubuntu

#8406 Gazebo | Update v9 release
  library/gazebo
Labels: library/gazebo

#8413 Telegraf 1.15.1
  library/telegraf
Labels: library/telegraf

#8417 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#8414 Update ghost
  library/ghost
Labels: library/ghost

#8415 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8416 Update mongo
  library/mongo
Labels: library/mongo

#8418 Groovy 3.0.5
  library/groovy
Labels: library/groovy

#8419 haxe: 4.1.3, remove jessie, no new versions with stretch
  library/haxe
Labels: library/haxe

#8420 Friendica Debian Buster Upgrade
  library/friendica
Labels: library/friendica

#8422 Update haproxy
  library/haproxy
Labels: library/haproxy

#8423 Update php
  library/php
Labels: library/php

#8421 Update gcc
  library/gcc
Labels: library/gcc

#8425 Update rocket.chat to use debian:buster-slim
  library/rocket.chat
Labels: library/rocket.chat

#8426 Updating Oracle Linux 8 images for updated systemd and libdnf packages.
  library/oraclelinux
Labels: library/oraclelinux

#8427 [ros] bump dashing and foxy package version
  library/ros
Labels: library/ros

#8429 Update Ubuntu 20200724
  library/ubuntu
Labels: library/ubuntu

#8428 Friendica: Bugfixing SMTP Configuration
  library/friendica
Labels: library/friendica

#8430 Update openjdk
  library/openjdk
Labels: library/openjdk

#8431 Update golang
  library/golang
Labels: library/golang

#8432 Update Clear Linux OS to 33540
  library/clearlinux
Labels: library/clearlinux

#8434 percona: Update PS-5.6 version
  library/percona
Labels: library/percona

#8435 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#8436 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8437 Update Cassandra to 3.11.7
  library/cassandra
Labels: library/cassandra

#8438 Update busybox
  library/busybox
Labels: library/busybox

#8441 maven: reduce corretto image size
  library/maven
Labels: library/maven

#8443 Upgrade SonarQube 7.9 LTS
  library/sonarqube
Labels: library/sonarqube

#8450 Update clojure tools-deps variants to 1.10.1.590
  library/clojure
Labels: library/clojure

#8444 Bump rocket.chat to 3.5.0
  library/rocket.chat
Labels: library/rocket.chat

#8445 Bump Traefik to v1.7.26 and v2.2.8
  library/traefik
Labels: library/traefik

#8447 Update openjdk
  library/openjdk
Labels: library/openjdk

#8449 Update julia
  library/julia
Labels: library/julia

#8448 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8446 Update ghost
  library/ghost
Labels: library/ghost

#8454 [nats] Fix arch for arm64 and add sha verification
  library/nats
Labels: library/nats

#8455 [nats-streaming] Fix arch for arm64
  library/nats-streaming
Labels: library/nats-streaming

#8408 erlang/otp 22.3.4.4, 21.3.8.17
  library/erlang
Labels: library/erlang
