Repository docker-library/official-images, pull requests merged in 2020-11, with the labels that each got.

#8991 Release Neo4j 3.5.23
  library/neo4j
Labels: library/neo4j

#8992 Updates for the 20.0.0.11 release of websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#8994 Update photon image
  library/photon
Labels: library/photon

#8995 Update Clear Linux OS to 33910
  library/clearlinux
Labels: library/clearlinux

#8996 Composer 1.10.17, 2.0.4
  library/composer
Labels: library/composer

#8997 Update CrateDB to 4.3.1
  library/crate
Labels: library/crate

#9000 Update openjdk
  library/openjdk
Labels: library/openjdk

#9001 Update bash
  library/bash
Labels: library/bash

#9002 Update wordpress
  library/wordpress
Labels: library/wordpress

#9003 Update haproxy
  library/haproxy
Labels: library/haproxy

#9006 [nats] Release v2.1.9
  library/nats
Labels: library/nats

#9007 Update cassandra
  library/cassandra
Labels: library/cassandra

#9008 [nats-streaming] Release v0.19.0
  library/nats-streaming
Labels: library/nats-streaming

#8969 Release of GeoNetwork 4.0.0
  library/geonetwork
Labels: library/geonetwork

#8982 Update tomcat
  library/tomcat
Labels: library/tomcat

#9012 Update ghost
  library/ghost
Labels: library/ghost

#9004 Update python
  library/python
Labels: library/python

#9005 Update pypy
  library/pypy
Labels: library/pypy

#9011 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#9014 Update python
  library/python
Labels: library/python

#9013 Update ghost
  library/ghost
Labels: library/ghost

#9015 Released XWiki 11.10.11
  library/xwiki
Labels: library/xwiki

#9016 elixir 1.11.2
  library/elixir
Labels: library/elixir

#9017 Update cassandra
  library/cassandra
Labels: library/cassandra

#9010 maven: add openjdk 15 & 16 slim
  library/maven
Labels: library/maven

#9018 Update mariadb
  library/mariadb
Labels: library/mariadb

#9009 archlinux: Release 20201102.0.8296
  library/archlinux
Labels: library/archlinux

#9020 Update chronograf images to 1.8.8
  library/chronograf
Labels: library/chronograf

#9022 Updated nginx
  library/nginx
Labels: library/nginx

#9023 Update sl container for sl7 to current (build-date=20201105)
  library/sl
Labels: library/sl

#9025 Update sl container for sl6 to current (build-date=20201105)
  library/sl
Labels: library/sl

#9019 Update php
  library/php
Labels: library/php

#9026 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9027 Update haproxy
  library/haproxy
Labels: library/haproxy

#9028 Update tomcat
  library/tomcat
Labels: library/tomcat

#9029 Update openjdk
  library/openjdk
Labels: library/openjdk

#9024 Add Vault 1.6 release candidate
  library/vault
Labels: library/vault

#9030 Update drupal
  library/drupal
Labels: library/drupal

#9031 Update golang
  library/golang
Labels: library/golang

#9032 Update docker
  library/docker
Labels: library/docker

#9033 erlang/otp 23.1.2
  library/erlang
Labels: library/erlang

#9035 Update SapMachine 11.0.9->11.0.9.1
  library/sapmachine
Labels: library/sapmachine, library/sapmachine.bak, new-image

#9036 chore(repo move): adapt build to repo move + 7.11.3 release (#3)
  library/bonita
Labels: library/bonita

#9037 Update Rakudo Star
  library/rakudo-star
Labels: library/rakudo-star

#9038 phpMyAdmin 5.0.4
  library/phpmyadmin
Labels: library/phpmyadmin

#9039 Update Corretto-11 and Corretto-8
  library/amazoncorretto
Labels: library/amazoncorretto

#9040 Update ghost
  library/ghost
Labels: library/ghost

#9042 Composer 2.0.6
  library/composer
Labels: library/composer

#9043 archlinux: Release 20201108.0.8567
  library/archlinux
Labels: library/archlinux

#9044 Update Clear Linux OS to 33930
  library/clearlinux
Labels: library/clearlinux

#9045 Update Solr to 8.7.0
  library/solr
Labels: library/solr

#9047 Release of GeoNetwork 3.10.5 and 4.0.1
  library/geonetwork
Labels: library/geonetwork

#9048 Update ALT Linux - 20201109
  library/alt
Labels: library/alt

#9049 Update bash
  library/bash
Labels: library/bash

#9050 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9052 Update ghost
  library/ghost
Labels: library/ghost

#8993 Updates for the 20.0.0.11 release of open-liberty
  library/open-liberty
  test/config.sh
Labels: library/open-liberty

#9053 consul: add v1.9.0-beta2 and v1.7.9
  library/consul
Labels: library/consul

#9051 Update openjdk
  library/openjdk
Labels: library/openjdk

#9054 Release Neo4j 4.1.4
  library/neo4j
Labels: library/neo4j

#9055 Switch from PPA Git to Focal Git and temporarily comment out OpenJ9 Java 15 images
  library/gradle
Labels: library/gradle

#9057 consul: 1.9.0-beta3
  library/consul
Labels: library/consul

#9058 arangodb 3.6.9
  library/arangodb
Labels: library/arangodb

#9059 Update julia
  library/julia
Labels: library/julia

#9056 [varnish] update lts image to 6.0.7
  library/varnish
Labels: library/varnish

#9067 Update mariadb
  library/mariadb
Labels: library/mariadb

#9034 Aerospike 5.2.0.7
  library/aerospike
Labels: library/aerospike

#9061 update latest image for all active releases
  library/fedora
Labels: library/fedora

#9062 SonarQube 7.9.5
  library/sonarqube
Labels: library/sonarqube

#9063 Add back hotspot v8 arm32 builds, remove hotspot v8 s390x temporarily.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#9064 Update Vault to 1.6.0
  library/vault
Labels: library/vault

#9065 [Haskell] Set LANG=C.UTF-8 by default.
  library/haskell
Labels: library/haskell

#9066 Update openjdk
  library/openjdk
Labels: library/openjdk

#9069 Update mongo
  library/mongo
Labels: library/mongo

#9070 Odoo: update 12.0-14.0 to release 20201112
  library/odoo
Labels: library/odoo

#9073 Update php
  library/php
Labels: library/php

#9074 Update cassandra
  library/cassandra
Labels: library/cassandra

#9075 Update tomcat
  library/tomcat
Labels: library/tomcat

#9076 [security] Update golang
  library/golang
Labels: library/golang

#9077 Update postgres
  library/postgres
Labels: library/postgres

#9078 Update openjdk
  library/openjdk
Labels: library/openjdk

#9079 Improve Rakudo Star
  library/rakudo-star
Labels: library/rakudo-star

#9080 Telegraf v1.16.2
  library/telegraf
Labels: library/telegraf

#9081 Update photon image
  library/photon
Labels: library/photon

#9082 Update CentOS Images for the 7.9.2009 release
  library/centos
Labels: library/centos

#9083 Update haproxy
  library/haproxy
Labels: library/haproxy

#9098 node: November 2020 Security Releases for Debian base images
  library/node
Labels: library/node

#8896 [percona] Update PS-8.0 version
  library/percona
Labels: library/percona

#9086 Update rocket.chat to 3.7.2
  library/rocket.chat
Labels: library/rocket.chat

#9087 [Swift] Update the sha for Swift 5.3.1
  library/swift
Labels: library/swift

#9088 archlinux: Release 20201115.0.9067
  library/archlinux
Labels: library/archlinux

#9089 Update Clear Linux OS to 33940
  library/clearlinux
Labels: library/clearlinux

#9091 Release of Oracle Linux 8 Update 3
  library/oraclelinux
Labels: library/oraclelinux

#9092 Update kapacitor images for 1.5.7
  library/kapacitor
Labels: library/kapacitor

#9093 Composer 2.0.7
  library/composer
Labels: library/composer

#9094 Releasing Neo4j 3.5.24 and 4.0.9
  library/neo4j
Labels: library/neo4j

#9099 Update mongo
  library/mongo
Labels: library/mongo

#9103 node: security update for alpine images
  library/node
Labels: library/node

#9102 Re-target the CentOS 7.9.2009 ppc64le Image
  library/centos
Labels: library/centos

#9100 Fix rakudo-star $PATH
  library/rakudo-star
Labels: library/rakudo-star

#9104 Gradle 6.7.1
  library/gradle
Labels: library/gradle

#9105 update jetty to use jdk15 and jetty-9.4.34
  library/jetty
Labels: library/jetty

#9107 Update ghost
  library/ghost
Labels: library/ghost

#9108 Update tomcat
  library/tomcat
Labels: library/tomcat

#9109 consul: 1.9.0-rc1 release candidate
  library/consul
Labels: library/consul

#9110 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9106 Update Debian (20201117)
  library/debian
Labels: library/debian

#9111 Add Couchbase Server 7.0.0 Beta
  library/couchbase
Labels: library/couchbase

#9113 Update Oracle Linux 7 images for ELSA-2020-5011
  library/oraclelinux
Labels: library/oraclelinux

#9114 Update tomcat
  library/tomcat
Labels: library/tomcat

#9115 Update ghost
  library/ghost
Labels: library/ghost

#9116 Update bash
  library/bash
Labels: library/bash

#8786 [ros] add labels with sha of ros packages to invalidate cache
  library/ros
Labels: library/ros

#9112 Release Neo4j 4.2.0
  library/neo4j
Labels: library/neo4j

#9117 Comment out s390x for now
  library/gradle
  library/groovy
Labels: library/gradle, library/groovy

#9118 erlang/otp 23.1.3
  library/erlang
Labels: library/erlang

#9119 Upgrade after XWiki 11.10.12 release
  library/xwiki
Labels: library/xwiki

#9121 Update docker
  library/docker
Labels: library/docker

#9122 Update Backdrop to 1.17.3
  library/backdrop
Labels: library/backdrop

#9123 Update redmine
  library/redmine
Labels: library/redmine

#9124 Update drupal
  library/drupal
Labels: library/drupal

#9125 Update bash
  library/bash
Labels: library/bash

#9126 updated teamspeak to 3.13.2
  library/teamspeak
Labels: library/teamspeak

#9130 PHP 8.0 RC5.
  library/php
Labels: library/php

#9128 Java 11.0.9.1+1 and 8u275-b01 respins
  library/adoptopenjdk
Labels: library/adoptopenjdk

#9129 Update rust to 1.48.0
  library/rust
Labels: library/rust

#9131 Update ghost
  library/ghost
Labels: library/ghost

#9127 Update nextcloud
  library/nextcloud
Labels: library/nextcloud

#9132 Bump Traefik to v2.3.3
  library/traefik
Labels: library/traefik

#9133 Update openjdk
  library/openjdk
Labels: library/openjdk

#9134 Update tomcat
  library/tomcat
Labels: library/tomcat

#9136 Update rocket.chat to 3.8.1
  library/rocket.chat
Labels: library/rocket.chat

#9137 Update XWiki 12.6.x version to 12.6.5
  library/xwiki
Labels: library/xwiki

#9138 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9135 Update Consul to 1.8.6, 1.7.10, 1.6.10
  library/consul
Labels: library/consul

#9140 Update for the release of 20.0.0.12 of websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#9143 Update photon image
  library/photon
Labels: library/photon

#9144 Update mysql
  library/mysql
Labels: library/mysql

#9145 Update mongo
  library/mongo
Labels: library/mongo

#9146 erlang/otp 23.1.4, rebar3 3.14.2
  library/erlang
Labels: library/erlang

#9147 Add back s390x
  library/gradle
  library/groovy
Labels: library/gradle, library/groovy

#9148 Update Clear Linux OS to 33970
  library/clearlinux
Labels: library/clearlinux

#9149 Updated swipl stable to 8.2.3
  library/swipl
Labels: library/swipl

#9151 Odoo: update 12.0-14.0 to release 20201123
  library/odoo
Labels: library/odoo

#9153 Update pypy
  library/pypy
Labels: library/pypy

#9154 Update haproxy
  library/haproxy
Labels: library/haproxy

#9155 Update memcached
  library/memcached
Labels: library/memcached

#9156 Aerospike 5.2.0.9
  library/aerospike
Labels: library/aerospike

#9158 Update ghost
  library/ghost
Labels: library/ghost

#9159 Update tomcat
  library/tomcat
Labels: library/tomcat
