Repository docker-library/official-images, pull requests merged in 2020-12, with the labels that each got.

#9175 [gazebo] bump gazebo images versions
  library/gazebo
Labels: library/gazebo

#9176 Update php
  library/php
Labels: library/php

#9178 Releasing Neo4j 3.5.25, 4.0.10, 4.1.5 and 4.2.1
  library/neo4j
Labels: library/neo4j

#9179 Update XWiki latest stable version
  library/xwiki
Labels: library/xwiki

#9180 Add version 7.11.4 of Bonita
  library/bonita
Labels: library/bonita

#9181 Update CrateDB to 4.3.2
  library/crate
Labels: library/crate

#9182 [percona] Update psmdb-36 version
  library/percona
Labels: library/percona

#9185 archlinux: Release 20201129.0.10056
  library/archlinux
Labels: library/archlinux

#9186 Update Clear Linux OS to 33980
  library/clearlinux
Labels: library/clearlinux

#9187 Update matomo
  library/matomo
Labels: library/matomo

#9190 Update drupal
  library/drupal
Labels: library/drupal

#9191 Update openjdk
  library/openjdk
Labels: library/openjdk

#9192 Update bash
  library/bash
Labels: library/bash

#9193 Update pypy
  library/pypy
Labels: library/pypy

#9194 Update haproxy
  library/haproxy
Labels: library/haproxy

#9196 Update photon image
  library/photon
Labels: library/photon

#9199 Update sl container for sl to current (build-date=20201201)
  library/sl
Labels: library/sl

#9195 Update python
  library/python
Labels: library/python

#9200 kong: bump to 2.2.1
  library/kong
Labels: library/kong

#9201 Telegraf v1.16.3
  library/telegraf
Labels: library/telegraf

#9202 Update docker
  library/docker
Labels: library/docker

#9204 Update ghost
  library/ghost
Labels: library/ghost

#9205 Update drupal
  library/drupal
Labels: library/drupal

#9203 [ros] bump ros-comm to 1.15.9
  library/ros
Labels: library/ros

#9206 Update mongo
  library/mongo
Labels: library/mongo

#9207 Aerospike 5.2.0.10
  library/aerospike
Labels: library/aerospike

#9208 Update docker
  library/docker
Labels: library/docker

#9209 eclipse-mosquitto 2.0.0
  library/eclipse-mosquitto
  test/tests/eclipse-mosquitto-basics/mosquitto.conf
  test/tests/eclipse-mosquitto-basics/run.sh
Labels: library/eclipse-mosquitto

#9210 Update busybox
  library/busybox
Labels: library/busybox

#9211 Update python
  library/python
Labels: library/python

#9212 Update pypy
  library/pypy
Labels: library/pypy

#9214 Update openjdk
  library/openjdk
Labels: library/openjdk

#9215 consul: add 1.8.7-beta1 separately from 1.8 tag
  library/consul
Labels: library/consul

#9216 Update golang
  library/golang
Labels: library/golang

#9217 Update bash
  library/bash
Labels: library/bash

#9213 Update drupal
  library/drupal
Labels: library/drupal

#9218 Groovy 3.0.7
  library/groovy
Labels: library/groovy

#9219 rebar3 3.14.3
  library/erlang
Labels: library/erlang

#9220 Update Matomo
  library/matomo
Labels: library/matomo

#9221 Update julia
  library/julia
Labels: library/julia

#9222 Update python
  library/python
Labels: library/python

#9223 Update mongo
  library/mongo
Labels: library/mongo

#9226 Update mongo
  library/mongo
Labels: library/mongo

#9224 Update photon image
  library/photon
Labels: library/photon

#9227 Groovy 4.0.0-alpha-2
  library/groovy
Labels: library/groovy

#9228 Update Friendica
  library/friendica
Labels: library/friendica

#9229 archlinux: Release 20201206.0.10501
  library/archlinux
Labels: library/archlinux

#9231 Update Clear Linux OS to 34000
  library/clearlinux
Labels: library/clearlinux

#9232 Update to Adminer 4.7.8
  library/adminer
Labels: library/adminer

#9233 Update ghost
  library/ghost
Labels: library/ghost

#9234 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9235 Update bash
  library/bash
Labels: library/bash

#9236 Update CentOS Linux images for the 8.3.2011 release
  library/centos
Labels: library/centos

#9237 Update python
  library/python
Labels: library/python

#9230 Update rocket.chat versions 2 and 3
  library/rocket.chat
Labels: library/rocket.chat

#9238 erlang/otp 23.1.5, 22.3.4.13
  library/erlang
Labels: library/erlang

#9239 update to jetty version 10.0.0 and 11.0.0
  library/jetty
Labels: library/jetty

#9240 Bump IBM Java version to 1.8.0_sr6fp20 (8.0.6.20).
  library/ibmjava
Labels: library/ibmjava

#9241 [ros] ros-dashing-ros1-bridge: 0.7.6 -> 0.7.7
  library/ros
Labels: library/ros

#9242 Odoo: update 12.0-14.0 to release 20201208
  library/odoo
Labels: library/odoo

#9245 Update ruby
  library/ruby
Labels: library/ruby

#9246 Update python
  library/python
Labels: library/python

#9247 Update ghost
  library/ghost
Labels: library/ghost

#9248 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9250 Update tomcat
  library/tomcat
Labels: library/tomcat

#9251 Update Matomo
  library/matomo
Labels: library/matomo

#9252 Upgrade sonarqube to 8.6
  library/sonarqube
Labels: library/sonarqube

#9253 Update docker
  library/docker
Labels: library/docker

#9254 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#9255 Update wordpress
  library/wordpress
Labels: library/wordpress

#9256 Update clojure for latest leiningen & tools-deps releases
  library/clojure
Labels: library/clojure

#9258 Composer 1.10.19 & 2.0.8
  library/composer
Labels: library/composer

#9259 Update node.js v15 from v15.3.0 to v15.4.0
  library/node
Labels: library/node

#9261 eclipse-mosquitto 2.0.1
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#9260 Bump for Mono 6.12 stable
  library/mono
Labels: library/mono

#9264 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#9101 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#9265 Update ghost
  library/ghost
Labels: library/ghost

#9267 Update mongo
  library/mongo
Labels: library/mongo

#9263 Bump Traefik to v2.3.5
  library/traefik
Labels: library/traefik

#9262 alpine: bump 3.12.2 (CVE-2020-28928)
  library/alpine
Labels: library/alpine

#9257 Update Debian, especially for 10.7, CVE-2020-1971, CVE-2020-27350
  library/debian
Labels: library/debian

#9268 consul: 1.9.1, 1.8.7 and 1.7.11
  library/consul
Labels: library/consul

#9269 Update ghost
  library/ghost
Labels: library/ghost

#9270 Update haproxy
  library/haproxy
Labels: library/haproxy

#9271 Update docker
  library/docker
Labels: library/docker

#9273 Aerospike 5.3.0.2
  library/aerospike
Labels: library/aerospike

#9274 archlinux: Release 20201213.0.11146
  library/archlinux
Labels: library/archlinux

#9275 Update Clear Linux OS to 34080
  library/clearlinux
Labels: library/clearlinux

#9277 caddy: v2.3.0-rc.1 release
  library/caddy
Labels: library/caddy

#9278 [percona] Update ps-80 version
  library/percona
Labels: library/percona

#9279 Update openjdk
  library/openjdk
Labels: library/openjdk

#9280 [ros] eloquent 0.8.4 -> 0.8.5, foxy 0.9.4 -> 0.9.6
  library/ros
Labels: library/ros

#9281 Update redis
  library/redis
Labels: library/redis

#9282 arangodb 3.7.5
  library/arangodb
Labels: library/arangodb

#9272 Update photon image
  library/photon
Labels: library/photon

#9284 Update xwiki to 12.6.6
  library/xwiki
Labels: library/xwiki

#9286 Updated nginx to 1.19.6
  library/nginx
Labels: library/nginx

#9287 12.10.1 released
  library/xwiki
Labels: library/xwiki

#9288 Update docker
  library/docker
Labels: library/docker

#9289 Update pypy
  library/pypy
Labels: library/pypy

#9290 Update python
  library/python
Labels: library/python

#9291 Update drupal
  library/drupal
Labels: library/drupal

#9285 Update Docker image for Silverpeas version 6.1.1
  library/silverpeas
Labels: library/silverpeas

#9292 update rebar3 to 3.14.3
  library/erlang
Labels: library/erlang

#9294 chore(node): update to 14.15.2
  library/node
Labels: library/node

#9297 Bump Traefik to v2.4.0-rc1
  library/traefik
Labels: library/traefik

#9295 alpine: bump 3.12.3/3.11.7 (CVE-2020-1971)
  library/alpine
Labels: library/alpine

#9298 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9299 Update ghost
  library/ghost
Labels: library/ghost

#9293 [Swift] Update the Swift 5.3 images to use Swift 5.3.2
  library/swift
Labels: library/swift

#9301 [update] Update Oracle Linux 7 images
  library/oraclelinux
Labels: library/oraclelinux

#9300 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#9302 updated teamspeak to 3.13.3
  library/teamspeak
Labels: library/teamspeak

#9303 Updating Couchbase Server EE to 6.6.1
  library/couchbase
Labels: library/couchbase

#9307 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#9304 eclipse-mosquitto 2.0.3
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#9305 Bump Traefik to v2.3.6
  library/traefik
Labels: library/traefik

#9306 Updating to Vault versions 1.5.6 and 1.6.1
  library/vault
Labels: library/vault

#9309 [oraclelinux] Update Oracle Linux 8 images
  library/oraclelinux
Labels: library/oraclelinux

#9311 Update Rocket.Chat 3.9 and add 3.8 and 3.7
  library/rocket.chat
Labels: library/rocket.chat

#9312 chore(node): update to 14.15.3
  library/node
Labels: library/node

#9314 Odoo: update 12.0-14.0 to release 20201218
  library/odoo
Labels: library/odoo

#9315 alpine: edge snapshot 20201218 (CVE-2020-1971, CVE-2020-28928)
  library/alpine
Labels: library/alpine

#9310 Update golang
  library/golang
Labels: library/golang

#9316 Update php
  library/php
Labels: library/php

#9317 Update openjdk
  library/openjdk
Labels: library/openjdk

#9318 Bump jruby to 9.2.14.0
  library/jruby
Labels: library/jruby

#9320 Update photon image
  library/photon
Labels: library/photon

#9321 Update wordpress
  library/wordpress
Labels: library/wordpress

#9323 arangodb 3.6.10
  library/arangodb
Labels: library/arangodb

#9324 Update bash
  library/bash
Labels: library/bash

#9313 Update to Flink 1.11.3
  library/flink
Labels: library/flink

#9326 Update Clear Linux OS to 34100
  library/clearlinux
Labels: library/clearlinux

#9328 Update mediawiki to 1.35.1 and 1.31.12
  library/mediawiki
Labels: library/mediawiki

#9329 [percona] update psmdb-42, psmdb-44 versions
  library/percona
Labels: library/percona

#9330 add s390x as requested in rocker-org/rocker/issues/432
  library/r-base
Labels: library/r-base

#9331 erlang/otp 23.2.1
  library/erlang
Labels: library/erlang

#9332 Aerospike 5.3.0.3
  library/aerospike
Labels: library/aerospike

#9327 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#9333 Update mysql
  library/mysql
Labels: library/mysql

#9334 Update bash
  library/bash
Labels: library/bash

#9335 Update haproxy
  library/haproxy
Labels: library/haproxy

#9336 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9337 Update ruby
  library/ruby
Labels: library/ruby

#9319 Transfer jruby library maintenance to JRuby team
  library/jruby
Labels: library/jruby

#9339 [oraclelinux] Update Oracle Linux 7 images for CVE-2020-1971
  library/oraclelinux
Labels: library/oraclelinux

#9338 Update python
  library/python
Labels: library/python

#9340 archlinux: Release 20201220.0.11678 with GitLab Repository
  library/archlinux
Labels: library/archlinux

#9341 add nd20.10 to neurodebian
  library/neurodebian
Labels: library/neurodebian
