Repository docker-library/official-images, pull requests merged in 2020-05, with the labels that each got.

#7900 Updates to open-liberty
  library/open-liberty
Labels: library/open-liberty

#7902 Add 20.0.0.4 version to websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#7919 [Swift] Update the Docker image for Swift 5.2.3
  library/swift
Labels: library/swift

#7920 Releasing Neo4j 3.4.18
  library/neo4j
Labels: library/neo4j

#7922 upgrade r-base to R 4.0.0 released last Friday
  library/r-base
Labels: library/r-base

#7923 Update ZNC to 1.8.0
  library/znc
Labels: library/znc

#7924 Correcting tags for couchbase.
  library/couchbase
Labels: library/couchbase

#7925 Update yourls
  library/yourls
Labels: library/yourls

#7926 Update redis
  library/redis
Labels: library/redis

#7927 update chronograf image
  library/chronograf
Labels: library/chronograf

#7933 caddy: v2.0.0 release
  library/caddy
Labels: library/caddy

#7931 Update Clear Linux OS to 33010
  library/clearlinux
Labels: library/clearlinux

#7932 ZNC: update alpine to 3.11
  library/znc
Labels: library/znc

#7928 Updating Oracle Linux 6 and 7 for tzdata-2020a.
  library/oraclelinux
Labels: library/oraclelinux

#7934 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7935 Update bash
  library/bash
Labels: library/bash

#7936 Release Neo4j 4.0.4
  library/neo4j
Labels: library/neo4j

#7880 kong 2.0.4
  library/kong
Labels: library/kong

#7938 Release CouchDB 3.0.1 and 3.1.0
  library/couchdb
Labels: library/couchdb

#7939 Update CentOS Images for 7.8.2003
  library/centos
Labels: library/centos

#7943 Update docker
  library/docker
Labels: library/docker

#7944 Update hylang
  library/hylang
Labels: library/hylang

#7946 caddy: Add s390x and ppc64le architectures
  library/caddy
Labels: library/caddy

#7948 Gradle 6.4
  library/gradle
Labels: library/gradle

#7949 composer 1.10.6
  library/composer
Labels: library/composer

#7950 Bump IBM Java version to 1.8.0_sr6fp10 (8.0.6.10).
  library/ibmjava
Labels: library/ibmjava

#7941 archlinux: add 20200505
  library/archlinux
Labels: library/archlinux

#7951 Update Ubuntu including first Ubuntu 20.10 Groovy Gorilla image
  library/ubuntu
Labels: library/ubuntu

#7942 Update php
  library/php
Labels: library/php

#7954 Update ghost
  library/ghost
Labels: library/ghost

#7956 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#7955 Adding Oracle Linux 8 Update 2
  library/oraclelinux
Labels: library/oraclelinux

#7957 Remove the "!aufs" constraint from all images
  .github/workflows/generate.sh
  library/alt
  library/centos
  library/clefos
  library/fedora
  library/kong
  library/maven
  library/openjdk
  library/oraclelinux
  library/sl
  library/tomcat
  naughty-constraints.sh
Labels: library/alt, library/centos, library/clefos, library/fedora, library/kong, library/maven, library/openjdk, library/oraclelinux, library/sl, library/tomcat

#7959 Update haproxy
  library/haproxy
Labels: library/haproxy

#7960 Update ghost
  library/ghost
Labels: library/ghost

#7961 Update openjdk
  library/openjdk
Labels: library/openjdk

#7962 arangodb 3.4.10, 3.5.5, 3.6.3.1
  library/arangodb
Labels: library/arangodb

#7963 Bump rust to 1.43.1
  library/rust
Labels: library/rust

#7967 1.7.3
  library/consul
Labels: library/consul

#7969 erlang/otp 22.3.4
  library/erlang
Labels: library/erlang

#7968 Upgrade SonarQube to 8.3.1
  library/sonarqube
Labels: library/sonarqube

#7971 Haskell GHC 8.10.1 and Debian variants.
  library/haskell
  test/tests/haskell-cabal/container.sh
Labels: library/haskell

#7965 Update gcc
  library/gcc
Labels: library/gcc

#7974 Add some new jvm versions to jruby
  library/jruby
Labels: library/jruby

#7977 Update Zookeeper to 3.6.1
  library/zookeeper
Labels: library/zookeeper

#7978 Update Clear Linux OS to 33060
  library/clearlinux
Labels: library/clearlinux

#7981 Release OrientDB v 3.0.31
  library/orientdb
Labels: library/orientdb

#7983 Update to Adminer 4.7.7
  library/adminer
Labels: library/adminer

#7984 Update Joomla to 3.9.18
  library/joomla
Labels: library/joomla

#7979 arangodb 3.5.5.1
  library/arangodb
Labels: library/arangodb

#7976 consul 1.6.5
  library/consul
Labels: library/consul

#7987 Update ghost
  library/ghost
Labels: library/ghost

#7985 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#7964 Update to 7.7.1908
  library/clefos
Labels: library/clefos

#7986 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7988 fewer consul releases
  library/consul
Labels: library/consul

#7991 Update tomcat
  library/tomcat
Labels: library/tomcat

#7992 Update Rocket.Chat
  library/rocket.chat
Labels: library/rocket.chat

#7993 Update bash
  library/bash
Labels: library/bash

#7989 Updating WebSphere Liberty and Open Liberty to 20.0.0.5
  library/open-liberty
  library/websphere-liberty
Labels: library/open-liberty, library/websphere-liberty

#7994 [percona] update percona-server-56 version
  library/percona
Labels: library/percona

#7997 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#7995 Releasing Neo4j 3.5.18
  library/neo4j
Labels: library/neo4j

#7996 Update to Flink 1.10.1
  library/flink
Labels: library/flink

#7998 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#7999 Update busybox
  library/busybox
Labels: library/busybox

#8000 Update memcached
  library/memcached
Labels: library/memcached

#8001 Update mariadb
  library/mariadb
Labels: library/mariadb

#7990 Update Debian, especially for 10.4
  library/debian
Labels: library/debian

#8002 neurodebian: disco (19.04) EOLed, focal (20.04) has arrived
  library/neurodebian
Labels: library/neurodebian

#8003 Update gcc
  library/gcc
Labels: library/gcc

#8004 Update fedora container image
  library/fedora
Labels: library/fedora

#8005 erlang/otp 23.0
  library/erlang
Labels: library/erlang

#8006 Add the Consul 1.8.0-beta1 image
  library/consul
Labels: library/consul

#8007 Update python
  library/python
Labels: library/python

#8008 [security] Update php
  library/php
Labels: library/php

#8009 [security] Update Debian, esp. for CVE-2020-3810
  library/debian
Labels: library/debian

#8011 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#8010 [nats-server] Release v2.1.7
  library/nats
  test/config.sh
Labels: library/nats

#8016 Update bash
  library/bash
Labels: library/bash

#8015 Update postgres
  library/postgres
Labels: library/postgres

#8017 Update golang
  library/golang
Labels: library/golang

#8014 Update openjdk
  library/openjdk
Labels: library/openjdk

#8013 Update mariadb
  library/mariadb
Labels: library/mariadb

#8018 Aerospike 5.0.0.3
  library/aerospike
Labels: library/aerospike

#8019 Release XWiki 11.10.5
  library/xwiki
Labels: library/xwiki

#8020 Update photon image
  library/photon
Labels: library/photon

#8021 Update redis
  library/redis
Labels: library/redis

#8023 Gradle 6.4.1
  library/gradle
Labels: library/gradle

#8024 Update Clear Linux OS to 33110
  library/clearlinux
Labels: library/clearlinux

#8025 Update tomcat
  library/tomcat
Labels: library/tomcat

#8026 Update redis
  library/redis
Labels: library/redis

#8027 Update ghost
  library/ghost
Labels: library/ghost

#8028 Update bash
  library/bash
Labels: library/bash

#8029 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#8030 [gazebo] add gz11 focal image and make it latest
  library/gazebo
Labels: library/gazebo

#8032 R 4.0.0 can now be installed from unstable, add arm64v8 back in
  library/r-base
Labels: library/r-base

#8033 [percona] Update psmdb-36 version
  library/percona
Labels: library/percona

#8035 Update python
  library/python
Labels: library/python

#8036 Telegraf 1.14.3
  library/telegraf
Labels: library/telegraf

#8037 Update python
  library/python
Labels: library/python

#8038 Update haproxy
  library/haproxy
Labels: library/haproxy

#8039 Update docker
  library/docker
Labels: library/docker

#8043 erlang/otp 23.0.1, 22.3.4.1, 21.3.8.16
  library/erlang
Labels: library/erlang

#8042 [percona]: Update PS-5.7 version
  library/percona
Labels: library/percona

#8044 Update mysql
  library/mysql
Labels: library/mysql

#8045 Update ghost
  library/ghost
Labels: library/ghost

#8046 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8047 Update wordpress
  library/wordpress
Labels: library/wordpress

#8048 Update bash
  library/bash
Labels: library/bash

#8049 Update drupal
  library/drupal
Labels: library/drupal

#8050 Update Vault to 1.3.6
  library/vault
Labels: library/vault

#8051 Update openjdk
  library/openjdk
Labels: library/openjdk

#8052 Update Consul to 1.8.0-beta2
  library/consul
Labels: library/consul

#8053 Update postgres
  library/postgres
Labels: library/postgres

#8054 haxe: add 4.1.0
  library/haxe
Labels: library/haxe

#8055 Groovy 3.0.4
  library/groovy
Labels: library/groovy

#8056 Release of GeoNetwork 4.0.0-alpha.1
  library/geonetwork
Labels: library/geonetwork

#8058 Update openjdk
  library/openjdk
Labels: library/openjdk

#8059 Update photon image
  library/photon
Labels: library/photon

#8060 haxe 4.1.1
  library/haxe
Labels: library/haxe

#8061 Update Clear Linux OS to 33180
  library/clearlinux
Labels: library/clearlinux

#8063 [percona] Update psmdb-36 version
  library/percona
Labels: library/percona

#8064 Release XWiki 12.4
  library/xwiki
Labels: library/xwiki

#8067 Aerospike 5.0.0.4
  library/aerospike
Labels: library/aerospike

#8068 Update haproxy
  library/haproxy
Labels: library/haproxy

#8069 Update mongo
  library/mongo
Labels: library/mongo

#8070 Update julia
  library/julia
Labels: library/julia

#8072 Update ghost
  library/ghost
Labels: library/ghost

#8031 [ros] move build tools to ros-base image
  library/ros
Labels: library/ros

#8075 Update corretto to use new git repo
  library/amazoncorretto
Labels: library/amazoncorretto

#8076 jobber: Update from 1.4.0 to 1.4.3
  library/jobber
Labels: library/jobber

#8073 [ROS] | Add ros1 noetic
  library/ros
Labels: library/ros

#8071 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8077 Update Lightstreamer version to 7.1.1
  library/lightstreamer
Labels: library/lightstreamer

#8078 Update bash
  library/bash
Labels: library/bash

#8079 Update mongo
  library/mongo
Labels: library/mongo

#8084 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8083 Update redis
  library/redis
Labels: library/redis

#8082 Update mariadb
  library/mariadb
Labels: library/mariadb

#8085 Update julia
  library/julia
Labels: library/julia

#8087 consul: switch generic beta tag to 1.8.0-beta
  library/consul
Labels: library/consul

#8086 erlang/otp 23.0.2
  library/erlang
Labels: library/erlang

#8088 Update docker
  library/docker
Labels: library/docker

#7307 Add buster and centos images
  library/rethinkdb
Labels: library/rethinkdb

#8089 alpine: add 3.12.0 and remove EOL 3.8
  library/alpine
Labels: library/alpine

#8092 Update bash
  library/bash
Labels: library/bash

#8091 Update redmine
  library/redmine
Labels: library/redmine

#8090 Update openjdk
  library/openjdk
Labels: library/openjdk
