Repository docker-library/official-images, pull requests merged in 2020-06, with the labels that each got.

#8099 [security] Update docker
  library/docker
Labels: library/docker

#7601 Update clojure leiningen, tools-deps, and latest tag
  library/clojure
Labels: library/clojure

#8065 Updated mainline nginx to 1.19.0
  library/nginx
Labels: library/nginx

#8094 haxe: add alpine3.12, drop alpine3.8
  library/haxe
Labels: library/haxe

#8095 Update Clear Linux OS to 33250
  library/clearlinux
Labels: library/clearlinux

#8098 Update rocket.chat to 3.3.0
  library/rocket.chat
Labels: library/rocket.chat

#8102 Update golang
  library/golang
Labels: library/golang

#8101 arangodb 3.6.4
  library/arangodb
Labels: library/arangodb

#8105 Update haproxy
  library/haproxy
Labels: library/haproxy

#8104 Update Zookeeper to 3.5.8
  library/zookeeper
Labels: library/zookeeper

#8106 Updated nginx 1.19 hashes
  library/nginx
Labels: library/nginx

#8107 mosquitto 1.6.10
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#8110 Update php
  library/php
Labels: library/php

#8108 Update docker
  library/docker
Labels: library/docker

#8109 Update busybox
  library/busybox
Labels: library/busybox

#8112 Gradle 6.5
  library/gradle
Labels: library/gradle

#8113 Release OrientDB v 3.1.0
  library/orientdb
Labels: library/orientdb

#8115 Fix folder removal from original package
  library/lightstreamer
Labels: library/lightstreamer

#8116 Plone: Fix SITE env when used with ZEO
  library/plone
  test/config.sh
  test/tests/plone-zeosite/expected-std-out.txt
  test/tests/plone-zeosite/run.sh
Labels: library/plone

#8117 Update python
  library/python
Labels: library/python

#8118 Update ghost
  library/ghost
Labels: library/ghost

#8119 Update drupal
  library/drupal
Labels: library/drupal

#8121 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#8127 Update redis
  library/redis
Labels: library/redis

#8128 Update drupal
  library/drupal
Labels: library/drupal

#8129 Update mongo
  library/mongo
Labels: library/mongo

#8130 Update hylang
  library/hylang
Labels: library/hylang

#8131 Update rust to 1.44.0
  library/rust
Labels: library/rust

#8132 Nextcloud 19
  library/nextcloud
Labels: library/nextcloud

#8093 [Swift] Add support for Ubuntu 20.04, CentOS 8, and Amazon Linux 2. A…
  library/swift
Labels: library/swift

#8122 library/perl: Bump for 5.28.3/5.30.3
  library/perl
Labels: library/perl

#8124 upgraded TomEE to 8.0.2, 7.1.3, 7.0.8
  library/tomee
Labels: library/tomee

#8134 Matomo 3.13.6
  library/matomo
Labels: library/matomo

#8136 Release for 20.0.0.6 version of open-liberty
  library/open-liberty
Labels: library/open-liberty

#8138 [ros] Release ROS foxy images and make them latest
  library/ros
Labels: library/ros

#8137 [nats] Fixed Alpine Dockerfile that was not using config file
  library/nats
Labels: library/nats

#8140 upgrade r-base to R 4.0.1 released this morning
  library/r-base
Labels: library/r-base

#8141 Update ZNC to 1.8.1
  library/znc
Labels: library/znc

#8142 Update Clear Linux OS to 33300
  library/clearlinux
Labels: library/clearlinux

#8143 Update Solr to 8.5.2
  library/solr
Labels: library/solr

#8145 archlinux: add 20200605
  library/archlinux
Labels: library/archlinux

#8144 Releasing Neo4j 4.0.5
  library/neo4j
Labels: library/neo4j

#8139 [ros] add ros1-bridge images
  library/ros
Labels: library/ros

#8147 Update Debian (esp. for ca-certificates 20200601)
  library/debian
Labels: library/debian

#8150 Fix a problem in GeoNetwork 4.0.0-alpha.1 entrypoint
  library/geonetwork
Labels: library/geonetwork

#8151 Update openjdk
  library/openjdk
Labels: library/openjdk

#8152 Update bash
  library/bash
Labels: library/bash

#8153 Update tomcat
  library/tomcat
Labels: library/tomcat

#8154 Update python
  library/python
Labels: library/python

#8155 Update haproxy
  library/haproxy
Labels: library/haproxy

#8156 Update ghost
  library/ghost
Labels: library/ghost

#8157 Update drupal
  library/drupal
Labels: library/drupal

#8158 Update redis
  library/redis
Labels: library/redis

#8159 Telegraf 1.14.4
  library/telegraf
Labels: library/telegraf

#8169 Add version 7.10.5 of Bonita
  library/bonita
Labels: library/bonita

#8179 [security] Update php
  library/php
Labels: library/php

#8172 Update memcached
  library/memcached
Labels: library/memcached

#8173 Update httpd
  library/httpd
Labels: library/httpd

#8174 Update postgres
  library/postgres
Labels: library/postgres

#8175 Update ruby
  library/ruby
Labels: library/ruby

#8176 Update wordpress
  library/wordpress
Labels: library/wordpress

#8177 Update mongo
  library/mongo
Labels: library/mongo

#8178 Update haproxy
  library/haproxy
Labels: library/haproxy

#8170 Update python
  library/python
Labels: library/python

#8180 Update golang
  library/golang
Labels: library/golang

#8181 Update mariadb
  library/mariadb
Labels: library/mariadb

#8183 Update ghost
  library/ghost
Labels: library/ghost

#8182 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8185 Update haproxy
  library/haproxy
Labels: library/haproxy

#8135 Release for 20.0.0.6 version of websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#8187 caddy: Add tags for v2.1.0-beta.1
  library/caddy
Labels: library/caddy

#8188 Update rocket.chat to 3.3.3
  library/rocket.chat
Labels: library/rocket.chat

#8189 Update Clear Linux OS to 33360
  library/clearlinux
Labels: library/clearlinux

#8190 Update openjdk
  library/openjdk
Labels: library/openjdk

#8191 Update bash
  library/bash
Labels: library/bash

#8192 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8193 [ros] update ros1-bridge images with latest ros_comm
  library/ros
Labels: library/ros

#8194 Update Consul to 1.8.0-rc1
  library/consul
Labels: library/consul

#8196 Update CentOS Linux images for the 8.2.2004 Release
  library/centos
Labels: library/centos

#8197 Update bash
  library/bash
Labels: library/bash

#8199 Update mongo
  library/mongo
Labels: library/mongo

#8200 Update wordpress
  library/wordpress
Labels: library/wordpress

#8201 Update ghost
  library/ghost
Labels: library/ghost

#8202 Update pypy
  library/pypy
Labels: library/pypy

#8198 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#8203 Release OrientDB v 3.0.32
  library/orientdb
Labels: library/orientdb

#8204 Releasing Neo4j 3.5.19 and 4.0.6
  library/neo4j
Labels: library/neo4j

#8208 Update drupal
  library/drupal
Labels: library/drupal

#8207 Update haproxy
  library/haproxy
Labels: library/haproxy

#8206 Update ghost
  library/ghost
Labels: library/ghost

#8209 [registry:2.7] update to alpine 3.11, remove apache2-utils, remove 2.6 tags
  library/registry
Labels: library/registry

#8212 Update Rust to 1.44.1
  library/rust
Labels: library/rust

#8213 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
  naughty-from.sh
Labels: library/elasticsearch, library/kibana, library/logstash

#8214 Update mongo
  library/mongo
Labels: library/mongo

#8215 Update ghost
  library/ghost
Labels: library/ghost

#8216 Update bash
  library/bash
Labels: library/bash

#8217 Update openjdk
  library/openjdk
Labels: library/openjdk

#8218 Update wordpress
  library/wordpress
Labels: library/wordpress

#8210 [Friendica] RC Candidate Release & Dependency fixings
  library/friendica
Labels: library/friendica

#8219 Update Consul to 1.8.0
  library/consul
Labels: library/consul

#8221 Alpine update from 3.10 to 3.12
  library/ibmjava
Labels: library/ibmjava

#8220 Removing the latest tag from Oracle Linux
  library/oraclelinux
Labels: library/oraclelinux

#8223 Aerospike 5.0.0.7
  library/aerospike
Labels: library/aerospike

#8222 Update Silverpeas to 6.1 and improve silverpeas-basics test
  library/silverpeas
  test/tests/silverpeas-basics/run.sh
Labels: library/silverpeas

#8224 Actually update ZNC to 1.8.1
  library/znc
Labels: library/znc

#8186 Update photon image
  library/photon
Labels: library/photon

#8226 Update Clear Linux OS to 33410
  library/clearlinux
Labels: library/clearlinux

#8227 Update Perl for 5.32
  library/perl
Labels: library/perl

#8229 Update openjdk
  library/openjdk
Labels: library/openjdk

#8230 Update haproxy
  library/haproxy
Labels: library/haproxy

#8231 Update ghost
  library/ghost
Labels: library/ghost

#8232 upgrade r-base to R 4.0.2 released this morning
  library/r-base
Labels: library/r-base

#8211 Kong 2.1.0 beta.1
  library/kong
Labels: library/kong

#8234 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8233 Update openjdk
  library/openjdk
Labels: library/openjdk

#8235 Fix ZNC tags for 1.8.0
  library/znc
Labels: library/znc

#8236 Revert "Fix ZNC tags for 1.8.0"
  library/znc
Labels: library/znc

#8237 Update golang
  library/golang
Labels: library/golang

#8238 erlang/otp 22.3.4.2
  library/erlang
Labels: library/erlang

#8240 fix latest tag
  library/fedora
Labels: library/fedora

#8239 Add version 7.11.0 of Bonita
  library/bonita
Labels: library/bonita

#8241 Update jetty to 9.4.30, add support for jetty 10 & 11
  library/jetty
Labels: library/jetty

#8245 Update bash
  library/bash
Labels: library/bash

#8244 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8246 Update mariadb
  library/mariadb
Labels: library/mariadb

#8243 Update php
  library/php
Labels: library/php

#8248 Upgrade MediaWiki
  library/mediawiki
Labels: library/mediawiki

#8247 [nats-streaming] Release v0.18.0
  library/nats-streaming
  test/config.sh
Labels: library/nats-streaming

#8249 Release Neo4j 4.1.0
  library/neo4j
Labels: library/neo4j

#8250 Release of GeoNetwork v3.10.3
  library/geonetwork
Labels: library/geonetwork

#8251 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#8252 Update docker
  library/docker
Labels: library/docker

#8255 caddy: some Dockerfile updates
  library/caddy
Labels: library/caddy

#8257 Re-releasing Neo4j 4.1.0 docker image
  library/neo4j
Labels: library/neo4j

#8263 Update mongo
  library/mongo
Labels: library/mongo

#8261 Update wordpress
  library/wordpress
Labels: library/wordpress

#8262 Update php
  library/php
Labels: library/php

#8260 Update openjdk
  library/openjdk
Labels: library/openjdk

#8259 Update postgres
  library/postgres
Labels: library/postgres

#8258 Update ruby
  library/ruby
Labels: library/ruby

#8256 alpine: edge snapshot 20200626
  library/alpine
Labels: library/alpine

#8264 Update photon image
  library/photon
Labels: library/photon

#8265 caddy: 2.1.0 release
  library/caddy
Labels: library/caddy

#8266 Bump IBM Java version to 1.8.0_sr6fp11 (8.0.6.11).
  library/ibmjava
Labels: library/ibmjava

#8267 Add ZOO_CFG_EXTRA environment variable to Zookeeper
  library/zookeeper
Labels: library/zookeeper

#8268 Update Clear Linux OS to 33440
  library/clearlinux
Labels: library/clearlinux

#8270 Composer 1.10.8 & 2.0.0-alpha2
  library/composer
Labels: library/composer

#8271 Update CrateDB to 4.1.7
  library/crate
Labels: library/crate

#8272 Odoo: update 11.0-13.0 to release 20200629
  library/odoo
Labels: library/odoo

#8274 Update busybox
  library/busybox
Labels: library/busybox
