Repository docker-library/official-images, pull requests merged in 2020-03, with the labels that each got.

#7545 Update tomcat
  library/tomcat
Labels: library/tomcat

#7556 Updating the list of chronograf maintainers
  library/chronograf
Labels: library/chronograf

#7546 Update mysql
  library/mysql
Labels: library/mysql

#7549 Update postgres
  library/postgres
Labels: library/postgres

#7550 Friendica improvement/bugfixing
  library/friendica
Labels: library/friendica

#7551 Update Clear Linux OS to 32480
  library/clearlinux
Labels: library/clearlinux

#7552 upgrade r-base to R 3.6.3 released yesterday
  library/r-base
Labels: library/r-base

#7559 eclipse-mosquitto 1.6.9
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#7558 Bump jruby to 9.2.11.0
  library/jruby
Labels: library/jruby

#7560 Updating Oracle Linux 8.1/8-slim for CVE-2020-1712
  library/oraclelinux
Labels: library/oraclelinux

#7557 Revert "Bump IBM Java version to 1.8.0_sr6fp6 (8.0.6.6)."
  library/ibmjava
Labels: library/ibmjava

#7555 Update sl container for sl7 to current (build-date=20200302)
  library/sl
Labels: library/sl

#7561 Update CirrOS to 0.5.0
  library/cirros
Labels: library/cirros

#7562 Release OrientDB v 3.0.29
  library/orientdb
Labels: library/orientdb

#7563 Updated mainline nginx to 1.17.9
  library/nginx
Labels: library/nginx

#7564 Fix sl:6 git hash
  library/sl
Labels: library/sl

#7566 Update ghost
  library/ghost
Labels: library/ghost

#7567 Update bash
  library/bash
Labels: library/bash

#7568 Update mysql
  library/mysql
Labels: library/mysql

#7569 Update postgres
  library/postgres
Labels: library/postgres

#7570 Update mariadb
  library/mariadb
Labels: library/mariadb

#7571 Update docker
  library/docker
Labels: library/docker

#7565 Gradle 6.2.2
  library/gradle
Labels: library/gradle

#7572 Update gcc
  library/gcc
Labels: library/gcc

#7576 Update Rocket.Chat to 2.4.11 and 3.0.3
  library/rocket.chat
Labels: library/rocket.chat

#7577 erlang/otp 23.0-rc1
  library/erlang
Labels: library/erlang

#7578 Bump Traefik to v2.2.0-rc1
  library/traefik
Labels: library/traefik

#7579 updating vault to 1.3.3
  library/vault
Labels: library/vault

#7581 Update redis
  library/redis
Labels: library/redis

#7582 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7583 Update openjdk
  library/openjdk
Labels: library/openjdk

#7584 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#7590 Update CirrOS to 0.5.1
  library/cirros
  test/tests/no-hard-coded-passwords/run.sh
Labels: library/cirros

#7553 Haskell GHC 8.8.3 (and 8.8.2).
  library/haskell
Labels: library/haskell

#7585 Release Couchbase Server 6.5.0 Community Edition
  library/couchbase
Labels: library/couchbase

#7586 elixir v1.10.2
  library/elixir
Labels: library/elixir

#7587 archlinux: add 20200306
  library/archlinux
Labels: library/archlinux

#7589 Update photon image
  library/photon
Labels: library/photon

#7554 Haskell 8.8.3 (part 2)
  library/haskell
Labels: library/haskell

#7591 Update Zookeeper to 3.5.7
  library/zookeeper
Labels: library/zookeeper

#7592 Update Clear Linux OS to 32550
  library/clearlinux
Labels: library/clearlinux

#7594 Aerospike 4.8.0.6
  library/aerospike
Labels: library/aerospike

#7595 Update ghost
  library/ghost
Labels: library/ghost

#7534 bump Kong to 2.0.2
  library/kong
Labels: library/kong

#7596 Update memcached
  library/memcached
Labels: library/memcached

#7597 Update busybox
  library/busybox
Labels: library/busybox

#7598 Update bash
  library/bash
Labels: library/bash

#7600 Updating Oracle Linux 7 images for CVE-2019-5482
  library/oraclelinux
Labels: library/oraclelinux

#7599 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7605 Updating Oracle Linux 6 for CVE-2019-5482
  library/oraclelinux
Labels: library/oraclelinux

#7602 Update CrateDB to 4.1.3
  library/crate
Labels: library/crate

#7573 Friendica Bugfixing & 2020.03-rc release
  library/friendica
Labels: library/friendica

#7607 Update mongo
  library/mongo
Labels: library/mongo

#7606 Update python
  library/python
Labels: library/python

#7615 [security] Update docker
  library/docker
Labels: library/docker

#7608 Update mongo
  library/mongo
Labels: library/mongo

#7604 Composer: release 1.10.0
  library/composer
Labels: library/composer

#7609 Add version 7.10.3 of Bonita
  library/bonita
Labels: library/bonita

#7610 Releasing Neo4j 3.5.16
  library/neo4j
Labels: library/neo4j

#7613 Bump Traefik to v2.2.0-rc2
  library/traefik
Labels: library/traefik

#7614 arangodb 3.6.2
  library/arangodb
Labels: library/arangodb

#7617 Composer: update entrypoint script
  library/composer
Labels: library/composer

#7616 [Swift] Update the hash for Swift 5.1.5 release
  library/swift
Labels: library/swift

#7618 Update Rust to 1.42.0
  library/rust
Labels: library/rust

#7619 Update redis 5.0.8
  library/redis
Labels: library/redis

#7620 Update openjdk
  library/openjdk
Labels: library/openjdk

#7622 Update joomla
  library/joomla
Labels: library/joomla

#7623 Update ghost
  library/ghost
Labels: library/ghost

#7621 Update gcc
  library/gcc
Labels: library/gcc

#7625 Update Clear Linux OS to 32600
  library/clearlinux
Labels: library/clearlinux

#7627 Add version 7.9.5 of Bonita
  library/bonita
Labels: library/bonita

#7628 erlang/otp 22.3
  library/erlang
Labels: library/erlang

#7629 Consul 1.7.2
  library/consul
Labels: library/consul

#7630 Rocket.Chat 3.0.4
  library/rocket.chat
Labels: library/rocket.chat

#7626 library/perl: Bump for Perl 5.30.2
  library/perl
Labels: library/perl

#7631 composer 1.10.1
  library/composer
Labels: library/composer

#7436 msgtags development snapshot
  library/eggdrop
Labels: library/eggdrop

#7632 Bump IBM Java version to 1.8.0_sr6fp6 (8.0.6.6).
  library/ibmjava
Labels: library/ibmjava

#7634 Updates for 20.0.0.3 release of open-liberty
  library/open-liberty
Labels: library/open-liberty

#7637 Update bash
  library/bash
Labels: library/bash

#7635 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#7638 Update tomcat
  library/tomcat
Labels: library/tomcat

#7636 Update memcached
  library/memcached
Labels: library/memcached

#7633 Updates for 20.0.0.3 release of websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#7639 Update openjdk
  library/openjdk
Labels: library/openjdk

#7640 Release Neo4j 4.0.2
  library/neo4j
Labels: library/neo4j

#7641 Bump Traefik to v2.2.0-rc3, v2.1.7, v1.7.22
  library/traefik
Labels: library/traefik

#7642 Update tomcat
  library/tomcat
Labels: library/tomcat

#7647 [security] Update php
  library/php
Labels: library/php

#7643 Add SapMachine 11.0.6.0.1 and SapMachine 14
  library/sapmachine
Labels: library/sapmachine

#7644 alpine: edge snapshot 20200319
  library/alpine
Labels: library/alpine

#7645 [maven] Maven on openjdk-15
  library/maven
Labels: library/maven

#7646 Bump Traefik to v2.2.0-rc4 and v2.1.8
  library/traefik
Labels: library/traefik

#7648 Update golang
  library/golang
Labels: library/golang

#7649 Update tomcat
  library/tomcat
Labels: library/tomcat

#7651 Update drupal
  library/drupal
Labels: library/drupal

#7653 updating vault to 1.3.4 and 1.4.0-rc1
  library/vault
Labels: library/vault

#7655 Release OrientDB v 3.0.30
  library/orientdb
Labels: library/orientdb

#7660 updated teamspeak to 3.12.0
  library/teamspeak
Labels: library/teamspeak

#7650 Update mongo
  library/mongo
Labels: library/mongo

#7656 Update Ubuntu
  library/ubuntu
Labels: library/ubuntu

#7667 Update ghost
  library/ghost
Labels: library/ghost

#7669 Update bash
  library/bash
Labels: library/bash

#7670 Update julia
  library/julia
Labels: library/julia

#7668 Update mongo
  library/mongo
Labels: library/mongo

#7661 Update Clear Linux OS to 32660
  library/clearlinux
Labels: library/clearlinux

#7664 Bump Traefik to v2.1.9 and v1.7.23
  library/traefik
Labels: library/traefik

#7666 Update openjdk
  library/openjdk
Labels: library/openjdk

#7665 [percona] Update ps-80 version
  library/percona
Labels: library/percona

#7672 alpine: bump 3.11.5
  library/alpine
Labels: library/alpine

#7675 [SECURITY] Update to Memcached 1.6.2
  library/memcached
Labels: library/memcached

#7673 Update open-liberty
  library/open-liberty
Labels: library/open-liberty

#7674 Update websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#7676 Update haproxy
  library/haproxy
Labels: library/haproxy

#7681 Bump Rocket.Chat 3.0.5
  library/rocket.chat
Labels: library/rocket.chat

#7678 Update CrateDB to 4.1.4
  library/crate
Labels: library/crate

#7682 Update matomo
  library/matomo
Labels: library/matomo

#7683 Update python
  library/python
Labels: library/python

#7662 [varnish] new 6.4
  library/varnish
Labels: library/varnish

#7684 Gradle 6.3
  library/gradle
Labels: library/gradle

#7685 Bump Rocket.Chat 3.0.6
  library/rocket.chat
Labels: library/rocket.chat

#7687 Bump Traefik to v2.2.0 and v1.7.24
  library/traefik
Labels: library/traefik

#7686 Bump jruby to 9.2.11.1
  library/jruby
Labels: library/jruby

#7693 Add version 14 tags and arm32 (JDK and JRE) for Java 8.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#7688 [Swift] Add Swift 5.2 Release
  library/swift
Labels: library/swift

#7695 Update mongo
  library/mongo
Labels: library/mongo

#7694 Bump Rocket.Chat 3.0.7
  library/rocket.chat
Labels: library/rocket.chat

#7691 Release Neo4j 3.5.17
  library/neo4j
Labels: library/neo4j

#7689 erlang/otp 23.0-rc2
  library/erlang
Labels: library/erlang

#7696 Update telegraf
  library/telegraf
Labels: library/telegraf

#7698 re release 1.5.1 for an openshift permission issue
  library/kong
Labels: library/kong

#7624 Add Zookeeper 3.6.0
  library/zookeeper
  test/tests/zookeeper-basics/run.sh
Labels: library/zookeeper

#7713 Update postgres
  library/postgres
Labels: library/postgres

#7700 Upgrade MediaWiki
  library/mediawiki
Labels: library/mediawiki

#7701 Upgrade Zookeeper 3.5 to java 11
  library/zookeeper
Labels: library/zookeeper

#7702 Update Clear Linux OS to 32700
  library/clearlinux
Labels: library/clearlinux

#7706 Update XWiki LTS version to 11.10.4
  library/xwiki
Labels: library/xwiki

#7707 Update Solr to 8.5
  library/solr
Labels: library/solr

#7704 [percona] update psmdb-40 version
  library/percona
Labels: library/percona

#7709 Update ghost
  library/ghost
Labels: library/ghost

#7712 Update httpd
  library/httpd
Labels: library/httpd

#7711 Update bash
  library/bash
Labels: library/bash

#7708 Update openjdk
  library/openjdk
Labels: library/openjdk

#7710 Update mariadb
  library/mariadb
Labels: library/mariadb

#7699 Update Debian
  library/debian
Labels: library/debian

#7718 [security] Update ruby
  library/ruby
Labels: library/ruby

#7714 Update memcached
  library/memcached
Labels: library/memcached

#7705 Update XWiki to 12.2
  library/xwiki
Labels: library/xwiki

#7716 Releasing Neo4j 4.0.3
  library/neo4j
Labels: library/neo4j

#7719 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux
