Repository docker-library/official-images, pull requests merged in 2021-07, with the labels that each got.

#10460 [security] Update php
  library/php
Labels: library/php

#10461 [security] Update php
  library/php
Labels: library/php

#10464 Odoo: update 12.0-14.0 to release 20210702
  library/odoo
Labels: library/odoo

#10465 elixir 1.12.2
  library/elixir
Labels: library/elixir

#10466 Release SonarQube 9.0
  library/sonarqube
Labels: library/sonarqube

#10467 Releasing Neo4j 4.3.2 and 4.2.9
  library/neo4j
Labels: library/neo4j

#10468 Gradle 7.1.1
  library/gradle
Labels: library/gradle

#10462 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#10286 Eggdrop v1.9.1 *STABLE*
  library/eggdrop
Labels: library/eggdrop

#10463 haxe 4.2.3
  library/haxe
Labels: library/haxe

#10469 Update openjdk
  library/openjdk
Labels: library/openjdk

#10470 Update mongo
  library/mongo
Labels: library/mongo

#10471 Update tomcat
  library/tomcat
Labels: library/tomcat

#10472 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10474 [gazebo] 11.6.0 -> 11.7.0
  library/gazebo
Labels: library/gazebo

#10475 [ros] retire ROS Kinetic images
  library/ros
Labels: library/ros

#10476 Update Redis
  library/redis
Labels: library/redis

#10478 archlinux: Release 20210704.0.28149
  library/archlinux
Labels: library/archlinux

#10479 Update Clear Linux OS to 34810
  library/clearlinux
Labels: library/clearlinux

#10481 Friendica Release 2021.07
  library/friendica
Labels: library/friendica

#10483 Update sl container for sl7 to current (build-date=20210706)
  library/sl
Labels: library/sl

#10484 Releasing Neo4j 4.1.10, 4.0.12 and 3.5.29
  library/neo4j
Labels: library/neo4j

#10485 Nextcloud 22
  library/nextcloud
Labels: library/nextcloud

#10486 Updated nginx to 1.21.1
  library/nginx
Labels: library/nginx

#10487 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10488 Update tomcat
  library/tomcat
Labels: library/tomcat

#10490 [nats] Release v2.3.2
  library/nats
Labels: library/nats

#10495 [security] Update ruby
  library/ruby
Labels: library/ruby

#10497 Update Aerospike 5.6.0.7
  library/aerospike
Labels: library/aerospike

#10482 Bump couchdb commit to fix builds, drop 3.0.x support
  library/couchdb
Labels: library/couchdb

#10499 Telegraf v1.19.1
  library/telegraf
Labels: library/telegraf

#10492 Update ghost
  library/ghost
Labels: library/ghost

#10493 Update wordpress
  library/wordpress
Labels: library/wordpress

#10494 Update haproxy
  library/haproxy
Labels: library/haproxy

#10498 Update drupal
  library/drupal
Labels: library/drupal

#10501 Update tomcat
  library/tomcat
Labels: library/tomcat

#10503 21.0.0.7 release
  library/open-liberty
  library/websphere-liberty
Labels: library/open-liberty, library/websphere-liberty

#10504 Update ruby
  library/ruby
Labels: library/ruby

#10508 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10509 Update php
  library/php
Labels: library/php

#10510 Update httpd
  library/httpd
Labels: library/httpd

#10507 Update hello-world
  library/hello-world
Labels: library/hello-world

#10473 Update photon image
  library/photon
Labels: library/photon

#10505 Update mongo
  library/mongo
Labels: library/mongo

#10502 Add Debian riscv64 builds
  library/debian
Labels: library/debian

#10513 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10514 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10515 Update photon image
  library/photon
Labels: library/photon

#10511 Update busybox
  library/busybox
Labels: library/busybox

#10512 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#10517 archlinux: Release 20210711.0.28748
  library/archlinux
Labels: library/archlinux

#10518 Update Clear Linux OS to 34820
  library/clearlinux
Labels: library/clearlinux

#10524 [oraclelinux] Updating 8 and 8-slim for ELSA-2021-2569
  library/oraclelinux
Labels: library/oraclelinux

#10523 Add alpine version aliases to postgres
  library/postgres
Labels: library/postgres

#10522 Add suite aliases to memcached
  library/memcached
Labels: library/memcached

#10516 Update hylang
  library/hylang
Labels: library/hylang

#10520 Update openjdk
  library/openjdk
Labels: library/openjdk

#10521 Update python
  library/python
Labels: library/python

#10519 Update ghost
  library/ghost
Labels: library/ghost

#10525 [security] Update golang
  library/golang
Labels: library/golang

#10496 MariaDB releases 20210707
  library/mariadb
Labels: library/mariadb

#10526 Update postgres
  library/postgres
Labels: library/postgres

#10527 Odoo: update 12.0-14.0 to release 20210713
  library/odoo
Labels: library/odoo

#10528 [percona] Update ps-80 version
  library/percona
Labels: library/percona

#10530 Update bash
  library/bash
Labels: library/bash

#10531 Update mongo
  library/mongo
Labels: library/mongo

#10532 kong 2.5.0
  library/kong
Labels: library/kong

#10534 Update golang
  library/golang
Labels: library/golang

#10533 Ubuntu update July 2021
  library/ubuntu
Labels: library/ubuntu

#10535 Update docker
  library/docker
Labels: library/docker

#10536 Update Jetty versions to 9.4.43, 10.0.6 and 11.0.6
  library/jetty
Labels: library/jetty

#10538 Update wordpress
  library/wordpress
Labels: library/wordpress

#10539 Update redmine
  library/redmine
Labels: library/redmine

#10540 tomee cleanup
  library/tomee
Labels: library/tomee

#10541 Update Vault for 1.8.0-rc2
  library/vault
Labels: library/vault

#10542 Update julia
  library/julia
Labels: library/julia

#10544 Bump Traefik to v2.4.11
  library/traefik
Labels: library/traefik

#10545 Update memcached
  library/memcached
Labels: library/memcached

#10546 Update openjdk
  library/openjdk
Labels: library/openjdk

#10547 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#10543 Update Lightstreamer to version 7.2.0
  library/lightstreamer
Labels: library/lightstreamer

#10548 Update wordpress
  library/wordpress
Labels: library/wordpress

#10550 Update haproxy
  library/haproxy
Labels: library/haproxy

#10551 Update photon image
  library/photon
Labels: library/photon

#10552 Update mongo
  library/mongo
Labels: library/mongo

#10553 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10555 archlinux: Release 20210718.0.29333
  library/archlinux
Labels: library/archlinux

#10556 Update Clear Linux OS to 34860
  library/clearlinux
Labels: library/clearlinux

#10557 [varnish] vsv0007 fixes
  library/varnish
Labels: library/varnish

#10559 Update CrateDB to 4.5.4
  library/crate
Labels: library/crate

#10558 Update Nextcloud
  library/nextcloud
  test/tests/nextcloud-cli-mysql/run.sh
Labels: library/nextcloud

#10560 Update haproxy
  library/haproxy
Labels: library/haproxy

#10561 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10562 Update mysql
  library/mysql
Labels: library/mysql

#10563 Update golang
  library/golang
Labels: library/golang

#10564 Odoo: update 12.0-14.0 to release 20210720
  library/odoo
Labels: library/odoo

#10565 Update XWiki to 13.4.2
  library/xwiki
Labels: library/xwiki

#10566 Bump Traefik to v2.5.0-rc3
  library/traefik
Labels: library/traefik

#10567 arangodb 3.6.15
  library/arangodb
Labels: library/arangodb

#10568 InfluxDB v1.9.3 Enterprise-only release
  library/influxdb
Labels: library/influxdb

#10569 Update ghost
  library/ghost
Labels: library/ghost

#10570 Update bash
  library/bash
Labels: library/bash

#10571 Update wordpress
  library/wordpress
Labels: library/wordpress

#10573 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10572 Update openjdk
  library/openjdk
Labels: library/openjdk

#10574 Update amazoncorretto with 8u302 and 11.0.12
  library/amazoncorretto
Labels: library/amazoncorretto

#10575 Update openjdk
  library/openjdk
Labels: library/openjdk

#10576 Update docker
  library/docker
Labels: library/docker

#10577 Update redis
  library/redis
Labels: library/redis

#10579 Update drupal
  library/drupal
Labels: library/drupal

#10578 Update Debian to 20210721
  library/debian
Labels: library/debian

#10580 [oraclelinux] Update oraclelinux:8 and 8-slim for CVE-2021-33910
  library/oraclelinux
Labels: library/oraclelinux

#10581 update Fedora images
  library/fedora
Labels: library/fedora

#10582 Update SapMachine LTS to 11.0.12
  library/sapmachine
Labels: library/sapmachine

#10583 erlang/otp 24.0.4, 23.3.4,5
  library/erlang
Labels: library/erlang

#10585 composer 2.1.4
  library/composer
Labels: library/composer

#10586 Update Joomla
  library/joomla
Labels: library/joomla

#10587 Update php
  library/php
Labels: library/php

#10588 Update mongo
  library/mongo
Labels: library/mongo

#10589 Update redis
  library/redis
Labels: library/redis

#10590 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10591 Update Aerospike 5.6.0.8
  library/aerospike
Labels: library/aerospike

#10592 consul: 1.10.1, 1.9.8 and 1.8.14
  library/consul
Labels: library/consul

#10593 Update ghost
  library/ghost
Labels: library/ghost

#10594 composer 2.1.5
  library/composer
Labels: library/composer

#10596 arangodb 3.7.13
  library/arangodb
Labels: library/arangodb

#10597 Update mongo
  library/mongo
Labels: library/mongo

#10598 Update openjdk
  library/openjdk
Labels: library/openjdk

#10595 Update SapMachine latest to 16.0.2
  library/sapmachine
Labels: library/sapmachine

#10600 Update openjdk
  library/openjdk
Labels: library/openjdk

#10605 [Haskell] Bump Haskell to use stack 2.7.3
  library/haskell
Labels: library/haskell

#10606 archlinux: Release 20210725.0.29770
  library/archlinux
Labels: library/archlinux

#10584 Release of GeoNetwork v3.10.7 and v3.12.1
  library/geonetwork
Labels: library/geonetwork

#10607 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#10604 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10608 XWiki 13.6 release
  library/xwiki
Labels: library/xwiki

#10609 Bump Traefik to v2.4.12
  library/traefik
Labels: library/traefik

#10603 Update amazoncorretto with 16.0.2.7.1
  library/amazoncorretto
Labels: library/amazoncorretto

#10611 Add env variable to InfluxDB entrypoint script
  library/influxdb
Labels: library/influxdb

#10613 Update ghost
  library/ghost
Labels: library/ghost

#10614 Update memcached
  library/memcached
Labels: library/memcached

#10610 ubuntu: add riscv64 images and update images
  library/ubuntu
Labels: library/ubuntu

#10616 Update cassandra
  library/cassandra
Labels: library/cassandra

#10617 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#10602 Release Couchbase Server 7.0.0 (EE and CE)
  library/couchbase
Labels: library/couchbase

#10618 Update CrateDB to 4.5.5 and 4.6.1
  library/crate
Labels: library/crate

#10619 arangodb 3.8.0
  library/arangodb
Labels: library/arangodb

#10620 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#10621 Odoo: update 12.0-14.0 to release 20210728
  library/odoo
Labels: library/odoo

#10622 patch release for SQ 8 and 9
  library/sonarqube
Labels: library/sonarqube
