Repository docker-library/official-images, pull requests merged in 2021-11, with the labels that each got.

#11202 Odoo: update 13.0-15.0 to release 20211029
  library/odoo
Labels: library/odoo

#11203 Adding the support for aarch64 on JDK11 and JDK8
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#11204 Update openjdk
  library/openjdk
Labels: library/openjdk, hacktoberfest-accepted

#11205 Update ghost
  library/ghost
Labels: library/ghost, hacktoberfest-accepted

#11206 Update photon image
  library/photon
Labels: library/photon

#11207 arangodb 3.8.2
  library/arangodb
Labels: library/arangodb

#11209 Update Joomla
  library/joomla
Labels: library/joomla

#11210 Update Clear Linux OS to 35190
  library/clearlinux
Labels: library/clearlinux

#11212 [gazebo] 11.8.1 --> 11.9.0
  library/gazebo
Labels: library/gazebo

#11213 composer 2.1.10
  library/composer
Labels: library/composer

#11214 Update Monica to v3.4.0
  library/monica
Labels: library/monica

#11216 update r-base to 4.1.2 released this morning
  library/r-base
Labels: library/r-base

#11217 Remove myself as maintainer of `haskell` image.
  library/haskell
Labels: library/haskell

#11208 Add Alpine Gradle images
  library/gradle
Labels: library/gradle

#11218 Update clojure tools-deps & remove EOL'd openjdk-16
  library/clojure
Labels: library/clojure

#11219 consul: 1.11.0-beta2
  library/consul
Labels: library/consul

#11220 Update Aerospike 5.7.0.8
  library/aerospike
Labels: library/aerospike

#11221 erlang/otp 24.1.4
  library/erlang
Labels: library/erlang

#11222 elixir v1.13.0-rc.0
  library/elixir
Labels: library/elixir

#11223 composer 2.1.11
  library/composer
Labels: library/composer

#11224 update images and move latest tag to F35
  library/fedora
Labels: library/fedora

#11225 Update xwiki to 13.4.5
  library/xwiki
Labels: library/xwiki

#11231 [oraclelinux] update 7 for ELSA-2021-4033
  library/oraclelinux
Labels: library/oraclelinux

#11227 Update JRuby 9.2 to 9.2.20
  library/jruby
Labels: library/jruby

#11226 Telegraf v1.20.3 using su
  library/telegraf
Labels: library/telegraf

#11228 Update bash
  library/bash
Labels: library/bash

#11232 Update sl container for sl7 to current (build-date=20211103)
  library/sl
Labels: library/sl

#11233 [oraclelinux] Updating 8 and 8-slim for ELSA-2021-4057, ELSA-2021-4059, ELSA-2021-4060
  library/oraclelinux
Labels: library/oraclelinux

#11235 Update Apache Storm
  library/storm
Labels: library/storm

#11236 [security] Update golang
  library/golang
Labels: library/golang

#11234 ubuntu: Update impish and add jammy
  library/ubuntu
Labels: library/ubuntu

#11237 Update haproxy
  library/haproxy
Labels: library/haproxy

#11238 Update drupal
  library/drupal
Labels: library/drupal

#11239 Update ghost
  library/ghost
Labels: library/ghost

#11240 Update Vault for 1.8.5 and 1.7.6
  library/vault
Labels: library/vault

#11241 [nats] Release v2.6.4
  library/nats
Labels: library/nats

#11243 eclipse-temurin: dockerfile updates from october PSU
  library/eclipse-temurin
Labels: library/eclipse-temurin

#11244 InfluxDB v2.1.0
  library/influxdb
Labels: library/influxdb

#11246 Update Vault for 1.9.0-rc1
  library/vault
Labels: library/vault

#11245 Update photon image
  library/photon
Labels: library/photon

#11247 haxe: update to 4.2.4
  library/haxe
Labels: library/haxe

#11248 Update Clear Linux OS to 35210
  library/clearlinux
Labels: library/clearlinux

#11250 Release OrientDB v 3.0.40
  library/orientdb
Labels: library/orientdb

#11252 Bump Traefik to v2.5.4
  library/traefik
Labels: library/traefik

#11257 Fix for arangodb 3.7 and 3.8
  library/arangodb
Labels: library/arangodb

#11258 caddy: v2.4.6 release
  library/caddy
Labels: library/caddy

#11253 Update ghost
  library/ghost
Labels: library/ghost

#11261 InfluxDB 2.1.1
  library/influxdb
Labels: library/influxdb

#11259 MariaDB releases 20211108
  library/mariadb
Labels: library/mariadb

#11263 21.0.0.11 release of websphere-liberty and open-liberty
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#11264 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#11251 Updated mainline nginx to 1.21.4
  library/nginx
Labels: library/nginx

#11254 Update redmine
  library/redmine
Labels: library/redmine

#11255 Update python
  library/python
Labels: library/python

#11256 Update haproxy
  library/haproxy
Labels: library/haproxy

#11266 Update clojure tools-deps variants to 1.10.3.1020
  library/clojure
Labels: library/clojure

#11268 composer 2.1.12
  library/composer
Labels: library/composer

#11269 Update dart beta to 2.15.0-268.8.beta
  library/dart
Labels: library/dart

#11270 Odoo: update 13.0-15.0 to release 20211110
  library/odoo
Labels: library/odoo

#11271 Update wordpress
  library/wordpress
Labels: library/wordpress

#11272 Update ghost
  library/ghost
Labels: library/ghost

#11273 Update bash
  library/bash
Labels: library/bash

#11276 [nats-streaming] Release v0.23.1
  library/nats-streaming
Labels: library/nats-streaming

#11275 Update ruby
  library/ruby
Labels: library/ruby

#11274 Update openjdk
  library/openjdk
Labels: library/openjdk

#11277 Releasing Neo4j 4.3.7 and 3.5.30
  library/neo4j
Labels: library/neo4j

#11278 Release OrientDB v 3.1.15
  library/orientdb
Labels: library/orientdb

#11279 Update busybox
  library/busybox
Labels: library/busybox

#11280 Update php
  library/php
Labels: library/php

#11281 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11284 Update postgres
  library/postgres
Labels: library/postgres

#11282 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11283 Update openjdk
  library/openjdk
Labels: library/openjdk

#11285 [ros] bump rolling ros1-bridge to 0.10.2
  library/ros
Labels: library/ros

#11287 Gradle 7.3
  library/gradle
Labels: library/gradle

#11286 erlang/otp 24.1.5, 23.3.4.9, 22.3.4.23
  library/erlang
Labels: library/erlang

#11290 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#11289 alpine: security fixes in busybox
  library/alpine
Labels: library/alpine

#11288 Groovy 4.0.0-beta-2
  library/groovy
Labels: library/groovy

#11292 Update clojure lein variants to 2.9.8
  library/clojure
Labels: library/clojure

#11293 AlmaLinux: update to 8.5 release
  library/almalinux
Labels: library/almalinux

#11294 library/perl: Add Debian bullseye, drop Debian stretch
  library/perl
Labels: library/perl

#11295 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11291 Remove failing plone architectures
  library/plone
Labels: library/plone

#11296 Update photon image
  library/photon
Labels: library/photon

#11306 Update maintainers
  library/vault
Labels: library/vault

#11303 Remove more failing plone architectures
  library/plone
Labels: library/plone

#11298 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#11299 archlinux: Release 20211114.0.39041
  library/archlinux
Labels: library/archlinux

#11300 Update Clear Linux OS to 35280
  library/clearlinux
Labels: library/clearlinux

#11304 Update haproxy
  library/haproxy
Labels: library/haproxy

#11305 Update ghost
  library/ghost
Labels: library/ghost

#11297 consul: 1.10.4, 1.9.11 and 1.8.17
  library/consul
Labels: library/consul

#11307 Update tomcat
  library/tomcat
Labels: library/tomcat

#11310 [oraclelinux] remove Oracle Linux 6 images
  library/oraclelinux
Labels: library/oraclelinux

#11301 Add alpine images
  library/groovy
Labels: library/groovy

#11309 Update tomcat
  library/tomcat
Labels: library/tomcat

#11311 Update postgres
  library/postgres
Labels: library/postgres

#11312 Update mongo
  library/mongo
Labels: library/mongo

#11313 Update python
  library/python
Labels: library/python

#11315 Updated nginx
  library/nginx
Labels: library/nginx

#11316 [security] Update to nextcloud 22.2.3 and 21.0.7
  library/nextcloud
Labels: library/nextcloud

#11317 eclipse-mosquitto 2.0.14
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#11318 Update mongo
  library/mongo
Labels: library/mongo

#11319 Update julia
  library/julia
Labels: library/julia

#11308 Update Debian to 20211115
  library/debian
Labels: library/debian

#11324 [oraclelinux]: Release Oracle Linux 8 Update 5
  library/oraclelinux
Labels: library/oraclelinux

#11320 Releasing Neo4j 4.1.11
  library/neo4j
Labels: library/neo4j

#11321 Swipl 8.5.2
  library/swipl
Labels: library/swipl

#11322 Update dart beta to 2.15.0-268.18.beta
  library/dart
Labels: library/dart

#11323 Update Vault for 1.9.0
  library/vault
Labels: library/vault

#11325 Update tomcat
  library/tomcat
Labels: library/tomcat

#11326 Telegraf v1.20.4
  library/telegraf
Labels: library/telegraf

#11327 Update docker
  library/docker
Labels: library/docker

#11328 [security] Update php
  library/php
Labels: library/php

#11329 Update bash
  library/bash
Labels: library/bash

#11330 Update drupal
  library/drupal
Labels: library/drupal

#11333 Update httpd
  library/httpd
Labels: library/httpd

#11334 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11332 alpine: add 3.15 release candidate 4
  library/alpine
Labels: library/alpine

#11335 Safely delete files on error in InfluxDB entrypoint script
  library/influxdb
Labels: library/influxdb

#11337 [oraclelinux] Updating 8 and 8-slim for ELSA-2021-4587
  library/oraclelinux
Labels: library/oraclelinux

#11331 Update CrateDB to 4.6.5
  library/crate
Labels: library/crate

#11338 erlang/otp 24.1.6
  library/erlang
Labels: library/erlang

#11340 Update Solr to 8.11.0
  library/solr
Labels: library/solr

#11341 Update php
  library/php
Labels: library/php

#11343 Odoo: update 13.0-15.0 to release 20211119
  library/odoo
Labels: library/odoo

#11344 Release SonarQube 9.2.0
  library/sonarqube
Labels: library/sonarqube

#11345 Update openjdk
  library/openjdk
Labels: library/openjdk

#11346 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11347 [nats] Release v2.6.5
  library/nats
Labels: library/nats

#11350 [nats-streaming] Release v0.23.2
  library/nats-streaming
Labels: library/nats-streaming

#11351 arangodb 3.8.3
  library/arangodb
Labels: library/arangodb

#11352 Remove i386 from composer
  library/composer
Labels: library/composer

#11353 Remove i386 from websphere-liberty
  library/websphere-liberty
Labels: library/websphere-liberty

#11339 elixir v1.13.0-rc.1
  library/elixir
Labels: library/elixir

#11354 Remove mips64le from friendica
  library/friendica
Labels: library/friendica

#11355 Update ghost
  library/ghost
Labels: library/ghost

#11356 Update haproxy
  library/haproxy
Labels: library/haproxy

#11359 archlinux: Release 20211121.0.39613
  library/archlinux
Labels: library/archlinux

#11360 Update Clear Linux OS to 35310
  library/clearlinux
Labels: library/clearlinux

#11361 Update Monica to v3.5.0
  library/monica
Labels: library/monica

#11362 maven: 3.8.4
  library/maven
Labels: library/maven

#11364 erlang/otp 24.1.7
  library/erlang
Labels: library/erlang

#11365 Update julia
  library/julia
Labels: library/julia

#11366 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11367 [varnish] release 7.0.1
  library/varnish
Labels: library/varnish

#11368 consul: 1.11.0-beta3
  library/consul
Labels: library/consul

#11372 Bump to latest Mono 6.12.0.122 release
  library/mono
Labels: library/mono

#11373 Add haskell 9.2.1
  library/haskell
Labels: library/haskell
