Repository docker-library/official-images, pull requests merged in 2021-05, with the labels that each got.

#10089 Update photon image
  library/photon
Labels: library/photon

#10093 Update to Flink 1.13.0
  library/flink
Labels: library/flink

#10071 Update base image for all 6.x version of Couchbase Server
  library/couchbase
Labels: library/couchbase

#10094 archlinux: Release 20210502.0.21321
  library/archlinux
Labels: library/archlinux

#10095 Update Clear Linux OS to 34560
  library/clearlinux
Labels: library/clearlinux

#10096 Update Monica to v3.0.0
  library/monica
Labels: library/monica

#10099 Update haproxy
  library/haproxy
Labels: library/haproxy

#10100 Update python
  library/python
Labels: library/python

#10101 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10102 Aerospike CE updates
  library/aerospike
Labels: library/aerospike

#10104 Update redmine
  library/redmine
Labels: library/redmine

#10103 Update ghost
  library/ghost
Labels: library/ghost

#10105 Update EG to 1.16.11
  library/express-gateway
Labels: library/express-gateway

#10106 Update redis
  library/redis
Labels: library/redis

#10107 Update httpd
  library/httpd
Labels: library/httpd

#10108 Update haproxy
  library/haproxy
Labels: library/haproxy

#10109 Update busybox
  library/busybox
Labels: library/busybox

#10110 [oraclelinux] Fix regression in amd64/oraclelinux:7 and 7-slim
  library/oraclelinux
Labels: library/oraclelinux

#10098 Tags SonarQube 8.9 LTS
  library/sonarqube
Labels: library/sonarqube

#10111 Update bash
  library/bash
Labels: library/bash

#10112 Update python
  library/python
Labels: library/python

#10114 Update ghost
  library/ghost
Labels: library/ghost

#10113 Update gcc
  library/gcc
Labels: library/gcc

#10115 Update sl container for sl7 to current (build-date=20210504)
  library/sl
Labels: library/sl

#10116 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10117 caddy: v2.4.0-rc.1 release
  library/caddy
Labels: library/caddy

#10118 Update CrateDB to 4.5.1
  library/crate
Labels: library/crate

#10119 Official Convertigo 7.9.3 release
  library/convertigo
Labels: library/convertigo

#10120 Update Monica v3.0.1
  library/monica
Labels: library/monica

#10121 Update drupal
  library/drupal
Labels: library/drupal

#10122 Update ghost
  library/ghost
Labels: library/ghost

#10123 [oraclelinux] Update oraclelinux:7 and oraclelinux:7-slim
  library/oraclelinux
Labels: library/oraclelinux

#10125 Odoo: update 12.0-14.0 to release 20210506
  library/odoo
Labels: library/odoo

#10126 Releasing Neo4j 4.2.6
  library/neo4j
Labels: library/neo4j

#10127 Update php
  library/php
Labels: library/php

#10128 erlang/otp 21.3.8.23, 22.3.4.18, 23.3.3
  library/erlang
Labels: library/erlang

#10129 Update mongo
  library/mongo
Labels: library/mongo

#10130 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10133 Update mongo
  library/mongo
Labels: library/mongo

#10134 Update Rust to 1.52.0
  library/rust
Labels: library/rust

#10132 consul: add 1.10.0-beta2
  library/consul
Labels: library/consul

#10135 Update php
  library/php
Labels: library/php

#10136 Update photon image
  library/photon
Labels: library/photon

#10138 [nats] Release v2.2.3
  library/nats
Labels: library/nats

#10141 archlinux: Release 20210509.0.21942
  library/archlinux
Labels: library/archlinux

#10140 [Haskell] Update bundled Stack version
  library/haskell
Labels: library/haskell

#10143 Release of GeoNetwork 3.12.0 and 4.0.4
  library/geonetwork
Labels: library/geonetwork

#10147 Update openjdk
  library/openjdk
Labels: library/openjdk

#10148 Update httpd
  library/httpd
Labels: library/httpd

#10149 Update haproxy
  library/haproxy
Labels: library/haproxy

#10150 Update mongo
  library/mongo
Labels: library/mongo

#10151 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10157 Update ghost
  library/ghost
Labels: library/ghost

#10160 erlang/otp 24.0
  library/erlang
Labels: library/erlang

#10154 Mariadb release 20210510
  library/mariadb
Labels: library/mariadb

#10162 [nats] Release v2.2.4
  library/nats
Labels: library/nats

#10163 Update XWiki LTS version
  library/xwiki
Labels: library/xwiki

#10164 [percona] Update ps-80 version
  library/percona
Labels: library/percona

#10165 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#10166 Update wordpress
  library/wordpress
Labels: library/wordpress

#10167 Update tomcat
  library/tomcat
Labels: library/tomcat

#10168 update Fedora images for 33, 34 and rawhide
  library/fedora
Labels: library/fedora

#10169 Gradle 7.0.2
  library/gradle
Labels: library/gradle

#10170 Update openjdk
  library/openjdk
Labels: library/openjdk

#10171 Update postgres
  library/postgres
Labels: library/postgres

#10172 Update haproxy
  library/haproxy
Labels: library/haproxy

#10173 21.0.0.5 release
  library/open-liberty
  library/websphere-liberty
Labels: library/open-liberty, library/websphere-liberty

#10009 Add Official AlmaLinux OS Image
  library/almalinux
Labels: library/almalinux, new-image

#10175 Update mongo
  library/mongo
Labels: library/mongo

#10174 Update photon image
  library/photon
Labels: library/photon

#10177 archlinux: Release 20210516.0.23009
  library/archlinux
Labels: library/archlinux

#10180 Update Matomo
  library/matomo
Labels: library/matomo

#10181 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#10182 Update clojure tools-deps to 1.10.3.833
  library/clojure
Labels: library/clojure

#10178 Update Clear Linux OS to 34620
  library/clearlinux
Labels: library/clearlinux

#10179 Update gcc
  library/gcc
Labels: library/gcc

#10144 Add dart
  library/dart
  test/tests/dart-hello-world/container.dart
  test/tests/dart-hello-world/expected-std-out.txt
  test/tests/dart-hello-world/run.sh
  test/tests/run-dart-in-container.sh
Labels: library/dart, new-image

#10183 Add JDK16
  library/jruby
Labels: library/jruby

#10184 Update busybox
  library/busybox
Labels: library/busybox

#10186 Update clojure tools-deps to 1.10.3.839
  library/clojure
Labels: library/clojure

#10185 Update mongo
  library/mongo
Labels: library/mongo

#10187 Releasing Neo4j 4.1.9
  library/neo4j
Labels: library/neo4j

#10189 Odoo: update 12.0-14.0 to release 20210518
  library/odoo
Labels: library/odoo

#10190 Update r-base to 4.1.0 released this morning
  library/r-base
Labels: library/r-base

#10192 Update bash
  library/bash
Labels: library/bash

#10191 Update dart (stable) to 2.13.0
  library/dart
Labels: library/dart

#10193 Fix bugs in influxdb 2.0 entrypoint scripts.
  library/influxdb
Labels: library/influxdb

#10194 Bump IBM Java version to 1.8.0_sr6fp30 (8.0.6.30).
  library/ibmjava
Labels: library/ibmjava

#10195 updated teamspeak to 3.13.5
  library/teamspeak
Labels: library/teamspeak

#10188 Ubuntu update May 2021
  library/ubuntu
Labels: library/ubuntu

#10197 Update wordpress
  library/wordpress
Labels: library/wordpress

#10198 elixir 1.12.0
  library/elixir
Labels: library/elixir

#10200 haxe 4.2.2
  library/haxe
Labels: library/haxe

#10201 Erlang/OTP 24.0.1
  library/erlang
Labels: library/erlang

#10202 [nats] Release v2.2.5
  library/nats
Labels: library/nats

#10203 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10204 Update openjdk
  library/openjdk
Labels: library/openjdk

#10206 erlang/otp 23.3.4.1, 22.3.4.19
  library/erlang
Labels: library/erlang

#10207 library/perl: update for 5.34.0 + rebuild for older versions
  library/perl
Labels: library/perl

#10208 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#10209 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10210 Update photon image
  library/photon
Labels: library/photon

#10211 caddy: v2.4.1 release
  library/caddy
Labels: library/caddy

#10213 Friendica Release 2021.06 RC
  library/friendica
Labels: library/friendica

#10214 archlinux: Release 20210523.0.23638
  library/archlinux
Labels: library/archlinux

#10215 Update Clear Linux OS to 34640
  library/clearlinux
Labels: library/clearlinux

#10219 composer 2.0.14
  library/composer
Labels: library/composer

#10221 InfluxDB v1.8.6
  library/influxdb
Labels: library/influxdb

#10222 Telegraf v1.18.3
  library/telegraf
Labels: library/telegraf

#10223 Update pypy
  library/pypy
Labels: library/pypy

#10224 Update python
  library/python
Labels: library/python

#10225 Update XWiki version to 13.4
  library/xwiki
Labels: library/xwiki

#10226 Update Vault for 1.5.9, 1.6.5, and 1.7.2
  library/vault
Labels: library/vault

#10227 Update wordpress
  library/wordpress
Labels: library/wordpress

#10216 Update Jetty versions to 9.4.41, 10.0.3 & 11.0.3
  library/jetty
Labels: library/jetty

#10220 MariaDB 10.6.1 beta release 20210524
  library/mariadb
Labels: library/mariadb

#10228 [nats] Release v2.2.6
  library/nats
Labels: library/nats

#10229 Odoo: update 12.0-14.0 to release 20210525
  library/odoo
Labels: library/odoo

#10230 Update to Flink 1.12.4
  library/flink
Labels: library/flink

#10232 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10234 Upgrade Dart to 2.13.1
  library/dart
Labels: library/dart

#10236 Update bash
  library/bash
Labels: library/bash

#10237 Update httpd
  library/httpd
Labels: library/httpd

#10235 Update Ubuntu, esp. for Impish (21.10 / devel)
  library/ubuntu
Labels: library/ubuntu

#10238 [Swift] Add support for Swift 5.4.1
  library/swift
Labels: library/swift

#10240 update rebar3
  library/erlang
Labels: library/erlang

#10241 Update Joomla
  library/joomla
Labels: library/joomla

#10242 Update Matomo
  library/matomo
Labels: library/matomo

#10243 Update Docker image for Silverpeas version 6.2.1
  library/silverpeas
Labels: library/silverpeas

#10244 Update clojure tools-deps to 1.10.3.855
  library/clojure
Labels: library/clojure

#10233 [ros] add galactic distribution images
  library/ros
Labels: library/ros

#10245 Update drupal
  library/drupal
Labels: library/drupal

#10246 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10248 Release OrientDB v 3.2.0-tp3 and v 3.1.12
  library/orientdb
Labels: library/orientdb

#10252 consul: 1.10.0-beta3
  library/consul
Labels: library/consul

#10249 Update aerospike 5.6.0.4
  library/aerospike
Labels: library/aerospike

#10251 update sha for couchbase server 6.6.2.
  library/couchbase
Labels: library/couchbase

#10253 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#10254 Update amazoncorretto maintainer list
  library/amazoncorretto
Labels: library/amazoncorretto

#10256 Update ghost
  library/ghost
Labels: library/ghost

#10255 Update openjdk
  library/openjdk
Labels: library/openjdk

#10259 [oraclelinux]: Release Oracle Linux 8 Update 4
  library/oraclelinux
Labels: library/oraclelinux

#10260 Releasing Neo4j 4.2.7
  library/neo4j
Labels: library/neo4j
