Repository docker-library/official-images, pull requests merged in 2021-10, with the labels that each got.

#10990 Ubuntu update September 2021
  library/ubuntu
Labels: library/ubuntu

#11001 erlang/otp 24.1.1
  library/erlang
Labels: library/erlang

#11002 Bump CouchDB to v3.1.2
  library/couchdb
Labels: library/couchdb

#11003 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#11006 znc: switch from libressl to openssl
  library/znc
Labels: library/znc

#11004 Fedora 20211001
  library/fedora
Labels: library/fedora

#11005 Update photon image
  library/photon
Labels: library/photon

#11007 Add alpine tags for alpine version 3.12, 3.13 and 3.14.
  library/amazoncorretto
Labels: library/amazoncorretto

#11008 Friendica Release 2021.09 | Wrong Commit
  library/friendica
Labels: library/friendica

#11009 archlinux: Release 20211003.0.35663
  library/archlinux
Labels: library/archlinux

#11010 Update Clear Linux OS to 35090
  library/clearlinux
Labels: library/clearlinux

#11018 [security] Update docker
  library/docker
Labels: library/docker

#11012 Release OrientDB v 3.1.13
  library/orientdb
Labels: library/orientdb

#11013 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#11014 Update sl container for sl7 to current (build-date=20211004)
  library/sl
Labels: library/sl

#11015 bump Kong to 2.6.0
  library/kong
Labels: library/kong

#11016 Bump Traefik to v1.7.31
  library/traefik
Labels: library/traefik

#11017 InfluxDB v2.0.9
  library/influxdb
Labels: library/influxdb

#11022 release 2.1.9 and 1.10.23
  library/composer
Labels: library/composer

#11025 Update ALT Linux - 20211005
  library/alt
Labels: library/alt

#11026 Update CrateDB to 4.6.4
  library/crate
Labels: library/crate

#11028 Update redmine
  library/redmine
Labels: library/redmine

#11030 Update httpd
  library/httpd
Labels: library/httpd

#11024 eclipse-temurin: add windows ltsc-2022 support
  library/eclipse-temurin
Labels: library/eclipse-temurin

#11031 Update redis
  library/redis
Labels: library/redis

#11032 Update haproxy
  library/haproxy
Labels: library/haproxy

#11034 Update ghost
  library/ghost
Labels: library/ghost

#11035 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11036 Update python
  library/python
Labels: library/python

#11020 Update Jetty version to 9.4.44
  library/jetty
Labels: library/jetty

#11038 erlang/otp 24.1.2
  library/erlang
Labels: library/erlang

#11039 [ros] ros-comm 1.15.11 -> 1.15.13
  library/ros
Labels: library/ros

#11027 Update openjdk
  library/openjdk
Labels: library/openjdk

#11029 Update tomcat
  library/tomcat
Labels: library/tomcat

#11043 Bump Traefik to v1.7.32
  library/traefik
Labels: library/traefik

#11041 Update hylang
  library/hylang
Labels: library/hylang

#11042 Update drupal
  library/drupal
Labels: library/drupal

#11048 Update memcached
  library/memcached
Labels: library/memcached

#11054 Update Joomla
  library/joomla
Labels: library/joomla

#11060 Update wordpress
  library/wordpress
Labels: library/wordpress

#11062 Update python
  library/python
Labels: library/python

#11050 Some bumps for Haskell
  library/haskell
Labels: library/haskell

#11065 [security] Update golang
  library/golang
Labels: library/golang

#11067 [percona] Update psmdb-44 version
  library/percona
Labels: library/percona

#11073 Incorporate @tianon feedback on GitFetch
  library/couchdb
Labels: library/couchdb

#11075 Update mongo
  library/mongo
Labels: library/mongo

#11076 Update openjdk
  library/openjdk
Labels: library/openjdk

#11080 Update Monica to v3.3.1
  library/monica
Labels: library/monica

#11089 InfluxDB v1.8.10
  library/influxdb
Labels: library/influxdb

#11087 Update Debian, esp. for 11.1 and 10.11
  library/debian
Labels: library/debian

#11098 Haskell bumps + remove stretch support
  library/haskell
Labels: library/haskell

#11106 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#11107 Releasing Neo4j 4.3.6
  library/neo4j
Labels: library/neo4j

#11108 [percona] Update psmdb-50 version
  library/percona
Labels: library/percona

#11113 Chronograf v1.9.1
  library/chronograf
Labels: library/chronograf

#11109 update sapmachine
  library/sapmachine
Labels: library/sapmachine

#11115 [nats-streaming] Release v0.23.0
  library/nats-streaming
Labels: library/nats-streaming

#11116 Update openjdk
  library/openjdk
Labels: library/openjdk

#11117 Update ghost
  library/ghost
Labels: library/ghost

#11118 Update mongo
  library/mongo
Labels: library/mongo

#11112 Update ubuntu images now that impish is released
  library/ubuntu
Labels: library/ubuntu

#11119 [hitch] build packages ourselves
  library/hitch
Labels: library/hitch

#11124 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#11127 Update ghost
  library/ghost
Labels: library/ghost

#11128 Update mysql
  library/mysql
Labels: library/mysql

#11130 Update docker
  library/docker
Labels: library/docker

#11131 erlang/otp 23.3.4.8, 22.3.4.22
  library/erlang
Labels: library/erlang

#11136 Update openjdk
  library/openjdk
Labels: library/openjdk

#11140 Update openjdk
  library/openjdk
Labels: library/openjdk

#11142 update sapmachine
  library/sapmachine
Labels: library/sapmachine

#11145 maven: remove openjdk-16 and adoptopenjdk
  library/maven
Labels: library/maven

#10666 Add OpenJDK + Eclipse OpenJ9 images from IBM Semeru Runtimes
  library/ibm-semeru-runtimes
  test/config.sh
Labels: new-image, library/ibm-semeru-runtimes

#11150 [security] Update php
  library/php
Labels: library/php

#11149 refactor: remove unnecessary tags
  library/rethinkdb
Labels: library/rethinkdb

#11153 [percona] Update ps-80 version
  library/percona
Labels: library/percona
