Repository docker-library/official-images, pull requests merged in 2021-08, with the labels that each got.

#10644 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10601 chore: upgrade kapa to 1.6.1
  library/kapacitor
Labels: library/kapacitor

#10645 Update haproxy
  library/haproxy
Labels: library/haproxy

#10646 Update python
  library/python
Labels: library/python

#10647 Update redmine
  library/redmine
Labels: library/redmine

#10648 [nats] Release v2.3.3
  library/nats
Labels: library/nats

#10649 Update Matomo to 4.4.1
  library/matomo
Labels: library/matomo

#10650 [nats-streaming] Release v0.22.1
  library/nats-streaming
Labels: library/nats-streaming

#10651 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#10612 Remove fsharp config file
  library/fsharp
Labels: library/fsharp

#10652 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10653 Update golang
  library/golang
Labels: library/golang

#10657 Update ghost
  library/ghost
Labels: library/ghost

#10658 Update drupal
  library/drupal
Labels: library/drupal

#10660 Update bash
  library/bash
Labels: library/bash

#10659 Update python
  library/python
Labels: library/python

#10661 Bump Traefik to v2.5.0-rc5
  library/traefik
Labels: library/traefik

#10663 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10664 Update to Flink 1.12.5
  library/flink
Labels: library/flink

#10665 Update to Flink 1.13.2
  library/flink
Labels: library/flink

#10667 Update mongo
  library/mongo
Labels: library/mongo

#10668 Update docker
  library/docker
Labels: library/docker

#10669 alpine: edge snapshot 20210804 and add riscv64
  library/alpine
Labels: library/alpine

#10643 Update ALT Linux - 20210802
  library/alt
Labels: library/alt

#10671 Update mongo
  library/mongo
Labels: library/mongo

#10670 Update Aerospike 5.6.0.9
  library/aerospike
Labels: library/aerospike

#10672 [nats] Release v2.3.4
  library/nats
Labels: library/nats

#10673 Release 1.8.1
  library/vault
Labels: library/vault

#10675 Update php
  library/php
Labels: library/php

#10677 Update mongo
  library/mongo
Labels: library/mongo

#10678 Update golang
  library/golang
Labels: library/golang

#10676 Update tomcat
  library/tomcat
Labels: library/tomcat

#10679 Update httpd
  library/httpd
Labels: library/httpd

#10641 [varnish] multiarch and alpine support
  library/varnish
Labels: library/varnish

#10680 Nextcloud 22.1
  library/nextcloud
Labels: library/nextcloud

#10681 Update docker
  library/docker
Labels: library/docker

#10674 alpine: bump 3.14.1 (CVE-2021-36159)
  library/alpine
Labels: library/alpine

#10683 Update openjdk
  library/openjdk
Labels: library/openjdk

#10684 Update tomcat
  library/tomcat
Labels: library/tomcat

#10686 Update python
  library/python
Labels: library/python

#10682 Update to Flink 1.11.4
  library/flink
Labels: library/flink

#10599 Update photon image
  library/photon
Labels: library/photon

#10685 Updates for the release of 21.0.0.8
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#10687 Update openjdk
  library/openjdk
Labels: library/openjdk

#10688 mariadb releases 20210806
  library/mariadb
Labels: library/mariadb

#10689 archlinux: Release 20210808.0.31089
  library/archlinux
Labels: library/archlinux

#10690 Update Clear Linux OS to 34930
  library/clearlinux
Labels: library/clearlinux

#10691 Odoo: update 12.0-14.0 to release 20210809
  library/odoo
Labels: library/odoo

#10692 Fix Tags for Lightstreamer version 7.2.0
  library/lightstreamer
Labels: library/lightstreamer

#10693 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10694 InfluxDB v1.8.7
  library/influxdb
Labels: library/influxdb

#10695 mariadb releases 20210806 with s390x
  library/mariadb
Labels: library/mariadb

#10696 Update GitCommit for Lightstreamer
  library/lightstreamer
Labels: library/lightstreamer

#10697 Releasing Neo4j 4.3.3
  library/neo4j
Labels: library/neo4j

#10698 update r-base to 4.1.1 released this morning
  library/r-base
Labels: library/r-base

#10699 InfluxDB v1.8.9
  library/influxdb
Labels: library/influxdb

#10700 Update bash
  library/bash
Labels: library/bash

#10701 Upgrade dart beta to 2.14.0-377.4.beta
  library/dart
Labels: library/dart

#10704 Chronograf v1.8.10
  library/chronograf
Labels: library/chronograf

#10706 [oraclelinux] Update oraclelinux:8/8-slim for CVE-2021-27218
  library/oraclelinux
Labels: library/oraclelinux

#10705 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10709 As announced [1], Ubuntu Groovy is EOL
  library/ubuntu
Labels: library/ubuntu

#10710 [percona] Update psmdb-40
  library/percona
Labels: library/percona

#10711 Chronograf v1.9.0
  library/chronograf
Labels: library/chronograf

#10712 Update python
  library/python
Labels: library/python

#10713 Update postgres
  library/postgres
Labels: library/postgres

#10708 Adding Couchbase Server EE 6.6.3
  library/couchbase
Labels: library/couchbase

#10714 Update drupal
  library/drupal
Labels: library/drupal

#10715 Bump IBM Java version to 1.8.0_sr6fp35 (8.0.6.35)
  library/ibmjava
Labels: library/ibmjava

#10716 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#10717 Update openjdk
  library/openjdk
Labels: library/openjdk

#10718 Bump Traefik to v2.5.0-rc6
  library/traefik
Labels: library/traefik

#10720 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#10721 RiP EOLed groovy for neurodebian
  library/neurodebian
Labels: library/neurodebian

#10722 InfluxDB v2.0.8
  library/influxdb
Labels: library/influxdb

#10662 Add eclipse-temurin openjdk official docker image
  library/eclipse-temurin
  test/config.sh
Labels: new-image, library/eclipse-temurin

#10719 Update photon image
  library/photon
Labels: library/photon

#10724 Update spiped to debian:bullseye-slim
  library/spiped
Labels: library/spiped

#10725 archlinux: Release 20210815.0.31571
  library/archlinux
Labels: library/archlinux

#10728 maven: 3.8.2 and eclipse-temurin tags
  library/maven
Labels: library/maven

#10729 Bump Traefik to v2.4.14
  library/traefik
Labels: library/traefik

#10732 Update clojure tools-deps to 1.10.3.943
  library/clojure
Labels: library/clojure

#10735 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10737 kong: add arm64 to alpine image
  library/kong
Labels: library/kong

#10734 Update tomcat
  library/tomcat
Labels: library/tomcat

#10730 Update Debian, esp. for Bullseye (+ Bookworm)
  library/debian
Labels: library/debian

#10726 [varnish] switch to debian:bullseye
  library/varnish
Labels: library/varnish

#10733 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#10736 Update python
  library/python
Labels: library/python

#10738 Update ruby
  library/ruby
Labels: library/ruby

#10739 Update golang
  library/golang
Labels: library/golang

#10741 [percona] Update psmdb-44
  library/percona
Labels: library/percona

#10742 Update xwiki to 13.4.3
  library/xwiki
Labels: library/xwiki

#10746 [security] Update haproxy
  library/haproxy
Labels: library/haproxy

#10747 Bump Traefik to v2.5.0
  library/traefik
Labels: library/traefik

#10743 Update pypy
  library/pypy
Labels: library/pypy

#10744 Update bash
  library/bash
Labels: library/bash

#10745 Update ghost
  library/ghost
Labels: library/ghost

#10749 Update php
  library/php
Labels: library/php

#10750 Update joomla
  library/joomla
Labels: library/joomla

#10751 Update ghost
  library/ghost
Labels: library/ghost

#10752 Gradle 7.2
  library/gradle
Labels: library/gradle

#10753 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10755 Update hylang
  library/hylang
Labels: library/hylang

#10756 PS-57 update version
  library/percona
Labels: library/percona

#10757 Update Clear Linux OS to 34940
  library/clearlinux
Labels: library/clearlinux

#10758 Add JRE images for Eclipse Temurin 8
  library/eclipse-temurin
Labels: library/eclipse-temurin

#10759 Update dart beta to 2.14.0-377.7.beta
  library/dart
Labels: library/dart

#10761 Update php
  library/php
Labels: library/php

#10762 Update openjdk
  library/openjdk
Labels: library/openjdk

#10763 Telegraf v1.19.3
  library/telegraf
Labels: library/telegraf

#10764 Update XWiki LTS version
  library/xwiki
Labels: library/xwiki

#10765 Bump Traefik to v2.5.1
  library/traefik
Labels: library/traefik

#10766 arangodb 3.7.14
  library/arangodb
Labels: library/arangodb

#10767 Update pypy
  library/pypy
Labels: library/pypy

#10768 Update busybox
  library/busybox
Labels: library/busybox

#10771 Update hylang
  library/hylang
Labels: library/hylang

#10769 [gazebo] 11.7.0 -> 11.8.0
  library/gazebo
Labels: library/gazebo

#10770 [ros] bump ROS rolling ros1-bridge image dependencies
  library/ros
Labels: library/ros

#10772 Gradle 6.9.1
  library/gradle
Labels: library/gradle

#10773 Update photon image
  library/photon
Labels: library/photon

#10774 archlinux: Release 20210822.0.32033
  library/archlinux
Labels: library/archlinux

#10775 Update bash
  library/bash
Labels: library/bash

#10776 eclipse-temurin add s390x support to JDK16
  library/eclipse-temurin
Labels: library/eclipse-temurin

#10777 Release Neo4j 4.2.10
  library/neo4j
Labels: library/neo4j

#10778 Update joomla
  library/joomla
Labels: library/joomla

#10780 Update bash
  library/bash
Labels: library/bash

#10781 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10760 release 2.1.6
  library/composer
Labels: library/composer

#10782 Update docker
  library/docker
Labels: library/docker

#10783 Update hello-world
  library/hello-world
Labels: library/hello-world

#10784 Update haproxy
  library/haproxy
Labels: library/haproxy

#10805 archlinux: Release 20210829.0.32635
  library/archlinux
Labels: library/archlinux

#10806 Friendica Release 2021.09-rc
  library/friendica
Labels: library/friendica

#10807 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#10808 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#10811 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10812 Update haproxy
  library/haproxy
Labels: library/haproxy

#10813 Update Monica to v3.2.0
  library/monica
Labels: library/monica

#10814 [gazebo] 11.8.0 -> 11.8.1
  library/gazebo
Labels: library/gazebo

#10810 Update golang
  library/golang
Labels: library/golang

#10816 Update julia
  library/julia
Labels: library/julia

#10809 Ubuntu update August 2021
  library/ubuntu
Labels: library/ubuntu

#10819 [security] Update python
  library/python
Labels: library/python

#10818 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10817 Update tomcat
  library/tomcat
Labels: library/tomcat

#10822 Update mongo
  library/mongo
Labels: library/mongo

#10804 consul: 1.10.2, 1.9.9 and 1.8.15
  library/consul
Labels: library/consul

#10823 Update bash
  library/bash
Labels: library/bash
