Repository docker-library/official-images, pull requests merged in 2021-06, with the labels that each got.

#10275 [oraclelinux] update oraclelinux:7 and 7-slim for CVE-2021-27219
  library/oraclelinux
Labels: library/oraclelinux

#10257 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10261 Update photon image
  library/photon
Labels: library/photon

#10263 elixir 1.12.1
  library/elixir
Labels: library/elixir

#10264 AlmaLinux: release 8.4 x86_64 version
  library/almalinux
Labels: library/almalinux

#10265 archlinux: Release 20210530.0.24217
  library/archlinux
Labels: library/archlinux

#10266 Upgrade Zookeeper to 3.6.3
  library/zookeeper
Labels: library/zookeeper

#10267 Update Clear Linux OS to 34670
  library/clearlinux
Labels: library/clearlinux

#10268 Add MediaWiki 1.36.0
  library/mediawiki
Labels: library/mediawiki

#10217 library/perl: remove one-time backfill for EOL Perl versions
  library/perl
Labels: library/perl

#10269 Update to Flink 1.13.1
  library/flink
Labels: library/flink

#10273 erlang/otp 24.0.2, 23.3.4.2, 22.3.4.20, 21.3.8.24
  library/erlang
Labels: library/erlang

#10274 [gazebo] bump gazebo 9 and 11 package versions
  library/gazebo
Labels: library/gazebo

#10276 Add Zend Server 2021.0 as latest version
  library/php-zendserver
Labels: library/php-zendserver

#10277 fixing error in last neo4j release
  library/neo4j
Labels: library/neo4j

#10278 Update to Adminer 4.8.1
  library/adminer
Labels: library/adminer

#10279 Update sl container for sl7 to current (build-date=20210601)
  library/sl
Labels: library/sl

#10280 Update redis
  library/redis
Labels: library/redis

#10282 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10281 Update gcc
  library/gcc
Labels: library/gcc

#10285 [nats-streaming] Release v0.22.0
  library/nats-streaming
Labels: library/nats-streaming

#10284 AlmaLinux: initial aarch64 release for 8.4 version
  library/almalinux
Labels: library/almalinux

#10290 [oraclelinux] Update oraclelinux:8 and 8-slim for CVE-2021-27219
  library/oraclelinux
Labels: library/oraclelinux

#10270 [ros] eloquent and melodic/debian stretch now use snapshots repository
  library/ros
Labels: library/ros

#10272 [ros] swap key and list file to trigger rebuild
  library/ros
Labels: library/ros

#10288 Update Aerospike 5.6.0.5
  library/aerospike
Labels: library/aerospike

#10291 Update drupal
  library/drupal
Labels: library/drupal

#10292 Update redmine
  library/redmine
Labels: library/redmine

#10293 [ros] update 2 more images for outdated GPG key and retire EOL images
  library/ros
Labels: library/ros

#10296 Bump IBM Java version to 1.8.0_sr6fp31 (8.0.6.31)
  library/ibmjava
Labels: library/ibmjava

#10297 composer 2.1.0
  library/composer
Labels: library/composer

#10298 Official Convertigo 7.9.4 release
  library/convertigo
Labels: library/convertigo

#10299 Update php
  library/php
Labels: library/php

#10294 Update docker
  library/docker
Labels: library/docker

#10301 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#10300 Update rakudo-star official image to 2021.04
  library/rakudo-star
Labels: library/rakudo-star

#10302 [security] Update golang
  library/golang
Labels: library/golang

#10305 Update phpMyAdmin to version 5.1.1
  library/phpmyadmin
Labels: library/phpmyadmin

#10303 Update php
  library/php
Labels: library/php

#10306 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10307 Update openjdk
  library/openjdk
Labels: library/openjdk

#10308 composer 2.1.1
  library/composer
Labels: library/composer

#10309 Update photon image
  library/photon
Labels: library/photon

#10310 Influxdb v2.0.7
  library/influxdb
Labels: library/influxdb

#10311 Update drupal
  library/drupal
Labels: library/drupal

#10312 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10313 archlinux: Release 20210606.0.24959
  library/archlinux
Labels: library/archlinux

#10314 Update Clear Linux OS to 34700
  library/clearlinux
Labels: library/clearlinux

#10315 Update Matomo
  library/matomo
Labels: library/matomo

#10316 Update ghost
  library/ghost
Labels: library/ghost

#10317 Update python
  library/python
Labels: library/python

#10319 Update busybox
  library/busybox
Labels: library/busybox

#10318 Update tag for alpine jre to 8u292
  library/amazoncorretto
Labels: library/amazoncorretto

#10320 Update ghost
  library/ghost
Labels: library/ghost

#10283 Update Corretto-8 for arm64v8 to 8.292.10.2
  library/amazoncorretto
Labels: library/amazoncorretto

#10321 composer 2.1.2
  library/composer
Labels: library/composer

#10325 [ros] rolling: bump ros1-bridge dependency versions
  library/ros
Labels: library/ros

#10326 Update bash
  library/bash
Labels: library/bash

#10327 Update for JRuby 9.2.18.0
  library/jruby
Labels: library/jruby

#10328 Update ghost
  library/ghost
Labels: library/ghost

#10329 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10330 Odoo: update 12.0-14.0 to release 20210609
  library/odoo
Labels: library/odoo

#10324 Upgrade sonarqube to 8.9.1 version
  library/sonarqube
Labels: library/sonarqube

#10331 erlang/otp 23.3.4.3
  library/erlang
Labels: library/erlang

#10332 eclipse-mosquitto 2.0.11 and 1.6.15
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#10333 Update wordpress
  library/wordpress
Labels: library/wordpress

#10334 Add Consul v1.10.0-beta4
  library/consul
Labels: library/consul

#10335 Update Jetty versions to 9.4.42, 10.0.4 and 11.0.4
  library/jetty
Labels: library/jetty

#10336 Upgrade Dart to 2.13.3
  library/dart
Labels: library/dart

#10337 composer 2.1.3
  library/composer
Labels: library/composer

#10338 Releasing Neo4j 4.3.0
  library/neo4j
Labels: library/neo4j

#10339 Update php
  library/php
Labels: library/php

#10340 Update mongo
  library/mongo
Labels: library/mongo

#10341 Update golang
  library/golang
Labels: library/golang

#10342 Backfill ELK 7.13.0
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10344 [oraclelinux] Update oraclelinux:7 and oraclelinux:8 for CVE-2021-25217
  library/oraclelinux
Labels: library/oraclelinux

#10343 [ros] dashing images using final snapshots
  library/ros
Labels: library/ros

#10345 XWiki 12.10.8 has been released
  library/xwiki
Labels: library/xwiki

#10346 21.0.0.6 release
  library/open-liberty
  library/websphere-liberty
Labels: library/open-liberty, library/websphere-liberty

#10347 Revert "Backfill ELK 7.13.0"
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10349 caddy: v2.4.2 release
  library/caddy
Labels: library/caddy

#10350 archlinux: Release 20210613.0.25781
  library/archlinux
Labels: library/archlinux

#10351 Update Clear Linux OS to 34730
  library/clearlinux
Labels: library/clearlinux

#10352 [ros] retire dashing images
  library/ros
Labels: library/ros

#10353 Updated teamspeak to 3.13.6
  library/teamspeak
Labels: library/teamspeak

#10354 Release OrientDB v 3.0.38
  library/orientdb
Labels: library/orientdb

#10355 consul: 1.9.6 and 1.8.11
  library/consul
Labels: library/consul

#10356 consul: 1.8.12
  library/consul
Labels: library/consul

#10357 Update openjdk
  library/openjdk
Labels: library/openjdk

#10358 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#10359 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#10360 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#10361 Update Jetty versions to 10.0.5 and 11.0.5
  library/jetty
Labels: library/jetty

#10362 Gradle 7.1
  library/gradle
Labels: library/gradle

#10363 Update bash
  library/bash
Labels: library/bash

#10365 JRuby 9.2.19.0
  library/jruby
Labels: library/jruby

#10366 alpine: add 3.14.0 and remove EOL v3.10
  library/alpine
Labels: library/alpine

#10367 Update wordpress
  library/wordpress
Labels: library/wordpress

#10368 Postgres Remove 9.5 (EOL)
  library/postgres
Labels: library/postgres

#10370 haxe: add alpine3.14, remove alpine3.10
  library/haxe
Labels: library/haxe

#10371 Update spiped:alpine to alpine:3.14
  library/spiped
Labels: library/spiped

#10375 Update Vault for 1.7.3 and 1.8.0-rc1
  library/vault
Labels: library/vault

#10373 Update httpd
  library/httpd
Labels: library/httpd

#10374 Update julia
  library/julia
Labels: library/julia

#10376 Update postgres
  library/postgres
Labels: library/postgres

#10377 Update php
  library/php
Labels: library/php

#10378 Update memcached
  library/memcached
Labels: library/memcached

#10379 Update golang
  library/golang
Labels: library/golang

#10380 Update tomcat
  library/tomcat
Labels: library/tomcat

#10381 Add Consul v1.10.0-rc
  library/consul
Labels: library/consul

#10382 [oraclelinux] Updating oraclelinux:7 and 7-slim for CVE-2020-28196
  library/oraclelinux
Labels: library/oraclelinux

#10287 Ubuntu update
  library/ubuntu
Labels: library/ubuntu

#10384 Update Rust to 1.53.0
  library/rust
Labels: library/rust

#10385 Update mongo
  library/mongo
Labels: library/mongo

#10390 Odoo: update 12.0-14.0 to release 20210618
  library/odoo
Labels: library/odoo

#10391 Upgrade Dart beta to 2.14.0-188.3.beta
  library/dart
Labels: library/dart

#10389 consul: 1.10.0-rc2
  library/consul
Labels: library/consul

#10393 MariaDB 10.6.2 RC release 20210618
  library/mariadb
Labels: library/mariadb

#10394 arangodb 3.7.12
  library/arangodb
Labels: library/arangodb

#10392 Update mongo-express for CVE-2021-21422
  library/mongo-express
Labels: library/mongo-express

#10395 archlinux: Release 20210620.0.26405
  library/archlinux
Labels: library/archlinux

#10396 Update Clear Linux OS to 34760
  library/clearlinux
Labels: library/clearlinux

#10397 Release of GeoNetwork v4.0.5
  library/geonetwork
Labels: library/geonetwork

#10398 Release Neo4j 4.3.1
  library/neo4j
Labels: library/neo4j

#10399 Update photon image
  library/photon
Labels: library/photon

#10400 Bump Traefik to v2.4.9
  library/traefik
Labels: library/traefik

#10401 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#10404 Update swipl latest to 8.3.26
  library/swipl
Labels: library/swipl

#10386 Update openjdk
  library/openjdk
Labels: library/openjdk

#10405 Update bash
  library/bash
Labels: library/bash

#10406 consul: 1.10.0, 1.9.7, 1.8.13
  library/consul
Labels: library/consul

#10407 Update ghost
  library/ghost
Labels: library/ghost

#10402 Update Debian, esp. for 10.10
  library/debian
Labels: library/debian

#10383 erlang/otp 23.3.4.4
  library/erlang
Labels: library/erlang

#10409 [percona] Update psmdb-40, psmdb-44, ps-57 versions
  library/percona
Labels: library/percona

#10410 Enabling IBM JDK11 Docker Images
  library/ibmjava
Labels: library/ibmjava

#10414 MariaDB releases 20210623
  library/mariadb
Labels: library/mariadb

#10411 Update wordpress
  library/wordpress
Labels: library/wordpress

#10412 Update mongo
  library/mongo
Labels: library/mongo

#10413 [nats] Release v2.3.0
  library/nats
Labels: library/nats

#10387 caddy: v2.4.3 release
  library/caddy
Labels: library/caddy

#10415 Update CrateDB to 4.5.3
  library/crate
Labels: library/crate

#10416 Update ghost
  library/ghost
Labels: library/ghost

#10417 [gazebo] bump package versions
  library/gazebo
Labels: library/gazebo

#10418 Telegraf 1.19.0
  library/telegraf
Labels: library/telegraf

#10419 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#10403 Update Solr to 8.9.0
  library/solr
Labels: library/solr

#10420 Update openjdk
  library/openjdk
Labels: library/openjdk

#10421 Update mongo
  library/mongo
Labels: library/mongo

#10422 Update photon image
  library/photon
Labels: library/photon
