Repository docker-library/official-images, pull requests merged in 2021-01, with the labels that each got.

#9322 Telegraf v1.17.0
  library/telegraf
Labels: library/telegraf

#9365 caddy: v2.3.0 release
  library/caddy
Labels: library/caddy

#9366 Odoo: update 12.0-14.0 to release 20210104
  library/odoo
Labels: library/odoo

#9367 Update mongo
  library/mongo
Labels: library/mongo

#9369 Update clojure for tools-deps release
  library/clojure
Labels: library/clojure

#9370 Update python
  library/python
Labels: library/python

#9371 [security] Node: fix: January 2021 Node 10, 12, 14, 15 release
  library/node
Labels: library/node

#9372 releasing Neo4j 3.5.26
  library/neo4j
Labels: library/neo4j

#9373 elixir v1.11.3
  library/elixir
Labels: library/elixir

#9374 haxe 4.1.5
  library/haxe
Labels: library/haxe

#9375 Update sl container for sl7 to current (build-date=20210105)
  library/sl
Labels: library/sl

#9376 Update docker
  library/docker
Labels: library/docker

#9377 Update ghost
  library/ghost
Labels: library/ghost

#9380 [oraclelinux] Update Oracle Linux images with new tzdata
  library/oraclelinux
Labels: library/oraclelinux

#9381 Add arm64v8 support to clojure:latest
  library/clojure
Labels: library/clojure

#9382 [security] Update php
  library/php
Labels: library/php

#9383 Update php
  library/php
Labels: library/php

#9384 Update ghost
  library/ghost
Labels: library/ghost

#9385 Update haproxy
  library/haproxy
Labels: library/haproxy

#9386 Update nextcloud
  library/nextcloud
Labels: library/nextcloud

#9388 Update wordpress
  library/wordpress
Labels: library/wordpress

#9389 Update bash
  library/bash
Labels: library/bash

#9387 Update drupal
  library/drupal
Labels: library/drupal

#9391 arangodb 3.7.6
  library/arangodb
Labels: library/arangodb

#9392 Releasing Neo4j 4.2.2
  library/neo4j
Labels: library/neo4j

#9393 Update openjdk
  library/openjdk
Labels: library/openjdk

#9390 Update wordpress (new beta "wp-config-docker.php"!)
  library/wordpress
Labels: library/wordpress

#9394 Update photon image
  library/photon
Labels: library/photon

#9395 Update haproxy
  library/haproxy
Labels: library/haproxy

#9396 Update julia
  library/julia
Labels: library/julia

#9397 [nats-streaming] Release v0.20.0
  library/nats-streaming
Labels: library/nats-streaming

#9398 [ros] bump rolling
  library/ros
Labels: library/ros

#9399 archlinux: Release 20210110.0.13332
  library/archlinux
Labels: library/archlinux

#9400 Update Clear Linux OS to 34150
  library/clearlinux
Labels: library/clearlinux

#9401 Odoo: update 12.0-14.0 to release 20210111
  library/odoo
Labels: library/odoo

#9402 Update CrateDB to 4.3.3
  library/crate
Labels: library/crate

#9404 Bump Traefik to v2.3.7
  library/traefik
Labels: library/traefik

#9405 eclipse-mosquitto 2.0.5
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#9406 Aerospike 5.3.0.6
  library/aerospike
Labels: library/aerospike

#9403 Update Debian (20210111)
  library/debian
Labels: library/debian

#9407 Update openjdk
  library/openjdk
Labels: library/openjdk

#9408 Gradle 6.8
  library/gradle
Labels: library/gradle

#9409 Update busybox
  library/busybox
Labels: library/busybox

#9410 Release Neo4j 4.0.11
  library/neo4j
Labels: library/neo4j

#9411 Bump Traefik to v2.4.0-rc2
  library/traefik
Labels: library/traefik

#9412 Update redis
  library/redis
Labels: library/redis

#9413 Update mongo
  library/mongo
Labels: library/mongo

#9414 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9415 bump Kong to 2.3.0
  library/kong
Labels: library/kong

#9416 Release OrientDB v 3.1.7
  library/orientdb
Labels: library/orientdb

#9417 Release XWiki 12.6.7
  library/xwiki
Labels: library/xwiki

#9418 Bump Traefik to v1.7.28
  library/traefik
Labels: library/traefik

#9419 Update haproxy
  library/haproxy
Labels: library/haproxy

#9428 Update mongo
  library/mongo
Labels: library/mongo

#9420 Aerospike 5.4.0.1
  library/aerospike
Labels: library/aerospike

#9421 erlang/otp 22.3.4.14
  library/erlang
Labels: library/erlang

#9429 [oraclelinux] Republish all Oracle Linux images without LABEL directive
  library/oraclelinux
Labels: library/oraclelinux

#9422 Fix tags for XWiki 12.10.x
  library/xwiki
Labels: library/xwiki

#9423 Update Joomla
  library/joomla
Labels: library/joomla

#9427 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#9424 alpine: add 3.13.0 and remove EOL 3.9
  library/alpine
Labels: library/alpine

#9425 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#9430 Update Matomo
  library/matomo
Labels: library/matomo

#9434 Release of GeoNetwork 3.10.6 and 4.0.2
  library/geonetwork
Labels: library/geonetwork

#9435 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9436 Update openjdk
  library/openjdk
Labels: library/openjdk

#9437 Update php
  library/php
Labels: library/php

#9438 Update bash
  library/bash
Labels: library/bash

#9441 Updated mageia 7 images, added cauldron
  library/mageia
Labels: library/mageia

#9443 archlinux: Release 20210117.0.13798
  library/archlinux
Labels: library/archlinux

#9444 Update Clear Linux OS to 34170
  library/clearlinux
Labels: library/clearlinux

#9446 Update mysql
  library/mysql
Labels: library/mysql

#9447 [percona] Update psmdb-40 version
  library/percona
Labels: library/percona

#9448 Release Neo4j 4.1.6
  library/neo4j
Labels: library/neo4j

#9449 Update mysql
  library/mysql
Labels: library/mysql

#9450 Bump Traefik to v2.4.0
  library/traefik
Labels: library/traefik

#9451 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9452 Update golang
  library/golang
Labels: library/golang

#9453 Update openjdk
  library/openjdk
Labels: library/openjdk

#9455 [security] Update golang
  library/golang
Labels: library/golang

#9454 Adding Couchbase Server 6.0.5
  library/couchbase
Labels: library/couchbase

#9459 archlinux: Release 20210120.0.13969
  library/archlinux
Labels: library/archlinux

#9460 Update ruby
  library/ruby
Labels: library/ruby

#9461 Update openjdk
  library/openjdk
Labels: library/openjdk

#9462 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9463 Update drupal
  library/drupal
Labels: library/drupal

#9458 Ubuntu update January 2021
  library/ubuntu
Labels: library/ubuntu

#9456 Update Amazon Corretto (8.282.08.1 and 11.0.10.9.1)
  library/amazoncorretto
Labels: library/amazoncorretto

#9465 arangodb 3.6.11
  library/arangodb
Labels: library/arangodb

#9467 Update wordpress
  library/wordpress
Labels: library/wordpress

#9468 Update golang
  library/golang
Labels: library/golang

#9469 Update postgres
  library/postgres
Labels: library/postgres

#9466 Update php
  library/php
Labels: library/php

#9464 Add version 1.9.2
  library/consul
Labels: library/consul

#9470 Update Amazon Corretto (15.0.2.7.1)
  library/amazoncorretto
Labels: library/amazoncorretto

#9471 Release of XWiki 12.10.3
  library/xwiki
Labels: library/xwiki

#9472 Update SapMachine versions
  library/sapmachine
Labels: library/sapmachine

#9473 Re-tag Gradle 6.7
  library/gradle
Labels: library/gradle

#9475 Update CrateDB to 4.3.4
  library/crate
Labels: library/crate

#9477 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9478 Update openjdk
  library/openjdk
Labels: library/openjdk

#9474 Fix that 6.8 still had some 6.7 tags (re-release 6.8)
  library/gradle
Labels: library/gradle

#9479 Update haproxy
  library/haproxy
Labels: library/haproxy

#9480 Updates for the release of websphere-liberty version 21.0.0.1
  library/websphere-liberty
Labels: library/websphere-liberty

#9481 Updates for the release of open-liberty version 21.0.0.1
  library/open-liberty
Labels: library/open-liberty

#9482 consul: add 1.8.8 and 1.7.12
  library/consul
Labels: library/consul

#9483 Aerospike 5.4.0.2
  library/aerospike
Labels: library/aerospike

#9484 Update bash
  library/bash
Labels: library/bash

#9485 Update mongo
  library/mongo
Labels: library/mongo

#9476 Update redmine
  library/redmine
Labels: library/redmine

#9439 Update python
  library/python
Labels: library/python

#9442 Update photon image
  library/photon
Labels: library/photon

#9486 archlinux: Release 20210124.0.14185
  library/archlinux
Labels: library/archlinux

#9487 Update Clear Linux OS to 34190
  library/clearlinux
Labels: library/clearlinux

#9489 Update Fedora - 20210125
  library/fedora
Labels: library/fedora

#9493 Update hylang
  library/hylang
Labels: library/hylang

#9494 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#9495 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#9492 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#9433 erlang/otp 23.2.2
  library/erlang
Labels: library/erlang

#9496 library/perl: Update for Perl 5.32.1
  library/perl
Labels: library/perl

#9497 [ros] ros-dashing-ros1-bridge=0.7.7-1 -> 0.7.8-1
  library/ros
Labels: library/ros

#9498 Release OrientDB v 3.0.36
  library/orientdb
Labels: library/orientdb

#9499 Update SonarQube
  library/sonarqube
Labels: library/sonarqube

#9500 Update CrateDB to 4.4.0
  library/crate
Labels: library/crate

#9501 Release Neo4j 4.2.3
  library/neo4j
Labels: library/neo4j

#9502 Release of XWiki 13.0
  library/xwiki
Labels: library/xwiki

#9503 Update kapacitor images
  library/influxdb
  library/kapacitor
Labels: library/influxdb, library/kapacitor

#9504 bump Kong to 2.3.1
  library/kong
Labels: library/kong

#9505 Update ghost
  library/ghost
Labels: library/ghost

#9506 Update Jetty version to 9.4.36
  library/jetty
Labels: library/jetty

#9508 Update swipl latest to 8.3.18 and stable to 8.2.4
  library/swipl
Labels: library/swipl

#9510 Aerospike 5.4.0.3
  library/aerospike
Labels: library/aerospike

#9512 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#9513 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#9514 Update ghost
  library/ghost
Labels: library/ghost

#9515 Telegraf v1.17.1
  library/telegraf
Labels: library/telegraf

#9516 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#9517 Update CrateDB maintainer list
  library/crate
Labels: library/crate

#9249 [flink] add 1.12 ; remove 1.10
  library/flink
Labels: library/flink

#9519 Update golang
  library/golang
Labels: library/golang

#9520 eclipse mosquitto 2.0.6
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#9521 Update clojure for tools-deps release 1.10.2.774 & invert architecture defaults
  library/clojure
Labels: library/clojure

#9440 Update pypy
  library/pypy
Labels: library/pypy

#9509 composer 1.10.20 and 2.0.9
  library/composer
Labels: library/composer

#9522 update kapacitor
  library/kapacitor
Labels: library/kapacitor

#9523 alpine: bump 3.13.1
  library/alpine
Labels: library/alpine

#9524 Telegraf v1.17.2
  library/telegraf
Labels: library/telegraf

#9525 Update wordpress
  library/wordpress
Labels: library/wordpress

#9490 AdoptOpenJDK update: 8u282-b08, 11.0.10+9 and 15.0.2+7 releases
  library/adoptopenjdk
Labels: library/adoptopenjdk
