Repository docker-library/official-images, pull requests merged in 2021-04, with the labels that each got.

#9895 Haskell: GHC 9.0.1 and sync up on releases.
  library/haskell
Labels: library/haskell

#9897 Add @AlistairB as a maintainer of the official Haskell images
  library/haskell
Labels: library/haskell

#9899 Fedora Update 20210401
  library/fedora
Labels: library/fedora

#9900 Composer 2.0.11, 1.10.21
  library/composer
Labels: library/composer

#9901 Add bullseye images for Rust
  library/rust
Labels: library/rust

#9902 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/kibana, library/logstash

#9898 Aerospike 5.5.0.7
  library/aerospike
Labels: library/aerospike

#9904 Update golang
  library/golang
Labels: library/golang

#9907 Official Convertigo 7.9.1 release
  library/convertigo
Labels: library/convertigo

#9908 [percona] Update psmdb-42 version
  library/percona
Labels: library/percona

#9911 Update openjdk
  library/openjdk
Labels: library/openjdk

#9909 upgrade r-base to 4.0.5 released two days ago
  library/r-base
Labels: library/r-base

#9912 caddy: v2.4.0-beta.2 release
  library/caddy
Labels: library/caddy

#9913 Update haproxy
  library/haproxy
Labels: library/haproxy

#9915 [security] Update python
  library/python
Labels: library/python

#9916 Update photon image
  library/photon
Labels: library/photon

#8674 introduce hitch
  library/hitch
Labels: library/hitch, new-image

#9910 Ubuntu update April 2 2021
  library/ubuntu
Labels: library/ubuntu

#9918 [nats] Release v2.2.1
  library/nats
Labels: library/nats

#9917 Update redmine
  library/redmine
Labels: library/redmine

#9919 eclipse-mosquitto 2.0.10
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#9920 archlinux: Release 20210404.0.18927
  library/archlinux
Labels: library/archlinux

#9921 Update Clear Linux OS to 34460
  library/clearlinux
Labels: library/clearlinux

#9922 Add Zookeeper 3.7
  library/zookeeper
Labels: library/zookeeper

#9923 maven: 3.8.1
  library/maven
Labels: library/maven

#9924 [gazebo] 11.3.0 -> 11.4.0
  library/gazebo
Labels: library/gazebo

#9925 Update python
  library/python
Labels: library/python

#9926 [security] Update ruby
  library/ruby
Labels: library/ruby

#9927 Update haproxy
  library/haproxy
Labels: library/haproxy

#9914 [varnish] force workdir
  library/varnish
Labels: library/varnish

#9928 Uncomment Java 15 OpenJ9
  library/gradle
Labels: library/gradle

#9929 elixir 1.12.0-rc.0
  library/elixir
Labels: library/elixir

#9930 Add rocket.chat 3.13 latest and remove 3.10
  library/rocket.chat
Labels: library/rocket.chat

#9931 erlang/otp 22.3.4.17
  library/erlang
Labels: library/erlang

#9932 Update cassandra
  library/cassandra
Labels: library/cassandra

#9933 Update bash
  library/bash
Labels: library/bash

#9934 Update tomcat
  library/tomcat
Labels: library/tomcat

#9935 Update ghost
  library/ghost
Labels: library/ghost

#9937 Odoo: update 12.0-14.0 to release 20210407
  library/odoo
Labels: library/odoo

#9938 chore: docker for kap1.5.9
  library/kapacitor
Labels: library/kapacitor

#9939 Update clojure tools-deps variants to 1.10.3.822
  library/clojure
Labels: library/clojure

#9940 Convertigo 7.9.2
  library/convertigo
  test/tests/convertigo-hello-world/run.sh
Labels: library/convertigo

#9941 Update drupal
  library/drupal
Labels: library/drupal

#9942 Update busybox
  library/busybox
Labels: library/busybox

#9943 Updated mageia images
  library/mageia
Labels: library/mageia

#9946 Update wordpress
  library/wordpress
Labels: library/wordpress

#9947 Update python
  library/python
Labels: library/python

#9948 Update mongo
  library/mongo
Labels: library/mongo

#9949 Update pypy
  library/pypy
Labels: library/pypy

#9951 Telegraf v1.18.1
  library/telegraf
Labels: library/telegraf

#9944 Upgrade to XWiki 12.10.6
  library/xwiki
Labels: library/xwiki

#9953 Update hylang
  library/hylang
Labels: library/hylang

#9955 Tag SonarQube 8.8.0
  library/sonarqube
Labels: library/sonarqube

#9956 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#9957 Releasing neo4j 4.2.5
  library/neo4j
Labels: library/neo4j

#9958 Update openjdk
  library/openjdk
Labels: library/openjdk

#9959 Update haproxy
  library/haproxy
Labels: library/haproxy

#9952 Update gcc
  library/gcc
Labels: library/gcc

#9960 Update photon image
  library/photon
Labels: library/photon

#9954 Update MediaWiki
  library/mediawiki
Labels: library/mediawiki

#9950 Update Debian to 20210408 (esp. for recent curl CVEs)
  library/debian
Labels: library/debian

#9962 Gradle 7.0 and replace Java 15 with 16
  library/gradle
Labels: library/gradle

#9963 Re-tag Groovy 3.0.6
  library/groovy
Labels: library/groovy

#9964 maven: amazoncorretto-16
  library/maven
Labels: library/maven

#9965 [ros] rolling 0.9.2 -> 0.9.3
  library/ros
Labels: library/ros

#9966 Update Clear Linux OS to 34500
  library/clearlinux
Labels: library/clearlinux

#9967 Update sl container for sl7 to current (build-date=20210412)
  library/sl
Labels: library/sl

#9968 Update irssi
  library/irssi
Labels: library/irssi

#9969 Update haproxy
  library/haproxy
Labels: library/haproxy

#9970 Update docker
  library/docker
Labels: library/docker

#9971 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#9972 Update wordpress
  library/wordpress
Labels: library/wordpress

#9973 Update haproxy
  library/haproxy
Labels: library/haproxy

#9961 Replace Java 15 with 16
  library/groovy
Labels: library/groovy

#9976 Update bash
  library/bash
Labels: library/bash

#9977 Update ghost
  library/ghost
Labels: library/ghost

#9978 Update ghost
  library/ghost
Labels: library/ghost

#9982 alpine: bump 3.10.9, 3.11.11, 3.12.7, 3.13.5 (CVE-2021-30139)
  library/alpine
Labels: library/alpine

#9979 bump Kong to 2.4.0
  library/kong
Labels: library/kong

#9981 Release of GeoNetwork v4.0.3
  library/geonetwork
Labels: library/geonetwork

#9983 Update Solr to 8.8.2
  library/solr
Labels: library/solr

#9984 arangodb 3.6.13
  library/arangodb
Labels: library/arangodb

#9974 [varnish] overload the binaries with scripts
  library/varnish
  test/config.sh
  test/tests/varnish/run.sh
Labels: library/varnish

#9986 Aerospike 5.5.0.9
  library/aerospike
Labels: library/aerospike

#9987 maven: adoptopenjdk-16
  library/maven
Labels: library/maven

#9988 Update wordpress
  library/wordpress
Labels: library/wordpress

#9989 Update Jetty version to 9.4.40
  library/jetty
Labels: library/jetty

#9991 [nats-streaming] Release v0.21.2
  library/nats-streaming
Labels: library/nats-streaming

#9992 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#9993 consul: 1.9.5, 1.8.10, and 1.7.14
  library/consul
Labels: library/consul

#9990 Updating Couchbase Server EE to 6.6.2
  library/couchbase
Labels: library/couchbase

#9994 Update photon image
  library/photon
Labels: library/photon

#9996 Update openjdk
  library/openjdk
Labels: library/openjdk

#9997 [oraclelinux] Updating oraclelinux:8/8-slim images for CVE-2021-20305
  library/oraclelinux
Labels: library/oraclelinux

#9980 AdoptOpenJDK: Add back arm arches for builds that are now available.
  library/adoptopenjdk
Labels: library/adoptopenjdk

#9995 Update mysql
  library/mysql
Labels: library/mysql

#9998 archlinux: Release 20210418.0.20194
  library/archlinux
Labels: library/archlinux

#9999 Update Clear Linux OS to 34520
  library/clearlinux
Labels: library/clearlinux

#10001 Groovy 4.0.0-alpha-3
  library/groovy
Labels: library/groovy

#10002 Odoo: update 12.0-14.0 to release 20210419
  library/odoo
Labels: library/odoo

#10003 Update ghost
  library/ghost
Labels: library/ghost

#10004 Update hylang
  library/hylang
Labels: library/hylang

#10006 Update cassandra
  library/cassandra
Labels: library/cassandra

#10005 Update tomcat
  library/tomcat
Labels: library/tomcat

#10008 Groovy 3.0.8
  library/groovy
Labels: library/groovy

#10010 [percona] Update psmdb-44 version
  library/percona
Labels: library/percona

#10011 Releasing neo4j 3.5.28
  library/neo4j
Labels: library/neo4j

#10012 Update redis
  library/redis
Labels: library/redis

#10013 Update bash
  library/bash
Labels: library/bash

#10015 Update openjdk
  library/openjdk
Labels: library/openjdk

#10016 Update influxdb versions for InfluxDB v1.8.5
  library/influxdb
Labels: library/influxdb

#10017 Update Corretto-11 to 11.0.11.9.1, Corretto-8 to 8.292.10.1 and remove Corretto-15
  library/amazoncorretto
Labels: library/amazoncorretto

#10018 Update to SapMachine 11.0.11
  library/sapmachine
Labels: library/sapmachine

#10019 Update mongo
  library/mongo
Labels: library/mongo

#10014 Update stable nginx to 1.20.0
  library/nginx
Labels: library/nginx

#10020 gazebo 11.4.0 -> 11.5.0
  library/gazebo
Labels: library/gazebo

#10023 Update ghost
  library/ghost
Labels: library/ghost

#10024 Update openjdk
  library/openjdk
Labels: library/openjdk

#10021 Release OrientDB v 3.1.11
  library/orientdb
Labels: library/orientdb

#10026 Update SapMachine latest to 16.0.1
  library/sapmachine
Labels: library/sapmachine

#10027 Update vault for latest releases
  library/vault
Labels: library/vault

#10028 Update golang
  library/golang
Labels: library/golang

#10029 Update drupal
  library/drupal
Labels: library/drupal

#10022 21.0.0.4 release
  library/open-liberty
  library/websphere-liberty
Labels: library/open-liberty, library/websphere-liberty

#10025 Update cassandra
  library/cassandra
Labels: library/cassandra

#10031 erlang/otp 24.0-rc3
  library/erlang
Labels: library/erlang

#10032 Update ghost
  library/ghost
Labels: library/ghost

#10033 [nats] Release v2.2.2
  library/nats
Labels: library/nats

#10034 Update tomcat
  library/tomcat
Labels: library/tomcat

#10036 Update Joomla
  library/joomla
Labels: library/joomla

#10037 Update haproxy
  library/haproxy
Labels: library/haproxy

#10035 First non daily release of Ubuntu 21.04 Hirsute Hippo
  library/ubuntu
Labels: library/ubuntu

#10038 Update Corretto-16 to 16.0.1.9.1
  library/amazoncorretto
Labels: library/amazoncorretto

#10039 Update julia
  library/julia
Labels: library/julia

#10040 Friendica: 'auth' parameter from SMTP_AUTH env
  library/friendica
Labels: library/friendica

#10041 archlinux: Release 20210425.0.20608
  library/archlinux
Labels: library/archlinux

#10044 Update Clear Linux OS to 34540
  library/clearlinux
Labels: library/clearlinux

#10045 elixir 1.12.0-rc.1
  library/elixir
Labels: library/elixir

#10046 Update monica to v2.21.0
  library/monica
  test/tests/monica-cli/run.sh
Labels: library/monica

#10047 Upgrade XWiki version to 13.3
  library/xwiki
Labels: library/xwiki

#10049 Update cassandra
  library/cassandra
Labels: library/cassandra

#10048 Update openjdk
  library/openjdk
Labels: library/openjdk

#10050 Update redmine
  library/redmine
Labels: library/redmine

#10051 Update tomcat
  library/tomcat
Labels: library/tomcat

#10052 Odoo: update 12.0-14.0 to release 20210427
  library/odoo
Labels: library/odoo

#10053 Fedora Update 20210427
  library/fedora
Labels: library/fedora

#10054 Gradle 6.x tags
  library/gradle
Labels: library/gradle

#10055 Update bash
  library/bash
Labels: library/bash

#10056 Update python
  library/python
Labels: library/python

#10057 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq
