Repository docker-library/official-images, pull requests merged in 2022-10, with the labels that each got.

#13268 archlinux: Release 20221002.0.91257
  library/archlinux
Labels: library/archlinux

#13269 Update Clear Linux OS to 37360
  library/clearlinux
Labels: library/clearlinux

#13270 Upgrade XWiki 14.4.5
  library/xwiki
Labels: library/xwiki

#13271 eclipse-temurin: add s390x temurin 19 images
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13272 Bump Traefik to v2.9.1
  library/traefik
Labels: library/traefik

#13278 Telegraf v1.24.2
  library/telegraf
Labels: library/telegraf

#13274 Update redmine
  library/redmine
Labels: library/redmine

#13275 Update ghost
  library/ghost
Labels: library/ghost

#13273 Update mongo
  library/mongo
Labels: library/mongo

#13276 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13279 Update maintainers for AmazonCorretto
  library/amazoncorretto
Labels: library/amazoncorretto

#13280 [oraclelinux] Updating 7 for ELSA-2022-6765
  library/oraclelinux
Labels: library/oraclelinux

#13282 Update sl container for sl7 to current (build-date=20221004)
  library/sl
Labels: library/sl

#13283 Update busybox
  library/busybox
Labels: library/busybox

#13284 erlang/otp 25.1.1, 23.3.4.18
  library/erlang
Labels: library/erlang

#13285 [security] Update golang
  library/golang
Labels: library/golang

#13286 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13287 Update Debian (to 20221004)
  library/debian
Labels: library/debian

#13288 Odoo: update 13.0-15.0 to release 20221005
  library/odoo
Labels: library/odoo

#13290 Update Dart beta to 2.19.0-255.2.beta
  library/dart
Labels: library/dart

#13291 erlang/otp 24.3.4.6
  library/erlang
Labels: library/erlang

#13292 Update Matomo
  library/matomo
Labels: library/matomo

#13293 Update wordpress
  library/wordpress
Labels: library/wordpress

#13295 Update ghost
  library/ghost
Labels: library/ghost

#13296 Update bash
  library/bash
Labels: library/bash

#13297 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13299 Update bonita, add 2022.2
  library/bonita
Labels: library/bonita

#13300 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#13301 Update Vault for 1.12.0-rc1, 1.11.4, 1.10.7, 1.9.10
  library/vault
Labels: library/vault

#13303 Update tomcat
  library/tomcat
Labels: library/tomcat

#13304 Update postgres
  library/postgres
Labels: library/postgres

#13305 Update redmine
  library/redmine
Labels: library/redmine

#13306 Update drupal
  library/drupal
Labels: library/drupal

#13307 Update openjdk
  library/openjdk
Labels: library/openjdk

#13308 Update cassandra
  library/cassandra
Labels: library/cassandra

#13309 Aerospike 6.1.0.3
  library/aerospike
Labels: library/aerospike

#13310 archlinux: Release 20221009.0.92802
  library/archlinux
Labels: library/archlinux

#13311 Update Clear Linux OS to 37420
  library/clearlinux
Labels: library/clearlinux

#13313 [nats] Release v2.9.3
  library/nats
Labels: library/nats

#13314 Update tomcat
  library/tomcat
Labels: library/tomcat

#13315 Update python
  library/python
Labels: library/python

#13316 Update mysql
  library/mysql
Labels: library/mysql

#13317 Update bash
  library/bash
Labels: library/bash

#13318 Update ghost
  library/ghost
Labels: library/ghost

#13319 [nats-streaming] Release v0.25.2
  library/nats-streaming
Labels: library/nats-streaming

#13312 arangodb 3.10.0
  library/arangodb
Labels: library/arangodb

#13320 Odoo: Add Odoo 16.0
  library/odoo
Labels: library/odoo

#13323 [oraclelinux] Updating 8, 8-slim, 9 and 9-slim for ELSA-2022-6854 and ELSA-2022-6878
  library/oraclelinux
Labels: library/oraclelinux

#13321 elixir 1.14.1
  library/elixir
Labels: library/elixir

#13322 Update Vault for 1.12.0
  library/vault
Labels: library/vault

#13324 Update Docker image for Silverpeas version 6.3
  library/silverpeas
Labels: library/silverpeas

#13327 Update tomcat
  library/tomcat
Labels: library/tomcat

#13328 Update python
  library/python
Labels: library/python

#13329 Update wordpress
  library/wordpress
Labels: library/wordpress

#13330 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13331 Update php
  library/php
Labels: library/php

#13332 caddy: v2.6.2 release
  library/caddy
Labels: library/caddy

#13333 Update docker
  library/docker
Labels: library/docker

#13334 Update openjdk
  library/openjdk
Labels: library/openjdk

#13337 Releasing Neo4j 4.4.12 and 4.3.19
  library/neo4j
Labels: library/neo4j

#13338 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#13339 Update postgres
  library/postgres
Labels: library/postgres

#13340 Update php
  library/php
Labels: library/php

#13341 Update ghost
  library/ghost
Labels: library/ghost

#13343 archlinux: Release 20221016.0.94779
  library/archlinux
Labels: library/archlinux

#13344 Update Clear Linux OS to 37440
  library/clearlinux
Labels: library/clearlinux

#13345 Friendica 2022.10 Release
  library/friendica
Labels: library/friendica

#13346 composer 2.4.3
  library/composer
Labels: library/composer

#13349 Gradle 6.9.3
  library/gradle
Labels: library/gradle

#13347 Update to SonarQube 9.7
  library/sonarqube
Labels: library/sonarqube

#13350 Update photon image
  library/photon
Labels: library/photon

#13351 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13353 Release SonarQube 8.9.10
  library/sonarqube
Labels: library/sonarqube

#13354 Updated swipl devel to 8.5.20
  library/swipl
Labels: library/swipl

#13356 Update haproxy
  library/haproxy
Labels: library/haproxy

#13357 Update wordpress
  library/wordpress
Labels: library/wordpress

#13360 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13359 Update ghost
  library/ghost
Labels: library/ghost

#13361 [security] Update docker
  library/docker
Labels: library/docker

#13362 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13355 NeuroDebian: Ubuntu impish EOLed
  library/neurodebian
Labels: library/neurodebian

#13364 Update wordpress
  library/wordpress
Labels: library/wordpress

#13365 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13366 Update Corretto for 2022 Q4 release
  library/amazoncorretto
Labels: library/amazoncorretto

#13367 Update sapmachine to 11.0.17, 17.0.5, 19.0.1
  library/sapmachine
Labels: library/sapmachine

#13368 Update dart to 2.18.3
  library/dart
Labels: library/dart

#13370 Release OrientDB 3.2.11
  library/orientdb
Labels: library/orientdb

#13372 Nextcloud 25
  library/nextcloud
Labels: library/nextcloud

#13373 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13374 Update mysql
  library/mysql
Labels: library/mysql

#13376 Apache Solr - Replace openjdk:11-jre with eclipse-temurin:11-jre (apache/solr-docker#12)
  library/solr
Labels: library/solr

#13377 Update openjdk
  library/openjdk
Labels: library/openjdk

#13378 Update julia
  library/julia
Labels: library/julia

#13379 Consul 1.11.11, 1.12.6, 1.13.3
  library/consul
Labels: library/consul

#13380 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13381 Releasing Neo4j 5.1
  library/neo4j
Labels: library/neo4j

#13375 Groovy 4.0.6
  library/groovy
Labels: library/groovy

#13384 Apache Solr - Use focal variant of eclipse-temurin images (apache/solr-docker#13)
  library/solr
Labels: library/solr

#13385 [oraclelinux] Update Oracle Linux images for tzdata-2022e-1
  library/oraclelinux
Labels: library/oraclelinux

#13387 archlinux: Release 20221023.0.96685
  library/archlinux
Labels: library/archlinux

#13388 Update CrateDB to 5.0.3
  library/crate
Labels: library/crate

#13389 Release Couchbase Server 7.1.2 and 7.0.4
  library/couchbase
Labels: library/couchbase

#13386 Update photon image
  library/photon
Labels: library/photon

#13393 Update Clear Linux OS to 37480
  library/clearlinux
Labels: library/clearlinux

#13391 Update matomo
  library/matomo
Labels: library/matomo

#13400 erlang/otp 25.1.2
  library/erlang
Labels: library/erlang

#13401 Update JRuby 9.3 to 9.3.9.0
  library/jruby
Labels: library/jruby

#13395 Update python
  library/python
Labels: library/python

#13396 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13397 Update cassandra
  library/cassandra
Labels: library/cassandra

#13398 Update docker
  library/docker
Labels: library/docker

#13399 Update ghost
  library/ghost
Labels: library/ghost

#13404 Update more "bashbrew.git" references in the repo to use "bashbrew-version"
  .github/workflows/generate.sh
  .github/workflows/test-pr.yml
Labels: library/hello-world

#13402 Update "notary" to use "Builder: buildkit"
  library/notary
Labels: library/notary

#13394 Update Debian (to 20221024)
  library/debian
Labels: library/debian

#13408 Deprecate Corretto 18
  library/amazoncorretto
Labels: library/amazoncorretto

#13406 Update to XWiki 14.9
  library/xwiki
Labels: library/xwiki

#13409 Update python
  library/python
Labels: library/python

#13410 Update busybox
  library/busybox
Labels: library/busybox

#13411 Update bash
  library/bash
Labels: library/bash

#13413 Update docker
  library/docker
Labels: library/docker

#13414 Update Amazon Linux 2022 Images
  library/amazonlinux
Labels: library/amazonlinux

#13416 Update to Flink 1.16.0
  library/flink
Labels: library/flink

#13412 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13417 Update Joomla!
  library/joomla
Labels: library/joomla

#13418 arangodb 3.8.8, 3.9.4
  library/arangodb
Labels: library/arangodb

#13419 [oraclelinux] Updating 7/8/8-slim/9/9-slim for amd64/arm64v8 for multiple errata
  library/oraclelinux
Labels: library/oraclelinux

#13420 Remove unsupported 1.14
  library/flink
Labels: library/flink

#13421 Upgrade to XWiki 13.10.10
  library/xwiki
Labels: library/xwiki

#13423 Bump Traefik to v2.9.4
  library/traefik
Labels: library/traefik

#13424 Update wordpress
  library/wordpress
Labels: library/wordpress

#13425 Update openjdk
  library/openjdk
Labels: library/openjdk

#13426 Update php
  library/php
Labels: library/php

#13427 Update Matomo
  library/matomo
Labels: library/matomo

#13428 [nats] Release v2.9.4
  library/nats
Labels: library/nats

#13429 composer 2.4.4
  library/composer
Labels: library/composer

#13431 Upgrade to SonarQube 9.7.1
  library/sonarqube
Labels: library/sonarqube

#13433 [security] Update php
  library/php
Labels: library/php

#13434 Update clojure tools-deps variants to 1.11.1.1182
  library/clojure
Labels: library/clojure

#13435 Friendica - Fix missing dependency
  library/friendica
Labels: library/friendica

#13436 Update photon image
  library/photon
Labels: library/photon

#13437 archlinux: Release 20221030.0.98412
  library/archlinux
Labels: library/archlinux

#13438 Update Clear Linux OS to 37500
  library/clearlinux
Labels: library/clearlinux

#13440 Update wordpress
  library/wordpress
Labels: library/wordpress

#13441 Update irssi
  library/irssi
Labels: library/irssi

#13442 Update ghost
  library/ghost
Labels: library/ghost
