Repository docker-library/official-images, pull requests merged in 2022-05, with the labels that each got.

#12340 archlinux: Release 20220501.0.54834
  library/archlinux
Labels: library/archlinux

#12341 Update Clear Linux OS to 36250
  library/clearlinux
Labels: library/clearlinux

#12342 Update sl container for sl7 to current (build-date=20220502)
  library/sl
Labels: library/sl

#12343 Update haproxy
  library/haproxy
Labels: library/haproxy

#12344 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12345 Update openjdk
  library/openjdk
Labels: library/openjdk

#12346 Update ghost
  library/ghost
Labels: library/ghost

#12347 [oraclelinux] Updating 8 and 8-slim for ELSA-2022-1552 and ELSA-2022-1642
  library/oraclelinux
Labels: library/oraclelinux

#12348 Update tomcat
  library/tomcat
Labels: library/tomcat

#12349 Update ghost
  library/ghost
Labels: library/ghost

#12350 Update wordpress
  library/wordpress
Labels: library/wordpress

#12351 Update Amazon Linux 2022 Images to 2022.0.20220419.0
  library/amazonlinux
Labels: library/amazonlinux

#12353 Update sapmachine to 17.0.3.0.1 and 11.0.15.0.1
  library/sapmachine
Labels: library/sapmachine

#12354 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12355 Update bash
  library/bash
Labels: library/bash

#12356 Bump Traefik to v2.6.6
  library/traefik
Labels: library/traefik

#12357 Update Amazon Linux 2 images
  library/amazonlinux
Labels: library/amazonlinux

#12359 eclipse-temurin: add JDK18.0.1+10
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12360 Update dart
  library/dart
Labels: library/dart

#12361 Use eclipse-temurin base for jdk 17+ clojure images
  library/clojure
Labels: library/clojure

#12362 [nats] Release v2.8.2
  library/nats
Labels: library/nats

#12363 Update ghost
  library/ghost
Labels: library/ghost

#12364 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12365 Update wordpress
  library/wordpress
Labels: library/wordpress

#12367 [nats-streaming] Release v0.24.6
  library/nats-streaming
Labels: library/nats-streaming

#12369 Adding Couchbase Server 7.1.0 Enterprise and Community
  library/couchbase
Labels: library/couchbase

#12368 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#12366 eclipse-temurin: add 8u332-b09
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12370 Aerospike 6.0.0.1
  library/aerospike
Labels: library/aerospike

#12371 Official Convertigo 8.0.0 release!
  library/convertigo
Labels: library/convertigo

#12373 Friendica Release 2022.05-rc
  library/friendica
Labels: library/friendica

#12374 Temporarily downgrade Notary to Alpine 3.12
  library/notary
Labels: library/notary

#12375 Update docker
  library/docker
Labels: library/docker

#12376 Update php
  library/php
Labels: library/php

#12377 Update drupal
  library/drupal
Labels: library/drupal

#12378 XWiki 14.3.1 release
  library/xwiki
Labels: library/xwiki

#12379 Odoo: update 13.0-15.0 to release 20220506
  library/odoo
Labels: library/odoo

#12380 caddy: v2.5.1 release
  library/caddy
Labels: library/caddy

#12381 Update photon image
  library/photon
Labels: library/photon

#12383 Update haproxy
  library/haproxy
Labels: library/haproxy

#12384 Update openjdk
  library/openjdk
Labels: library/openjdk

#12382 Update gcc
  library/gcc
Labels: library/gcc

#12386 erlang/otp 24.3.4, 23.3.4.14, 22.3.4.26
  library/erlang
Labels: library/erlang

#12388 Update Clear Linux OS to 36270
  library/clearlinux
Labels: library/clearlinux

#12390 Update python
  library/python
Labels: library/python

#12392 Update drupal
  library/drupal
Labels: library/drupal

#12401 [security] Update golang
  library/golang
Labels: library/golang

#12394 Update ghost
  library/ghost
Labels: library/ghost

#12396 Update bash
  library/bash
Labels: library/bash

#12395 Almalinux 8 updates and adding Almalinux 9
  library/almalinux
Labels: library/almalinux

#12399 [percona] Update psmdb-5.0 version
  library/percona
Labels: library/percona

#12400 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12402 Update wordpress
  library/wordpress
Labels: library/wordpress

#12403 Update docker
  library/docker
Labels: library/docker

#12393 Update Debian to 20220509
  library/debian
Labels: library/debian

#12404 Update sapmachine to 18.0.1.1
  library/sapmachine
Labels: library/sapmachine

#12405 Update Joomla!
  library/joomla
Labels: library/joomla

#12408 Update dart to 2.17.0
  library/dart
Labels: library/dart

#12409 Update phpMyAdmin to version 5.2.0
  library/phpmyadmin
Labels: library/phpmyadmin

#12410 Update Vault for 1.10.3
  library/vault
Labels: library/vault

#12389 Update rethinkdb tags
  library/rethinkdb
Labels: library/rethinkdb

#12412 Fedora: update F36 and F37 image
  library/fedora
Labels: library/fedora

#12415 Almalinux 8.6.0 images release
  library/almalinux
Labels: library/almalinux

#12416 Update docker
  library/docker
Labels: library/docker

#12417 Update php
  library/php
Labels: library/php

#12418 Update drupal
  library/drupal
Labels: library/drupal

#12419 Update mongo
  library/mongo
Labels: library/mongo

#12420 Update julia
  library/julia
Labels: library/julia

#12421 [oraclelinux] Updating 7 and 7-slim for ELSA-2022-2191 and ELSA-2022-2213
  library/oraclelinux
Labels: library/oraclelinux

#12422 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#12423 Update Amazon Linux 2022 images to 2022.0.20220504.1
  library/amazonlinux
Labels: library/amazonlinux

#12425 Update phpMyAdmin, fixing Docker errors
  library/phpmyadmin
Labels: library/phpmyadmin

#12427 [percona] update ps-80 version
  library/percona
Labels: library/percona

#12426 Update php
  library/php
Labels: library/php

#12430 Release InfluxDB 1.9.7
  library/influxdb
Labels: library/influxdb

#12428 Update photon image
  library/photon
Labels: library/photon

#12431 Apache Solr - SOLR-16196: Fixes for 9.0.0 release (#4)
  library/solr
Labels: library/solr

#12432 archlinux: Release 20220515.0.56491
  library/archlinux
Labels: library/archlinux

#12434 Update Clear Linux OS to 36330
  library/clearlinux
Labels: library/clearlinux

#12437 OrientDB release 3.2.6
  library/orientdb
Labels: library/orientdb

#12439 Telegraf v1.22.4
  library/telegraf
Labels: library/telegraf

#12441 Neo4j release
  library/neo4j
Labels: library/neo4j

#12443 Updated mainline and stable nginx tags.
  library/nginx
Labels: library/nginx

#12442 Update matomo (4.10.0)
  library/matomo
Labels: library/matomo

#12451 [oraclelinux]: Release Oracle Linux 8 Update 6
  library/oraclelinux
Labels: library/oraclelinux

#12429 22.0.0.5 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#12444 Update Postgres
  library/postgres
Labels: library/postgres

#12445 Update ghost
  library/ghost
Labels: library/ghost

#12446 Update redmine
  library/redmine
Labels: library/redmine

#12447 Update tomcat
  library/tomcat
Labels: library/tomcat

#12448 Update haproxy
  library/haproxy
Labels: library/haproxy

#12449 Update cassandra
  library/cassandra
Labels: library/cassandra

#12450 Update openjdk
  library/openjdk
Labels: library/openjdk

#12452 Update python
  library/python
Labels: library/python

#12453 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#12457 Update docker
  library/docker
Labels: library/docker

#12454 [oraclelinux] Changed tag from 8.5 to 8.6.
  library/oraclelinux
Labels: library/oraclelinux

#12458 [oraclelinux] Updating 7 and 7-slim for ELSA-2022-9358
  library/oraclelinux
Labels: library/oraclelinux

#12459 Update openjdk
  library/openjdk
Labels: library/openjdk

#12460 Bump Rust to 1.61.0
  library/rust
Labels: library/rust

#12461 erlang/otp 25.0
  library/erlang
Labels: library/erlang

#12462 Odoo: update 13.0-15.0 to release 20220520
  library/odoo
Labels: library/odoo

#12463 Release of GeoNetwork 3.12.5 and 4.2.0
  library/geonetwork
Labels: library/geonetwork

#12464 Update mysql
  library/mysql
Labels: library/mysql

#12465 Update openjdk
  library/openjdk
Labels: library/openjdk

#12466 Update ghost
  library/ghost
Labels: library/ghost

#12468 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#12467 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12469 Update photon image
  library/photon
Labels: library/photon

#12471 archlinux: Release 20220522.0.57327
  library/archlinux
Labels: library/archlinux

#12472 Update Clear Linux OS to 36360
  library/clearlinux
Labels: library/clearlinux

#12474 Add s390x for RethinkDB
  library/rethinkdb
Labels: library/rethinkdb

#12475 arangodb 3.7.18
  library/arangodb
Labels: library/arangodb

#12476 [percona] Update psmdb-4.2 version
  library/percona
Labels: library/percona

#12479 [ros] Add ROS humble distribution
  library/ros
Labels: library/ros

#12480 [nats] Release v2.8.3
  library/nats
Labels: library/nats

#12482 Update ghost
  library/ghost
Labels: library/ghost

#12483 Update mysql
  library/mysql
Labels: library/mysql

#12484 Update mongo
  library/mongo
Labels: library/mongo

#12485 Update haproxy
  library/haproxy
Labels: library/haproxy

#12486 Update wordpress
  library/wordpress
Labels: library/wordpress

#12385 Complete Revamp of the TomEE Images
  library/tomee
Labels: library/tomee

#12489 Update XWiki to 14.4
  library/xwiki
Labels: library/xwiki

#12490 Update bash
  library/bash
Labels: library/bash

#12491 Update tomcat
  library/tomcat
Labels: library/tomcat

#12492 Update memcached
  library/memcached
Labels: library/memcached

#12494 Update postgres
  library/postgres
Labels: library/postgres

#12493 Update httpd
  library/httpd
Labels: library/httpd

#12495 Bump Traefik to v2.6.7 and v2.7.0
  library/traefik
Labels: library/traefik

#12496 Update spiped:alpine to alpine:3.16
  library/spiped
Labels: library/spiped

#12497 XWiki 13.10.6 released
  library/xwiki
Labels: library/xwiki

#12498 Alpine 3.16 support for golang images
  library/golang
Labels: library/golang

#12499 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12500 haxe: add alpine3.16, drop EOL alpine3.12
  library/haxe
Labels: library/haxe

#12501 Updated stable nginx to 1.22.0.
  library/nginx
Labels: library/nginx

#12502 [percona] update psmdb-4.4 version
  library/percona
Labels: library/percona

#12503 Update wordpress
  library/wordpress
Labels: library/wordpress

#12504 Update openjdk
  library/openjdk
Labels: library/openjdk

#12505 Update python
  library/python
Labels: library/python

#12506 Update php
  library/php
Labels: library/php

#12508 Update ruby
  library/ruby
Labels: library/ruby

#12509 Update haproxy
  library/haproxy
Labels: library/haproxy

#12511 Update redis
  library/redis
Labels: library/redis

#12513 Update busybox
  library/busybox
Labels: library/busybox

#12514 Update ghost
  library/ghost
Labels: library/ghost

#12515 Update Matomo
  library/matomo
Labels: library/matomo

#12516 eclipse-temurin: add Ubuntu 22.04 support
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12518 composer 2.2.13
  library/composer
Labels: library/composer

#12520 [nats] Release v2.8.4
  library/nats
Labels: library/nats

#12521 [ros] add perception variant
  library/ros
Labels: library/ros
