Repository docker-library/official-images, pull requests merged in 2022-02, with the labels that each got.

#11768 archlinux: Release 20220130.0.46058
  library/archlinux
Labels: library/archlinux

#11770 Upgrading the JDK version across releases for Semeru OE release
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#11774 Update golang
  library/golang
Labels: library/golang

#11775 Update mongo
  library/mongo
Labels: library/mongo

#11777 Update openjdk
  library/openjdk
Labels: library/openjdk

#11752 Adding Couchbase Server 6.6.5 EE
  library/couchbase
Labels: library/couchbase

#11760 eclipse-temurin: dockerfile updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#11778 arangodb 3.7.17
  library/arangodb
Labels: library/arangodb

#11779 Update CrateDB to 4.7.0
  library/crate
Labels: library/crate

#11782 Update sl container for sl7 to current (build-date=20220201)
  library/sl
Labels: library/sl

#11100 Add API-Firewall official image
  library/api-firewall
Labels: new-image, library/api-firewall

#11780 Ubuntu update January 2022
  library/ubuntu
Labels: library/ubuntu

#11784 Upgrade after XWiki 14.0 release
  library/xwiki
Labels: library/xwiki

#11785 Release of GeoNetwork v4.0.6
  library/geonetwork
Labels: library/geonetwork

#11786 Update Matomo
  library/matomo
Labels: library/matomo

#11788 Update ghost
  library/ghost
Labels: library/ghost

#11789 Update pypy
  library/pypy
Labels: library/pypy

#11790 Update openjdk
  library/openjdk
Labels: library/openjdk

#11791 Update bash
  library/bash
Labels: library/bash

#11793 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#11799 [oraclelinux] Update 8/8-slim for amd64/arm64v8 for ELSA-2022-0366, ELSA-2022-0368, ELSA-2022-0370
  library/oraclelinux
Labels: library/oraclelinux

#11801 Adjust nextcloud tests to avoid flakiness
  library/nextcloud
  test/config.sh
  test/tests/cheeky-retries.sh
  test/tests/nextcloud-apache-run/real-run.sh
  test/tests/nextcloud-apache-run/run.sh
  test/tests/nextcloud-cli/run.sh
  test/tests/nextcloud-fpm-run/real-run.sh
  test/tests/nextcloud-fpm-run/run.sh
Labels: library/nextcloud

#11787 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#11795 Release Plone 5.2.7 and 5.2.6. Fix Plone 5.2.5 python version
  library/plone
Labels: library/plone

#11797 Update Matomo
  library/matomo
Labels: library/matomo

#11771 bump Kong to 2.7.1
  library/kong
Labels: library/kong

#11776 Update python
  library/python
Labels: library/python

#11792 Update redis
  library/redis
Labels: library/redis

#11798 Update busybox
  library/busybox
Labels: library/busybox

#11800 Update dart to 2.16.0
  library/dart
Labels: library/dart

#11802 Add java17 images for open-liberty and websphere-liberty
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#11803 Update clojure tools-deps variants to version 1.10.3.1075
  library/clojure
Labels: library/clojure

#11804 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#11805 Update php
  library/php
Labels: library/php

#11807 Odoo: update 13.0-15.0 to release 20220204
  library/odoo
Labels: library/odoo

#11808 arangodb 3.8.5.1
  library/arangodb
Labels: library/arangodb

#11806 Release SonarQube 8.9.7
  library/sonarqube
Labels: library/sonarqube

#11810 [ros] rolling demo packages 0.18.0 -> 0.19.0
  library/ros
Labels: library/ros

#11811 [nats] Release v2.7.2
  library/nats
Labels: library/nats

#11809 Update photon image
  library/photon
Labels: library/photon

#11812 [nats-streaming] Release v0.24.1
  library/nats-streaming
Labels: library/nats-streaming

#11814 Update Clear Linux OS to 35800
  library/clearlinux
Labels: library/clearlinux

#11817 Refresh Couchbase Server 7.0.3 for Log4Shell remediation
  library/couchbase
Labels: library/couchbase

#11818 composer 2.2.6
  library/composer
Labels: library/composer

#11820 [flink] Build arm image for latest Flink release
  library/flink
Labels: library/flink

#11822 Update Chronograf to 1.9.3
  library/chronograf
Labels: library/chronograf

#11813 archlinux: Release 20220206.0.46909
  library/archlinux
Labels: library/archlinux

#11819 Ubuntu 21.04 Hirsute EOL
  library/ubuntu
Labels: library/ubuntu

#11823 Add Brandon Pfeifer to Kapacitor maintainers
  library/kapacitor
Labels: library/kapacitor

#11821 Registry v2.8.0 release
  library/registry
Labels: library/registry

#11825 Update Jetty versions to 9.4.45, 10.0.8 and 11.0.8
  library/jetty
Labels: library/jetty

#11826 Update python
  library/python
Labels: library/python

#11827 Update drupal
  library/drupal
Labels: library/drupal

#11828 Update openjdk
  library/openjdk
Labels: library/openjdk

#11829 Update ghost
  library/ghost
Labels: library/ghost

#11794 Add image for MariaDB
  library/xwiki
Labels: library/xwiki

#11830 Update Amazon Linux images - Adds 2022.0.20220202.0
  library/amazonlinux
Labels: library/amazonlinux

#11815 Update Monica to v3.7.0
  library/monica
Labels: library/monica

#11832 Add devel tags to AL 2022 images
  library/amazonlinux
Labels: library/amazonlinux

#11834 Update sapmachine to contain 11.0.14.1
  library/sapmachine
Labels: library/sapmachine

#11836 Update dart to 2.16.1
  library/dart
Labels: library/dart

#11837 arangodb 3.9.0
  library/arangodb
Labels: library/arangodb

#11838 Update julia
  library/julia
Labels: library/julia

#11840 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#11816 Friendica Release 2022.02
  library/friendica
Labels: library/friendica

#11839 Update haproxy
  library/haproxy
Labels: library/haproxy

#11843 Updated swipl stable to 8.4.2
  library/swipl
Labels: library/swipl

#11845 Update eclipse-temurin to 8u322 (arm32 only) and 11.0.14.1 (All architectures)
  library/eclipse-temurin
Labels: library/eclipse-temurin

#11849 [security] Update golang
  library/golang
Labels: library/golang

#11846 Gradle 7.4
  library/gradle
Labels: library/gradle

#11854 [oraclelinux] Update 8 and 8-slim for ELSA-2022-0366
  library/oraclelinux
Labels: library/oraclelinux

#11842 [Swift] Add support for Swift 5.5.3
  library/swift
Labels: library/swift

#11851 [Friendica] Fix TZ variable & add redis session cache
  library/friendica
Labels: library/friendica

#11852 Updating the JDK11 version to 11.0.14.1+1
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#11853 Update phpMyAdmin to version 5.1.3
  library/phpmyadmin
Labels: library/phpmyadmin

#11835 Releasing Neo4j 4.2.15 and 4.4.4
  library/neo4j
Labels: library/neo4j

#11855 Update ghost
  library/ghost
Labels: library/ghost

#11856 Update postgres
  library/postgres
Labels: library/postgres

#11857 Update openjdk
  library/openjdk
Labels: library/openjdk

#11858 Update cassandra
  library/cassandra
Labels: library/cassandra

#11859 Update memcached
  library/memcached
Labels: library/memcached

#11861 consul: 1.11.3, 1.10.8 and 1.9.15
  library/consul
Labels: library/consul

#11850 Update photon image
  library/photon
Labels: library/photon

#11862 archlinux: Release 20220213.0.47747
  library/archlinux
Labels: library/archlinux

#11863 Update Clear Linux OS to 35860
  library/clearlinux
Labels: library/clearlinux

#11865 maven: sapmachine images
  library/maven
Labels: library/maven

#11866 Bump Traefik to v2.6.1
  library/traefik
Labels: library/traefik

#11831 Drop end of life CentOS versions
  library/centos
Labels: library/centos

#11867 Update postgres
  library/postgres
Labels: library/postgres

#11868 Update drupal
  library/drupal
Labels: library/drupal

#11869 Update dart to 2.17.0-69.2.beta
  library/dart
Labels: library/dart

#11870 Release OrientDB v3.2.5
  library/orientdb
Labels: library/orientdb

#11871 Update Joomla!
  library/joomla
Labels: library/joomla

#11873 elixir 1.13.3
  library/elixir
Labels: library/elixir

#11874 erlang/otp 25.0-rc1
  library/erlang
Labels: library/erlang

#11875 Upgrade LTS version of XWiki to 13.10.3
  library/xwiki
Labels: library/xwiki

#11876 added java 17 for TomEE 8 and arm64v8
  library/tomee
Labels: library/tomee

#11872 [Friendica] Fixing redis session handling and run_as
  library/friendica
Labels: library/friendica

#11877 Telegraf v1.21.4
  library/telegraf
Labels: library/telegraf

#11882 [security] Update php
  library/php
Labels: library/php

#11878 Update to Flink 1.13.6
  library/flink
Labels: library/flink

#11879 Odoo: update 13.0-15.0 to release 20220217
  library/odoo
Labels: library/odoo

#11883 Update cassandra
  library/cassandra
Labels: library/cassandra

#11884 Update drupal
  library/drupal
Labels: library/drupal

#11885 Update ghost
  library/ghost
Labels: library/ghost

#11886 Update haproxy
  library/haproxy
Labels: library/haproxy

#11888 Update mysql
  library/mysql
Labels: library/mysql

#11889 [security] Update php
  library/php
Labels: library/php

#11881 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#11891 Replace @cliveverghese with @caojoshua as the maintainer
  library/amazoncorretto
Labels: library/amazoncorretto

#11892 Update ruby
  library/ruby
Labels: library/ruby

#11893 Update haproxy
  library/haproxy
Labels: library/haproxy

#11894 Update wordpress
  library/wordpress
Labels: library/wordpress

#11900 Update yourls
  library/yourls
Labels: library/yourls

#11898 Update Clear Linux OS to 35920
  library/clearlinux
Labels: library/clearlinux

#11897 archlinux: Release 20220220.0.48372
  library/archlinux
Labels: library/archlinux

#11890 Update photon image
  library/photon
Labels: library/photon

#11895 Update openjdk
  library/openjdk
Labels: library/openjdk

#11903 Update pypy
  library/pypy
Labels: library/pypy

#11904 Update ghost
  library/ghost
Labels: library/ghost

#11905 Update bash
  library/bash
Labels: library/bash

#11906 Update redmine
  library/redmine
Labels: library/redmine

#11911 [security] Update redmine
  library/redmine
Labels: library/redmine

#11907 Bump IBM Java version to 1.8.0_sr7fp5 (8.0.7.5)
  library/ibmjava
Labels: library/ibmjava

#11909 TomEE 8.0.10 and java 17 for TomEE 9
  library/tomee
Labels: library/tomee

#11910 arangodb 3.8.6
  library/arangodb
Labels: library/arangodb

#11912 Release OrientDB 3.1.16
  library/orientdb
Labels: library/orientdb

#11913 Update mysql
  library/mysql
Labels: library/mysql

#11914 Update wordpress
  library/wordpress
Labels: library/wordpress

#11916 Update hylang
  library/hylang
Labels: library/hylang

#11915 Update python
  library/python
Labels: library/python

#11918 [oraclelinux] Updating 7 and 7-slim for ELSA-2022-0621
  library/oraclelinux
Labels: library/oraclelinux

#11919 22.0.0.2 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#11927 [oraclelinux] Updating 7, 7-slim, 8 and 8-slim for ELSA-2022-0658 and ELSA-2022-0666
  library/oraclelinux
Labels: library/oraclelinux

#11922 Bump Rust to 1.59.0
  library/rust
Labels: library/rust

#11925 [nats] Release v2.7.3
  library/nats
Labels: library/nats

#11926 [nats-streaming] Release v0.24.2
  library/nats-streaming
Labels: library/nats-streaming

#11864 mariadb: feb2022 release
  library/mariadb
Labels: library/mariadb

#11929 Odoo: update 13.0-15.0 to release 20220225
  library/odoo
Labels: library/odoo

#11930 erlang/otp 24.2.2
  library/erlang
Labels: library/erlang

#11931 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11932 Update python
  library/python
Labels: library/python

#11917 ROS | Update rolling to jammy base image
  library/ros
Labels: library/ros

#11934 Update mysql
  library/mysql
Labels: library/mysql

#11935 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#11936 Update irssi
  library/irssi
Labels: library/irssi

#11933 Update photon image
  library/photon
Labels: library/photon
