Repository docker-library/official-images, pull requests merged in 2022-04, with the labels that each got.

#12160 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#12161 Update Joomla!
  library/joomla
Labels: library/joomla

#12162 Update XWiki to 14.2.1
  library/xwiki
Labels: library/xwiki

#12163 Add arm64v8 for JRuby 9.3
  library/jruby
Labels: library/jruby

#12164 Update Apache Storm to 2.4.0
  library/storm
Labels: library/storm

#12165 Aerospike 5.7.0.15
  library/aerospike
Labels: library/aerospike

#12140 Add new base images for Jetty
  library/jetty
Labels: library/jetty

#12159 Fix for MariaDB images
  library/mariadb
Labels: library/mariadb

#12166 Gradle 7.4.2
  library/gradle
Labels: library/gradle

#12167 composer 2.3.2
  library/composer
Labels: library/composer

#12005 Update bonita, add 2022.1-b1
  library/bonita
Labels: library/bonita

#12168 Odoo: update 13.0-15.0 to release 20220401
  library/odoo
Labels: library/odoo

#12169 haxe 4.2.5
  library/haxe
Labels: library/haxe

#12171 Update tomcat
  library/tomcat
Labels: library/tomcat

#12172 Update julia
  library/julia
Labels: library/julia

#12173 Update wordpress
  library/wordpress
Labels: library/wordpress

#12174 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12175 Update photon image
  library/photon
Labels: library/photon

#12176 archlinux: Release 20220403.0.51871
  library/archlinux
Labels: library/archlinux

#12177 Update Clear Linux OS to 36120
  library/clearlinux
Labels: library/clearlinux

#12178 composer release 2.3.3 and 2.2.11
  library/composer
Labels: library/composer

#12179 Update MediaWiki
  library/mediawiki
Labels: library/mediawiki

#12180 Update sl container for sl7 to current (build-date=20220404)
  library/sl
Labels: library/sl

#12182 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#12183 Update clojure tools-deps variants to 1.11.0.1100
  library/clojure
Labels: library/clojure

#12181 Release SonarQube 8.9.8 and 9.4.0, and update the image maintainers
  library/sonarqube
Labels: library/sonarqube

#12184 Alpine CVE-2022-28391 fixes
  library/alpine
Labels: library/alpine

#12185 Update php
  library/php
Labels: library/php

#12186 Update ruby
  library/ruby
Labels: library/ruby

#12187 Update Jetty versions to 9.4.46, 10.0.9 & 11.0.9
  library/jetty
Labels: library/jetty

#12188 Aerospike 5.7.0.16
  library/aerospike
Labels: library/aerospike

#12189 maven: 3.8.5
  library/maven
Labels: library/maven

#12190 Ubuntu update April 2022
  library/ubuntu
Labels: library/ubuntu

#12192 Update eclipse-temurin
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12193 Adding Corretto18 images
  library/amazoncorretto
Labels: library/amazoncorretto

#12194 Update python
  library/python
Labels: library/python

#12195 Update wordpress
  library/wordpress
Labels: library/wordpress

#12196 Update redis
  library/redis
Labels: library/redis

#12197 Update openjdk
  library/openjdk
Labels: library/openjdk

#12198 Update bash
  library/bash
Labels: library/bash

#10882 Add a new emqx image
  library/emqx
Labels: new-image, library/emqx

#12199 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12200 Updated swipl devel to 8.5.10
  library/swipl
Labels: library/swipl

#12202 Update clojure tools-deps variants to 1.11.1.1105
  library/clojure
Labels: library/clojure

#12203 Telegraf v1.22.1
  library/telegraf
Labels: library/telegraf

#12204 telegraf: add sspaink as a maintainer
  library/telegraf
Labels: library/telegraf

#12206 Bump rust to 1.60.0
  library/rust
Labels: library/rust

#12201 Release InfluxDB 2.2
  library/influxdb
Labels: library/influxdb

#12205 arangodb 3.9.1
  library/arangodb
Labels: library/arangodb

#12207 Update openjdk
  library/openjdk
Labels: library/openjdk

#12208 composer 2.3.4
  library/composer
Labels: library/composer

#12209 Bump IBM Java version to 1.8.0_sr7fp6 (8.0.7.6).
  library/ibmjava
Labels: library/ibmjava

#12210 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#12211 Update for Silverpeas 6.2.3
  library/silverpeas
Labels: library/silverpeas

#12215 [Swift] Add support for Swift 5.6.1
  library/swift
Labels: library/swift

#12216 archlinux: Release 20220410.0.52530
  library/archlinux
Labels: library/archlinux

#12217 Update Clear Linux OS to 36150
  library/clearlinux
Labels: library/clearlinux

#12221 Update api-firewall
  library/api-firewall
Labels: library/api-firewall

#12218 Update mongo
  library/mongo
Labels: library/mongo

#12219 Update haproxy
  library/haproxy
Labels: library/haproxy

#12226 [security] Update ruby
  library/ruby
Labels: library/ruby

#12213 bump Kong to 2.8.1, 2.7.2, 2.6.1
  library/kong
Labels: library/kong

#12222 Add Java 18 images
  library/gradle
Labels: library/gradle

#12223 Add Java 18 images
  library/groovy
Labels: library/groovy

#12227 [security] Update golang
  library/golang
Labels: library/golang

#12228 MediaWiki: Add PHP calendar extension
  library/mediawiki
Labels: library/mediawiki

#12229 Update Matomo
  library/matomo
Labels: library/matomo

#12230 Update dart
  library/dart
Labels: library/dart

#12232 Composer 1.10.26, 2.2.12, 2.3.5
  library/composer
Labels: library/composer

#12233 elixir 1.13.4
  library/elixir
Labels: library/elixir

#12234 erlang/otp 25.0-rc3
  library/erlang
Labels: library/erlang

#12235 maven: eclipse-temurin-18
  library/maven
Labels: library/maven

#12240 Update to Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#12236 Update golang
  library/golang
Labels: library/golang

#12237 Update bash
  library/bash
Labels: library/bash

#12238 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12239 Update wordpress
  library/wordpress
Labels: library/wordpress

#12220 Update python
  library/python
Labels: library/python

#12242 Update busybox
  library/busybox
Labels: library/busybox

#12212 bump emqx version to 4.4.2
  library/emqx
Labels: library/emqx

#12244 caddy: v2.5.0-rc.1 release
  library/caddy
Labels: library/caddy

#12245 Update consul to latest patches
  library/consul
Labels: library/consul

#12246 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#12249 Update photon image
  library/photon
Labels: library/photon

#12250 archlinux: Release 20220417.0.53367
  library/archlinux
Labels: library/archlinux

#12251 Update Clear Linux OS to 36190
  library/clearlinux
Labels: library/clearlinux

#12252 Update haproxy
  library/haproxy
Labels: library/haproxy

#12253 Update php
  library/php
Labels: library/php

#12254 Update mongo
  library/mongo
Labels: library/mongo

#12255 Update openjdk
  library/openjdk
Labels: library/openjdk

#12256 Update drupal
  library/drupal
Labels: library/drupal

#12258 [nats] Release v2.8.0
  library/nats
Labels: library/nats

#12259 [nats-streaming] Release v0.24.4
  library/nats-streaming
Labels: library/nats-streaming

#12262 Update ghost
  library/ghost
Labels: library/ghost

#12261 Update Corretto for 2022 Q2 release
  library/amazoncorretto
Labels: library/amazoncorretto

#12265 Update bash
  library/bash
Labels: library/bash

#12264 Update wordpress
  library/wordpress
Labels: library/wordpress

#12263 Update python
  library/python
Labels: library/python

#12257 Update Debian
  library/debian
Labels: library/debian

#12260 feat: update to CouchDB 3.2.2
  library/couchdb
Labels: library/couchdb

#12268 [percona] Update psmdb-5.0 version
  library/percona
Labels: library/percona

#12269 Update dart beta to 2.17.0-266.5.beta
  library/dart
Labels: library/dart

#12270 Update for Consul 1.12.0, remove 1.9.17
  library/consul
Labels: library/consul

#12267 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#12241 [varnish] add install-vmod
  library/varnish
Labels: library/varnish

#12271 Update mongo
  library/mongo
Labels: library/mongo

#12273 Update openjdk
  library/openjdk
Labels: library/openjdk

#12272 Update drupal
  library/drupal
Labels: library/drupal

#12274 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12276 Releasing Neo4j 3.5.32, 4.2.16, 4.3.12 and 4.4.6
  library/neo4j
Labels: library/neo4j

#12278 MySQL 8 now supports ARM
  library/xwiki
Labels: library/xwiki

#12282 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#12283 22.0.0.4 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#12285 Update ghost
  library/ghost
Labels: library/ghost

#12279 Update for Ubuntu Jammy 22.04 LTS release
  library/ubuntu
Labels: library/ubuntu

#12286 [nats] Release v2.8.1
  library/nats
Labels: library/nats

#12287 [nats-streaming] Release v0.24.5
  library/nats-streaming
Labels: library/nats-streaming

#12288 update r-base to 4.2.0 released this morning
  library/r-base
Labels: library/r-base

#12290 Groovy 4.0.2
  library/groovy
Labels: library/groovy

#12291 Update photon image
  library/photon
Labels: library/photon

#12292 Update Vault for 1.10.1, 1.9.5, and 1.8.10
  library/vault
Labels: library/vault

#12293 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#12281 Aerospike 5.7.0.17
  library/aerospike
Labels: library/aerospike

#12284 Update gcc
  library/gcc
Labels: library/gcc

#12294 Update openjdk
  library/openjdk
Labels: library/openjdk

#12301 Update sapmachine to 18.0.1, 17.0.3 and 11.0.15
  library/sapmachine
Labels: library/sapmachine

#12295 archlinux: Release 20220424.0.54084
  library/archlinux
Labels: library/archlinux

#12296 Update Clear Linux OS to 36220
  library/clearlinux
Labels: library/clearlinux

#12299 Update emqx image
  library/emqx
Labels: library/emqx

#12300 Odoo: update 13.0-15.0 to release 20220425
  library/odoo
Labels: library/odoo

#12302 Update clojure tools-deps variants to version 1.11.1.1113
  library/clojure
Labels: library/clojure

#12297 TomEE 8.0.11 release
  library/tomee
Labels: library/tomee

#12303 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12304 Update haproxy
  library/haproxy
Labels: library/haproxy

#12305 caddy: v2.5.0 release
  library/caddy
Labels: library/caddy

#12306 Telegraf v1.22.2
  library/telegraf
Labels: library/telegraf

#12309 Update haproxy
  library/haproxy
Labels: library/haproxy

#12310 Update bash
  library/bash
Labels: library/bash

#12311 Update mongo
  library/mongo
Labels: library/mongo

#12312 Release OrientDB 3.1.17
  library/orientdb
Labels: library/orientdb

#12289 Update eclipse-temurin for new releases (part 1)
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12298 Update YOURLS
  library/yourls
Labels: library/yourls

#12308 Update XWiki to 14.3
  library/xwiki
Labels: library/xwiki

#12320 [oraclelinux] Updating 8 and 8-slim for ELSA-2022-1537
  library/oraclelinux
Labels: library/oraclelinux

#12314 Update Matomo
  library/matomo
Labels: library/matomo

#12315 Releaes of GeoNetwork v3.12.4
  library/geonetwork
Labels: library/geonetwork

#12316 Aerospike 6.0.0.0
  library/aerospike
Labels: library/aerospike

#12317 Updating the release versions and adding support to JDK18
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#12319 Update dart beta to 2.17.0-266.7.beta
  library/dart
Labels: library/dart

#12321 Update openjdk
  library/openjdk
Labels: library/openjdk
