Repository docker-library/official-images, pull requests merged in 2022-12, with the labels that each got.

#13624 Update wordpress
  library/wordpress
Labels: library/wordpress

#13631 [security] Update redmine
  library/redmine
Labels: library/redmine

#13627 Consul 1.14.2, 1.13.4, and 1.12.7
  library/consul
Labels: library/consul

#13628 Add JDK 19 images
  library/gradle
Labels: library/gradle

#13629 haxe: add alpine3.17, drop EOL alpine3.13
  library/haxe
Labels: library/haxe

#13630 Update spiped:alpine to alpine:3.17
  library/spiped
Labels: library/spiped

#13632 Update memcached
  library/memcached
Labels: library/memcached

#13633 Update drupal
  library/drupal
Labels: library/drupal

#13634 Update julia
  library/julia
Labels: library/julia

#13635 Update golang
  library/golang
Labels: library/golang

#13636 Update hylang
  library/hylang
Labels: library/hylang

#13639 Update postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#13642 Update busybox
  library/busybox
Labels: library/busybox

#13643 Update redis
  library/redis
Labels: library/redis

#13644 Update openjdk
  library/openjdk
Labels: library/openjdk

#13645 Odoo: update 14.0-16.0 to release 20221202
  library/odoo
Labels: library/odoo

#13646 Update ghost
  library/ghost
Labels: library/ghost

#13647 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13626 Update Vault for 1.10.9, 1.11.6, 1.12.2
  library/vault
Labels: library/vault

#13651 archlinux: Release 20221204.0.107760
  library/archlinux
Labels: library/archlinux

#13652 Update Clear Linux OS to 37710
  library/clearlinux
Labels: library/clearlinux

#13653 [ros] noetic ros_comm 1.15.14 -> 1.15.15
  library/ros
Labels: library/ros

#13655 mediawiki: Add 1.39, drop 1.37, switch to PHP 8
  library/mediawiki
Labels: library/mediawiki

#13656 Add Apache Flink 1.15.3
  library/flink
Labels: library/flink

#13657 Update sl container for sl7 to current (build-date=20221205)
  library/sl
Labels: library/sl

#13661 Bump Traefik to v3.0.0-beta1
  library/traefik
Labels: library/traefik

#13649 Fix postfixadmin
  library/postfixadmin
  test/config.sh
  test/tests/postfixadmin-apache-run/run.sh
  test/tests/postfixadmin-fpm-run/run.sh
Labels: library/postfixadmin

#13659 Update haproxy
  library/haproxy
Labels: library/haproxy

#13660 Update docker
  library/docker
Labels: library/docker

#13658 Update tomcat
  library/tomcat
Labels: library/tomcat

#13662 Update Debian (20221205)
  library/debian
Labels: library/debian

#13675 [security] Update golang
  library/golang
Labels: library/golang

#13668 Updated swipl stable to 9.0.2
  library/swipl
Labels: library/swipl

#13677 kong 3.1.0
  library/kong
Labels: library/kong

#13672 Update bash
  library/bash
Labels: library/bash

#13670 Update drupal
  library/drupal
Labels: library/drupal

#13676 [oraclelinux] Update Oracle Linux images for tzdata-2022g-1
  library/oraclelinux
Labels: library/oraclelinux

#13664 Update busybox
  library/busybox
Labels: library/busybox

#13669 Update ruby
  library/ruby
Labels: library/ruby

#13671 Update ghost
  library/ghost
Labels: library/ghost

#13673 Update docker
  library/docker
Labels: library/docker

#13674 Update pypy
  library/pypy
Labels: library/pypy

#13678 Updated swipl devel to 9.1.1
  library/swipl
Labels: library/swipl

#13685 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#13686 Update golang
  library/golang
Labels: library/golang

#13687 Update drupal
  library/drupal
Labels: library/drupal

#13688 Update ghost
  library/ghost
Labels: library/ghost

#13691 Update Matomo
  library/matomo
Labels: library/matomo

#13692 update Dart to version 2.19.0-444.1.beta
  library/dart
Labels: library/dart

#13693 Update php
  library/php
Labels: library/php

#13695 [nats] Release v2.9.9
  library/nats
Labels: library/nats

#13696 Nextcloud 25.0.2
  library/nextcloud
  test/tests/nextcloud-cli-postgres/run.sh
Labels: library/nextcloud

#13698 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#13699 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#13700 [varnish] update vmod_dynamic
  library/varnish
Labels: library/varnish

#13703 Update tomcat
  library/tomcat
Labels: library/tomcat

#13704 Update haproxy
  library/haproxy
Labels: library/haproxy

#13705 Update drupal
  library/drupal
Labels: library/drupal

#13706 Update clojure lein variants to 2.10.0
  library/clojure
Labels: library/clojure

#13707 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13708 Update ghost
  library/ghost
Labels: library/ghost

#13712 Update photon image
  library/photon
Labels: library/photon

#13714 archlinux: Release 20221211.0.109768
  library/archlinux
Labels: library/archlinux

#13715 Update Clear Linux OS to 37730
  library/clearlinux
Labels: library/clearlinux

#13719 Update lightstreamer image
  library/lightstreamer
Labels: library/lightstreamer

#13720 Release XWiki 14.10.1
  library/xwiki
Labels: library/xwiki

#13721 arangodb 3.9.6
  library/arangodb
Labels: library/arangodb

#13722 Release of GeoNetwork v3.12.8 and v4.2.2
  library/geonetwork
Labels: library/geonetwork

#13723 Update redis
  library/redis
Labels: library/redis

#13701 Fedora Update 2022-12-09
  library/fedora
Labels: library/fedora

#13713 kong 3.1.1 and 3.0.2
  library/kong
Labels: library/kong

#13718 Update CrateDB to 5.1.2
  library/crate
Labels: library/crate

#13724 telegraf v1.25.0
  library/telegraf
Labels: library/telegraf

#13725 Update Jetty to versions 9.4.50, 10.0.13 and 11.0.13
  library/jetty
Labels: library/jetty

#13729 Update cassandra
  library/cassandra
Labels: library/cassandra

#13730 Update bash
  library/bash
Labels: library/bash

#13736 Update Joomla!
  library/joomla
Labels: library/joomla

#13731 Update hylang
  library/hylang
Labels: library/hylang

#13732 Update postgres
  library/postgres
Labels: library/postgres

#13734 Update openjdk
  library/openjdk
Labels: library/openjdk

#13737 Update clojure tools-deps variants to 1.11.1.1208
  library/clojure
Labels: library/clojure

#13733 nginx: introduced another variant: alpine-slim and updated to 1.23.3.
  library/nginx
Labels: library/nginx

#13741 Adding Couchbase Server 7.0.5 Enterprise Edition
  library/couchbase
Labels: library/couchbase

#13742 Friendica 2022.12-rc Release
  library/friendica
Labels: library/friendica

#13728 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13745 Consul 1.14.3, 1.13.5, and 1.12.8x
  library/consul
Labels: library/consul

#13739 Update bash
  library/bash
Labels: library/bash

#13740 Update ghost
  library/ghost
Labels: library/ghost

#13744 Update drupal
  library/drupal
Labels: library/drupal

#13747 Eggdrop v1.9.4 *STABLE*
  library/eggdrop
Labels: library/eggdrop

#13748 emqx 5.0.12
  library/emqx
Labels: library/emqx

#13746 Update wordpress
  library/wordpress
Labels: library/wordpress

#13749 Bump Rust to 1.66.0
  library/rust
Labels: library/rust

#13750 Migrate Adminer to Debian Bulleye's native PHP 7.4 packages
  library/adminer
Labels: library/adminer

#13751 InfluxDB v2.6.0
  library/influxdb
Labels: library/influxdb

#13752 Releaseing Neo4j 5.3.0
  library/neo4j
Labels: library/neo4j

#13753 Update Amazon Linux images (week ending Dec 16, 2022)
  library/amazonlinux
Labels: library/amazonlinux

#13754 [Swift] Update the release to Swift 5.7.2
  library/swift
Labels: library/swift

#13756 Odoo: update 14.0-16.0 to release 20221216
  library/odoo
Labels: library/odoo

#13757 Update API-Firewall to v0.6.10
  library/api-firewall
Labels: library/api-firewall

#13764 Update rakudo-star to 2022.12
  library/rakudo-star
Labels: library/rakudo-star

#13758 Update redis
  library/redis
Labels: library/redis

#13759 Update ghost
  library/ghost
Labels: library/ghost

#13760 Update docker
  library/docker
Labels: library/docker

#13761 Update php
  library/php
Labels: library/php

#13762 Update openjdk
  library/openjdk
Labels: library/openjdk

#13763 Update drupal
  library/drupal
Labels: library/drupal

#13765 Update Dart to 2.18.6 stable, 2.19.0-444.2.beta
  library/dart
Labels: library/dart

#13755 Upgrade SonarQube to 9.8
  library/sonarqube
Labels: library/sonarqube

#13766 archlinux: Release 20221218.0.111778
  library/archlinux
Labels: library/archlinux

#13767 Update Clear Linux OS to 37780
  library/clearlinux
Labels: library/clearlinux

#13569 Update rocky linux images for 9.1 and 8.7
  library/rockylinux
Labels: library/rockylinux

#13768 Update photon image
  library/photon
Labels: library/photon

#13771 Friendica Release 2022.12
  library/friendica
Labels: library/friendica

#13774 [nats] Release v2.9.10
  library/nats
Labels: library/nats

#13770 Update Debian, esp. for 11.6
  library/debian
Labels: library/debian

#13777 Update rocky linux 9.1 images to fix regressions from 9.0
  library/rockylinux
Labels: library/rockylinux

#13772 erlang/otp 25.2
  library/erlang
Labels: library/erlang

#13778 Release Neo4j 4.3.23 and 4.4.16
  library/neo4j
Labels: library/neo4j

#13779 22.0.0.13 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#13780 Update ghost
  library/ghost
Labels: library/ghost

#13781 Update docker
  library/docker
Labels: library/docker

#13782 Update bash
  library/bash
Labels: library/bash

#13783 Update haproxy
  library/haproxy
Labels: library/haproxy

#13784 Update redmine
  library/redmine
Labels: library/redmine

#13773 composer 2.5.0
  library/composer
Labels: library/composer

#13788 arangodb 3.10.2
  library/arangodb
Labels: library/arangodb

#13786 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#13787 Update busybox
  library/busybox
Labels: library/busybox

#13785 Update postgres
  library/postgres
Labels: library/postgres

#13790 Update postgres
  library/postgres
Labels: library/postgres

#13791 Update postgres
  library/postgres
Labels: library/postgres

#13789 Update openjdk
  library/openjdk
Labels: library/openjdk

#13793 composer 2.5.1
  library/composer
Labels: library/composer

#13794 Update photon image
  library/photon
Labels: library/photon

#13795 Groovy 3.0.14 and 4.0.7
  library/groovy
Labels: library/groovy

#13796 archlinux: Release 20221225.0.113672
  library/archlinux
Labels: library/archlinux

#13797 Update Clear Linux OS to 37860
  library/clearlinux
Labels: library/clearlinux

#13798 Odoo: update 14.0-16.0 to release 20221226
  library/odoo
Labels: library/odoo

#13799 Haskell bumps
  library/haskell
Labels: library/haskell

#13800 Upgrade XWiki LTS
  library/xwiki
Labels: library/xwiki

#13792 MediaWiki 1.39.1, 1.38.5, 1.35.9
  library/mediawiki
Labels: library/mediawiki

#13802 Update bash
  library/bash
Labels: library/bash

#13806 Update ruby
  library/ruby
Labels: library/ruby

#13801 Update golang
  library/golang
Labels: library/golang

#13804 Update julia
  library/julia
Labels: library/julia

#13805 Update ghost
  library/ghost
Labels: library/ghost

#13807 emqx 5.0.13
  library/emqx
Labels: library/emqx

#13811 otp 24 support for elixir 1.14
  library/elixir
Labels: library/elixir

#13812 Update docker
  library/docker
Labels: library/docker
