Repository docker-library/official-images, pull requests merged in 2022-07, with the labels that each got.

#12722 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12723 Update postgres
  library/postgres
Labels: library/postgres

#12724 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12725 Update openjdk
  library/openjdk
Labels: library/openjdk

#12727 MediaWiki: 1.38.2 / 1.37.3 / 1.35.7 releases
  library/mediawiki
Labels: library/mediawiki

#12728 Update sl container for sl7 to current (build-date=20220701)
  library/sl
Labels: library/sl

#12729 Update postgres
  library/postgres
Labels: library/postgres

#12732 Update Perl to fix cpanm deletion (and add very basic test)
  library/perl
  test/config.sh
  test/tests/perl-cpanm/container.sh
  test/tests/perl-cpanm/run.sh
Labels: library/perl

#12730 Update photon image
  library/photon
Labels: library/photon

#12733 [oraclelinux]: Release Oracle Linux 9
  library/oraclelinux
Labels: library/oraclelinux

#12734 archlinux: Release 20220703.0.65849
  library/archlinux
Labels: library/archlinux

#12736 [percona] Update psmdb-4.2 version
  library/percona
Labels: library/percona

#12738 composer 2.2.15 and 2.3.8
  library/composer
Labels: library/composer

#12740 Update ghost
  library/ghost
Labels: library/ghost

#12741 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12742 Update bash
  library/bash
Labels: library/bash

#12743 Update mysql
  library/mysql
Labels: library/mysql

#12739 add slim version of elixir based on erlang/otp 25
  library/elixir
Labels: library/elixir

#12744 [oraclelinux] Updating 7, 7-slim, 8 and 8-slim for amd64/arm64v8
  library/oraclelinux
Labels: library/oraclelinux

#12745 Add mongo-* workaround for SERVER-67788
  test/tests/mongo-basics/run.sh
Labels: library/mongo

#12746 Update photon image
  library/photon
Labels: library/photon

#12748 Telegraf v1.23.1
  library/telegraf
Labels: library/telegraf

#12747 Update mongo
  library/mongo
Labels: library/mongo

#12751 Update golang
  library/golang
Labels: library/golang

#12752 Updating 9 and 9-slim for ELSA-2022-5245 ELSA-2022-5244 ELSA-2022-4582 ELSA-2022-5252 ELSA-2022-5250 ELSA-2022-5251 ELSA-2022-4795 ELSA-2022-5242 ELSA-2022-4940 ELSA-2022-4584
  library/oraclelinux
Labels: library/oraclelinux

#12753 Adding Couchbase Server 7.1.1 as a proper multi-arch image
  library/couchbase
Labels: library/couchbase

#12755 composer 2.2.16 and 2.3.9
  library/composer
Labels: library/composer

#12750 Update to Flink 1.15.1
  library/flink
Labels: library/flink

#12756 Rocky Linux updates for 8.6
  library/rockylinux
Labels: library/rockylinux

#12757 [security] Update php
  library/php
Labels: library/php

#12758 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12760 Update wordpress
  library/wordpress
Labels: library/wordpress

#12762 Odoo: update 13.0-15.0 to release 20220708
  library/odoo
Labels: library/odoo

#12764 TomEE-9.0.0-M8 Version Bump
  library/tomee
Labels: library/tomee

#12765 archlinux: Release 20220710.0.67642
  library/archlinux
Labels: library/archlinux

#12766 Update Clear Linux OS to 36600
  library/clearlinux
Labels: library/clearlinux

#12767 Force usage of openjdk since the automatic switch to eclipse-temurin makes XWiki image unusable for some users
  library/xwiki
Labels: library/xwiki

#12769 Bump Traefik to v2.8.1
  library/traefik
Labels: library/traefik

#12775 Telegraf v1.23.2
  library/telegraf
Labels: library/telegraf

#12777 [ros] fix entrypoint
  library/ros
Labels: library/ros

#12770 Update redis
  library/redis
Labels: library/redis

#12771 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12772 Update drupal
  library/drupal
Labels: library/drupal

#12773 Update openjdk
  library/openjdk
Labels: library/openjdk

#12774 Update mysql
  library/mysql
Labels: library/mysql

#12778 Update redmine
  library/redmine
Labels: library/redmine

#12776 Update Debian, esp. for 11.4 and stretch EOL
  library/debian
Labels: library/debian

#12780 Update mysql
  library/mysql
Labels: library/mysql

#12781 Update bash
  library/bash
Labels: library/bash

#12782 Update golang
  library/golang
Labels: library/golang

#12784 Update python
  library/python
Labels: library/python

#12786 [security] Update golang
  library/golang
Labels: library/golang

#12785 caddy: 2.5.2 release
  library/caddy
Labels: library/caddy

#12787 Update golang
  library/golang
Labels: library/golang

#12788 Update ghost
  library/ghost
Labels: library/ghost

#12789 Update wordpress
  library/wordpress
Labels: library/wordpress

#12790 Update mysql
  library/mysql
Labels: library/mysql

#12791 chore: release InfluxDB 1.9.8
  library/influxdb
Labels: library/influxdb

#12792 Update dart to 2.17.6
  library/dart
Labels: library/dart

#12793 consul: 1.12.3, 1.11.7, 1.10.12
  library/consul
Labels: library/consul

#12779 Rocky Linux updates for 9.0
  library/rockylinux
Labels: library/rockylinux

#12795 Gradle 7.5
  library/gradle
Labels: library/gradle

#12798 alpine: edge shapshot 20220715
  library/alpine
Labels: library/alpine

#12799 Update photon image
  library/photon
Labels: library/photon

#12801 archlinux: Release 20220717.0.68836
  library/archlinux
Labels: library/archlinux

#12802 Update Clear Linux OS to 36620
  library/clearlinux
Labels: library/clearlinux

#12803 Odoo: update 13.0-15.0 to release 20220718
  library/odoo
Labels: library/odoo

#12804 erlang/otp 25.0.3, 23.3.4.16
  library/erlang
Labels: library/erlang

#12800 Update Amazon Linux images 2022.0.20220628.8
  library/amazonlinux
Labels: library/amazonlinux

#12807 Update CrateDB to 4.8.2 and 5.0.0
  library/crate
Labels: library/crate

#12810 Update irssi
  library/irssi
Labels: library/irssi

#12814 Update ghost
  library/ghost
Labels: library/ghost

#12811 Update haproxy
  library/haproxy
Labels: library/haproxy

#12813 Update openjdk
  library/openjdk
Labels: library/openjdk

#12796 Eggdrop v1.9.3rc1
  library/eggdrop
Labels: library/eggdrop

#12808 alpine: bump 3.16.1 (CVE-2022-2097, CVE-2022-30065)
  library/alpine
Labels: library/alpine

#12815 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#12816 fixed typo in neo4j 4.4.9 community
  library/neo4j
Labels: library/neo4j

#12818 Bump Rust to 1.62.1
  library/rust
Labels: library/rust

#12819 Updated nginx to 1.23.1 and njs to 0.7.6.
  library/nginx
Labels: library/nginx

#12820 NeuroDebian: no more EOLed stretch, add arm64v8 architecture
  library/neurodebian
Labels: library/neurodebian

#12821 alpine: bump 3.13.11, 3.14.7 and 3.15.5
  library/alpine
Labels: library/alpine

#12823 Update Corretto for 2022 Q3 release
  library/amazoncorretto
Labels: library/amazoncorretto

#12824 [percona] update psmdb-4.4 version
  library/percona
Labels: library/percona

#12825 Update rocky linux images - incorrect mirror URL
  library/rockylinux
Labels: library/rockylinux

#12826 Update dart to 2.18.0-271.2.beta
  library/dart
Labels: library/dart

#12828 Update ghost
  library/ghost
Labels: library/ghost

#12827 Update drupal
  library/drupal
Labels: library/drupal

#12829 Update docker
  library/docker
Labels: library/docker

#12830 Update julia
  library/julia
Labels: library/julia

#12832 Update bash
  library/bash
Labels: library/bash

#12833 Update cassandra
  library/cassandra
Labels: library/cassandra

#12831 Update openjdk
  library/openjdk
Labels: library/openjdk

#12478 Add official image for SATOSA
  library/satosa
Labels: new-image, library/satosa

#12834 maven: amazoncorretto-18
  library/maven
Labels: library/maven

#12835 Update sapmachine to 11.0.16, 17.0.4, 18.0.2
  library/sapmachine
Labels: library/sapmachine

#12837 Update tomcat
  library/tomcat
Labels: library/tomcat

#12838 Update openjdk
  library/openjdk
Labels: library/openjdk

#12839 Update php
  library/php
Labels: library/php

#12840 Update haproxy
  library/haproxy
Labels: library/haproxy

#12841 Update amazoncorretto 8 to 8.342.07.3
  library/amazoncorretto
Labels: library/amazoncorretto

#12842 Update photon image
  library/photon
Labels: library/photon

#12843 archlinux: Release 20220724.0.70393
  library/archlinux
Labels: library/archlinux

#12844 Update Clear Linux OS to 36640
  library/clearlinux
Labels: library/clearlinux

#12845 Release of XWiki 14.6
  library/xwiki
Labels: library/xwiki

#12846 Update Vault for 1.11.1, 1.10.5, and 1.9.8
  library/vault
Labels: library/vault

#12847 composer 2.2.17, 2.3.10
  library/composer
Labels: library/composer

#12848 Update Vault maintainers
  library/vault
Labels: library/vault

#12849 Fix satosa build errors due to missing Rust toolchain
  library/satosa
Labels: library/satosa

#12850 Telegraf v1.23.3
  library/telegraf
Labels: library/telegraf

#12851 Update openjdk
  library/openjdk
Labels: library/openjdk

#12852 Update haproxy
  library/haproxy
Labels: library/haproxy

#12854 Update bash
  library/bash
Labels: library/bash

#12855 Disable s390x support for satosa:alpine images
  library/satosa
Labels: library/satosa

#12856 Remove deprecated openjdk images & restore some old tags
  library/clojure
Labels: library/clojure

#12857 Update mysql
  library/mysql
Labels: library/mysql

#12858 Update python
  library/python
Labels: library/python

#12859 Update ghost
  library/ghost
Labels: library/ghost

#12860 Update tomcat
  library/tomcat
Labels: library/tomcat

#12861 Update bash
  library/bash
Labels: library/bash

#12864 Odoo: update 13.0-15.0 to release 20220727
  library/odoo
Labels: library/odoo

#12865 Upgrade XWiki LTS version to 13.10.8
  library/xwiki
Labels: library/xwiki

#12862 Groovy 3.0.12 and 4.0.4
  library/groovy
Labels: library/groovy

#12867 Use Eclipse Temurin based base images
  library/geonetwork
Labels: library/geonetwork

#12868 Update dart
  library/dart
Labels: library/dart

#12869 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#12870 eclipse-temurin: bump jdk11 and jdk17
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12871 Small update to Haskell
  library/haskell
Labels: library/haskell

#12872 Update haproxy
  library/haproxy
Labels: library/haproxy

#12873 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12874 Update openjdk
  library/openjdk
Labels: library/openjdk

#12875 Update drupal
  library/drupal
Labels: library/drupal

#12876 Update for Corretto 8.342.07.4
  library/amazoncorretto
Labels: library/amazoncorretto

#12877 Bump Haskell GHC to 9.2.4
  library/haskell
Labels: library/haskell

#12878 Update busybox
  library/busybox
Labels: library/busybox

#12880 Update haproxy
  library/haproxy
Labels: library/haproxy

#12879 Update photon image
  library/photon
Labels: library/photon
