Repository docker-library/official-images, pull requests merged in 2022-06, with the labels that each got.

#12552 Update docker
  library/docker
Labels: library/docker

#12553 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12539 Update CrateDB to 4.8.1 and 4.7.3
  library/crate
Labels: library/crate

#12555 IBM Java version updated to 1.8.0_sr7fp10 (8.0.7.10)
  library/ibmjava
Labels: library/ibmjava

#12535 archlinux: Release 20220529.0.58327
  library/archlinux
Labels: library/archlinux

#12561 Update sl container for sl7 to current (build-date=20220601)
  library/sl
Labels: library/sl

#12544 Tag images as being Jammy (22.04)
  library/groovy
Labels: library/groovy

#12564 Update dart to 2.17.3
  library/dart
Labels: library/dart

#12566 [security] Update golang
  library/golang
Labels: library/golang

#12543 Separate Jammy and Focal images
  library/gradle
Labels: library/gradle

#12556 Update busybox
  library/busybox
Labels: library/busybox

#12557 Update python
  library/python
Labels: library/python

#12558 Update mongo
  library/mongo
Labels: library/mongo

#12559 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12560 Update julia
  library/julia
Labels: library/julia

#12562 Update ghost
  library/ghost
Labels: library/ghost

#12568 Deprecate Corretto Alpine 3.12 images
  library/amazoncorretto
Labels: library/amazoncorretto

#12569 library/perl: Update for cpanm update and HTTPS install by default
  library/perl
Labels: library/perl

#12571 Bump Zookeeper to 3.7.1
  library/zookeeper
Labels: library/zookeeper

#12574 Update photon image
  library/photon
Labels: library/photon

#12579 consul: 1.12.2
  library/consul
Labels: library/consul

#12588 composer 2.2.14 and 2.3.7
  library/composer
  test/tests/composer/container.sh
Labels: library/composer

#12585 Update Clear Linux OS to 36420
  library/clearlinux
Labels: library/clearlinux

#12584 library/perl: Revert cpanm HTTPS install by default
  library/perl
Labels: library/perl

#12582 Update ALT Linux - 20220604
  library/alt
Labels: library/alt

#12577 Update docker
  library/docker
Labels: library/docker

#12576 Update postgres
  library/postgres
Labels: library/postgres

#12575 Update ghost
  library/ghost
Labels: library/ghost

#12573 Update drupal
  library/drupal
Labels: library/drupal

#12572 Update openjdk
  library/openjdk
Labels: library/openjdk

#12583 Add JDK 11 Focal tags
  library/gradle
Labels: library/gradle

#12590 Update rust:alpine to 3.16
  library/rust
Labels: library/rust

#12591 Update docker
  library/docker
Labels: library/docker

#12593 Update python
  library/python
Labels: library/python

#12597 Update busybox
  library/busybox
Labels: library/busybox

#12598 MediaWiki: Add 1.38, drop 1.36
  library/mediawiki
Labels: library/mediawiki

#12599 eclipse-temurin: Alpine Linux updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12602 Upgrade XWiki to 14.4.1
  library/xwiki
Labels: library/xwiki

#12604 Update httpd
  library/httpd
Labels: library/httpd

#12605 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12600 erlang/otp 24.3.4.1
  library/erlang
Labels: library/erlang

#12606 Update drupal
  library/drupal
Labels: library/drupal

#12607 Odoo: update 13.0-15.0 to release 20220609
  library/odoo
Labels: library/odoo

#12608 Update redmine
  library/redmine
Labels: library/redmine

#12609 Update tomcat
  library/tomcat
Labels: library/tomcat

#12610 Update php
  library/php
Labels: library/php

#12611 Update php
  library/php
Labels: library/php

#12613 Update SonarQube to 9.5
  library/sonarqube
Labels: library/sonarqube

#12614 erlang/otp 25.0.1
  library/erlang
Labels: library/erlang

#12615 Update photon image
  library/photon
Labels: library/photon

#12616 Update golang
  library/golang
Labels: library/golang

#12617 Update Vault for 1.11.0-rc1, 1.10.4, 1.9.7, 1.8.12
  library/vault
Labels: library/vault

#12618 archlinux: Release 20220612.0.61195
  library/archlinux
Labels: library/archlinux

#12620 Update Clear Linux OS to 36470
  library/clearlinux
Labels: library/clearlinux

#12621 Friendica Release 2022.06
  library/friendica
Labels: library/friendica

#12624 Bump Traefik to v2.7.1 and v2.8.0-rc1
  library/traefik
Labels: library/traefik

#12626 Update redis
  library/redis
Labels: library/redis

#12628 Update python
  library/python
Labels: library/python

#12629 Update openjdk
  library/openjdk
Labels: library/openjdk

#12630 Update drupal
  library/drupal
Labels: library/drupal

#12631 Update irssi
  library/irssi
Labels: library/irssi

#12625 Update mongo
  library/mongo
Labels: library/mongo

#12632 Telegraf v1.23.0
  library/telegraf
Labels: library/telegraf

#12633 Update drupal
  library/drupal
Labels: library/drupal

#12634 Update httpd
  library/httpd
Labels: library/httpd

#12636 Update dart
  library/dart
Labels: library/dart

#12638 Release OrientDB 3.2.7
  library/orientdb
Labels: library/orientdb

#12639 kong: add 2.5.2, add back arm64v8
  library/kong
Labels: library/kong

#12640 Update ghost
  library/ghost
Labels: library/ghost

#12642 maven: 3.8.6
  library/maven
Labels: library/maven

#12643 Update clojure tools.deps variant to latest release
  library/clojure
Labels: library/clojure

#12645 Update bash
  library/bash
Labels: library/bash

#12646 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#12644 Update openjdk
  library/openjdk
Labels: library/openjdk

#12647 [oraclelinux] Update 7 and 7-slim for ELSA-2022-5052
  library/oraclelinux
Labels: library/oraclelinux

#12648 [Swift] Add support for Swift 5.6.2
  library/swift
Labels: library/swift

#12650 Update SonarQube LTS to the latest version: 8.9.9
  library/sonarqube
Labels: library/sonarqube

#12649 Updating Dockerfile for older Couchbase Server images
  library/couchbase
Labels: library/couchbase

#12651 Update docker
  library/docker
Labels: library/docker

#12653 chore: release InfluxDB 2.3.0
  library/influxdb
Labels: library/influxdb

#12654 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12655 eclipse-temurin: bump alpine to 3.16
  library/eclipse-temurin
Labels: library/eclipse-temurin

#12656 Update photon image
  library/photon
Labels: library/photon

#12658 archlinux: Release 20220619.0.62803
  library/archlinux
Labels: library/archlinux

#12659 Update Clear Linux OS to 36510
  library/clearlinux
Labels: library/clearlinux

#12660 Odoo: update 13.0-15.0 to release 20220620
  library/odoo
Labels: library/odoo

#12666 Update clojure tools-deps variants to version 1.11.1.1139
  library/clojure
Labels: library/clojure

#12665 Update to Flink 1.14.5
  library/flink
Labels: library/flink

#12661 [percona] Update psmdb-5.0 version
  library/percona
Labels: library/percona

#12662 [percona] update ps-80 version
  library/percona
Labels: library/percona

#12667 Update tomcat
  library/tomcat
Labels: library/tomcat

#12674 Update Vault for 1.11.0
  library/vault
Labels: library/vault

#12668 Update postgres
  library/postgres
Labels: library/postgres

#12669 Update openjdk
  library/openjdk
Labels: library/openjdk

#12671 Update redmine
  library/redmine
Labels: library/redmine

#12672 Update haproxy
  library/haproxy
Labels: library/haproxy

#12673 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#12675 Update drupal
  library/drupal
Labels: library/drupal

#12676 Update mongo
  library/mongo
Labels: library/mongo

#12678 Official Convertigo 8.0.1 release
  library/convertigo
Labels: library/convertigo

#12679 Adding 3.13.7 as official latest release
  library/teamspeak
Labels: library/teamspeak

#12681 Update clojure tools-deps variants to version 1.11.1.1149
  library/clojure
Labels: library/clojure

#12682 Bump to latest Mono 6.12.0.182 release
  library/mono
Labels: library/mono

#12684 Update Debian (20220622)
  library/debian
Labels: library/debian

#12685 Bump emqx version to 4.4.4 and 4.3.15
  library/emqx
Labels: library/emqx

#12686 Update dart to 2.17.5
  library/dart
Labels: library/dart

#12687 Upgrade XWiki to 13.10.7
  library/xwiki
Labels: library/xwiki

#12689 Update php
  library/php
Labels: library/php

#12692 Update r-base to 4.2.1 released yesterday morning
  library/r-base
Labels: library/r-base

#12693 Update Joomla!
  library/joomla
Labels: library/joomla

#12695 Update YOURLS
  library/yourls
Labels: library/yourls

#12697 Update Clear Linux OS to 36520
  library/clearlinux
Labels: library/clearlinux

#12690 22.0.0.6 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#12698 Bump Traefik to v2.8.0-rc2 and v2.7.2
  library/traefik
Labels: library/traefik

#12699 Update docker
  library/docker
Labels: library/docker

#12694 Update photon image
  library/photon
Labels: library/photon

#12700 Update openjdk
  library/openjdk
Labels: library/openjdk

#12703 Update tomcat
  library/tomcat
Labels: library/tomcat

#12706 Update jetty versions to 9.4.48, 10.0.11 && 11.0.11
  library/jetty
Labels: library/jetty

#12707 Release OrientDB 3.2.8
  library/orientdb
Labels: library/orientdb

#12708 Update bash
  library/bash
Labels: library/bash

#12710 TomEE version bump 8.0.12
  library/tomee
Labels: library/tomee

#12711 Update the latest stable version to 14.5
  library/xwiki
Labels: library/xwiki

#12712 Bump IBM Java version to 1.8.0_sr6fp11 (8.0.6.11).
  library/ibmjava
Labels: library/ibmjava

#12714 Bump Traefik to v2.8.0 and v2.7.3
  library/traefik
Labels: library/traefik

#12709 Update gcc
  library/gcc
Labels: library/gcc

#12715 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#12719 [oraclelinux] Updating 8 and 8-slim for ELSA-2022-5314 and ELSA-2022-5313
  library/oraclelinux
Labels: library/oraclelinux

#12704 Update JRuby 9.2.21.0 and 9.3.6.0
  library/jruby
Labels: library/jruby

#12612 library/perl: Add out-of-the-box SSL support and App::cpm
  library/perl
Labels: library/perl

#12716 Update XWiki to 14.4.2
  library/xwiki
Labels: library/xwiki

#12720 Update Amazon Linux images 2022.0.20220531.0
  library/amazonlinux
Labels: library/amazonlinux

#12721 Bump Rust to 1.61.0
  library/rust
Labels: library/rust

#12718 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud
