Repository docker-library/official-images, pull requests merged in 2022-01, with the labels that each got.

#11600 Update mongo
  library/mongo
Labels: library/mongo

#11602 archlinux: Release 20220102.0.42924
  library/archlinux
Labels: library/archlinux

#11603 Update Clear Linux OS to 35540
  library/clearlinux
Labels: library/clearlinux

#11604 composer 2.2.3
  library/composer
Labels: library/composer

#11606 Update postgres
  library/postgres
Labels: library/postgres

#11608 Update sl container for sl7 to current (build-date=20220104)
  library/sl
Labels: library/sl

#11607 Update lightstreamer image
  library/lightstreamer
Labels: library/lightstreamer

#11609 Telegraf v1.21.2
  library/telegraf
Labels: library/telegraf

#11610 Friendica - Upgrade PHP & introduce new settings
  library/friendica
Labels: library/friendica

#11611 XWiki 12.10.11 is released
  library/xwiki
Labels: library/xwiki

#11613 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11614 Update mongo
  library/mongo
Labels: library/mongo

#11619 Friendica - Fix Upgrade behavior
  library/friendica
Labels: library/friendica

#11615 Update drupal
  library/drupal
Labels: library/drupal

#11616 Update wordpress
  library/wordpress
Labels: library/wordpress

#11617 Update bash
  library/bash
Labels: library/bash

#11618 Update redmine
  library/redmine
Labels: library/redmine

#11621 Update golang
  library/golang
Labels: library/golang

#11622 Update ghost
  library/ghost
Labels: library/ghost

#11612 Ubuntu update January 2022
  library/ubuntu
Labels: library/ubuntu

#11624 Adding support of ARM64 for JDK17
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#11625 CouchDB patch release - v3.2.1
  library/couchdb
Labels: library/couchdb

#11626 Update clojure tools-deps variants to version 1.10.3.1058
  library/clojure
Labels: library/clojure

#11620 Add arm64v8 support to Haskell
  library/haskell
Labels: library/haskell

#11628 Update haproxy
  library/haproxy
Labels: library/haproxy

#11629 Update mongo
  library/mongo
Labels: library/mongo

#11630 Update wordpress
  library/wordpress
Labels: library/wordpress

#11631 Update openjdk
  library/openjdk
Labels: library/openjdk

#11633 Update docker
  library/docker
Labels: library/docker

#11632 Update photon image
  library/photon
Labels: library/photon

#11634 archlinux: Release 20220109.0.43549
  library/archlinux
Labels: library/archlinux

#11635 Update Clear Linux OS to 35550
  library/clearlinux
Labels: library/clearlinux

#11636 Updated swipl devel to 8.5.5
  library/swipl
Labels: library/swipl

#11637 composer 2.2.4
  library/composer
Labels: library/composer

#11639 Releasing Neo4j 4.3.10 and 4.2.14
  library/neo4j
Labels: library/neo4j

#11640 Odoo: update 13.0-15.0 to release 20220110
  library/odoo
Labels: library/odoo

#11641 maven: ibm-semeru images
  library/maven
Labels: library/maven

#11643 Update ghost
  library/ghost
Labels: library/ghost

#11644 Update hylang
  library/hylang
Labels: library/hylang

#11645 rebar3 3.18.0
  library/erlang
Labels: library/erlang

#11649 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#11650 Update haproxy
  library/haproxy
Labels: library/haproxy

#11651 Update bash
  library/bash
Labels: library/bash

#11652 Update Monica to v3.6.0
  library/monica
Labels: library/monica

#11648 Update Amazon Linux Images
  library/amazonlinux
Labels: library/amazonlinux

#11655 Bump Traefik to v2.6.0-rc2
  library/traefik
Labels: library/traefik

#11657 [oraclelinux] Update 7/7-slim for amd64/arm64v8
  library/oraclelinux
Labels: library/oraclelinux

#11656 Update dart beta to 2.16.0-134.1.beta
  library/dart
Labels: library/dart

#11658 Update haproxy
  library/haproxy
Labels: library/haproxy

#11659 Update ghost
  library/ghost
Labels: library/ghost

#11660 Update wordpress
  library/wordpress
Labels: library/wordpress

#11662 Update golang
  library/golang
Labels: library/golang

#11663 Update hylang
  library/hylang
Labels: library/hylang

#11664 Update julia
  library/julia
Labels: library/julia

#11665 Update python
  library/python
Labels: library/python

#11666 Update openjdk
  library/openjdk
Labels: library/openjdk

#11667 Update mongo
  library/mongo
Labels: library/mongo

#11670 Releasing Neo4j 4.4.3
  library/neo4j
Labels: library/neo4j

#11671 eclipse-temurin: bump Alpine to 3.15 and deprecate ltsc2016
  library/eclipse-temurin
Labels: library/eclipse-temurin

#11654 Update Monica to v3.6.1
  library/monica
Labels: library/monica

#11668 version bump to 8.0.9
  library/tomee
Labels: library/tomee

#11672 Bump Rust to 1.58.0
  library/rust
Labels: library/rust

#11673 Update ghost
  library/ghost
Labels: library/ghost

#11674 Update drupal
  library/drupal
Labels: library/drupal

#11676 [nats] Release v2.7.0
  library/nats
Labels: library/nats

#11677 consul: 1.11.2, 1.10.7 and 1.9.14; 1.8 EOL
  library/consul
Labels: library/consul

#11681 Update photon image
  library/photon
Labels: library/photon

#11678 haxe: add windowsservercore ltsc2019/ltsc2022
  library/haxe
Labels: library/haxe

#11686 Update Clear Linux OS to 35550
  library/clearlinux
Labels: library/clearlinux

#11684 Update Python to 3.10.2, 3.9.10, 3.11.0a4
  library/python
Labels: library/python

#11680 Patch GeoNetwork with log4j 2.17.1
  library/geonetwork
Labels: library/geonetwork

#11694 Update Python to 3.10.2 + 3.9.10 + 3.11.0a4 (with temporary fixes for 3.10.1 + 3.9.9 + 3.11.0a3)
  library/python
Labels: library/python

#11682 Update ghost
  library/ghost
Labels: library/ghost

#11683 Update openjdk
  library/openjdk
Labels: library/openjdk

#11687 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#11688 Update bash
  library/bash
Labels: library/bash

#11695 Update dockerfiles for Q1 release
  library/amazoncorretto
Labels: library/amazoncorretto

#11691 [gazebo] 11.9.1 -> 11.10.1
  library/gazebo
Labels: library/gazebo

#11692 [ros] rolling ros1-bridge demo package version bump
  library/ros
Labels: library/ros

#11693 Update to Flink 1.14.3
  library/flink
Labels: library/flink

#11697 elixir 1.13.2
  library/elixir
Labels: library/elixir

#11698 Update SapMachine images
  library/sapmachine
Labels: library/sapmachine

#11700 Update mysql
  library/mysql
Labels: library/mysql

#11701 Update wordpress
  library/wordpress
Labels: library/wordpress

#11702 Update memcached
  library/memcached
Labels: library/memcached

#11703 Update python
  library/python
Labels: library/python

#11704 Update to JRuby 9.3.3.0
  library/jruby
Labels: library/jruby

#11699 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11706 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#11707 XWiki 13.4.7 released
  library/xwiki
Labels: library/xwiki

#11708 Trim list of active version tags for CrateDB
  library/crate
Labels: library/crate

#11712 [security] Update drupal
  library/drupal
Labels: library/drupal

#11709 Update hylang
  library/hylang
Labels: library/hylang

#11711 Update php
  library/php
Labels: library/php

#11713 Bump Traefik to v2.5.7 and v2.6.0-rc3
  library/traefik
Labels: library/traefik

#11710 Update tomcat
  library/tomcat
Labels: library/tomcat

#11715 Bump Rust to 1.58.1
  library/rust
Labels: library/rust

#11718 Registry v2.8.0-beta.1 release
  library/registry
Labels: library/registry

#11716 composer 1.10.25
  library/composer
Labels: library/composer

#11719 Update bash
  library/bash
Labels: library/bash

#11720 Update docker
  library/docker
Labels: library/docker

#11721 Update php
  library/php
Labels: library/php

#11690 Update Joomla!
  library/joomla
Labels: library/joomla

#11722 Update Monica v3.6.1 image
  library/monica
Labels: library/monica

#11724 archlinux: Release 20220123.0.45312
  library/archlinux
Labels: library/archlinux

#11725 Update photon image
  library/photon
Labels: library/photon

#11727 [ros] noetic ros-comm 1.15.13 -> 1.15.14
  library/ros
Labels: library/ros

#11728 [gazebo] 11.10.0 -> 11.10.1
  library/gazebo
Labels: library/gazebo

#11729 composer 2.2.5
  library/composer
Labels: library/composer

#11730 Update CrateDB to 4.6.7
  library/crate
Labels: library/crate

#11732 Bump Traefik to v2.6.0
  library/traefik
Labels: library/traefik

#11733 Release of GeoNetwork 3.12.3
  library/geonetwork
Labels: library/geonetwork

#11734 Update mongo
  library/mongo
Labels: library/mongo

#11735 Update ghost
  library/ghost
Labels: library/ghost

#11731 arangodb 3.8.5
  library/arangodb
Labels: library/arangodb

#11736 Update Aerospike 5.7.0.10
  library/aerospike
Labels: library/aerospike

#11737 Updated mainline nginx to 1.21.6
  library/nginx
Labels: library/nginx

#11738 kapacitor 1.6.3 and remove Cody from maintainers
  library/kapacitor
Labels: library/kapacitor

#11740 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#11741 Update bash
  library/bash
Labels: library/bash

#11742 Update wordpress
  library/wordpress
Labels: library/wordpress

#11743 22.0.0.1 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#11744 [varnish] Release 6.0.10, 6.6.2, and 7.0.2
  library/varnish
Labels: library/varnish

#11745 [nats] Release v2.7.1
  library/nats
Labels: library/nats

#11739 Update Debian to 20220125
  library/debian
Labels: library/debian

#11746 Odoo: update 13.0-15.0 to release 20220126
  library/odoo
Labels: library/odoo

#11747 erlang/otp 24.2.1
  library/erlang
Labels: library/erlang

#11748 Update haproxy
  library/haproxy
Labels: library/haproxy

#11749 Update wordpress
  library/wordpress
Labels: library/wordpress

#11750 [nats-streaming] Release v0.24.0
  library/nats-streaming
Labels: library/nats-streaming

#11751 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#11753 erlang/otp 23.3.4.11
  library/erlang
Labels: library/erlang

#11754 Release OrientDB v 3.0.42
  library/orientdb
Labels: library/orientdb

#11757 [percona] update ps-80 version
  library/percona
Labels: library/percona

#11759 Release SonarQube 9.3.0
  library/sonarqube
Labels: library/sonarqube

#11758 Update ghost
  library/ghost
Labels: library/ghost

#11761 Update dart beta to 2.16.0-134.6.beta
  library/dart
Labels: library/dart

#11762 Telegraf v1.21.3
  library/telegraf
Labels: library/telegraf

#11764 Update wordpress
  library/wordpress
Labels: library/wordpress

#11765 Update photon image
  library/photon
Labels: library/photon

#11763 Update python
  library/python
Labels: library/python

#11766 Update Vault for 1.9.3, 1.8.8, and 1.7.9
  library/vault
Labels: library/vault

#11767 Groovy 4.0.0
  library/groovy
Labels: library/groovy
