Repository docker-library/official-images, pull requests merged in 2022-11, with the labels that each got.

#13448 [security] Update golang
  library/golang
Labels: library/golang

#13443 Update R to 4.2.2 released this morning
  library/r-base
Labels: library/r-base

#13444 Update sl container for sl7 to current (build-date=20221101)
  library/sl
Labels: library/sl

#13449 Release Influxdb 2.5.0
  library/influxdb
Labels: library/influxdb

#13450 Update ghost
  library/ghost
Labels: library/ghost

#13451 Update bash
  library/bash
Labels: library/bash

#13452 Update wordpress
  library/wordpress
Labels: library/wordpress

#13453 Update php
  library/php
Labels: library/php

#13455 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13460 Telegraf v1.24.3
  library/telegraf
Labels: library/telegraf

#13461 Update wordpress
  library/wordpress
Labels: library/wordpress

#13462 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13464 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13465 [Swift] Update the images to Swift 5.7.1
  library/swift
Labels: library/swift

#13468 Update Vault for 1.12.1, 1.11.5, and 1.10.8
  library/vault
Labels: library/vault

#13466 kong 2.8.3
  library/kong
Labels: library/kong

#13469 [oraclelinux] Updating 9 and 9-slim for ELSA-2022-7329 ELSA-2022-7323 ELSA-2022-7314 ELSA-2022-7288
  library/oraclelinux
Labels: library/oraclelinux

#13467 chore: release influxdb 2.5.1
  library/influxdb
Labels: library/influxdb

#13470 Update Dart to 2.18.4
  library/dart
Labels: library/dart

#13471 Update Fedora 2022-11-03
  library/fedora
Labels: library/fedora

#13472 Bump Rust to 1.65.0
  library/rust
Labels: library/rust

#13474 Update clojure tools-deps variants to version 1.11.1.1189
  library/clojure
Labels: library/clojure

#13475 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#13478 Odoo: update 14.0-16.0 to release 20221104
  library/odoo
Labels: library/odoo

#13479 [nats] Release v2.9.6
  library/nats
Labels: library/nats

#13480 [oraclelinux] Update Oracle Linux images for tzdata-2022f-1
  library/oraclelinux
Labels: library/oraclelinux

#13477 [eclipse-temurin: update jdk11.0.16 to jdk11.0.17]
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13476 [eclipse-temurin] update jdk8
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13481 Bump Haskell GHC to 9.4.3
  library/haskell
Labels: library/haskell

#13484 archlinux: Release 20221106.0.100148
  library/archlinux
Labels: library/archlinux

#13485 Update Clear Linux OS to 37600
  library/clearlinux
Labels: library/clearlinux

#13487 Releasing Neo4j 4.3.20 and 4.4.13
  library/neo4j
Labels: library/neo4j

#13486 [eclipse-temurin]: update to jdk17.0.5
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13483 Update photon image
  library/photon
Labels: library/photon

#13489 Update openjdk
  library/openjdk
Labels: library/openjdk

#13491 Update bash
  library/bash
Labels: library/bash

#13490 Update ghost
  library/ghost
Labels: library/ghost

#13482 [eclipse-temurin]: update to jdk19.0.1
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13493 [varnish][security] upgrade to fix VSV00011
  library/varnish
Labels: library/varnish

#13494 Update hylang
  library/hylang
Labels: library/hylang

#13495 Update ghost
  library/ghost
Labels: library/ghost

#13496 Update bash
  library/bash
Labels: library/bash

#13498 Update Joomla!
  library/joomla
Labels: library/joomla

#13500 Update bash
  library/bash
Labels: library/bash

#13501 Bump Haskell GHC 9.2 to 9.2.5
  library/haskell
Labels: library/haskell

#13502 Update Joomla!
  library/joomla
Labels: library/joomla

#13503 Release OrientDB 3.2.12
  library/orientdb
Labels: library/orientdb

#13504 Update the release versions of Semeru OE JDK releases
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#13505 alpine: edge snapshot 20221110
  library/alpine
Labels: library/alpine

#13509 arangodb 3.10.1
  library/arangodb
Labels: library/arangodb

#13511 Releasing Neo4j 4.3.21 and 4.4.14
  library/neo4j
Labels: library/neo4j

#13499 kong: 3.0.1
  library/kong
Labels: library/kong

#13506 Update php
  library/php
Labels: library/php

#13507 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13508 Update mongo
  library/mongo
Labels: library/mongo

#13512 Update postgres
  library/postgres
Labels: library/postgres

#13492 mariadb release Q4 for < 10.10
  library/mariadb
Labels: library/mariadb

#13432 Adding AmazonCorretto AL2022 RC images
  library/amazoncorretto
Labels: library/amazoncorretto

#13515 Update CrateDB to `5.1.1`
  library/crate
Labels: library/crate

#13516 alpine: bump 3.16.3
  library/alpine
Labels: library/alpine

#13514 TomEE version bump
  library/tomee
Labels: library/tomee

#13517 archlinux: Release 20221113.0.102112
  library/archlinux
Labels: library/archlinux

#13519 Update Clear Linux OS to 37620
  library/clearlinux
Labels: library/clearlinux

#13527 22.0.0.11 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#13522 Update wordpress
  library/wordpress
Labels: library/wordpress

#13521 Update tomcat
  library/tomcat
Labels: library/tomcat

#13524 Update ghost
  library/ghost
Labels: library/ghost

#13523 Update ruby
  library/ruby
Labels: library/ruby

#13525 Update php
  library/php
Labels: library/php

#13528 Update ALT Linux - 20221115
  library/alt
Labels: library/alt

#13531 Update postgres
  library/postgres
Labels: library/postgres

#13530 Update Debian (20221114)
  library/debian
Labels: library/debian

#13532 Bump IBM Java version to 1.8.0_sr7fp20(8.0.7.20)
  library/ibmjava
Labels: library/ibmjava

#13526 Update python
  library/python
Labels: library/python

#13536 Consul 1.14.0
  library/consul
Labels: library/consul

#13537 [oraclelinux]: Release Oracle Linux 8 Update 7
  library/oraclelinux
Labels: library/oraclelinux

#13538 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13539 Update wordpress
  library/wordpress
Labels: library/wordpress

#13540 Update ghost
  library/ghost
Labels: library/ghost

#13541 Update bash
  library/bash
Labels: library/bash

#13542 Update mongo
  library/mongo
Labels: library/mongo

#13543 Update golang
  library/golang
Labels: library/golang

#13544 Update docker
  library/docker
Labels: library/docker

#13545 Update php
  library/php
Labels: library/php

#13547 Odoo: update 14.0-16.0 to release 20221116
  library/odoo
Labels: library/odoo

#13549 Update Dart beta to 2.19.0-374.1.beta
  library/dart
Labels: library/dart

#13548 alpine: add 3.17 release candidate 1
  library/alpine
Labels: library/alpine

#13533 eclipse-temurin: add UBI minimal support
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13551 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13554 Bump Traefik to v2.9.5
  library/traefik
Labels: library/traefik

#13555 [nats] Release v2.9.7
  library/nats
Labels: library/nats

#13535 Official Convertigo 8.1.0 release!
  library/convertigo
Labels: library/convertigo

#13557 MariaDB Q4-2022 releases part 2 - 10.10 and 10.11
  library/mariadb
Labels: library/mariadb

#13558 Update openjdk
  library/openjdk
Labels: library/openjdk

#13559 Update busybox
  library/busybox
Labels: library/busybox

#13560 Update ruby
  library/ruby
Labels: library/ruby

#13561 Update drupal
  library/drupal
Labels: library/drupal

#13563 Update SATOSA to v8.2.0
  library/satosa
Labels: library/satosa

#13564 Update julia
  library/julia
Labels: library/julia

#13565 Update haproxy
  library/haproxy
Labels: library/haproxy

#13566 Update ghost
  library/ghost
Labels: library/ghost

#13550 Update clojure tools-deps variants to version 1.11.1.1200
  library/clojure
Labels: library/clojure

#13575 arangodb 3.9.5
  library/arangodb
Labels: library/arangodb

#13574 Releasing Neo4j 5.2.0
  library/neo4j
Labels: library/neo4j

#13572 Fix missing "satosa" user home directory on Debian variants
  library/satosa
Labels: library/satosa

#13570 Update Clear Linux OS to 37640
  library/clearlinux
Labels: library/clearlinux

#13568 archlinux: Release 20221120.0.103865
  library/archlinux
Labels: library/archlinux

#13552 Apache Solr - Apache Solr release 9.1.0
  library/solr
Labels: library/solr

#13576 Consul 1.14.1
  library/consul
Labels: library/consul

#13562 Update Couchbase Server EE to 7.1.3
  library/couchbase
Labels: library/couchbase

#13582 Update bash
  library/bash
Labels: library/bash

#13581 Update tomcat
  library/tomcat
Labels: library/tomcat

#13583 Update cassandra
  library/cassandra
Labels: library/cassandra

#13579 [nats] Release v2.9.8
  library/nats
Labels: library/nats

#13584 Update cirros
  library/cirros
Labels: library/cirros

#13577 alpine: bump 3.17.0 and update latest
  library/alpine
Labels: library/alpine

#13585 [oraclelinux] Release Oracle Linux 9 Update 1
  library/oraclelinux
Labels: library/oraclelinux

#13586 Update dart
  library/dart
Labels: library/dart

#13587 Add JRuby 9.4.0.0
  library/jruby
Labels: library/jruby

#13588 Updated swipl stable to 9.0.0
  library/swipl
Labels: library/swipl

#13589 Update XWiki to 14.4.7
  library/xwiki
Labels: library/xwiki

#13590 ZNC: update Alpine to 3.17
  library/znc
Labels: library/znc

#13593 Releasing neo4j 4.4.15 and 4.3.22
  library/neo4j
Labels: library/neo4j

#13594 Update the phpMyAdmin image
  library/phpmyadmin
Labels: library/phpmyadmin

#13591 Update ruby
  library/ruby
Labels: library/ruby

#13597 Update Ghost to 5.24.1 and 4.48.9
  library/ghost
Labels: library/ghost

#13595 archlinux: Release 20221127.0.105785
  library/archlinux
Labels: library/archlinux

#13596 Update Clear Linux OS to 37680
  library/clearlinux
Labels: library/clearlinux

#13598 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13602 Update php
  library/php
Labels: library/php

#13600 Update bash
  library/bash
Labels: library/bash

#13601 Update haproxy
  library/haproxy
Labels: library/haproxy

#13603 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13599 Update docker
  library/docker
Labels: library/docker

#13605 eclipse-temurin: bump alpine to 3.17
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13606 Update XWiki to 14.10
  library/xwiki
Labels: library/xwiki

#13610 Gradle 7.6
  library/gradle
Labels: library/gradle

#13611 Telegraf v1.24.4
  library/telegraf
Labels: library/telegraf

#13604 Update python to Alpine 3.17
  library/python
Labels: library/python

#13609 update emqx to 4.3.22, 4.4.11 and add 5.0.11
  library/emqx
Labels: library/emqx

#13616 Update postgres
  library/postgres
Labels: library/postgres

#13617 Update redis
  library/redis
Labels: library/redis

#13618 Update ruby
  library/ruby
Labels: library/ruby

#13619 Update httpd
  library/httpd
Labels: library/httpd

#13620 Update ghost
  library/ghost
Labels: library/ghost

#13621 Update bash
  library/bash
Labels: library/bash

#13622 Update php
  library/php
Labels: library/php

#13623 Update openjdk
  library/openjdk
Labels: library/openjdk

#13625 MariaDB update - work around for old-mode=""
  library/mariadb
Labels: library/mariadb
