Repository docker-library/official-images, pull requests merged in 2023-09, with the labels that each got.

#15292 Update postgres
  library/postgres
Labels: library/postgres

#15294 Update openjdk
  library/openjdk
Labels: library/openjdk

#15296 Odoo: update 14.0-16.0 to release 20230901
  library/odoo
Labels: library/odoo

#15300 Update dart
  library/dart
Labels: library/dart

#15297 Upgrade SonarQube to 10.2
  library/sonarqube
Labels: library/sonarqube

#15298 alpine: snapshot 20230901
  library/alpine
Labels: library/alpine

#15301 Update mongo
  library/mongo
Labels: library/mongo

#15302 Update php
  library/php
Labels: library/php

#15304 Update photon image
  library/photon
Labels: library/photon

#15305 Update Clear Linux OS to 39890
  library/clearlinux
Labels: library/clearlinux

#15307 add 2.6 branch
  library/composer
Labels: library/composer

#15309 Update XWiki LTS to 14.10.16
  library/xwiki
Labels: library/xwiki

#15311 emqx v5.1.6
  library/emqx
Labels: library/emqx

#15312 Update sl container for sl7 to current (build-date=20230905)
  library/sl
Labels: library/sl

#15315 Update Joomla!
  library/joomla
Labels: library/joomla

#15310 Upgrade SonarQube LTS from 9.9.1 to 9.9.2.
  library/sonarqube
Labels: library/sonarqube

#15303 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15313 Update ghost
  library/ghost
Labels: library/ghost

#15314 Update mongo
  library/mongo
Labels: library/mongo

#15317 Update docker
  library/docker
Labels: library/docker

#15319 Update golang
  library/golang
Labels: library/golang

#15320 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15322 [nats] Release v2.9.22
  library/nats
Labels: library/nats

#15321 Update ghost
  library/ghost
Labels: library/ghost

#15316 Update Debian (to 20230904)
  library/debian
Labels: library/debian

#15323 Update redis
  library/redis
Labels: library/redis

#15327 Update neo4j to include 4.1.13
  library/neo4j
Labels: library/neo4j

#15324 Update python
  library/python
Labels: library/python

#15325 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#15328 Update moby/buildkit:buildx-stable-1
  .external-pins/moby/buildkit___buildx-stable-1
Labels: external/moby/buildkit

#15329 Update haproxy
  library/haproxy
Labels: library/haproxy

#15331 Removing Neo4j 4.1.13 entries
  library/neo4j
Labels: library/neo4j

#15333 Odoo: update 14.0-16.0 to release 20230908
  library/odoo
Labels: library/odoo

#15330 Update drupal
  library/drupal
Labels: library/drupal

#15334 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15335 Update openjdk
  library/openjdk
Labels: library/openjdk

#15336 Update golang
  library/golang
Labels: library/golang

#15338 Update API-Firewall to v0.6.13
  library/api-firewall
Labels: library/api-firewall

#15339 Update amazoncorretto for Q3 2023 patch release
  library/amazoncorretto
Labels: library/amazoncorretto

#15340 Add Leo and Michal as maintainers
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#15341 Update ghost
  library/ghost
Labels: library/ghost

#15343 Update photon image
  library/photon
Labels: library/photon

#15346 Update CrateDB to 5.4.3
  library/crate
Labels: library/crate

#15348 Telegraf v1.28.0
  library/telegraf
Labels: library/telegraf

#15351 Update JRuby 9.3 to 9.3.11.0
  library/jruby
Labels: library/jruby

#15353 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15355 Telegraf v1.28.1
  library/telegraf
Labels: library/telegraf

#15354 Update Jetty versions to 9.4.52, 10.0.16, 11.0.16 & 12.0.1
  library/jetty
Labels: library/jetty

#15356 Update bash
  library/bash
Labels: library/bash

#15357 Update UBI9 pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#15358 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#15359 Update dart
  library/dart
Labels: library/dart

#15352 Update mongo
  library/mongo
Labels: library/mongo

#15360 Fedora Update 20230914
  library/fedora
Labels: library/fedora

#15361 Update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#15365 haxe 4.3.2
  library/haxe
Labels: library/haxe

#15363 Update spark version to 3.5.0
  library/spark
Labels: library/spark

#15364 Releasing Neo4j 5.12.0
  library/neo4j
Labels: library/neo4j

#15367 Groovy 4.0.15
  library/groovy
Labels: library/groovy

#15366 Update ruby
  library/ruby
Labels: library/ruby

#15368 Update openjdk
  library/openjdk
Labels: library/openjdk

#15370 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15369 Add Couchbase Server 7.2.1 (EE and CE)
  library/couchbase
Labels: library/couchbase

#15372 composer 2.6.3
  library/composer
Labels: library/composer

#15373 Update postgres
  library/postgres
Labels: library/postgres

#15375 Update golang
  library/golang
Labels: library/golang

#15374 Update php
  library/php
Labels: library/php

#15376 [oraclelinux] Updating 8, 8-slim ,8-slim-fips,9 and 9-slim for ELSA-2023-5071, ELSA-2023-12788, ELBA-2023-5063
  library/oraclelinux
Labels: library/oraclelinux

#15332 Update maintainers and update alpine image to 3.18
  library/teamspeak
Labels: library/teamspeak

#15377 Update photon image
  library/photon
Labels: library/photon

#15378 Update Clear Linux OS to 39960
  library/clearlinux
Labels: library/clearlinux

#15379 [varnish] release 7.4.0
  library/varnish
Labels: library/varnish

#15381 Update XWiki LTS version to 14.10.17
  library/xwiki
Labels: library/xwiki

#15383 [oraclelinux] Update 8/8-slim/8-slim-fips for amd64/arm64v8
  library/oraclelinux
Labels: library/oraclelinux

#15384 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15388 mosquitto-2.0.18
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#15389 [Swift] Add Swift 5.9 Release
  library/swift
Labels: library/swift

#15385 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#15394 [nats] Release v2.10.0
  library/nats
Labels: library/nats

#15397 Bump Rust to 1.72.1
  library/rust
Labels: library/rust

#15386 Update ghost
  library/ghost
Labels: library/ghost

#15387 Update php
  library/php
Labels: library/php

#15391 Update bash
  library/bash
Labels: library/bash

#15392 Update python
  library/python
Labels: library/python

#15393 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15396 Updates for open-liberty and websphere-liberty release 23.0.0.9
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#15395 Update Debian
  library/debian
Labels: library/debian

#15088 SapMachine: New versions and release specific ubuntu tags
  library/sapmachine
Labels: library/sapmachine

#15398 Update Joomla!
  library/joomla
Labels: library/joomla

#15399 [varnish] fix uid:gid in 7.4
  library/varnish
Labels: library/varnish

#15400 maven: 3.9.4-amazoncorretto-21-debian
  library/maven
Labels: library/maven

#15401 Releasing Neo4j 4.4.26
  library/neo4j
Labels: library/neo4j

#15402 Upgrades SonarQube to 10.2.1
  library/sonarqube
Labels: library/sonarqube

#15403 [nats] Release v2.10.1
  library/nats
Labels: library/nats

#15405 SapMachine: Add missing JRE images
  library/sapmachine
Labels: library/sapmachine

#15414 [oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2023-5249 and ELBA-2023-5248
  library/oraclelinux
Labels: library/oraclelinux

#15406 archlinux: Release 20230921.0.180222
  library/archlinux
Labels: library/archlinux

#15407 Release OrientDB 3.2.23
  library/orientdb
Labels: library/orientdb

#15416 chore: release Kapacitor 1.7.0
  library/kapacitor
Labels: library/kapacitor

#15415 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15408 Adding Corretto 21 images
  library/amazoncorretto
Labels: library/amazoncorretto

#15409 Update ghost
  library/ghost
Labels: library/ghost

#15411 Update drupal
  library/drupal
Labels: library/drupal

#15412 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15417 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#15418 maven: JDK 21 amazoncorretto and sapmachine
  library/maven
Labels: library/maven

#15422 Updated Packages for Amazon Linux 1:
  library/amazonlinux
Labels: library/amazonlinux

#15420 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15421 Update ghost
  library/ghost
Labels: library/ghost

#15380 emqx 5.2.1
  library/emqx
Labels: library/emqx

#15426 Update photon image
  library/photon
Labels: library/photon

#15427 Update Clear Linux OS to 39980
  library/clearlinux
Labels: library/clearlinux

#15428 library/perl: 5.39.2 -> 5.39.3
  library/perl
Labels: library/perl

#15429 Odoo: update 14.0-16.0 to release 20230925
  library/odoo
Labels: library/odoo

#15430 XWiki 15.8 release
  library/xwiki
Labels: library/xwiki

#15431 Add Couchbase Server 7.2.2 (EE and CE)
  library/couchbase
Labels: library/couchbase

#15425 Update haproxy
  library/haproxy
Labels: library/haproxy

#15432 Update ALT Linux - 20230926
  library/alt
Labels: library/alt

#15433 CrateDB new hotfix `5.2.9 ` release for older minor version.
  library/crate
Labels: library/crate

#15434 GHC 9.6.2 -> 9.6.3
  library/haskell
Labels: library/haskell

#15435 Official Convertigo 8.2.3 release!
  library/convertigo
Labels: library/convertigo

#15436 Update Semeru OE 11 and 17 release to 11.0.20.1 and 17.0.8.1.
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#15419 Update openjdk
  library/openjdk
Labels: library/openjdk

#15424 Update golang
  library/golang
Labels: library/golang

#15437 Update bash
  library/bash
Labels: library/bash

#15413 Update docker
  library/docker
Labels: library/docker

#15440 Update ghost
  library/ghost
Labels: library/ghost

#15439 Update wordpress
  library/wordpress
Labels: library/wordpress

#15441 [percona] update product versions
  library/percona
Labels: library/percona

#15444 Update dart
  library/dart
Labels: library/dart

#15442 Add Maven with Correto 21 + AL2023
  library/maven
Labels: library/maven

#15443 alpine: bump 3.18.4
  library/alpine
Labels: library/alpine

#15423 Switch to Docker Scout sbom indexer
  .bin/bashbrew-buildkit-env-setup.sh
  .external-pins/docker/buildkit-syft-scanner___stable-1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/buildkit-syft-scanner, external/docker/scout-sbom-indexer

#15448 new patch versions 2.6.4, 2.2.22, 1.10.27
  library/composer
Labels: library/composer

#15445 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15449 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#15451 Update php
  library/php
Labels: library/php

#15453 Update ghost
  library/ghost
Labels: library/ghost
