Repository docker-library/official-images, pull requests merged in 2023-04, with the labels that each got.

#14382 Apache Solr - SOLR-16523 Update the jattach version to 2.0 (apache/solr-docker#14)
  library/solr
Labels: library/solr

#14383 Update docker
  library/docker
Labels: library/docker

#14386 Update bash
  library/bash
Labels: library/bash

#14385 Update ghost
  library/ghost
Labels: library/ghost

#14387 Update irssi
  library/irssi
Labels: library/irssi

#14389 Update openjdk
  library/openjdk
Labels: library/openjdk

#14388 Update php
  library/php
Labels: library/php

#14390 [ros] rolling 0.10.0-1 -> 0.10.0-2
  library/ros
Labels: library/ros

#14391 MediaWiki 1.35.10 / 1.38.6 / 1.39.3
  library/mediawiki
Labels: library/mediawiki

#14384 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14392 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#14371 Upgrade SonarQube to 10.0
  library/sonarqube
Labels: library/sonarqube

#14393 Update to Fluentd v1.16.0
  library/fluentd
Labels: library/fluentd

#14394 elixir 1.14.4
  library/elixir
Labels: library/elixir

#14395 Update photon image
  library/photon
Labels: library/photon

#14396 Update sl container for sl7 to current (build-date=20230403)
  library/sl
Labels: library/sl

#14397 Add Java-20-based clojure images & remove broken boot variants
  library/clojure
Labels: library/clojure

#14399 Telegraf v1.26.1
  library/telegraf
Labels: library/telegraf

#14398 Update Clear Linux OS to 38680
  library/clearlinux
Labels: library/clearlinux

#14400 [security] Update golang
  library/golang
Labels: library/golang

#14403 [security] Update docker
  library/docker
Labels: library/docker

#14308 maven: 3.9.1
  library/maven
Labels: library/maven

#14402 Update bash
  library/bash
Labels: library/bash

#14406 Update UBI8
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#14407 Update mongo
  library/mongo
Labels: library/mongo

#14408 Update python
  library/python
Labels: library/python

#14409 InfluxDB v2.7.0
  library/influxdb
Labels: library/influxdb

#14410 Consul 1.14.6, 1.15.2
  library/consul
Labels: library/consul

#14413 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#14412 Update ghost
  library/ghost
Labels: library/ghost

#14415 [oraclelinux] Updating 8 and 8-slim for ELSA-2023-1569
  library/oraclelinux
Labels: library/oraclelinux

#14416 Bump Traefik to v2.9.10
  library/traefik
Labels: library/traefik

#14414 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14417 Update httpd
  library/httpd
Labels: library/httpd

#14418 Aerospike 6.3.0.1
  library/aerospike
Labels: library/aerospike

#14419 Bump Traefik to v2.10.0-rc2
  library/traefik
Labels: library/traefik

#14420 Update photon image
  library/photon
Labels: library/photon

#14423 Update Clear Linux OS to 38740
  library/clearlinux
Labels: library/clearlinux

#14425 Upgrade XWiki LTS version to 14.10.8
  library/xwiki
Labels: library/xwiki

#14430 Updated stable nginx to 1.24.0
  library/nginx
Labels: library/nginx

#14429 23.0.0.3 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#14431 Update bash
  library/bash
Labels: library/bash

#14433 Update haproxy
  library/haproxy
Labels: library/haproxy

#14434 Update ghost
  library/ghost
Labels: library/ghost

#14432 Update mongo
  library/mongo
Labels: library/mongo

#14435 Update openjdk
  library/openjdk
Labels: library/openjdk

#11542 [RFC] Added Unit as an official Library image
  library/unit
Labels: new-image, library/unit

#14437 [oraclelinux] Updating 9 and 9-slim for ELSA-2023-1701
  library/oraclelinux
Labels: library/oraclelinux

#14428 Update Debian (20230411)
  library/debian
Labels: library/debian

#14422 haxe 4.3.0
  library/haxe
Labels: library/haxe

#14438 Update CrateDB to 5.2.6
  library/crate
Labels: library/crate

#14439 erlang/otp 26.0-rc3
  library/erlang
Labels: library/erlang

#14440 Update UBI9
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#14441 Update ghost
  library/ghost
Labels: library/ghost

#14444 Gradle 8.1
  library/gradle
Labels: library/gradle

#14445 Update php
  library/php
Labels: library/php

#14446 emqx v5.0.22
  library/emqx
Labels: library/emqx

#14447 Update dart beta to 3.0.0-417.1.beta
  library/dart
Labels: library/dart

#14448 Released OrientDB 3.2.18
  library/orientdb
Labels: library/orientdb

#14404 Update CrateDB to 5.3.0
  library/crate
Labels: library/crate

#14450 Update openjdk
  library/openjdk
Labels: library/openjdk

#14451 Update cassandra
  library/cassandra
Labels: library/cassandra

#14452 Update docker
  library/docker
Labels: library/docker

#14449 maven: add amazoncorretto debian images
  library/maven
Labels: library/maven

#14455 archlinux: Release 20230416.0.143366
  library/archlinux
Labels: library/archlinux

#14459 Update Clear Linux OS to 38800
  library/clearlinux
Labels: library/clearlinux

#14458 Included additional architectures for OrientDB
  library/orientdb
Labels: library/orientdb

#14454 Changes by create-pull-request action
  library/clojure
Labels: library/clojure

#14453 Update ghost
  library/ghost
Labels: library/ghost

#14462 [nats-streaming] Release v0.25.4
  library/nats-streaming
Labels: library/nats-streaming

#14463 chore: release InfluxDB Enterprise 1.9.11 and 1.10.3
  library/influxdb
Labels: library/influxdb

#14464 Update redis
  library/redis
Labels: library/redis

#14465 Update mysql
  library/mysql
Labels: library/mysql

#14466 Update mongo
  library/mongo
Labels: library/mongo

#14467 Update docker
  library/docker
Labels: library/docker

#14468 Odoo: update 14.0-16.0 to release 20230418
  library/odoo
Labels: library/odoo

#14469 Update tomcat
  library/tomcat
Labels: library/tomcat

#14470 emqx v4.4.17 v5.0.23
  library/emqx
Labels: library/emqx

#14471 Update Corretto for 2023 Q2 release and Alpine aarch64 GA
  library/amazoncorretto
Labels: library/amazoncorretto

#14472 Fedora Update 20230419
  library/fedora
Labels: library/fedora

#14473 Update sapmachine to 11.0.19, 17.0.7, 20.0.1
  library/sapmachine
Labels: library/sapmachine

#14475 Update dart
  library/dart
Labels: library/dart

#14476 Releasing Neo4j 5.7.0
  library/neo4j
Labels: library/neo4j

#14477 Bump Rust to 1.69.0
  library/rust
Labels: library/rust

#14478 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#14479 Update Matomo
  library/matomo
Labels: library/matomo

#14484 Update drupal
  library/drupal
Labels: library/drupal

#14483 Update tomcat
  library/tomcat
Labels: library/tomcat

#14485 Update docker
  library/docker
Labels: library/docker

#14482 Update docker/buildkit-syft-scanner:stable-1
  .external-pins/docker/buildkit-syft-scanner___stable-1
Labels: external/docker/buildkit-syft-scanner

#14486 library/perl: 5.37.10 -> 5.37.11
  library/perl
Labels: library/perl

#14487 Update to R 4.3.0 released this morning
  library/r-base
Labels: library/r-base

#14488 erlang/otp 24.3.4.11
  library/erlang
Labels: library/erlang

#14489 Update openjdk
  library/openjdk
Labels: library/openjdk

#14490 Update drupal
  library/drupal
Labels: library/drupal

#14491 Gradle 8.1.1
  library/gradle
Labels: library/gradle

#14492 GHC 9.4.4 -> 9.4.5
  library/haskell
Labels: library/haskell

#14493 archlinux: Release 20230423.0.144989
  library/archlinux
Labels: library/archlinux

#14494 Update Clear Linux OS to 38860
  library/clearlinux
Labels: library/clearlinux

#14495 Release Friendica 2023.04
  library/friendica
Labels: library/friendica

#14496 library/perl: 5.36.0 -> 5.36.1
  library/perl
Labels: library/perl

#14497 Update XWiki version
  library/xwiki
Labels: library/xwiki

#14498 Bump Traefik to v2.10.0
  library/traefik
Labels: library/traefik

#14499 Official Convertigo 8.2.0 release
  library/convertigo
Labels: library/convertigo

#14501 Update haproxy
  library/haproxy
Labels: library/haproxy

#14502 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14503 Updated couchdb 3.3.2, 3.3, 3, latest, 3.2.3 and 3.2
  library/couchdb
Labels: library/couchdb

#14504 Update ghost
  library/ghost
Labels: library/ghost

#14505 Update mongo
  library/mongo
Labels: library/mongo

#14507 eclipse-temurin: april PSU updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#14508 Update XWiki LTS version to 14.10.9
  library/xwiki
Labels: library/xwiki

#14509 Update dart
  library/dart
Labels: library/dart

#14510 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14511 Update docker
  library/docker
Labels: library/docker

#14512 Update gcc
  library/gcc
Labels: library/gcc

#14516 Bump Traefik to v2.10.1
  library/traefik
Labels: library/traefik

#14519 Hotfix Friendica 2023.04-1
  library/friendica
Labels: library/friendica

#14517 Update Vault images for 1.13.2, 1.12.6, 1.11.10
  library/vault
Labels: library/vault

#14518 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14520 Update haproxy
  library/haproxy
Labels: library/haproxy

#14521 Update cassandra
  library/cassandra
Labels: library/cassandra

#14522 Update tomcat
  library/tomcat
Labels: library/tomcat

#14525 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14528 emqx v4.4.18
  library/emqx
Labels: library/emqx

#14529 Upgrade SonarQube to 9.9.1
  library/sonarqube
Labels: library/sonarqube

#14527 add 1.13-otp-23-slim version
  library/elixir
Labels: library/elixir

#14534 update InfluxDB 2.7.1
  library/influxdb
Labels: library/influxdb

#14535 chore: release Kapacitor 1.6.6
  library/kapacitor
Labels: library/kapacitor

#14530 Update php
  library/php
Labels: library/php

#14531 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14532 Update openjdk
  library/openjdk
Labels: library/openjdk

#14533 Update docker
  library/docker
Labels: library/docker
