Repository docker-library/official-images, pull requests merged in 2023-03, with the labels that each got.

#14167 kong: update 2.8.3
  library/kong
Labels: library/kong

#14158 Replace AL2022 images with AL2023
  library/amazonlinux
Labels: library/amazonlinux

#14163 Update Debian to 20230227
  library/debian
Labels: library/debian

#14169 Update dart to 2.19.3
  library/dart
Labels: library/dart

#14170 emqx 5.0.19
  library/emqx
Labels: library/emqx

#14171 [oraclelinux] Updating 9 and 9-slim for ELSA-2023-0952 ELSA-2023-0957 ELSA-2023-0953 ELSA-2023-0946 ELSA-2023-0958 ELSA-2023-0954
  library/oraclelinux
Labels: library/oraclelinux

#14172 Update sl container for sl7 to current (build-date=20230302)
  library/sl
Labels: library/sl

#14174 [nats] Release v2.9.15
  library/nats
Labels: library/nats

#14173 Update rakudo-star to 2023.02
  library/rakudo-star
Labels: library/rakudo-star

#14175 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#14176 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#14177 Update drupal
  library/drupal
Labels: library/drupal

#14178 Update wordpress
  library/wordpress
Labels: library/wordpress

#14179 Update ghost
  library/ghost
Labels: library/ghost

#14180 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14181 Bump Haskell 9.2 to minor version 9.2.7
  library/haskell
Labels: library/haskell

#14183 Additional maintainer for Haskell
  library/haskell
Labels: library/haskell

#14182 Update clojure tools-deps variants to 1.11.1.1237
  library/clojure
Labels: library/clojure

#14184 Update CrateDB to 5.2.3
  library/crate
Labels: library/crate

#14188 Gradle 8.0.2, 7.6.1, and 6.9.4
  library/gradle
Labels: library/gradle

#14187 Update openjdk
  library/openjdk
Labels: library/openjdk

#14185 Update tomcat
  library/tomcat
Labels: library/tomcat

#14186 Update php
  library/php
Labels: library/php

#14189 Update mongo
  library/mongo
Labels: library/mongo

#14190 Update ghost
  library/ghost
Labels: library/ghost

#14192 Update photon image
  library/photon
Labels: library/photon

#14193 archlinux: Release 20230305.0.131236
  library/archlinux
Labels: library/archlinux

#14194 Update Clear Linux OS to 38390
  library/clearlinux
Labels: library/clearlinux

#14195 Update YOURLS
  library/yourls
Labels: library/yourls

#14196 Update XWiki LTS to 14.10.6 and change base back to tomcat:9-jre11
  library/xwiki
Labels: library/xwiki

#14199 Update redmine
  library/redmine
Labels: library/redmine

#14198 Update busybox
  library/busybox
Labels: library/busybox

#14200 Update tomcat
  library/tomcat
Labels: library/tomcat

#14201 Update clojure tools-deps variants to 1.11.1.1252
  library/clojure
Labels: library/clojure

#14202 Update Vault for 1.13.0, 1.12.4, 1.11.8, and 1.10.11
  library/vault
Labels: library/vault

#14203 Release of GeoNetwork v4.2.3 and v3.12.9
  library/geonetwork
Labels: library/geonetwork

#14204 Update docker
  library/docker
Labels: library/docker

#14205 Update bash
  library/bash
Labels: library/bash

#14206 Update httpd
  library/httpd
Labels: library/httpd

#14207 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14209 [security] Update golang
  library/golang
Labels: library/golang

#14210 Couchbase Server 7.1.4 Enterprise Edition
  library/couchbase
Labels: library/couchbase

#14208 23.0.0.2 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#14214 Update dart
  library/dart
Labels: library/dart

#14215 [oraclelinux] Updating 7,7-slim,8,8-slim,9 and 9-slim for ELSA-2023-1095, ELSA-2023-1140 and ELSA-2023-1141
  library/oraclelinux
Labels: library/oraclelinux

#14216 Consul 1.13.7, 1.14.5, 1.15.1
  library/consul
Labels: library/consul

#14217 Release OrientDB 3.2.17
  library/orientdb
Labels: library/orientdb

#14218 Update JRuby 9.4 to 9.4.2.0
  library/jruby
Labels: library/jruby

#14219 Update julia
  library/julia
Labels: library/julia

#14220 Update wordpress
  library/wordpress
Labels: library/wordpress

#14221 Update python
  library/python
Labels: library/python

#14222 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14224 Bump Rust to 1.68.0
  library/rust
Labels: library/rust

#14226 Update wordpress
  library/wordpress
Labels: library/wordpress

#14227 Update openjdk
  library/openjdk
Labels: library/openjdk

#14228 Update memcached
  library/memcached
Labels: library/memcached

#14229 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#14230 [ros] foxy ros1-bridge: ros-comm=1.15.15-1 -> 1.16.0
  library/ros
Labels: library/ros

#14232 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#14233 erlang/otp 25.3, 24.3.4.9, rebar3 3.20.0
  library/erlang
Labels: library/erlang

#14237 Update haproxy
  library/haproxy
Labels: library/haproxy

#14235 Update docker
  library/docker
Labels: library/docker

#14236 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14238 Update ghost
  library/ghost
Labels: library/ghost

#14241 Update Clear Linux OS to 38520
  library/clearlinux
Labels: library/clearlinux

#14242 Eggdrop v1.9.5 *STABLE*
  library/eggdrop
Labels: library/eggdrop

#14243 Update Fedora 2023-03-13
  library/fedora
Labels: library/fedora

#14244 Telegraf v1.26.0
  library/telegraf
Labels: library/telegraf

#14245 Update python
  library/python
Labels: library/python

#14246 Update docker
  library/docker
Labels: library/docker

#14247 Update mongo
  library/mongo
Labels: library/mongo

#14249 Groovy 4.0.10
  library/groovy
Labels: library/groovy

#14250 Update Joomla!
  library/joomla
Labels: library/joomla

#14251 Friendica - 2023.03-rc Release
  library/friendica
Labels: library/friendica

#14252 Workaround to make Storm workers run in JDK 11 and above
  library/storm
Labels: library/storm

#14256 Update Jetty to 9.4.51, 10.0.14 and 11.0.14
  library/jetty
Labels: library/jetty

#14257 Update to R 4.2.3 released this morning
  library/r-base
Labels: library/r-base

#14259 Update dart
  library/dart
Labels: library/dart

#14254 Update to Flink 1.15.4
  library/flink
Labels: library/flink

#14260 emqx 4.4.16
  library/emqx
Labels: library/emqx

#14261 Add amazonlinux 2023 GA release
  library/amazonlinux
Labels: library/amazonlinux

#14225 feat: release InfluxDB Enterprise 1.9.9
  library/influxdb
Labels: library/influxdb

#14262 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#14263 Update bash
  library/bash
Labels: library/bash

#14264 Update wordpress
  library/wordpress
Labels: library/wordpress

#14265 Update drupal
  library/drupal
Labels: library/drupal

#14223 maven: refactor build process
  library/maven
Labels: library/maven

#14269 Update php
  library/php
Labels: library/php

#14271 Update python
  library/python
Labels: library/python

#14274 Odoo: update 14.0-16.0 to release 20230317
  library/odoo
Labels: library/odoo

#14276 Aerospike 6.2.0.7
  library/aerospike
Labels: library/aerospike

#14278 Update photon image
  library/photon
Labels: library/photon

#14279 archlinux: Release 20230319.0.135218
  library/archlinux
Labels: library/archlinux

#14280 Update Clear Linux OS to 38590
  library/clearlinux
Labels: library/clearlinux

#14282 chore: release InfluxDB Enterprise v1.9.10 and v1.10.2
  library/influxdb
Labels: library/influxdb

#14283 Update chronograf to 1.10.1
  library/chronograf
Labels: library/chronograf

#14285 Update ghost
  library/ghost
Labels: library/ghost

#14284 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14287 Update openjdk
  library/openjdk
Labels: library/openjdk

#14288 [security] Update redis
  library/redis
Labels: library/redis

#14291 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14292 library/perl: 5.37.9 -> 5.37.10
  library/perl
Labels: library/perl

#14293 release 2.5.5
  library/composer
Labels: library/composer

#14294 Bump Traefik to v2.9.9
  library/traefik
Labels: library/traefik

#14297 [oraclelinux] Updating 7 and 7-slim for ELSA-2023-1332 and ELSA-2023-1335
  library/oraclelinux
Labels: library/oraclelinux

#14296 Update Matomo
  library/matomo
Labels: library/matomo

#14307 Upgrade XWiki LTS to 14.10.7
  library/xwiki
Labels: library/xwiki

#14309 erlang/otp 26.0-rc2
  library/erlang
Labels: library/erlang

#14310 Bump Traefik to v2.10.0-rc1
  library/traefik
Labels: library/traefik

#14311 arangodb 3.9.10, 3.10.5
  library/arangodb
Labels: library/arangodb

#14305 Adding Corretto 20 images
  library/amazoncorretto
Labels: library/amazoncorretto

#14300 Update bash
  library/bash
Labels: library/bash

#14312 [oraclelinux] Updating 8 and 8-slim for ELSA-2023-1405
  library/oraclelinux
Labels: library/oraclelinux

#14301 Update cassandra
  library/cassandra
Labels: library/cassandra

#14304 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#14313 Update openjdk
  library/openjdk
Labels: library/openjdk

#14314 Update wordpress
  library/wordpress
Labels: library/wordpress

#14315 Update docker
  library/docker
Labels: library/docker

#14316 Update redis
  library/redis
Labels: library/redis

#14299 Update python
  library/python
Labels: library/python

#14289 Update Debian to 20230320
  library/debian
Labels: library/debian

#14318 Update CrateDB to 5.2.5
  library/crate
Labels: library/crate

#14320 Updated swipl devel to 9.1.8
  library/swipl
Labels: library/swipl

#14321 Bump Rust to 1.68.1
  library/rust
Labels: library/rust

#14322 Update dart
  library/dart
Labels: library/dart

#14323 Update UBI8
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#14324 Update Apache Flink to 1.17.0
  library/flink
Labels: library/flink

#14325 Update wordpress
  library/wordpress
Labels: library/wordpress

#14326 Update BuildKit to 0.11.5
  .external-pins/moby/buildkit___buildx-stable-1
Labels: external/moby/buildkit

#14327 Update sapmachine 20
  library/sapmachine
Labels: library/sapmachine

#14330 Apache Solr - Apache Solr release 9.2.0
  library/solr
Labels: library/solr

#14329 Releasing neo4j 5.6.0
  library/neo4j
Labels: library/neo4j

#14331 Adding Amazon Corretto AL2023 images
  library/amazoncorretto
Labels: library/amazoncorretto

#14273 bump to Kong 3.2.2
  library/kong
Labels: library/kong

#14336 Update drupal
  library/drupal
Labels: library/drupal

#14335 Update ghost
  library/ghost
Labels: library/ghost

#14349 emqx 5.0.21
  library/emqx
Labels: library/emqx

#14351 XWiki 15.2 has been released
  library/xwiki
Labels: library/xwiki

#14352 Update Clear Linux OS to 38640
  library/clearlinux
Labels: library/clearlinux

#14353 Remove RC from AmazonCorretto AL2023 images
  library/amazoncorretto
Labels: library/amazoncorretto

#14345 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#14337 Update docker
  library/docker
Labels: library/docker

#14338 Update wordpress
  library/wordpress
Labels: library/wordpress

#14339 Update tomcat
  library/tomcat
Labels: library/tomcat

#14340 Update ruby
  library/ruby
Labels: library/ruby

#14341 Update golang
  library/golang
Labels: library/golang

#14342 Update cassandra
  library/cassandra
Labels: library/cassandra

#14343 Update php
  library/php
Labels: library/php

#14344 Update postgres
  library/postgres
Labels: library/postgres

#14333 Update openjdk
  library/openjdk
Labels: library/openjdk
