Repository docker-library/official-images, pull requests merged in 2023-02, with the labels that each got.

#13978 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13985 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13987 Update dart
  library/dart
Labels: library/dart

#13989 Update sl container for sl7 to current (build-date=20230201)
  library/sl
Labels: library/sl

#13991 erlang/otp 25.2.2
  library/erlang
Labels: library/erlang

#13992 Upgrade XWiki LTS
  library/xwiki
Labels: library/xwiki

#13993 Update ghost
  library/ghost
Labels: library/ghost

#13994 Release Telegraf v1.25.1
  library/telegraf
Labels: library/telegraf

#13995 Update docker
  library/docker
Labels: library/docker

#13996 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#13997 Update golang
  library/golang
Labels: library/golang

#13998 Update JRuby 9.3 to 9.3.10.0
  library/jruby
Labels: library/jruby

#13971 Update drupal
  library/drupal
Labels: library/drupal

#14000 Add new AL2022 Docker images
  library/amazonlinux
Labels: library/amazonlinux

#14002 Update Joomla!
  library/joomla
Labels: library/joomla

#14003 Remove Groovy 3 images and upgrade to 4.0.8
  library/groovy
Labels: library/groovy

#14004 Releasing Neo4j 4.4.17
  library/neo4j
Labels: library/neo4j

#14005 Remove xenial for neurodebian imgs
  library/neurodebian
Labels: library/neurodebian

#14006 [nats] Release v2.9.12
  library/nats
Labels: library/nats

#14007 Update php
  library/php
Labels: library/php

#14008 Update openjdk
  library/openjdk
Labels: library/openjdk

#14009 Update ghost
  library/ghost
Labels: library/ghost

#14010 Update docker
  library/docker
Labels: library/docker

#14011 Update mongo
  library/mongo
Labels: library/mongo

#14013 [gazebo] retire gazebo 9 images
  library/gazebo
Labels: library/gazebo

#14014 emqx 5.0.16
  library/emqx
Labels: library/emqx

#14016 Update docker
  library/docker
Labels: library/docker

#14017 Update ghost
  library/ghost
Labels: library/ghost

#14018 Update php
  library/php
Labels: library/php

#14019 Update python
  library/python
Labels: library/python

#13990 SonarQube upgrade to 9.9 (LTS)
  library/sonarqube
Labels: library/sonarqube

#14015 Update Debian to 20230202
  library/debian
Labels: library/debian

#14020 release 2.5.2
  library/composer
Labels: library/composer

#14021 archlinux: Release 20230205.0.123931
  library/archlinux
Labels: library/archlinux

#14022 Update Clear Linux OS to 38200
  library/clearlinux
Labels: library/clearlinux

#14023 Update CrateDB to 5.1.4
  library/crate
Labels: library/crate

#14026 [nats] Release v2.9.14
  library/nats
Labels: library/nats

#14027 mariadb: 2023q1 release batch 1
  library/mariadb
Labels: library/mariadb

#14029 Aerospike 6.2.0.3
  library/aerospike
Labels: library/aerospike

#14028 Upgrade Zookeeper to 3.8.1 and remove 3.5 (EoL)
  library/zookeeper
Labels: library/zookeeper

#14030 bump git commit sha on neo4j 5.4.0
  library/neo4j
Labels: library/neo4j

#14031 Update JRuby 9.4 to 9.4.1.0
  library/jruby
Labels: library/jruby

#14037 Update Vault for 1.12.3, 1.11.7, and 1.10.10
  library/vault
Labels: library/vault

#13972 Update wordpress
  library/wordpress
Labels: library/wordpress

#14032 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14033 Update ghost
  library/ghost
Labels: library/ghost

#14035 Update haproxy
  library/haproxy
Labels: library/haproxy

#14034 Update bash
  library/bash
Labels: library/bash

#14040 Add arm64v8 support to temurin based Storm images
  library/storm
Labels: library/storm

#14041 Update Fedora 2023-02-08
  library/fedora
Labels: library/fedora

#14042 Release OrientDB 3.2.16
  library/orientdb
Labels: library/orientdb

#14043 [oraclelinux] Updating 8, 8-slim, 9 and 9-slim for ELSA-2023-0625, ELSA-2023-0626
  library/oraclelinux
Labels: library/oraclelinux

#14044 Update dart to 2.19.2
  library/dart
Labels: library/dart

#14038 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#14039 Update phpMyAdmin to version 5.2.1
  library/phpmyadmin
Labels: library/phpmyadmin

#14046 Update ruby
  library/ruby
Labels: library/ruby

#14045 Update python
  library/python
Labels: library/python

#14047 Update docker
  library/docker
Labels: library/docker

#14051 caddy: v2.6.3 release
  library/caddy
Labels: library/caddy

#14052 Update UBI8 pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#14049 alpine: edge snapshot 20230208
  library/alpine
Labels: library/alpine

#14050 Update hylang
  library/hylang
Labels: library/hylang

#14048 Update Debian to 20230208, esp. for CVE-2023-0286 (and friends)
  library/debian
Labels: library/debian

#14055 Bump Rust to 1.67.1
  library/rust
Labels: library/rust

#14056 23.0.0.1 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#14061 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#14058 Update ghost
  library/ghost
Labels: library/ghost

#14060 Update openjdk
  library/openjdk
Labels: library/openjdk

#14062 Update docker
  library/docker
Labels: library/docker

#14059 Update postgres
  library/postgres
Labels: library/postgres

#14063 Aerospike 6.2.0.3_3
  library/aerospike
Labels: library/aerospike

#14065 release 2.5.3
  library/composer
Labels: library/composer

#14066 Odoo: update 14.0-16.0 to release 20230210
  library/odoo
Labels: library/odoo

#14067 Update docker
  library/docker
Labels: library/docker

#14068 Update UBI9 pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#14070 alpine: bump 3.14.9, 3.15.7, 3.16.4 and 3.17.2
  library/alpine
Labels: library/alpine

#14071 Update openjdk
  library/openjdk
Labels: library/openjdk

#14072 Update photon image
  library/photon
Labels: library/photon

#14074 Update Clear Linux OS to 38250
  library/clearlinux
Labels: library/clearlinux

#14075 Update CrateDB to 5.2.2
  library/crate
Labels: library/crate

#14076 emqx 5.0.17
  library/emqx
Labels: library/emqx

#14077 Update clojure tools-deps variants to 1.11.1.1224
  library/clojure
Labels: library/clojure

#14078 Updated swipl devel to 9.1.5
  library/swipl
Labels: library/swipl

#14079 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14082 Telegraf v1.25.2
  library/telegraf
Labels: library/telegraf

#14081 Update API-Firewall to v0.6.11
  library/api-firewall
Labels: library/api-firewall

#14085 [security] Update haproxy
  library/haproxy
Labels: library/haproxy

#14089 [security] Update golang
  library/golang
Labels: library/golang

#14090 [security] Update php
  library/php
Labels: library/php

#14086 Update ghost
  library/ghost
Labels: library/ghost

#14087 Update mongo
  library/mongo
Labels: library/mongo

#14088 Update bash
  library/bash
Labels: library/bash

#14091 Bump Haskell (GHC) 9.2 to 9.2.6
  library/haskell
Labels: library/haskell

#14092 caddy: v2.6.4 release
  library/caddy
Labels: library/caddy

#14093 release 2.5.4, 2.2.21
  library/composer
Labels: library/composer

#14095 Update dart
  library/dart
Labels: library/dart

#14098 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#14100 Update golang
  library/golang
Labels: library/golang

#14097 Bump Traefik to v2.9.8
  library/traefik
Labels: library/traefik

#14083 maven: 3.9.0
  library/maven
Labels: library/maven

#14099 Update wordpress
  library/wordpress
Labels: library/wordpress

#14101 Update cassandra
  library/cassandra
Labels: library/cassandra

#14102 Update php
  library/php
Labels: library/php

#14103 Update openjdk
  library/openjdk
Labels: library/openjdk

#14096 Gradle 8.0
  library/gradle
Labels: library/gradle

#14104 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#14105 Releasing Neo4j 5.5.0
  library/neo4j
Labels: library/neo4j

#14106 Update Joomla!
  library/joomla
Labels: library/joomla

#14108 Update ghost
  library/ghost
Labels: library/ghost

#14109 Update docker
  library/docker
Labels: library/docker

#14111 mariadb 2023 q1 release
  library/mariadb
Labels: library/mariadb

#14112 Update kong library
  library/kong
Labels: library/kong

#14113 erlang/otp 25.2.3, 26.0-rc1
  library/erlang
Labels: library/erlang

#14115 Update openjdk
  library/openjdk
Labels: library/openjdk

#14116 Update mongo
  library/mongo
Labels: library/mongo

#14117 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14118 Update ghost
  library/ghost
Labels: library/ghost

#14120 Update photon image
  library/photon
Labels: library/photon

#14121 archlinux: Release 20230219.0.127702
  library/archlinux
Labels: library/archlinux

#14122 Update Clear Linux OS to 38280
  library/clearlinux
Labels: library/clearlinux

#14123 Gradle 8.0.1
  library/gradle
Labels: library/gradle

#14125 Update Rocky Linux images for 9 and 8
  library/rockylinux
Labels: library/rockylinux

#14127 library/perl: 5.37.8 -> 5.37.9
  library/perl
Labels: library/perl

#14129 Update UBI8
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#14130 Update bash
  library/bash
Labels: library/bash

#14131 Update wordpress
  library/wordpress
Labels: library/wordpress

#14132 Update ghost
  library/ghost
Labels: library/ghost

#14133 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#14124 XWiki 14.10.5 released
  library/xwiki
Labels: library/xwiki

#14138 Fedora Update 20230222
  library/fedora
Labels: library/fedora

#14139 MediaWiki 1.39.2
  library/mediawiki
Labels: library/mediawiki

#14142 [oraclelinux] Updating 8 and 8-slim for ELSA-2023-0835 ELSA-2023-0837 ELSA-2023-0833
  library/oraclelinux
Labels: library/oraclelinux

#14141 update alpine
  library/erlang
Labels: library/erlang

#14143 [oraclelinux] Updating 8 and 8-slim for ELSA-2023-0835 ELSA-2023-0837 ELSA-2023-0833
  library/oraclelinux
Labels: library/oraclelinux

#14145 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#14147 Odoo: update 14.0-16.0 to release 20230224
  library/odoo
Labels: library/odoo

#14148 arangodb 3.9.9, 3.10.4
  library/arangodb
Labels: library/arangodb

#14146 Releasing Neo4j 4.4.18
  library/neo4j
Labels: library/neo4j

#14149 Update python
  library/python
Labels: library/python

#14150 Update mongo
  library/mongo
Labels: library/mongo

#14151 Update tomcat
  library/tomcat
Labels: library/tomcat

#14152 update consul version
  library/consul
Labels: library/consul

#14144 2023 q1 release + mysql tests upgrade
  library/mariadb
  test/tests/mysql-basics/run.sh
  test/tests/mysql-initdb/run.sh
  test/tests/mysql-log-bin/run.sh
Labels: library/mariadb

#14153 archlinux: Release 20230226.0.129555
  library/archlinux
Labels: library/archlinux

#14154 Update Clear Linux OS to 38340
  library/clearlinux
Labels: library/clearlinux

#14155 XWiki 15.1 has been released
  library/xwiki
Labels: library/xwiki

#14156 Update photon image
  library/photon
Labels: library/photon

#14157 Telegraf v1.25.3
  library/telegraf
Labels: library/telegraf

#14159 Update ghost
  library/ghost
Labels: library/ghost

#14160 Update openjdk
  library/openjdk
Labels: library/openjdk
