Repository docker-library/official-images, pull requests merged in 2023-10, with the labels that each got.

#13162 Update mongo-express for v1.0.0
  library/mongo-express
Labels: library/mongo-express

#15454 Aerospike 6.4.0.3
  library/aerospike
Labels: library/aerospike

#15455 Add Andrei Dziahel as haskell maintainer
  library/haskell
Labels: library/haskell

#15456 Bump IBM Java version to 8.0.8.11
  library/ibmjava
Labels: library/ibmjava

#15457 archlinux: Release 20231001.0.182270
  library/archlinux
Labels: library/archlinux

#15458 Update Clear Linux OS to 40030
  library/clearlinux
Labels: library/clearlinux

#15460 emqx v5.3.0
  library/emqx
Labels: library/emqx

#15446 Update openjdk
  library/openjdk
Labels: library/openjdk

#15450 Update docker
  library/docker
Labels: library/docker

#15465 Update ghost
  library/ghost
Labels: library/ghost

#15466 Update redmine
  library/redmine
Labels: library/redmine

#15467 Update mongo
  library/mongo
Labels: library/mongo

#15464 Update python
  library/python
Labels: library/python

#15452 Update pypy
  library/pypy
Labels: library/pypy

#15462 Update registry to v2.8.3 release
  library/registry
Labels: library/registry

#15463 Telegraf v1.28.2
  library/telegraf
Labels: library/telegraf

#15468 Update to Fluentd v1.16.2
  library/fluentd
Labels: library/fluentd

#15461 mediawiki: Update to 1.40.1 / 1.39.5 / 1.35.13
  library/mediawiki
Labels: library/mediawiki

#15469 Update Joomla!
  library/joomla
Labels: library/joomla

#15470 elixir 1.15.6
  library/elixir
Labels: library/elixir

#15471 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15475 library/perl: Restore missing archs
  library/perl
Labels: library/perl

#15473 Kong 2.8.4
  library/kong
Labels: library/kong

#15486 [security] Update golang
  library/golang
Labels: library/golang

#15477 Gradle 7.6.3 and 8.4
  library/gradle
Labels: library/gradle

#15478 erlang/otp 26.1.1, 25.3.2.6
  library/erlang
Labels: library/erlang

#15481 bump kong to 3.4.1
  library/kong
Labels: library/kong

#15482 Release of GeoNetwork 3.12.11 and 4.2.6
  library/geonetwork
Labels: library/geonetwork

#15483 Update sl container for sl7 to current (build-date=20231005)
  library/sl
Labels: library/sl

#15484 Bump Rust to 1.73.0
  library/rust
Labels: library/rust

#15479 Aerospike 6.4.0.4
  library/aerospike
Labels: library/aerospike

#15485 [Friendica] Release 2023.09-rc
  library/friendica
Labels: library/friendica

#15474 Update RabbitMQ with SBOM attestations
  library/rabbitmq
Labels: library/rabbitmq

#15476 Update postgres alpine SBOM attestions
  library/postgres
Labels: library/postgres

#15487 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#15497 Fedora Update 20231006
  library/fedora
Labels: library/fedora

#15498 release 2.6.5
  library/composer
Labels: library/composer

#15500 Update after release of XWiki 15.5.3
  library/xwiki
Labels: library/xwiki

#15488 Update bash
  library/bash
Labels: library/bash

#15489 Update hylang
  library/hylang
Labels: library/hylang

#15492 Update julia
  library/julia
Labels: library/julia

#15491 Update wordpress
  library/wordpress
Labels: library/wordpress

#15493 Update cassandra
  library/cassandra
Labels: library/cassandra

#15494 Update drupal
  library/drupal
Labels: library/drupal

#15495 Update ghost
  library/ghost
Labels: library/ghost

#15496 Update openjdk
  library/openjdk
Labels: library/openjdk

#15501 [nats] Release v2.10.2
  library/nats
Labels: library/nats

#15502 Update photon image
  library/photon
Labels: library/photon

#15503 Update Clear Linux OS to 40060
  library/clearlinux
Labels: library/clearlinux

#15504 Update xwiki 14.10.18
  library/xwiki
Labels: library/xwiki

#15512 [Security] Update golang
  library/golang
Labels: library/golang

#15509 [gazebo] 11.13.0 -> 11.14.0
  library/gazebo
Labels: library/gazebo

#15511 arangodb 3.11.4
  library/arangodb
Labels: library/arangodb

#15505 Update RedHat UBI9 pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#15506 Update ghost
  library/ghost
Labels: library/ghost

#15507 Update haproxy
  library/haproxy
Labels: library/haproxy

#15513 Update bash
  library/bash
Labels: library/bash

#15514 Update wordpress
  library/wordpress
Labels: library/wordpress

#15515 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#15516 Update Jetty versions to 9.4.53, 10.0.17, 11.0.17 & 12.0.2
  library/jetty
Labels: library/jetty

#15499 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15518 chore: release InfluxDB Enterprise 1.11.2
  library/influxdb
Labels: library/influxdb

#15519 Update dart
  library/dart
Labels: library/dart

#15520 eclipse-temurin: add JDK21+35 images
  library/eclipse-temurin
Labels: library/eclipse-temurin

#15508 Update Debian (esp. for 12.2 and 11.8)
  library/debian
Labels: library/debian

#15521 [oraclelinux] Updating 7,7-slim,7-slim-fips,8, 8-slim and 8-slim-fips for ELSA-2023-5474,ELSA-2023-5455,ELBA-2023-5615,ELBA-2023-5623
  library/oraclelinux
Labels: library/oraclelinux

#15523 Add Java 21 images
  library/groovy
Labels: library/groovy

#15524 Remove Java 20 (end of life)
  library/gradle
Labels: library/gradle

#15525 caddy: v2.7.5 release
  library/caddy
Labels: library/caddy

#15529 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#15527 bump Kong to 3.4.2
  library/kong
Labels: library/kong

#15526 Bump Traefik to v3.0.0-beta4
  library/traefik
Labels: library/traefik

#15530 Update clojure
  library/clojure
Labels: library/clojure

#15438 Update tomcat
  library/tomcat
Labels: library/tomcat

#15531 Update ghost
  library/ghost
Labels: library/ghost

#15532 Update mongo
  library/mongo
Labels: library/mongo

#15533 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15534 Update php
  library/php
Labels: library/php

#15535 Update openjdk
  library/openjdk
Labels: library/openjdk

#15536 [nats] Releases v2.10.3 and v2.9.23
  library/nats
Labels: library/nats

#15537 Add Java 21 images
  library/gradle
Labels: library/gradle

#15539 maven: eclipse-temurin-21
  library/maven
Labels: library/maven

#15538 Update tomcat
  library/tomcat
Labels: library/tomcat

#15540 Update wordpress
  library/wordpress
Labels: library/wordpress

#15541 Update php
  library/php
Labels: library/php

#15543 Update backdrop to latest version 1.26.1
  library/backdrop
Labels: library/backdrop

#15544 Upgrade Zookeeper to 3.7.2, 3.8.3 and 3.9.1
  library/zookeeper
Labels: library/zookeeper

#15546 Update photon image
  library/photon
Labels: library/photon

#15547 archlinux: Release 20231015.0.185077
  library/archlinux
Labels: library/archlinux

#15548 Apache Solr - Apache Solr release 9.4.0
  library/solr
Labels: library/solr

#15549 Update Clear Linux OS to 40120
  library/clearlinux
Labels: library/clearlinux

#15550 Update CrateDB 5.2 to 5.2.10 & 5.3 to 5.3.7
  library/crate
Labels: library/crate

#15551 Update CrateDB to 5.4.4
  library/crate
Labels: library/crate

#15552 chore: release InfluxDB Enterprise 1.11.3
  library/influxdb
Labels: library/influxdb

#15510 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#15542 Update ghost
  library/ghost
Labels: library/ghost

#15557 Updated swipl devel to 9.1.17 (take-2)
  library/swipl
Labels: library/swipl

#15558 haskell: add GHC 9.8.1
  library/haskell
Labels: library/haskell

#15561 Release InfluxDB Enterprise 1.9.13 and 1.10.5
  library/influxdb
Labels: library/influxdb

#15564 Aerospike 6.4.0.6
  library/aerospike
Labels: library/aerospike

#15554 Update tomcat
  library/tomcat
Labels: library/tomcat

#15555 Update memcached
  library/memcached
Labels: library/memcached

#15566 Update Joomla!
  library/joomla
Labels: library/joomla

#15567 Update dart
  library/dart
Labels: library/dart

#15573 Release InfluxDB 2.7.3
  library/influxdb
Labels: library/influxdb

#15560 Updates open-liberty for the release of 23.0.0.10
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#15574 Update JRuby 9.4 to 9.4.4.0
  library/jruby
Labels: library/jruby

#15562 Update bash
  library/bash
Labels: library/bash

#15578 Update for amazoncorretto 2023 q4
  library/amazoncorretto
Labels: library/amazoncorretto

#15563 Update wordpress
  library/wordpress
Labels: library/wordpress

#15569 Update redhat/ubi9-minimal:latest
  .external-pins/redhat/ubi9-minimal___latest
Labels: external/redhat/ubi9-minimal

#15570 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15571 Update redis
  library/redis
Labels: library/redis

#15572 Update ghost
  library/ghost
Labels: library/ghost

#15576 Update docker
  library/docker
Labels: library/docker

#15577 Update python
  library/python
Labels: library/python

#15586 [Security] Update httpd
  library/httpd
Labels: library/httpd

#15579 [Swift] Update the Docker images to Swift 5.9.1
  library/swift
Labels: library/swift

#15580 maven: 3.9.5
  library/maven
Labels: library/maven

#15583 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#15582 Update sapmachine to 11.0.21, 17.0.9, 21.0.1
  library/sapmachine
Labels: library/sapmachine

#15584 Updated Unit to 1.31.1.
  library/unit
Labels: library/unit

#15585 Update redhat/ubi9-minimal:latest
  .external-pins/redhat/ubi9-minimal___latest
Labels: external/redhat/ubi9-minimal

#15587 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#15588 [oraclelinux] Updating 8/8-slim/8-fips/9/9-slim for ELSA-2023-5837, ELSA-2023-5838, ELSA-2023-5763,ELSA-2023-5462
  library/oraclelinux
Labels: library/oraclelinux

#15595 Update julia
  library/julia
Labels: library/julia

#15591 Update openjdk
  library/openjdk
Labels: library/openjdk

#15592 Update moby/buildkit:buildx-stable-1
  .external-pins/moby/buildkit___buildx-stable-1
Labels: external/moby/buildkit

#15593 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15594 Update ghost
  library/ghost
Labels: library/ghost

#15597 Update photon image
  library/photon
Labels: library/photon

#15598 TomEE 9.1.0 to 9.1.1
  library/tomee
Labels: library/tomee

#15601 Telegraf v1.28.3
  library/telegraf
Labels: library/telegraf

#15600 Releasing Neo4j 5.13.0
  library/neo4j
Labels: library/neo4j

#15603 Kapacitor 1.7.1
  library/kapacitor
Labels: library/kapacitor

#15604 Chronograf 1.10.2
  library/chronograf
Labels: library/chronograf

#15596 Update haproxy
  library/haproxy
Labels: library/haproxy

#15607 arangodb 3.10.11
  library/arangodb
Labels: library/arangodb

#15612 Update GraalVM
  library/gradle
Labels: library/gradle

#15614 [Security] Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15613 Add Amazon Linux releases
  library/amazonlinux
Labels: library/amazonlinux

#15616 Updated mainline nginx to 1.25.3.
  library/nginx
Labels: library/nginx

#15618 New release of GeoNetwork 4.4.0
  library/geonetwork
Labels: library/geonetwork

#15619 Update dart
  library/dart
Labels: library/dart

#15620 Release OrientDB 3.2.24
  library/orientdb
Labels: library/orientdb

#15610 Update ghost
  library/ghost
Labels: library/ghost

#15611 Update bash
  library/bash
Labels: library/bash

#15602 Update pypy
  library/pypy
Labels: library/pypy

#15615 Update wordpress
  library/wordpress
Labels: library/wordpress

#15623 Update mongo
  library/mongo
Labels: library/mongo
