Repository docker-library/official-images, pull requests merged in 2023-06, with the labels that each got.

#14767 Update CirrOS to 0.6.2, 0.5.3
  library/cirros
Labels: library/cirros

#14769 Remove CirrOS backfilled versions
  library/cirros
Labels: library/cirros

#14771 Update haproxy
  library/haproxy
Labels: library/haproxy

#14770 Update openjdk
  library/openjdk
Labels: library/openjdk

#14772 [Swift] Update the Swift version to 5.8.1
  library/swift
Labels: library/swift

#14773 Update dart
  library/dart
Labels: library/dart

#14774 Bump rust to 1.70.0
  library/rust
Labels: library/rust

#14775 Consul 1.15.3
  library/consul
Labels: library/consul

#14776 [oraclelinux] Updating 8 and 8-slim for ELSA-2023-3106
  library/oraclelinux
Labels: library/oraclelinux

#14778 Update ghost
  library/ghost
Labels: library/ghost

#14777 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14780 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#14784 archlinux: Release 20230604.0.155602
  library/archlinux
Labels: library/archlinux

#14785 elixir v1.15.0-rc.1
  library/elixir
Labels: library/elixir

#14786 Update clojure
  library/clojure
Labels: library/clojure

#14794 [security] Update golang
  library/golang
Labels: library/golang

#14789 Fedora Update 20230606
  library/fedora
Labels: library/fedora

#14790 Bump IBM Java version to 8.0.8.5
  library/ibmjava
Labels: library/ibmjava

#14787 Update wordpress
  library/wordpress
Labels: library/wordpress

#14792 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14791 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#14793 Update bash
  library/bash
Labels: library/bash

#14795 Update python
  library/python
Labels: library/python

#14798 [security] Update python
  library/python
Labels: library/python

#14799 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14800 Update backdrop to 1.25.1
  library/backdrop
Labels: library/backdrop

#14801 Update JRuby to 9.4.3.0
  library/jruby
Labels: library/jruby

#14804 emqx v5.0.26
  library/emqx
Labels: library/emqx

#14805 Update dart
  library/dart
Labels: library/dart

#14806 Update XWiki LTS version to 14.10.12
  library/xwiki
Labels: library/xwiki

#14809 arangodb 3.9.11
  library/arangodb
Labels: library/arangodb

#14810 added a gnupg directory to get the Alpine images to build
  library/tomee
Labels: library/tomee

#14807 [security] Update php
  library/php
Labels: library/php

#14803 Update drupal
  library/drupal
Labels: library/drupal

#14802 Update haproxy
  library/haproxy
Labels: library/haproxy

#14766 23.0.0.5 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#14808 Update julia
  library/julia
Labels: library/julia

#14811 Update mongo
  library/mongo
Labels: library/mongo

#14812 erlang/otp 26.0.1, 25.3.2.2, 23.3.4.19
  library/erlang
Labels: library/erlang

#14797 2023 Q2 2 Release
  library/mariadb
Labels: library/mariadb

#14817 Update openjdk
  library/openjdk
Labels: library/openjdk

#14816 Update haproxy
  library/haproxy
Labels: library/haproxy

#14815 Update tomcat
  library/tomcat
Labels: library/tomcat

#14814 Update busybox
  library/busybox
Labels: library/busybox

#14820 archlinux: Release 20230611.0.157136
  library/archlinux
Labels: library/archlinux

#14819 Update photon image
  library/photon
Labels: library/photon

#14821 Update Clear Linux OS to 39340
  library/clearlinux
Labels: library/clearlinux

#14825 Telegraf v1.27.0
  library/telegraf
Labels: library/telegraf

#14826 Updated Packages for Amazon Linux 1:
  library/amazonlinux
Labels: library/amazonlinux

#14827 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#14829 Update haproxy
  library/haproxy
Labels: library/haproxy

#14830 Update openjdk
  library/openjdk
Labels: library/openjdk

#14834 Update ghost
  library/ghost
Labels: library/ghost

#14833 Update tomcat
  library/tomcat
Labels: library/tomcat

#14832 Update Debian, especially for Bookworm/12
  library/debian
Labels: library/debian

#14828 Update gcc
  library/gcc
Labels: library/gcc

#14835 elixir 1.15.0-rc.2
  library/elixir
Labels: library/elixir

#14836 Aerospike 6.3.0.5
  library/aerospike
Labels: library/aerospike

#14837 Odoo: update 14.0-16.0 to release 20230613
  library/odoo
Labels: library/odoo

#14839 Update redmine
  library/redmine
Labels: library/redmine

#14840 Update bash
  library/bash
Labels: library/bash

#14841 Update ghost
  library/ghost
Labels: library/ghost

#14842 Update docker
  library/docker
Labels: library/docker

#14843 Update openjdk
  library/openjdk
Labels: library/openjdk

#14846 [nats] Release v2.9.18
  library/nats
Labels: library/nats

#14845 Update php
  library/php
Labels: library/php

#14848 [oraclelinux] Updating 7 and 7-slim for ELSA-2023-3555
  library/oraclelinux
Labels: library/oraclelinux

#14850 Update spiped to debian:bookworm-slim
  library/spiped
Labels: library/spiped

#14853 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#14854 Update python
  library/python
Labels: library/python

#14856 Update julia
  library/julia
Labels: library/julia

#14858 Update memcached
  library/memcached
Labels: library/memcached

#14859 Update postgres
  library/postgres
Labels: library/postgres

#14860 Update pypy
  library/pypy
Labels: library/pypy

#14861 Update redis
  library/redis
Labels: library/redis

#14862 Update httpd
  library/httpd
Labels: library/httpd

#14852 alpine: fix CVE-2023-1255, CVE-2023-2650
  library/alpine
Labels: library/alpine

#14865 Releasing Neo4j 5.9.0
  library/neo4j
Labels: library/neo4j

#14866 Update dart
  library/dart
Labels: library/dart

#14869 [oraclelinux] Updating 8, 8-slim and 9 for ELSA-2023-3595, ELSA-2023-3591
  library/oraclelinux
Labels: library/oraclelinux

#14874 arangodb 3.10.7, 3.11.1
  library/arangodb
Labels: library/arangodb

#14876 Released OrientDB 3.2.20
  library/orientdb
Labels: library/orientdb

#14878 Updated Packages for Amazon Linux 1:
  library/amazonlinux
Labels: library/amazonlinux

#14879 Update to R 4.3.1 released this morning
  library/r-base
Labels: library/r-base

#14881 maven: switch amazoncorretto bullseye to bookworm
  library/maven
Labels: library/maven

#14884 Update Clear Linux OS to 39400
  library/clearlinux
Labels: library/clearlinux

#14880 Bump Haskell ghc 9.2.7 -> 9.2.8, stack 2.9.3 -> 2.11.1
  library/haskell
Labels: library/haskell

#14885 upgrade Sonarqube to 10.1
  library/sonarqube
Labels: library/sonarqube

#14886 Update Fedora 20230619
  library/fedora
Labels: library/fedora

#14887 Bump Traefik to v2.10.3
  library/traefik
Labels: library/traefik

#14882 Update photon image
  library/photon
Labels: library/photon

#14892 Update xwiki
  library/xwiki
Labels: library/xwiki

#14893 elixir 1.15.0
  library/elixir
Labels: library/elixir

#14894 [nats] Release v2.9.19
  library/nats
Labels: library/nats

#14868 Update Vault for 1.13.3, 1.12.7, 1.11.11
  library/vault
Labels: library/vault

#14870 Update ghost
  library/ghost
Labels: library/ghost

#14871 Update openjdk
  library/openjdk
Labels: library/openjdk

#14872 Update hylang
  library/hylang
Labels: library/hylang

#14873 Update mongo
  library/mongo
Labels: library/mongo

#14899 [nats-streaming] Release v0.25.5
  library/nats-streaming
Labels: library/nats-streaming

#14897 Update memcached
  library/memcached
Labels: library/memcached

#14898 Update pypy
  library/pypy
Labels: library/pypy

#14875 [percona] update ps-80 version
  library/percona
Labels: library/percona

#14895 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#14900 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14901 Update bash
  library/bash
Labels: library/bash

#14902 Update python
  library/python
Labels: library/python

#14903 Update irssi
  library/irssi
Labels: library/irssi

#14906 Telegraf v1.27.1
  library/telegraf
Labels: library/telegraf

#14907 Update UBI9 pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#14908 Update wordpress
  library/wordpress
Labels: library/wordpress

#14909 Update docker
  library/docker
Labels: library/docker

#14910 Update ghost
  library/ghost
Labels: library/ghost

#14911 Update golang
  library/golang
Labels: library/golang

#14905 Update irssi
  library/irssi
Labels: library/irssi

#14912 Bump Traefik to v3.0.0-beta3
  library/traefik
Labels: library/traefik

#14913 Release Plone 5.2.12, 5.2.11, 5.2.10
  library/plone
Labels: library/plone

#14914 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#14761 Update Matomo
  library/matomo
Labels: library/matomo

#14915 emqx v5.1.0
  library/emqx
Labels: library/emqx

#14863 Update drupal
  library/drupal
Labels: library/drupal

#14922 [oraclelinux] Updating 9 and 9-slim for ELSA-2023-3722
  library/oraclelinux
Labels: library/oraclelinux

#14919 Update redmine
  library/redmine
Labels: library/redmine

#14920 Update mongo
  library/mongo
Labels: library/mongo

#14921 Update openjdk
  library/openjdk
Labels: library/openjdk

#14916 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#14926 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#14928 Update pypy
  library/pypy
Labels: library/pypy

#14929 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#14930 Update ghost
  library/ghost
Labels: library/ghost

#14896 Update gcc
  library/gcc
Labels: library/gcc

#14927 Update php
  library/php
Labels: library/php

#14931 Update photon image
  library/photon
Labels: library/photon

#14933 Update Clear Linux OS to 39450
  library/clearlinux
Labels: library/clearlinux

#14935 [gazebo] retire gazebo 11 bionic image
  library/gazebo
Labels: library/gazebo

#14936 re-release MariaDB
  library/mariadb
Labels: library/mariadb

#14937 Update XWiki to 15.5
  library/xwiki
Labels: library/xwiki

#14939 maven: 3.9.3
  library/maven
Labels: library/maven

#14940 Remove latest tag from official Vault images
  library/vault
Labels: library/vault

#14934 [ros] point buster and foxy to snapshots repository
  library/ros
Labels: library/ros

#14932 archlinux: Release 20230625.0.160368
  library/archlinux
Labels: library/archlinux

#14942 Add ppc64le architecture to Zookeeper
  library/zookeeper
Labels: library/zookeeper

#14943 [ros] retire foxy and buster based images
  library/ros
Labels: library/ros

#14944 Releasing Neo4j 4.4.22
  library/neo4j
Labels: library/neo4j

#14941 library/consul - updating images for consul 1.13.9, 1.14.8, and 1.15.4
  library/consul
Labels: library/consul

#14949 Remove latest tag for official Consul images
  library/consul
Labels: library/consul

#14925 Adding AL2 native rpm images
  library/amazoncorretto
Labels: library/amazoncorretto

#14945 Update busybox
  library/busybox
Labels: library/busybox

#14946 Update hylang
  library/hylang
Labels: library/hylang

#14948 Update bash
  library/bash
Labels: library/bash
