Repository docker-library/official-images, pull requests merged in 2023-05, with the labels that each got.

#14526 security updates for TomEE
  library/tomee
Labels: library/tomee

#14536 Update ghost
  library/ghost
Labels: library/ghost

#14537 Update haproxy
  library/haproxy
Labels: library/haproxy

#14539 Updated swipl devel to 9.1.9
  library/swipl
Labels: library/swipl

#14541 Aerospike 6.3.0.2
  library/aerospike
Labels: library/aerospike

#14543 Odoo: update 14.0-16.0 to release 20230430
  library/odoo
Labels: library/odoo

#14556 [security] Update golang
  library/golang
Labels: library/golang

#14544 haxe 4.3.1
  library/haxe
Labels: library/haxe

#14545 Update rakudo-star to 2023.04
  library/rakudo-star
Labels: library/rakudo-star

#14547 Apache Solr - Apache Solr release 9.2.1
  library/solr
Labels: library/solr

#14548 Update photon image
  library/photon
Labels: library/photon

#14551 Update CrateDB 5.2 to 5.2.7
  library/crate
Labels: library/crate

#14552 Update CrateDB to 5.3.1 (latest)
  library/crate
Labels: library/crate

#14553 Update Dart beta to 3.0.0-417.4.beta
  library/dart
Labels: library/dart

#14554 Update sl container for sl7 to current (build-date=20230502)
  library/sl
Labels: library/sl

#14555 Update Joomla!
  library/joomla
Labels: library/joomla

#14558 Update irssi
  library/irssi
Labels: library/irssi

#14559 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#14560 Update cassandra
  library/cassandra
Labels: library/cassandra

#14562 Update mongo
  library/mongo
Labels: library/mongo

#14563 Update postgres
  library/postgres
Labels: library/postgres

#14564 Update redis
  library/redis
Labels: library/redis

#14565 Update tomcat
  library/tomcat
Labels: library/tomcat

#14566 Update python
  library/python
Labels: library/python

#14567 Update mysql
  library/mysql
Labels: library/mysql

#14568 Update php
  library/php
Labels: library/php

#14569 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14570 Update julia
  library/julia
Labels: library/julia

#14571 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#14572 Update gcc
  library/gcc
Labels: library/gcc

#14557 Update Debian (esp. for 11.7)
  library/debian
Labels: library/debian

#14575 arangodb 3.10.6
  library/arangodb
Labels: library/arangodb

#14573 eclipse-temurin: Update to add arm32 linux
  library/eclipse-temurin
Labels: library/eclipse-temurin

#14576 23.0.0.4 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#14577 Update hello-world
  library/hello-world
Labels: library/hello-world

#14578 Update ghost
  library/ghost
Labels: library/ghost

#14579 Update drupal
  library/drupal
Labels: library/drupal

#14584 Fedora Update 20230504
  library/fedora
Labels: library/fedora

#14587 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#14585 [Friendica] Use flock for the upgrade process
  library/friendica
Labels: library/friendica

#14589 Update openjdk
  library/openjdk
Labels: library/openjdk

#14590 Update bash
  library/bash
Labels: library/bash

#14591 Update tomcat
  library/tomcat
Labels: library/tomcat

#14592 Update cassandra
  library/cassandra
Labels: library/cassandra

#14594 erlang/otp 25.3.2
  library/erlang
Labels: library/erlang

#14595 Update cassandra
  library/cassandra
Labels: library/cassandra

#14596 Update photon image
  library/photon
Labels: library/photon

#14597 archlinux: Release 20230507.0.148551
  library/archlinux
Labels: library/archlinux

#14598 Update Clear Linux OS to 39050
  library/clearlinux
Labels: library/clearlinux

#14603 Groovy 4.0.12
  library/groovy
Labels: library/groovy

#14606 Update xwiki to 14.10.10
  library/xwiki
Labels: library/xwiki

#14599 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14600 Update ghost
  library/ghost
Labels: library/ghost

#14602 Update haproxy
  library/haproxy
Labels: library/haproxy

#14601 Update docker
  library/docker
Labels: library/docker

#14604 Update photon image
  library/photon
Labels: library/photon

#14605 Update gcc
  library/gcc
Labels: library/gcc

#14607 alpine: bump alpine 3.18.0 as latest, drop EOL 3.14
  library/alpine
Labels: library/alpine

#14610 Update wordpress
  library/wordpress
Labels: library/wordpress

#14611 Update tomcat
  library/tomcat
Labels: library/tomcat

#14612 Update moby/buildkit from 0.11.5 to 0.11.6
  .external-pins/moby/buildkit___buildx-stable-1
Labels: external/moby/buildkit

#14609 Update bash
  library/bash
Labels: library/bash

#14616 Update registry to Alpine 3.18, add 2.8.2-beta.2
  library/registry
Labels: library/registry

#14615 Update Jetty images
  library/jetty
Labels: library/jetty

#14614 Update Windows images
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#14613 Update UBI9
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#14617 traefik: remove v1
  library/traefik
Labels: library/traefik

#14618 haxe: add alpine-3.18 remove alpine-3.14
  library/haxe
Labels: library/haxe

#14619 Update dart
  library/dart
Labels: library/dart

#14620 Release of GeoNetwork v3.12.10 and v4.2.4
  library/geonetwork
Labels: library/geonetwork

#14621 alpine:3.15 for arangodb 3.9
  library/arangodb
Labels: library/arangodb

#14622 Update julia
  library/julia
Labels: library/julia

#14623 Update tomcat
  library/tomcat
Labels: library/tomcat

#14624 Updated Unit to 1.30.0.
  library/unit
Labels: library/unit

#14629 Update registry to 2.8.2 (GA)
  library/registry
Labels: library/registry

#14626 Update CrateDB 5.2 to 5.2.8
  library/crate
Labels: library/crate

#14628 Release OrientDB 3.2.19
  library/orientdb
Labels: library/orientdb

#14634 Update httpd
  library/httpd
Labels: library/httpd

#14632 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14635 Update memcached
  library/memcached
Labels: library/memcached

#14636 Update docker
  library/docker
Labels: library/docker

#14638 Update golang
  library/golang
Labels: library/golang

#14639 Update haproxy
  library/haproxy
Labels: library/haproxy

#14640 Update php
  library/php
Labels: library/php

#14633 Update ruby
  library/ruby
Labels: library/ruby

#14637 Update postgres
  library/postgres
Labels: library/postgres

#14625 MariaDB 2023 Q2 release 1
  library/mariadb
Labels: library/mariadb

#14641 Update python
  library/python
Labels: library/python

#14642 Update busybox
  library/busybox
Labels: library/busybox

#14643 Update openjdk
  library/openjdk
Labels: library/openjdk

#14644 Update docker
  library/docker
Labels: library/docker

#14627 Update bonita, add 2023.1
  library/bonita
Labels: library/bonita

#14645 eclipse-mosquitto: Update for alpine 3.18
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#14648 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#14649 Update docker
  library/docker
Labels: library/docker

#14650 Update hylang
  library/hylang
Labels: library/hylang

#14651 Update php
  library/php
Labels: library/php

#14652 Update ghost
  library/ghost
Labels: library/ghost

#14653 Update postgres
  library/postgres
Labels: library/postgres

#14655 archlinux: Release 20230514.0.150299
  library/archlinux
Labels: library/archlinux

#14656 Update Clear Linux OS to 39110
  library/clearlinux
Labels: library/clearlinux

#14658 Update memcached
  library/memcached
Labels: library/memcached

#14659 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#14661 Update redis
  library/redis
Labels: library/redis

#14662 Update julia
  library/julia
Labels: library/julia

#14665 Update ruby
  library/ruby
Labels: library/ruby

#14666 Update docker
  library/docker
Labels: library/docker

#14663 Update photon image
  library/photon
Labels: library/photon

#14668 maven: 3.9.2
  library/maven
Labels: library/maven

#14667 erlang/otp 26.0
  library/erlang
Labels: library/erlang

#14671 Update wordpress
  library/wordpress
Labels: library/wordpress

#14674 Update drupal
  library/drupal
Labels: library/drupal

#14670 Update bash
  library/bash
Labels: library/bash

#14672 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#14673 Update docker
  library/docker
Labels: library/docker

#14675 Aerospike 6.3.0.3
  library/aerospike
Labels: library/aerospike

#14676 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#14677 Odoo: update 14.0-16.0 to release 20230517
  library/odoo
Labels: library/odoo

#14678 Update dart
  library/dart
Labels: library/dart

#14679 Add support for 19.0.2 release
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#14682 Consul 1.13.8, 1.14.7
  library/consul
Labels: library/consul

#14680 Update ghost
  library/ghost
Labels: library/ghost

#14683 caddy: v2.7.0-beta.1 release
  library/caddy
Labels: library/caddy

#14681 Update haproxy
  library/haproxy
Labels: library/haproxy

#14684 [oraclelinux]: Release Oracle Linux 9 Update 2
  library/oraclelinux
Labels: library/oraclelinux

#14686 TommEE version bump 8.0.15
  library/tomee
Labels: library/tomee

#14689 [nats] Release v2.9.17
  library/nats
Labels: library/nats

#14688 Update openjdk
  library/openjdk
Labels: library/openjdk

#14692 Update postgres
  library/postgres
Labels: library/postgres

#14693 Update ghost
  library/ghost
Labels: library/ghost

#14694 Update pins for redhat ubi8
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#14695 [Friendica] 2023.05-rc branch & locking fix
  library/friendica
Labels: library/friendica

#14690 Update clojure
  library/clojure
Labels: library/clojure

#14696 Updated swipl devel to 9.1.10
  library/swipl
Labels: library/swipl

#14697 Update busybox
  library/busybox
Labels: library/busybox

#14698 [oraclelinux] Updating 9 and 9-slim for ELSA-2023-2650
  library/oraclelinux
Labels: library/oraclelinux

#14700 Update ghost
  library/ghost
Labels: library/ghost

#14699 Update docker
  library/docker
Labels: library/docker

#14701 archlinux: Release 20230521.0.152478
  library/archlinux
Labels: library/archlinux

#14702 Update Clear Linux OS to 39150
  library/clearlinux
Labels: library/clearlinux

#14703 Releasing Neo4j 5.8.0
  library/neo4j
Labels: library/neo4j

#14706 bump kong to 3.3.0
  library/kong
Labels: library/kong

#14704 Telegraf v1.26.3
  library/telegraf
Labels: library/telegraf

#14705 Update photon image
  library/photon
Labels: library/photon

#14708 Update tomcat
  library/tomcat
Labels: library/tomcat

#14709 Update wordpress
  library/wordpress
Labels: library/wordpress

#14707 Update Debian (20230522)
  library/debian
Labels: library/debian

#14712 Update python
  library/python
Labels: library/python

#14713 elixir 1.14.5
  library/elixir
Labels: library/elixir

#14717 [Friendica] Release 2023.05
  library/friendica
Labels: library/friendica
