Repository docker-library/official-images, pull requests merged in 2023-01, with the labels that each got.

#13814 Update julia
  library/julia
Labels: library/julia

#13815 Friendica - Fix Imagick
  library/friendica
Labels: library/friendica

#13817 maven: 3.8.7
  library/maven
Labels: library/maven

#13818 archlinux: Release 20230101.0.115167
  library/archlinux
Labels: library/archlinux

#13819 Update Clear Linux OS to 37960
  library/clearlinux
Labels: library/clearlinux

#13821 Add new env vars
  library/eggdrop
Labels: library/eggdrop

#13822 Update ghost
  library/ghost
Labels: library/ghost

#13823 update to CouchDB 3.3.0
  library/couchdb
Labels: library/couchdb

#13824 Update sl container for sl7 to current (build-date=20230103)
  library/sl
Labels: library/sl

#13825 Update busybox
  library/busybox
Labels: library/busybox

#13826 Update pypy
  library/pypy
Labels: library/pypy

#13827 Update drupal
  library/drupal
Labels: library/drupal

#13828 XWiki: fix missing 14.10.2-mysql-tomcat tag
  library/xwiki
Labels: library/xwiki

#13829 Bump to latest git commit for a bug fix
  library/clojure
Labels: library/clojure

#13831 Update haproxy
  library/haproxy
Labels: library/haproxy

#13832 Update drupal
  library/drupal
Labels: library/drupal

#13830 Update golang
  library/golang
Labels: library/golang

#13834 Add back Haskell GHC docs
  library/haskell
Labels: library/haskell

#13835 XWiki 13.10.11 has been released
  library/xwiki
Labels: library/xwiki

#13836 Update to JRuby commit that includes make
  library/jruby
Labels: library/jruby

#13839 Update docker
  library/docker
Labels: library/docker

#13840 Update busybox
  library/busybox
Labels: library/busybox

#13838 [security] Update php
  library/php
Labels: library/php

#13841 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13842 Update ghost
  library/ghost
Labels: library/ghost

#13843 Update python
  library/python
Labels: library/python

#13846 [nats] Release v2.9.11
  library/nats
Labels: library/nats

#13845 Update openjdk
  library/openjdk
Labels: library/openjdk

#13847 Fix MSSQL for Adminer
  library/adminer
Labels: library/adminer

#13848 archlinux: Release 20230108.0.116909
  library/archlinux
Labels: library/archlinux

#13851 Update dart to beta 2.19.0-444.3.beta
  library/dart
Labels: library/dart

#13852 Odoo: update 14.0-16.0 to release 20230109
  library/odoo
Labels: library/odoo

#13854 alpine: bump 3.17.1 (CVE-2022-3996)
  library/alpine
Labels: library/alpine

#13856 Update haproxy
  library/haproxy
Labels: library/haproxy

#13857 Update ghost
  library/ghost
Labels: library/ghost

#13855 Update photon image
  library/photon
Labels: library/photon

#13861 Release OrientDB 3.2.14
  library/orientdb
Labels: library/orientdb

#13866 Update golang
  library/golang
Labels: library/golang

#13863 Update julia
  library/julia
Labels: library/julia

#13864 Update bash
  library/bash
Labels: library/bash

#13865 Update python
  library/python
Labels: library/python

#13867 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#13860 Upgrade XWiki LTS to 14.10.3
  library/xwiki
Labels: library/xwiki

#13862 Update Debian to 20230109
  library/debian
Labels: library/debian

#13868 Bump Rust to 1.66.1
  library/rust
Labels: library/rust

#13869 Update CouchDB to 3.3.1
  library/couchdb
Labels: library/couchdb

#13870 Update Lightstreamer image
  library/lightstreamer
Labels: library/lightstreamer

#13871 Add more platforms for SapMachine image
  library/sapmachine
Labels: library/sapmachine

#13873 Update memcached
  library/memcached
Labels: library/memcached

#13872 Update ghost
  library/ghost
Labels: library/ghost

#13876 emqx 4.4.14, 5.0.14
  library/emqx
Labels: library/emqx

#13877 Update dart
  library/dart
Labels: library/dart

#13878 [nats-streaming] Release v0.25.3
  library/nats-streaming
Labels: library/nats-streaming

#13880 Update golang
  library/golang
Labels: library/golang

#13881 [ros][galactic] use snapshots apt repo before retiring
  library/ros
Labels: library/ros

#13882 Update openjdk
  library/openjdk
Labels: library/openjdk

#13875 Increase UTF_MAX for 1.9.4
  library/eggdrop
Labels: library/eggdrop

#13884 arangodb 3.9.7
  library/arangodb
Labels: library/arangodb

#13886 Update ruby
  library/ruby
Labels: library/ruby

#13887 [ros] retire galactic images
  library/ros
Labels: library/ros

#13885 Update tomcat
  library/tomcat
Labels: library/tomcat

#13889 Update ghost
  library/ghost
Labels: library/ghost

#13890 Update photon image
  library/photon
Labels: library/photon

#13891 archlinux: Release 20230115.0.118859
  library/archlinux
Labels: library/archlinux

#13892 Update Clear Linux OS to 38070
  library/clearlinux
Labels: library/clearlinux

#13893 Friendica - 2023.01 Security Release
  library/friendica
Labels: library/friendica

#13895 Update CrateDB to 5.1.3
  library/crate
Labels: library/crate

#13898 erlang/otp 24.3.4.7
  library/erlang
Labels: library/erlang

#13901 Update bash
  library/bash
Labels: library/bash

#13903 Update redis
  library/redis
Labels: library/redis

#13900 Update ghost
  library/ghost
Labels: library/ghost

#13904 Update mysql
  library/mysql
Labels: library/mysql

#13902 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13905 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#13906 [oraclelinux] Updating 8 and 8-slim for ELSA-2023-0116 ELSA-2023-0110 ELSA-2023-0103 ELSA-2023-0096 ELSA-2023-0100 ELSA-2023-0100 ELSA-2023-0173
  library/oraclelinux
Labels: library/oraclelinux

#13907 Update python
  library/python
Labels: library/python

#13896 Update Matomo
  library/matomo
Labels: library/matomo

#13909 Update httpd
  library/httpd
Labels: library/httpd

#13908 Add `redhat/ubi9` and `redhat/ubi8{,-minimal}` base image exceptions
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8, external/redhat/ubi9

#13894 Update Zookeeper
  library/zookeeper
Labels: library/zookeeper

#13911 Update sapmachine to 19.0.2, 11.0.18
  library/sapmachine
Labels: library/sapmachine

#13912 Update "java" tests to run javac to determine whether a JDK image is probably an actual JDK
  test/tests/run-java-in-container.sh
Labels: library/amazoncorretto

#13913 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#13915 Update sapmachine
  library/sapmachine
Labels: library/sapmachine

#13914 [Swift] Add Swift 5.7.3 release
  library/swift
Labels: library/swift

#13916 Update docker
  library/docker
Labels: library/docker

#13918 Update tomcat
  library/tomcat
Labels: library/tomcat

#13919 Update php
  library/php
Labels: library/php

#13920 Update julia
  library/julia
Labels: library/julia

#13921 Update drupal
  library/drupal
Labels: library/drupal

#13922 Release OrientDB 3.2.15
  library/orientdb
Labels: library/orientdb

#13917 Update openjdk
  library/openjdk
Labels: library/openjdk

#13924 Update ghost
  library/ghost
Labels: library/ghost

#13925 Update haproxy
  library/haproxy
Labels: library/haproxy

#13926 Update docker
  library/docker
Labels: library/docker

#13923 Update php
  library/php
Labels: library/php

#13929 Update photon image
  library/photon
Labels: library/photon

#13930 archlinux: Release 20230122.0.120412
  library/archlinux
Labels: library/archlinux

#13931 Update Clear Linux OS to 38100
  library/clearlinux
Labels: library/clearlinux

#13932 TomEE 8 and 9 version bump, moved 7 to Temurin
  library/tomee
Labels: library/tomee

#13933 emqx 5.0.15
  library/emqx
Labels: library/emqx

#13934 Couchbase Server 6.6.6 Enterprise Edition
  library/couchbase
Labels: library/couchbase

#13936 External pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#13935 Update haproxy
  library/haproxy
Labels: library/haproxy

#13938 erlang/otp 25.2.1
  library/erlang
Labels: library/erlang

#13937 eclipse-temurin: January PSU updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13939 Update dart to 2.19.0
  library/dart
Labels: library/dart

#13928 library/perl: Add Perl 5.37.8
  library/perl
Labels: library/perl

#13940 Update haproxy
  library/haproxy
Labels: library/haproxy

#13941 Update bash
  library/bash
Labels: library/bash

#13943 Apache Solr - Apache Solr release 9.1.1
  library/solr
Labels: library/solr

#13944 eclipse-temurin: second round of January PSU updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#13945 Update mongo
  library/mongo
Labels: library/mongo

#13946 Update ghost
  library/ghost
Labels: library/ghost

#13947 Update redmine
  library/redmine
Labels: library/redmine

#13949 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13948 Bump Rust to 1.67.0
  library/rust
Labels: library/rust

#13951 Releasing Neo4j 5.4.0
  library/neo4j
Labels: library/neo4j

#13952 Updated swipl stable to 9.0.4, latest to 9.1.4.
  library/swipl
Labels: library/swipl

#13955 [oraclelinux] Updating 7,7-slim,8,8-slim,9 and 9-slim for multiple errata
  library/oraclelinux
Labels: library/oraclelinux

#13953 arangodb 3.9.8, 3.10.3
  library/arangodb
Labels: library/arangodb

#13954 Consul 1.14.4, 1.13.6, and 1.12.9
  library/consul
Labels: library/consul

#13959 Update haproxy
  library/haproxy
Labels: library/haproxy

#13957 Update mongo
  library/mongo
Labels: library/mongo

#13958 Update docker
  library/docker
Labels: library/docker

#13956 Update openjdk
  library/openjdk
Labels: library/openjdk

#13961 archlinux: Release 20230129.0.122153
  library/archlinux
Labels: library/archlinux

#13962 Update Clear Linux OS to 38150
  library/clearlinux
Labels: library/clearlinux

#13963 Update Matomo
  library/matomo
Labels: library/matomo

#13960 Update photon image
  library/photon
Labels: library/photon

#13966 Update Monica to v4.0.0
  library/monica
  test/tests/monica-cli-mariadb10/run.sh
  test/tests/monica-cli-mysql8/run.sh
  test/tests/monica-cli/run.sh
Labels: library/monica

#13964 Upgrade stable version to 15.0
  library/xwiki
Labels: library/xwiki

#13973 Update redis
  library/redis
Labels: library/redis

#13974 Update cassandra
  library/cassandra
Labels: library/cassandra

#13975 Update mysql
  library/mysql
Labels: library/mysql

#13976 Update postgres
  library/postgres
Labels: library/postgres

#13979 Update docker
  library/docker
Labels: library/docker

#13980 Update bash
  library/bash
Labels: library/bash

#13981 Update haproxy
  library/haproxy
Labels: library/haproxy

#13982 Update ghost
  library/ghost
Labels: library/ghost

#13984 Update Amazon Linux images
  library/amazonlinux
Labels: library/amazonlinux

#13967 Update Matomo
  library/matomo
Labels: library/matomo
