Repository docker-library/official-images, pull requests merged in 2023-12, with the labels that each got.

#15810 emqx v5.3.2
  library/emqx
Labels: library/emqx

#15807 Update openjdk
  library/openjdk
Labels: library/openjdk

#15812 Update Joomla!
  library/joomla
Labels: library/joomla

#15814 Update postgres
  library/postgres
Labels: library/postgres

#15816 Update ghost
  library/ghost
Labels: library/ghost

#15818 Aerospike 7.0.0.2
  library/aerospike
Labels: library/aerospike

#15819 Update Clear Linux OS to 40430
  library/clearlinux
Labels: library/clearlinux

#15820 [Friendica] Update to PHP 8.1
  library/friendica
Labels: library/friendica

#15821 Release of XWiki 15.5.4
  library/xwiki
Labels: library/xwiki

#15822 Update sl container for sl7 to current (build-date=20231204)
  library/sl
Labels: library/sl

#15823 Update wordpress
  library/wordpress
Labels: library/wordpress

#15825 Update tianon/buildkit:0.12
  .external-pins/tianon/buildkit___0.12
Labels: external/tianon/buildkit

#15826 Update julia
  library/julia
Labels: library/julia

#15827 Update ghost
  library/ghost
Labels: library/ghost

#15829 Update bash
  library/bash
Labels: library/bash

#15824 Update drupal
  library/drupal
Labels: library/drupal

#15830 Update Jetty versions to 12.0.4
  library/jetty
Labels: library/jetty

#15831 Update python
  library/python
Labels: library/python

#15837 Update cassandra
  library/cassandra
Labels: library/cassandra

#15832 arangodb 3.11.6
  library/arangodb
Labels: library/arangodb

#15833 Update xwiki LTS to 14.10.20
  library/xwiki
Labels: library/xwiki

#15834 Update CrateDB to 5.4.6 and 5.5.1
  library/crate
Labels: library/crate

#15835 Update clojure tools-deps variants to 1.11.1.1429
  library/clojure
Labels: library/clojure

#15838 Update busybox
  library/busybox
Labels: library/busybox

#15839 Update bash
  library/bash
Labels: library/bash

#15841 [security] Update golang
  library/golang
Labels: library/golang

#15843 Update couchdb 3.3.3, 3.3, 3 and latest
  library/couchdb
Labels: library/couchdb

#15842 Update haproxy
  library/haproxy
Labels: library/haproxy

#15845 [oraclelinux]: Release Oracle Linux 8 Update 9
  library/oraclelinux
Labels: library/oraclelinux

#15844 New Docker image for Silverpeas 6.3.3
  library/silverpeas
Labels: library/silverpeas

#15847 Bump Traefik to v2.10.7
  library/traefik
Labels: library/traefik

#15848 Update dart to 3.2.3
  library/dart
Labels: library/dart

#15853 Bump Rust to 1.74.1
  library/rust
Labels: library/rust

#15858 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#15854 Update haproxy
  library/haproxy
Labels: library/haproxy

#15855 Update mongo
  library/mongo
Labels: library/mongo

#15856 Update wordpress
  library/wordpress
Labels: library/wordpress

#15852 alpine: add 3.19.0, remove EOL 3.15
  library/alpine
Labels: library/alpine

#15862 Odoo: update 15.0-17.0 to release 20231208
  library/odoo
Labels: library/odoo

#15864 Update php
  library/php
Labels: library/php

#15865 Update bash
  library/bash
Labels: library/bash

#15860 caddy: v2.7.6 release
  library/caddy
Labels: library/caddy

#15866 Update python
  library/python
Labels: library/python

#15869 Update postgres
  library/postgres
Labels: library/postgres

#15809 [ros] one-off rebuild of snapshot images to have new GPG key
  library/ros
Labels: library/ros

#15870 Update openjdk
  library/openjdk
Labels: library/openjdk

#15873 haxe: add alpine3.19, remove alpine3.15
  library/haxe
Labels: library/haxe

#15872 Update golang
  library/golang
Labels: library/golang

#15861 [varnish] drop alpine tag
  library/varnish
Labels: library/varnish

#15874 Aerospike 7.0.0.3
  library/aerospike
Labels: library/aerospike

#15877 Update Clear Linux OS to 40450
  library/clearlinux
Labels: library/clearlinux

#15878 Remove Kong 3.0 due to its EOL
  library/kong
Labels: library/kong

#15879 maven: 3.9.6
  library/maven
Labels: library/maven

#15871 [ros] retire EOL images builds
  library/ros
Labels: library/ros

#15882 Telegraf v1.29.0
  library/telegraf
Labels: library/telegraf

#15883 [Swift] Add support for Swift 5.9.2
  library/swift
Labels: library/swift

#15808 Update ELK to "proper" images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#15893 Update rethinkdb to 2.4.3
  library/rethinkdb
Labels: library/rethinkdb

#15884 Update memcached
  library/memcached
Labels: library/memcached

#15885 Update ruby
  library/ruby
Labels: library/ruby

#15886 Update httpd
  library/httpd
Labels: library/httpd

#15887 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15888 Update haproxy
  library/haproxy
Labels: library/haproxy

#15889 Update julia
  library/julia
Labels: library/julia

#15890 Update openjdk
  library/openjdk
Labels: library/openjdk

#15892 Update postgres
  library/postgres
Labels: library/postgres

#15895 Update bash
  library/bash
Labels: library/bash

#15896 Update tomcat
  library/tomcat
Labels: library/tomcat

#15897 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15898 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#15899 Update docker
  library/docker
Labels: library/docker

#15901 Update XWiki stable version to 15.10.1
  library/xwiki
Labels: library/xwiki

#15902 Updates for WebSphere and Open Liberty 23.0.0.12 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#15903 Telegraf v1.29.1
  library/telegraf
Labels: library/telegraf

#15900 Update hylang
  library/hylang
  test/tests/hylang-sh/container.hy
  test/tests/python-hy/container.cmd
  test/tests/python-hy/container.sh
Labels: library/hylang

#15904 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15905 Update haproxy
  library/haproxy
Labels: library/haproxy

#15906 Update rethinkdb to 2.4.4
  library/rethinkdb
Labels: library/rethinkdb

#15907 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#15894 Update ELK to 8.11.3, 7.17.16, backfill missed 8.11.2
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#15909 erlang/otp 26.2
  library/erlang
Labels: library/erlang

#15910 releasing Neo4j 4.3.24
  library/neo4j
Labels: library/neo4j

#15911 Update postgres
  library/postgres
Labels: library/postgres

#15912 Update lightstreamer image
  library/lightstreamer
Labels: library/lightstreamer

#15908 Update mysql
  library/mysql
Labels: library/mysql

#15913 Update docker
  library/docker
Labels: library/docker

#15914 [oraclelinux] Updating 7, 7-slim, 7-slim-fips, 9, 9-slim for ELSA-2023-7743, ELSA-2023-7747
  library/oraclelinux
Labels: library/oraclelinux

#15917 Odoo: update 15.0-17.0 to release 20231215
  library/odoo
Labels: library/odoo

#15921 Update docker
  library/docker
Labels: library/docker

#15919 Releasing Neo4j 5.15.0
  library/neo4j
Labels: library/neo4j

#15922 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#15915 Update drupal
  library/drupal
Labels: library/drupal

#15916 Update ghost
  library/ghost
Labels: library/ghost

#15920 Update haproxy
  library/haproxy
Labels: library/haproxy

#15923 Update php
  library/php
Labels: library/php

#15924 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15925 Update mysql
  library/mysql
Labels: library/mysql

#15926 Update openjdk
  library/openjdk
Labels: library/openjdk

#15928 Update Clear Linux OS to 40480
  library/clearlinux
Labels: library/clearlinux

#15927 Update photon image
  library/photon
Labels: library/photon

#15931 feat: maven 3.8.8
  library/maven
Labels: library/maven

#15933 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15934 Update julia
  library/julia
Labels: library/julia

#15935 Update mysql
  library/mysql
Labels: library/mysql

#15932 Update Debian
  library/debian
Labels: library/debian

#15938 add a new registry pre-release
  library/registry
Labels: library/registry

#15939 Update bash
  library/bash
Labels: library/bash

#15940 Update haproxy
  library/haproxy
Labels: library/haproxy

#15941 Update redmine
  library/redmine
Labels: library/redmine

#15942 Update php
  library/php
Labels: library/php

#15937 alpine: edge snapshot 20231219
  library/alpine
Labels: library/alpine

#15944 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#15947 Update mongo
  library/mongo
Labels: library/mongo

#15948 Update busybox
  library/busybox
Labels: library/busybox

#15945 Update golang
  library/golang
Labels: library/golang

#15949 [oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2023-7877
  library/oraclelinux
Labels: library/oraclelinux

#15950 Update Matomo
  library/matomo
Labels: library/matomo

#15936 [ros][gazebo] remove apt-key use in favor of recommended gpg usage
  library/gazebo
  library/ros
Labels: library/ros, library/gazebo

#15951 Update Jetty versions to 10.0.19, 11.0.19 & 12.0.5
  library/jetty
Labels: library/jetty

#15952 Releasing Neo4j 4.4.29
  library/neo4j
Labels: library/neo4j

#15953 Update mongo
  library/mongo
Labels: library/mongo

#15954 Update haproxy
  library/haproxy
Labels: library/haproxy

#15955 Update dart
  library/dart
Labels: library/dart

#15943 Update docker
  library/docker
Labels: library/docker

#15956 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#15958 Update redmine
  library/redmine
Labels: library/redmine

#15957 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15960 arangodb 3.10.12
  library/arangodb
Labels: library/arangodb

#15961 maven: eclipse-temurin-21-jammy
  library/maven
Labels: library/maven

#15962 Update CrateDB to 5.2.11, 5.3.8, 5.4.7 and 5.5.2
  library/crate
Labels: library/crate

#15963 Odoo: update 15.0-17.0 to release 20231222
  library/odoo
Labels: library/odoo

#15964 Update SATOSA to v8.4.0
  library/satosa
Labels: library/satosa

#15965 Update photon image
  library/photon
Labels: library/photon

#15966 Update Mediawiki to version 1.41
  library/mediawiki
Labels: library/mediawiki

#15967 elixir 1.16.0
  library/elixir
Labels: library/elixir

#15968 Update Clear Linux OS to 40540
  library/clearlinux
Labels: library/clearlinux

#15969 erlang/otp 26.2.1
  library/erlang
Labels: library/erlang

#15970 [Friendica] Release 2023.12
  library/friendica
Labels: library/friendica

#15971 Update XWiki LTS to 15.10.2
  library/xwiki
Labels: library/xwiki

#15959 Update ruby
  library/ruby
Labels: library/ruby

#15972 Update openjdk
  library/openjdk
Labels: library/openjdk

#15973 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#15974 Update php
  library/php
Labels: library/php

#15975 Update pypy
  library/pypy
Labels: library/pypy

#15976 Update bash
  library/bash
Labels: library/bash

#15977 Update julia
  library/julia
Labels: library/julia

#15978 Bump rust to 1.75.0
  library/rust
Labels: library/rust

#15979 Update XWiki LTS to 15.10.3
  library/xwiki
Labels: library/xwiki
