Repository docker-library/official-images, pull requests merged in 2024-05, with the labels that each got.

#16703 Update sl container for sl7 to current (build-date=20240501)
  library/sl
Labels: library/sl

#16701 Aerospike 7.0.0.8
  library/aerospike
Labels: library/aerospike

#16705 caddy: v2.8.0-beta.1 release
  library/caddy
Labels: library/caddy

#16711 Update ELK Images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#16713 Update rakudo-star to 2024.04
  library/rakudo-star
Labels: library/rakudo-star

#16707 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#16706 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#16709 Update drupal
  library/drupal
Labels: library/drupal

#16716 Update mongo
  library/mongo
Labels: library/mongo

#16708 Update mysql
  library/mysql
Labels: library/mysql

#16720 Bump nginx to fix builds on arm32v5
  library/nginx
Labels: library/nginx

#16721 erlang/otp 26.2.5, 25.3.2.12
  library/erlang
Labels: library/erlang

#16722 Update Clear Linux OS to 41660
  library/clearlinux
Labels: library/clearlinux

#16723 Update CrateDB to 5.6.5 and 5.7.1
  library/crate
Labels: library/crate

#16717 arangodb 3.12.0.2
  library/arangodb
Labels: library/arangodb

#16719 Update ALT Linux - 20240503
  library/alt
Labels: library/alt

#16724 Apache Solr - Remove 9.4 from list of supported versions (apache/solr-docker#21)
  library/solr
Labels: library/solr

#16725 release 2.7.6
  library/composer
Labels: library/composer

#16726 Update openjdk
  library/openjdk
Labels: library/openjdk

#16727 Update wordpress
  library/wordpress
Labels: library/wordpress

#16728 Update haproxy
  library/haproxy
Labels: library/haproxy

#16729 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#16736 [security] Update golang 1.22.3 and 1.21.10
  library/golang
Labels: library/golang

#16710 Update ELK Images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#16733 Update dart
  library/dart
Labels: library/dart

#16734 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#16735 Update bash
  library/bash
Labels: library/bash

#16737 Update tomcat
  library/tomcat
Labels: library/tomcat

#16718 Update Monica to v4.1.2
  library/monica
Labels: library/monica

#16741 caddy: v2.8.0-beta.2 release
  library/caddy
Labels: library/caddy

#16739 Update wordpress
  library/wordpress
Labels: library/wordpress

#16740 Update busybox
  library/busybox
Labels: library/busybox

#16742 Update tomcat
  library/tomcat
Labels: library/tomcat

#16744 Update python
  library/python
Labels: library/python

#16745 Update gcc
  library/gcc
Labels: library/gcc

#16743 Update mageia
  library/mageia
Labels: library/mageia

#16746 Bump IBM Java version to 8.0.8.25
  library/ibmjava
Labels: library/ibmjava

#16747 Update ELK Images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#16752 [security] Update postgres
  library/postgres
Labels: library/postgres

#16749 [oraclelinux] Updating 8, 8-slim,8-slim-fips,9, 9-slim and 9-slim-fips for OL9.4 GA, ELSA-2024-2679 ELSA-2024-2570 ELSA-2024-2722
  library/oraclelinux
Labels: library/oraclelinux

#16750 Update docker
  library/docker
Labels: library/docker

#16751 Update openjdk
  library/openjdk
Labels: library/openjdk

#16753 Update mysql
  library/mysql
Labels: library/mysql

#16755 Update Jetty version to 12.0.9
  library/jetty
Labels: library/jetty

#16757 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#16758 Aerospike 7.0.0.9
  library/aerospike
Labels: library/aerospike

#16756 Update php
  library/php
Labels: library/php

#16759 Update haproxy
  library/haproxy
Labels: library/haproxy

#16760 Update Clear Linux OS to 41680
  library/clearlinux
Labels: library/clearlinux

#16762 Upgrade XWiki stable version to 16.3.1
  library/xwiki
Labels: library/xwiki

#16763 Odoo: update 15.0-17.0 to release 20240513
  library/odoo
Labels: library/odoo

#16765 Update tomcat
  library/tomcat
Labels: library/tomcat

#16761 Update photon image
  library/photon
Labels: library/photon

#16766 Update Debian
  library/debian
Labels: library/debian

#16767 Updated swipl devel to 9.3.6
  library/swipl
Labels: library/swipl

#16768 releasing neo4j 4.4.34
  library/neo4j
Labels: library/neo4j

#16769 Update dart
  library/dart
Labels: library/dart

#16764 New SapMachine images and tags
  library/sapmachine
Labels: library/sapmachine

#16770 Update bash
  library/bash
Labels: library/bash

#16771 Update mongo
  library/mongo
Labels: library/mongo

#16772 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#16773 Add Storm image based on JRE 17
  library/storm
Labels: library/storm

#16774 Add missing SapMachine JRE images
  library/sapmachine
Labels: library/sapmachine

#16775 Aerospike 7.1.0.0
  library/aerospike
Labels: library/aerospike

#16779 Update ruby
  library/ruby
Labels: library/ruby

#16780 Release OrientDB 3.2.29
  library/orientdb
Labels: library/orientdb

#16781 XWiki 15.10.9 has been released
  library/xwiki
Labels: library/xwiki

#16782 Update ghost
  library/ghost
Labels: library/ghost

#16783 Update openjdk
  library/openjdk
Labels: library/openjdk

#16784 Update redis
  library/redis
Labels: library/redis

#16785 Update Clear Linux OS to 41730
  library/clearlinux
Labels: library/clearlinux

#16786 Update photon image
  library/photon
Labels: library/photon

#16787 Update haproxy
  library/haproxy
Labels: library/haproxy

#16788 Update redis
  library/redis
Labels: library/redis

#16789 Update cassandra
  library/cassandra
Labels: library/cassandra

#16790 Update hylang
  library/hylang
Labels: library/hylang

#16792 Telegraf v1.30.3
  library/telegraf
Labels: library/telegraf

#16793 Bump Traefik to v2.11.3
  library/traefik
Labels: library/traefik

#16794 Update bash
  library/bash
Labels: library/bash

#16796 Update gcc
  library/gcc
Labels: library/gcc

#16797 [nats] Release v2.10.16
  library/nats
Labels: library/nats

#16798 caddy: v2.8.0-rc.1 release
  library/caddy
Labels: library/caddy

#16550 Add lts-and-current images to allow Gradle to use Java 22
  library/gradle
Labels: library/gradle

#16799 erlang/otp 27.0
  library/erlang
Labels: library/erlang

#16802 Odoo: update 15.0-17.0 to release 20240522
  library/odoo
Labels: library/odoo

#16803 Updated swipl stable to 9.2.5
  library/swipl
Labels: library/swipl

#16804 Bump Traefik to v3.0.1
  library/traefik
Labels: library/traefik

#16805 [nats] Release v2.10.16 - fix image
  library/nats
Labels: library/nats

#16807 Update memcached
  library/memcached
Labels: library/memcached

#16808 Update golang
  library/golang
Labels: library/golang

#16809 Update php
  library/php
Labels: library/php

#16810 Update python
  library/python
Labels: library/python

#16811 Update docker
  library/docker
Labels: library/docker

#16812 Update bash
  library/bash
Labels: library/bash

#16814 Update ruby
  library/ruby
Labels: library/ruby

#16815 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#16813 Update postgres
  library/postgres
Labels: library/postgres

#16816 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#16800 Update liquibase to 4.28.0
  library/liquibase
Labels: library/liquibase

#16824 Releasing Neo4j 5.20.0
  library/neo4j
Labels: library/neo4j

#16821 MariaDB 2024 Q2 part 1 release
  library/mariadb
Labels: library/mariadb

#16823 Updates for WebSphere and Open Liberty 24.0.0.5
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#16825 [ROS] Jazzy LTS officially released
  library/ros
Labels: library/ros

#16826 Update dart
  library/dart
Labels: library/dart

#16827 feat(Rust): Add Alpine 3.20 variant
  library/rust
Labels: library/rust

#16818 Update irssi
  library/irssi
Labels: library/irssi

#16820 Update haproxy
  library/haproxy
Labels: library/haproxy

#16817 Update redis
  library/redis
Labels: library/redis

#16828 Update spiped:alpine to alpine:3.20
  library/spiped
Labels: library/spiped

#16819 Update julia
  library/julia
Labels: library/julia

#16833 [ros] Rolling 0.10.0-3 -> 0.11.0-1
  library/ros
Labels: library/ros

#16831 Update haproxy
  library/haproxy
Labels: library/haproxy

#16842 Update Clear Linux OS to 41760
  library/clearlinux
Labels: library/clearlinux

#16843 Update photon image
  library/photon
Labels: library/photon

#16844 arangodb 3.11.9
  library/arangodb
Labels: library/arangodb

#16845 Release OrientDB 3.2.30
  library/orientdb
Labels: library/orientdb

#16846 New XWiki LTS version
  library/xwiki
Labels: library/xwiki

#16847 maven: 3.9.7
  library/maven
Labels: library/maven

#16849 New Docker image for Silverpeas 6.3.5
  library/silverpeas
Labels: library/silverpeas

#16853 Update clojure lein variants to fix repl
  library/clojure
Labels: library/clojure

#16850 emqx 5.7.0
  library/emqx
Labels: library/emqx

#16856 Update from `tianon/buildkit:0.12` to `0.13`
  .external-pins/tianon/buildkit___0.12
  .external-pins/tianon/buildkit___0.13
Labels: external/tianon/buildkit

#16855 Update Joomla!
  library/joomla
Labels: library/joomla

#16834 Update drupal
  library/drupal
Labels: library/drupal

#16835 Update wordpress
  library/wordpress
Labels: library/wordpress

#16836 Update php
  library/php
Labels: library/php

#16864 Apache Solr - Apache Solr release 9.6.1
  library/solr
Labels: library/solr

#16865 maven: sapmachine-22
  library/maven
Labels: library/maven

#16837 Update mongo
  library/mongo
Labels: library/mongo

#16860 Update ruby
  library/ruby
Labels: library/ruby

#16861 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi8-minimal, external/redhat/ubi8, external/redhat/ubi9

#16862 Update julia
  library/julia
Labels: library/julia

#16866 caddy: v2.8.0 release
  library/caddy
Labels: library/caddy

#16838 Update openjdk
  library/openjdk
Labels: library/openjdk

#16863 Update haproxy
  library/haproxy
Labels: library/haproxy

#16867 Update redmine
  library/redmine
Labels: library/redmine

#16868 Updated nginx versions to 1.26.1 and 1.27.0
  library/nginx
Labels: library/nginx

#16870 Upgrade XWiki stable version to 16.4.0
  library/xwiki
Labels: library/xwiki

#16873 caddy: v2.8.1 release
  library/caddy
Labels: library/caddy

#16874 Update Traefik to bump Alpine images to v3.20
  library/traefik
Labels: library/traefik

#16877 Apache Solr - Upgrade stackbrew, fix gitCommit, remove 32bit images (apache/solr-docker#23)
  library/solr
Labels: library/solr

#16878 Update ruby
  library/ruby
Labels: library/ruby

#16879 Update mongo
  library/mongo
Labels: library/mongo

#16880 Update wordpress
  library/wordpress
Labels: library/wordpress

#16872 MariaDB-11.4.2 LTS/ 11.5.1 RC release + UBI
  library/mariadb
Labels: library/mariadb

#16882 Update httpd
  library/httpd
Labels: library/httpd

#16881 Update tianon/buildkit:0.13
  .external-pins/tianon/buildkit___0.13
Labels: external/tianon/buildkit

#16883 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#16884 Aerospike 7.1.0.0
  library/aerospike
Labels: library/aerospike

#16848 Odoo: Create tag for release numbers
  library/odoo
Labels: library/odoo
