Repository docker-library/official-images, pull requests merged in 2024-12, with the labels that each got.

#17987 [gazebo] 11.14.0 -> 11.15.0
  library/gazebo
Labels: library/gazebo

#17988 Update CrateDB to 5.9.4
  library/crate
Labels: library/crate

#17989 Update XWiki stable version to 16.10.0
  library/xwiki
Labels: library/xwiki

#17992 archlinux: Release 20241201.0.284684
  library/archlinux
Labels: library/archlinux

#17993 Update Clear Linux OS to 42710
  library/clearlinux
Labels: library/clearlinux

#17996 Apache Storm 2.7.1
  library/storm
Labels: library/storm

#17998 Updated swipl devel to 9.3.16
  library/swipl
Labels: library/swipl

#18000 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#17994 Update photon image
  library/photon
Labels: library/photon

#17999 Release SonarQube 9.9.8, SonarQube Server 10.8, and SonarQube Community Build 24.12
  library/sonarqube
Labels: library/sonarqube

#18003 chore: release InfluxDB 2.7.11
  library/influxdb
Labels: library/influxdb

#18001 Update ghost
  library/ghost
Labels: library/ghost

#18002 Update UBI pins
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi8, external/redhat/ubi9

#18005 nginx: added riscv64 to Alpine images
  library/nginx
Labels: library/nginx

#18004 Update Debian
  library/debian
Labels: library/debian

#18008 Update ELK Images for 7.17.26
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#17997 Add Fluentd v1.18.0
  library/fluentd
Labels: library/fluentd

#18011 Update bash
  library/bash
Labels: library/bash

#18010 Update golang
  library/golang
Labels: library/golang

#18012 Update ghost
  library/ghost
Labels: library/ghost

#18014 Update docker
  library/docker
Labels: library/docker

#18017 Update python
  library/python
Labels: library/python

#18018 Update drupal
  library/drupal
Labels: library/drupal

#18016 Update Jetty images to 12.0.15 & add support for al2023 based images
  library/jetty
Labels: library/jetty

#18019 Update docker
  library/docker
Labels: library/docker

#18020 Update mongo
  library/mongo
Labels: library/mongo

#18022 Upgrade to XWiki 15.10.15
  library/xwiki
Labels: library/xwiki

#18024 Alpine 3.21.0
  library/alpine
Labels: library/alpine

#18025 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18028 chore: Update Rust Alpine versions
  library/rust
Labels: library/rust

#18031 [oraclelinux] Updating 8 for ELSA-2024-10779
  library/oraclelinux
Labels: library/oraclelinux

#18029 Update memcached
  library/memcached
Labels: library/memcached

#18030 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18026 Update amazoncorretto maintainers
  library/amazoncorretto
Labels: library/amazoncorretto

#18027 Update amazoncorretto maintainers
  library/amazoncorretto
Labels: library/amazoncorretto

#18032 Update ruby
  library/ruby
Labels: library/ruby

#18033 Update golang
  library/golang
Labels: library/golang

#18034 emqx 5.8.3
  library/emqx
Labels: library/emqx

#18037 maven: force rebuild to pick new corretto key
  library/maven
Labels: library/maven

#18038 archlinux: Release 20241208.0.286830
  library/archlinux
Labels: library/archlinux

#18039 Update Clear Linux OS to 42760
  library/clearlinux
Labels: library/clearlinux

#18041 Bump IBM Java version to 8.0.8.35
  library/ibmjava
Labels: library/ibmjava

#18042 Odoo: update 16.0-18.0 to release 20241209
  library/odoo
Labels: library/odoo

#18043 Release Neo4j 5.26.0
  library/neo4j
Labels: library/neo4j

#18044 [gazebo] 11.15.0 -> 11.15.1
  library/gazebo
Labels: library/gazebo

#18035 Update docker
  library/docker
Labels: library/docker

#18046 Update php
  library/php
Labels: library/php

#18047 Update memcached
  library/memcached
Labels: library/memcached

#18048 Update python
  library/python
Labels: library/python

#18050 Update postgres
  library/postgres
Labels: library/postgres

#18051 Update openjdk
  library/openjdk
Labels: library/openjdk

#18052 Update ghost
  library/ghost
Labels: library/ghost

#18053 Update tomcat
  library/tomcat
Labels: library/tomcat

#18054 Telegraf v1.33.0
  library/telegraf
Labels: library/telegraf

#18055 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#18057 Update XWiki stable version to 16.10.1
  library/xwiki
Labels: library/xwiki

#18058 Bump Traefik to v2.11.15 and v3.2.2
  library/traefik
Labels: library/traefik

#18040 Update photon image
  library/photon
Labels: library/photon

#18061 [nats] Release v2.10.23
  library/nats
Labels: library/nats

#18059 Update busybox
  library/busybox
Labels: library/busybox

#18065 Update scout SBOM indexer to 1.15.1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#18064 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
Labels: external/redhat/ubi9-minimal

#18063 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#18066 "[oraclelinux] Updating 7, 7-slim and 7-slim-fips for ELSA-2024-8788"
  library/oraclelinux
Labels: library/oraclelinux

#18067 Add Couchbase Server EE 7.6.4
  library/couchbase
Labels: library/couchbase

#18069 Update dart
  library/dart
Labels: library/dart

#18075 Update httpd
  library/httpd
Labels: library/httpd

#18072 Update ghost
  library/ghost
Labels: library/ghost

#18070 Update mongo
  library/mongo
Labels: library/mongo

#18073 Update haproxy
  library/haproxy
Labels: library/haproxy

#18071 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18076 Update php
  library/php
Labels: library/php

#18079 New Docker image for Silverpeas 6.4.2
  library/silverpeas
Labels: library/silverpeas

#18077 [Swift] Update the Swift release to 6.0.3
  library/swift
Labels: library/swift

#18083 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18036 Update ruby
  library/ruby
Labels: library/ruby

#18082 Update haproxy
  library/haproxy
Labels: library/haproxy

#18084 Update ghost
  library/ghost
Labels: library/ghost

#18085 Update Matomo
  library/matomo
Labels: library/matomo

#18086 "[oraclelinux] Updating 9 for ELSA-2024-10983"
  library/oraclelinux
Labels: library/oraclelinux

#18074 Update bash
  library/bash
Labels: library/bash

#18087 Update irssi
  library/irssi
Labels: library/irssi

#18088 Update julia
  library/julia
Labels: library/julia

#18089 Update haproxy
  library/haproxy
Labels: library/haproxy

#18091 Update CrateDB to 5.9.5
  library/crate
Labels: library/crate

#18092 [Friendica] update to latest memcached version
  library/friendica
Labels: library/friendica

#18094 Update amazoncorretto maintainers
  library/amazoncorretto
Labels: library/amazoncorretto

#18093 Raise Alpine base version to 3.18 for existing releases
  library/arangodb
Labels: library/arangodb

#18095 Update the API Firewall to v0.8.5
  library/api-firewall
Labels: library/api-firewall

#18096 Update openjdk
  library/openjdk
Labels: library/openjdk

#18097 Alpine 3.17 EOL
  library/amazoncorretto
Labels: library/amazoncorretto

#18098 Update docker
  library/docker
Labels: library/docker

#18099 Update ghost
  library/ghost
Labels: library/ghost

#18100 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18102 Update drupal
  library/drupal
Labels: library/drupal

#18103 Update UBI pins
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8

#18110 Bump Traefik to v3.3.0-rc1, v3.2.3 and v2.11.16
  library/traefik
Labels: library/traefik

#18106 Update Joomla!
  library/joomla
Labels: library/joomla

#18107 archlinux: Release 20241215.0.289170
  library/archlinux
Labels: library/archlinux

#18108 Update Clear Linux OS to 42780
  library/clearlinux
Labels: library/clearlinux

#18111 Update ALT Linux - 20241216
  library/alt
Labels: library/alt

#18101 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#18104 Update redmine
  library/redmine
Labels: library/redmine

#18114 Update ELK Images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18116 Release SonarQube Server 10.8.1
  library/sonarqube
Labels: library/sonarqube

#18118 Update xwiki 16.4.x to 16.4.6
  library/xwiki
Labels: library/xwiki

#18119 Update ELK Images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18120 Bump rakudo-star to 2024.12
  library/rakudo-star
Labels: library/rakudo-star

#18121 [nats] Update to 2.10.24
  library/nats
Labels: library/nats

#18129 Update python
  library/python
Labels: library/python

#18128 Update docker
  library/docker
Labels: library/docker

#18130 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi8-minimal, external/redhat/ubi8, external/redhat/ubi9

#18137 Registry v3.rc-2 release
  library/registry
Labels: library/registry

#18126 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18127 Update bash
  library/bash
Labels: library/bash

#18132 Releasing Neo4j 4.4.40
  library/neo4j
Labels: library/neo4j

#18134 Update Tomcat version for Semeru Releases
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#18136 Updated swipl devel to 9.3.17
  library/swipl
Labels: library/swipl

#18124 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18023 Update percona library with fix for build failures and update latest tags
  library/percona
Labels: library/percona

#18141 Update php
  library/php
Labels: library/php

#18144 Updated swipl stable to 9.2.9
  library/swipl
Labels: library/swipl

#18145 Bump Traefik to v3.3.0-rc2
  library/traefik
Labels: library/traefik

#18146 Update the API Firewall to v0.8.6
  library/api-firewall
Labels: library/api-firewall

#18147 Odoo: update 16.0-18.0 to release 20241220
  library/odoo
Labels: library/odoo

#18148 "[oraclelinux] Updating 9 for ELSA-2024-11250"
  library/oraclelinux
Labels: library/oraclelinux

#18149 Gradle 8.12
  library/gradle
Labels: library/gradle

#18131 Update drupal
  library/drupal
Labels: library/drupal

#18117 bump kong to 3.9.0, delete EOL'd 3.5.0
  library/kong
Labels: library/kong

#18150 Update mongo
  library/mongo
Labels: library/mongo

#18152 MediaWiki 1.42.4 / 1.41.5 / 1.39.11 security releases
  library/mediawiki
Labels: library/mediawiki

#18153 Update Matomo
  library/matomo
Labels: library/matomo

#18154 Update PostfixAdmin
  library/postfixadmin
Labels: library/postfixadmin

#18155 archlinux: Release 20241222.0.291122
  library/archlinux
Labels: library/archlinux

#18158 Update photon image
  library/photon
Labels: library/photon

#18157 Update Clear Linux OS to 42790
  library/clearlinux
Labels: library/clearlinux

#18161 Update memcached
  library/memcached
Labels: library/memcached

#18162 Update docker
  library/docker
Labels: library/docker

#18156 Update spark 3.5 from 3.5.3 to 3.5.4
  library/spark
Labels: library/spark

#17984 Rocket.Chat: feat: Rocket.Chat 7.0.3
  library/rocket.chat
Labels: library/rocket.chat

#18160 Update Debian
  library/debian
Labels: library/debian

#18163 Update ruby
  library/ruby
Labels: library/ruby

#18164 elixir v1.18.0
  library/elixir
Labels: library/elixir

#18166 XWiki LTS release
  library/xwiki
Labels: library/xwiki

#18167 Update haproxy
  library/haproxy
Labels: library/haproxy
