Repository docker-library/official-images, pull requests merged in 2024-11, with the labels that each got.

#17831 Update R to version 4.4.2 released yesterday
  library/r-base
Labels: library/r-base

#17832 Aerospike 7.2.0.3
  library/aerospike
Labels: library/aerospike

#17830 erlang/otp 27.1.2
  library/erlang
Labels: library/erlang

#17834 archlinux: Release 20241103.0.276161
  library/archlinux
Labels: library/archlinux

#17835 Update Tomcat version for Semeru containers.
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#17836 Official Convertigo 8.3.2 release!
  library/convertigo
Labels: library/convertigo

#17837 Update redmine
  library/redmine
Labels: library/redmine

#17829 Update docker
  library/docker
Labels: library/docker

#17838 Update openjdk
  library/openjdk
Labels: library/openjdk

#17839 Update haproxy
  library/haproxy
Labels: library/haproxy

#17840 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17841 Update ghost
  library/ghost
Labels: library/ghost

#17823 Update tianon/buildkit:0.13
  .external-pins/tianon/buildkit___0.13
Labels: external/tianon/buildkit

#17842 Update JRuby 9.4 to 9.4.9.0
  library/jruby
Labels: library/jruby

#17843 Update bash
  library/bash
Labels: library/bash

#17844 Update ruby
  library/ruby
Labels: library/ruby

#17845 Update docker
  library/docker
Labels: library/docker

#17847 Update wordpress
  library/wordpress
Labels: library/wordpress

#17846 arangodb 3.11.12
  library/arangodb
Labels: library/arangodb

#17848 caddy: v2.9.0-beta.3 release
  library/caddy
Labels: library/caddy

#17851 Updates for the release of WebSphere and Open Liberty 24.0.0.11
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#17852 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
Labels: external/redhat/ubi8-minimal

#17853 Update golang
  library/golang
Labels: library/golang

#17854 Fixing github handle
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#17859 Add latest amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#17860 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2024-8922 ELSA-2024-8860 ELBA-2024-8805"
  library/oraclelinux
Labels: library/oraclelinux

#17856 Update ghost
  library/ghost
Labels: library/ghost

#17857 Update drupal
  library/drupal
Labels: library/drupal

#17858 Update UBI pins
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8

#17861 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#17862 Registry v3.rc-1 release
  library/registry
Labels: library/registry

#17864 Update Joomla!
  library/joomla
Labels: library/joomla

#15846 Initial commitment of clickhouse official image
  library/clickhouse
Labels: new-image, library/clickhouse

#17865 Update docker
  library/docker
Labels: library/docker

#17866 Update haproxy
  library/haproxy
Labels: library/haproxy

#17867 Update openjdk
  library/openjdk
Labels: library/openjdk

#17868 Update wordpress
  library/wordpress
Labels: library/wordpress

#17869 Update ghost
  library/ghost
Labels: library/ghost

#17870 Update php
  library/php
Labels: library/php

#17871 Groovy 4.0.24
  library/groovy
Labels: library/groovy

#17872 archlinux: Release 20241110.0.278197
  library/archlinux
Labels: library/archlinux

#17874 Update Clear Linux OS to 42590
  library/clearlinux
Labels: library/clearlinux

#17875 Update photon image
  library/photon
Labels: library/photon

#17877 erlang by using alpine 3.20
  library/erlang
Labels: library/erlang

#17881 Fix JDK 17 Amazon Corretto directory
  library/gradle
Labels: library/gradle

#17883 Update tomcat
  library/tomcat
Labels: library/tomcat

#17876 Add supported versions of clickhouse. Fix 24.10 base
  library/clickhouse
Labels: library/clickhouse

#17884 Update Debian (esp. for 12.8)
  library/debian
Labels: library/debian

#17885 Update wordpress
  library/wordpress
Labels: library/wordpress

#17891 Update bash
  library/bash
Labels: library/bash

#17890 Update drupal
  library/drupal
Labels: library/drupal

#17894 Gradle 8.11
  library/gradle
Labels: library/gradle

#17895 emqx 5.8.2
  library/emqx
Labels: library/emqx

#17902 update references, fixes https://github.com/composer/docker/issues/353
  library/composer
Labels: library/composer

#17897 Update dart
  library/dart
Labels: library/dart

#17898 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#17899 Update wordpress
  library/wordpress
Labels: library/wordpress

#17900 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#17904 [security] Update postgres
  library/postgres
Labels: library/postgres

#17903 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#17905 MariaDB 2024 Q4 part 1 releases
  library/mariadb
Labels: library/mariadb

#17909 Update ghost
  library/ghost
Labels: library/ghost

#17908 Update haproxy
  library/haproxy
Labels: library/haproxy

#17911 Update docker
  library/docker
Labels: library/docker

#17912 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2024-8922 ELSA-2024-9502"
  library/oraclelinux
Labels: library/oraclelinux

#17915 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#17892 Update to BuildKit 0.16
  .external-pins/tianon/buildkit___0.13
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#17913 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
Labels: external/redhat/ubi9-minimal

#17914 Update redmine
  library/redmine
Labels: library/redmine

#17916 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17906 Update Semeru release versions with October release
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#17919 archlinux: Release 20241117.0.280007
  library/archlinux
Labels: library/archlinux

#17920 Update Clear Linux OS to 42630
  library/clearlinux
Labels: library/clearlinux

#17921 Update photon image
  library/photon
Labels: library/photon

#17923 release 2.8.3
  library/composer
  test/tests/composer/composer.json
Labels: library/composer

#17924 Update CrateDB to 5.9.3
  library/crate
Labels: library/crate

#17925 Odoo: update 16.0-18.0 to release 20241118
  library/odoo
Labels: library/odoo

#17926 Update images after the recent releases
  library/clickhouse
Labels: library/clickhouse

#17927 Update cassandra
  library/cassandra
Labels: library/cassandra

#17929 Telegraf v1.32.3
  library/telegraf
Labels: library/telegraf

#17931 Update ghost
  library/ghost
Labels: library/ghost

#17889 Update ELK images for 8.15.4
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#17932 Update UBI pins
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8

#17934 Update bash
  library/bash
Labels: library/bash

#17930 Update busybox
  library/busybox
Labels: library/busybox

#17935 chore: release InfluxDB v1.11.8
  library/influxdb
Labels: library/influxdb

#17936 Fix jdk-lts-and-current-corretto aarch64 compatibility
  library/gradle
Labels: library/gradle

#17937 Update docker
  library/docker
Labels: library/docker

#17940 Bump Traefik to v2.11.14
  library/traefik
Labels: library/traefik

#17941 Gradle 8.11.1
  library/gradle
Labels: library/gradle

#17942 Bump Traefik to v3.2.1
  library/traefik
Labels: library/traefik

#17947 [security] Update php
  library/php
Labels: library/php

#17949 [security] Update drupal
  library/drupal
Labels: library/drupal

#17946 library/perl: 5.41.5 -> 5.41.6
  library/perl
Labels: library/perl

#17945 Aerospike 7.2.0.4
  library/aerospike
Labels: library/aerospike

#17948 Update ghost
  library/ghost
Labels: library/ghost

#17950 Update wordpress
  library/wordpress
Labels: library/wordpress

#17952 [oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2024-9541 ELSA-2024-9474 ELSA-2024-9468
  library/oraclelinux
Labels: library/oraclelinux

#17951 Update postgres
  library/postgres
Labels: library/postgres

#17955 Update haproxy
  library/haproxy
Labels: library/haproxy

#17956 Release Neo4j 4.4.39
  library/neo4j
Labels: library/neo4j

#17957 Update Postfixadmin
  library/postfixadmin
Labels: library/postfixadmin

#17958 Update ELK Images for 8.16.1
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#17961 MariaDB 11.6.2 release (2024 Q4 p2)
  library/mariadb
Labels: library/mariadb

#17959 Update drupal
  library/drupal
Labels: library/drupal

#17954 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17965 Update Clear Linux OS to 42680
  library/clearlinux
Labels: library/clearlinux

#17966 MariaDB 11.7.1-rc releases
  library/mariadb
Labels: library/mariadb

#17968 Odoo: update 16.0-18.0 to release 20241125
  library/odoo
Labels: library/odoo

#17969 Update mongo
  library/mongo
Labels: library/mongo

#17970 Update ghost
  library/ghost
Labels: library/ghost

#17962 Update openjdk
  library/openjdk
Labels: library/openjdk

#17972 [oraclelinux] Updating 7, 7-slim and 7-slim-fips for ELBA-2024-8805.
  library/oraclelinux
Labels: library/oraclelinux

#17976 Update ELK Images for 8.15.5
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#17978 Update haproxy
  library/haproxy
Labels: library/haproxy

#17971 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17977 Update bash
  library/bash
Labels: library/bash

#17979 Updated mainline nginx to 1.27.3
  library/nginx
Labels: library/nginx

#17980 "[oraclelinux] Updating 9 for ELSA-2024-10244"
  library/oraclelinux
Labels: library/oraclelinux

#17981 Update julia
  library/julia
Labels: library/julia

#17983 Release OrientDB 3.2.36
  library/orientdb
Labels: library/orientdb

#17985 "[oraclelinux] Updating 8 for ELSA-2024-10379"
  library/oraclelinux
Labels: library/oraclelinux
