Repository docker-library/official-images, pull requests merged in 2024-03, with the labels that each got.

#16339 Update mongo
  library/mongo
Labels: library/mongo

#16323 Updates for WebSphere and Open Liberty 24.0.0.2
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#16342 [nats] Release v2.9.25
  library/nats
Labels: library/nats

#16341 Update sl container for sl7 to current (build-date=20240301)
  library/sl
Labels: library/sl

#16344 Update ghost
  library/ghost
Labels: library/ghost

#16343 [Friendica] Release 2024.03-rc & fixings
  library/friendica
Labels: library/friendica

#16346 Update photon image
  library/photon
Labels: library/photon

#16348 Groovy 4.0.19
  library/groovy
Labels: library/groovy

#16350 [percona] update ps-80 version
  library/percona
Labels: library/percona

#16345 Update Clear Linux OS to 41150
  library/clearlinux
Labels: library/clearlinux

#16352 Update julia
  library/julia
Labels: library/julia

#16353 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#16355 Update redmine
  library/redmine
Labels: library/redmine

#16354 Update `tianon/buildkit:0.12` with explicit `BUILDKIT_STEP_LOG_MAX_{SIZE,SPEED}`
  .bin/docker-buildx-ensure.sh
  .external-pins/tianon/buildkit___0.12
Labels: external/tianon/buildkit

#16357 Update golang
  library/golang
Labels: library/golang

#16349 chore(release): bump Kong to 3.6.1
  library/kong
Labels: library/kong

#16358 Update bash
  library/bash
Labels: library/bash

#16360 haxe: 4.3.4
  library/haxe
Labels: library/haxe

#16362 Update Joomla!
  library/joomla
Labels: library/joomla

#16356 Update busybox
  library/busybox
Labels: library/busybox

#16363 Update wordpress
  library/wordpress
Labels: library/wordpress

#16365 Fix Graal SHAs
  library/gradle
Labels: library/gradle

#16366 [Swift] Add support for Swift 5.10
  library/swift
Labels: library/swift

#16367 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#16368 Update drupal
  library/drupal
Labels: library/drupal

#16359 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#16364 Update docker
  library/docker
Labels: library/docker

#16371 Aerospike 7.0.0.5
  library/aerospike
Labels: library/aerospike

#16373 Update busybox
  library/busybox
Labels: library/busybox

#16374 Update ghost
  library/ghost
Labels: library/ghost

#16375 Update docker
  library/docker
Labels: library/docker

#16376 [oraclelinux] Updating 8, 9 and 9-slim for ELSA-2024-1130, ELSA-2024-1129, ELSA-2024-0606.
  library/oraclelinux
Labels: library/oraclelinux

#16377 Update XWiki LTS version to 15.10.7
  library/xwiki
Labels: library/xwiki

#16378 Update Matomo
  library/matomo
Labels: library/matomo

#16380 Update dart
  library/dart
Labels: library/dart

#16382 Update ghost
  library/ghost
Labels: library/ghost

#16381 emqx v5.5.1
  library/emqx
Labels: library/emqx

#16379 Update openjdk
  library/openjdk
Labels: library/openjdk

#16384 Update Clear Linux OS to 41190
  library/clearlinux
Labels: library/clearlinux

#16386 chore: Update to Rustup version 1.27.0
  library/rust
Labels: library/rust

#16389 Update hello-world
  library/hello-world
Labels: library/hello-world

#16390 Update mongo
  library/mongo
Labels: library/mongo

#16392 erlang/otp 26.2.3
  library/erlang
Labels: library/erlang

#16393 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#16395 Update wordpress
  library/wordpress
Labels: library/wordpress

#16394 Update Debian
  library/debian
Labels: library/debian

#16385 Update photon image
  library/photon
Labels: library/photon

#16396 composer release 2.7.2
  library/composer
Labels: library/composer

#16397 Odoo: update 15.0-17.0 to release 20240312
  library/odoo
Labels: library/odoo

#16398 Bump Traefik to v3.0.0-rc2
  library/traefik
Labels: library/traefik

#16399 Update wordpress
  library/wordpress
Labels: library/wordpress

#16400 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#16401 [nats] Release v2.10.12
  library/nats
Labels: library/nats

#16403 Update drupal
  library/drupal
Labels: library/drupal

#16406 Bump Traefik to v3.0.0-rc3
  library/traefik
Labels: library/traefik

#16405 Releasing neo4j 5.18.0
  library/neo4j
Labels: library/neo4j

#16402 Update docker
  library/docker
Labels: library/docker

#16409 Upgrade Zookeeper to 3.8.4 and 3.9.2
  library/zookeeper
Labels: library/zookeeper

#16407 Update python
  library/python
Labels: library/python

#16411 Update mongo
  library/mongo
Labels: library/mongo

#16387 Telegraf v1.30.0
  library/telegraf
Labels: library/telegraf

#16412 Update tomcat
  library/tomcat
Labels: library/tomcat

#16413 Update tomcat
  library/tomcat
Labels: library/tomcat

#16414 Update hello-world
  library/hello-world
Labels: library/hello-world

#16419 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#16415 alpine: edge snapshot 20240315
  library/alpine
Labels: library/alpine

#16417 Update php
  library/php
Labels: library/php

#16418 Update openjdk
  library/openjdk
Labels: library/openjdk

#16421 Update memcached
  library/memcached
Labels: library/memcached

#16424 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#16425 Update ghost
  library/ghost
Labels: library/ghost

#16426 Update to stack 2.15.3 in haskell images
  library/haskell
Labels: library/haskell

#16427 Update Jetty versions to 9.4.54 and 12.0.7
  library/jetty
Labels: library/jetty

#16429 Update Clear Linux OS to 41230
  library/clearlinux
Labels: library/clearlinux

#16431 Releasing Neo4j 5.18.1
  library/neo4j
Labels: library/neo4j

#16432 Update ghost
  library/ghost
Labels: library/ghost

#16434 Update mongo
  library/mongo
Labels: library/mongo

#16435 Update amazonlinux maintainers
  library/amazonlinux
Labels: library/amazonlinux

#16436 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#16438 Update docker
  library/docker
Labels: library/docker

#16437 [security fix] varnish: update to 7.5.0, 7.4.3 and 6.0.13
  library/varnish
Labels: library/varnish

#16441 Release of GeoNetwork 4.4.3 and 4.2.9
  library/geonetwork
Labels: library/geonetwork

#16445 Update Joomla!
  library/joomla
Labels: library/joomla

#16442 Update bash
  library/bash
Labels: library/bash

#16446 varnish: update tags
  library/varnish
Labels: library/varnish

#16443 Update julia
  library/julia
Labels: library/julia

#16444 Update hello-world
  library/hello-world
Labels: library/hello-world

#16447 Added a new "otel" variant for nginx mainline.
  library/nginx
Labels: library/nginx

#16448 Update wordpress
  library/wordpress
Labels: library/wordpress

#16449 Update ghost
  library/ghost
Labels: library/ghost

#16451 Update docker
  library/docker
Labels: library/docker

#16454 Update docker
  library/docker
Labels: library/docker

#16453 Update memcached
  library/memcached
Labels: library/memcached

#16455 Update docker
  library/docker
Labels: library/docker

#16430 Update Apache Flink to 1.19.0
  library/flink
Labels: library/flink

#16456 Update photon image
  library/photon
Labels: library/photon

#16457 chore: Update to Rust version 1.77.0
  library/rust
Labels: library/rust

#16458 library/perl: 5.39.8 -> 5.39.9
  library/perl
Labels: library/perl

#16459 Update ghost
  library/ghost
Labels: library/ghost

#16460 [Friendica] Release 2024.03
  library/friendica
Labels: library/friendica

#16450 Update docker/scout-sbom-indexer:1.6.0
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#16465 Gradle 8.7
  library/gradle
Labels: library/gradle

#16466 Update Clear Linux OS to 41270
  library/clearlinux
Labels: library/clearlinux

#16467 Update photon image
  library/photon
Labels: library/photon

#16469 Official Convertigo 8.2.7 release
  library/convertigo
Labels: library/convertigo

#16462 Update python
  library/python
Labels: library/python

#16463 Update ghost
  library/ghost
Labels: library/ghost

#16464 Update docker
  library/docker
Labels: library/docker

#16470 Odoo: update 15.0-17.0 to release 20240325
  library/odoo
Labels: library/odoo

#16461 Update openjdk
  library/openjdk
Labels: library/openjdk

#16471 arangodb 3.12.0
  library/arangodb
Labels: library/arangodb

#16472 Upgrade XWiki stable version to 16.2.0
  library/xwiki
Labels: library/xwiki

#16433 Update Couchbase Server CE+EE to 7.6.0
  library/couchbase
Labels: library/couchbase

#16473 Added SapMachine 22
  library/sapmachine
Labels: library/sapmachine

#16474 Update cassandra
  library/cassandra
Labels: library/cassandra

#16476 Update ALT Linux - 20240326
  library/alt
Labels: library/alt

#16475 Update tomcat
  library/tomcat
Labels: library/tomcat

#16477 Add 22 Images
  library/amazoncorretto
Labels: library/amazoncorretto

#16478 Releasing Neo4j 4.4.32
  library/neo4j
Labels: library/neo4j

#16479 Update elk 7.17.19
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#16481 Update Amazon Corretto maintainers
  library/amazoncorretto
Labels: library/amazoncorretto

#16482 update rocket.chat
  library/rocket.chat
Labels: library/rocket.chat

#16480 Update bash
  library/bash
Labels: library/bash

#16483 Updated Unit to 1.32.1.
  library/unit
Labels: library/unit

#16484 Update haproxy
  library/haproxy
Labels: library/haproxy

#16485 Updates for WebSphere and Open Liberty 24.0.0.3
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#16488 Update xwiki LTS version
  library/xwiki
Labels: library/xwiki

#16489 Update dart
  library/dart
Labels: library/dart

#16493 Update rakudo-star to 2024.02
  library/rakudo-star
Labels: library/rakudo-star

#16494 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#16492 Update mongo
  library/mongo
Labels: library/mongo

#16491 Update mysql
  library/mysql
Labels: library/mysql

#16490 eclipse-temurin: add jdk22 release
  library/eclipse-temurin
Labels: library/eclipse-temurin

#16496 Update memcached
  library/memcached
Labels: library/memcached

#16497 Update wordpress
  library/wordpress
Labels: library/wordpress

#16498 Update busybox
  library/busybox
Labels: library/busybox

#16499 [security] MediaWiki 1.41.1 / 1.40.3 / 1.39.7 releases
  library/mediawiki
Labels: library/mediawiki

#16500 alpine: edge snapshot 20240329
  library/alpine
Labels: library/alpine

#16501 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#16502 Add arm64v8 to Java 21 image
  library/gradle
Labels: library/gradle

#16503 [oraclelinux] Updating 9 and 9-slim for ELSA-2024-1530
  library/oraclelinux
Labels: library/oraclelinux

#16504 Update Debian unstable/testing (esp. for CVE-2024-3094)
  library/debian
Labels: library/debian
