Repository docker-library/official-images, pull requests merged in 2024-10, with the labels that each got.

#17636 Release SonarQube 10.7 and 9.9.7
  library/sonarqube
Labels: library/sonarqube

#17645 Groovy 4.0.23
  library/groovy
Labels: library/groovy

#17648 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.13
Labels: external/tianon/buildkit

#17632 Switch `BUILDKIT_SYNTAX` to `tianon/buildkit`
  .bin/bashbrew-buildkit-env-setup.sh
  .external-pins/docker/dockerfile___1
Labels: external/docker/dockerfile

#17640 Update a bunch of bullseye-based `Architectures:`
  library/buildpack-deps
  library/drupal
  library/golang
  library/haproxy
  library/julia
  library/php
  library/postgres
  library/python
  library/ruby
Labels: library/ruby, library/postgres, library/python, library/haproxy, library/php, library/buildpack-deps, library/golang, library/julia, library/drupal

#17646 Update mongo
  library/mongo
Labels: library/mongo

#17649 haxe: fix builds regarding extlib
  library/haxe
Labels: library/haxe

#17651 elixir 1.17.3
  library/elixir
Labels: library/elixir

#17653 Upgrade XWiki stable version to 16.8.0
  library/xwiki
Labels: library/xwiki

#17654 Release OrientDB 3.3.34
  library/orientdb
Labels: library/orientdb

#17656 Update bash
  library/bash
Labels: library/bash

#17657 Update golang
  library/golang
Labels: library/golang

#17658 Update hylang
  library/hylang
Labels: library/hylang

#17659 Update wordpress
  library/wordpress
Labels: library/wordpress

#17660 Update python
  library/python
Labels: library/python

#17647 Update cassandra
  library/cassandra
  test/tests/cassandra-basics/run.sh
Labels: library/cassandra

#17661 Update Joomla!
  library/joomla
Labels: library/joomla

#17663 Bump Traefik to v3.2.0-rc1, v3.1.5, and v2.11.11
  library/traefik
Labels: library/traefik

#17662 eclipse-mosquitto 2.0.19
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#17664 Updated nginx to latest version
  library/nginx
Labels: library/ubuntu, library/nginx

#17665 erlang/otp 27.1.1
  library/erlang
Labels: library/erlang

#17644 Release Neo4j 5.24.1
  library/neo4j
Labels: library/neo4j

#17667 Aerospike 7.1.0.7
  library/aerospike
Labels: library/aerospike

#17668 Update XWiki recommended version to 16.4.4
  library/xwiki
Labels: library/xwiki

#17669 release 2.8.0
  library/composer
Labels: library/composer

#17670 Update clojure
  library/clojure
Labels: library/clojure

#17633 Update couchdb, add new couchdb-nouveau fulltext search addon
  library/couchdb
Labels: library/couchdb

#17666 Update Jetty version to 12.0.14
  library/jetty
Labels: library/jetty

#17671 Update drupal
  library/drupal
Labels: library/drupal

#17672 Update haproxy
  library/haproxy
Labels: library/haproxy

#17673 Update Redis versions
  library/redis
Labels: library/redis

#17674 Update Lightstreamer image.
  library/lightstreamer
Labels: library/lightstreamer

#17675 release 2.8.1
  library/composer
Labels: library/composer

#17677 chore(rust): Remove unsupported bullseye architectures
  library/rust
Labels: library/rust

#17678 archlinux: Release 20241006.0.268140
  library/archlinux
Labels: library/archlinux

#17680 Odoo: Add Odoo 18.0 and update 16.0-17.0 to release 20241007
  library/odoo
Labels: library/odoo

#17682 Telegraf v1.32.1
  library/telegraf
Labels: library/telegraf

#17686 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#17684 Update ghost
  library/ghost
Labels: library/ghost

#17685 Update ruby
  library/ruby
Labels: library/ruby

#17683 Update openjdk
  library/openjdk
Labels: library/openjdk

#17687 Update python
  library/python
Labels: library/python

#17688 Aerospike 7.2.0.1
  library/aerospike
Labels: library/aerospike

#17622 Update spark 4.0.0-preview2
  library/spark
Labels: library/spark

#17689 releasing neo4j 4.4.38
  library/neo4j
Labels: library/neo4j

#17690 Update wordpress
  library/wordpress
Labels: library/wordpress

#17692 Update tomcat
  library/tomcat
Labels: library/tomcat

#17691 Update hylang
  library/hylang
Labels: library/hylang

#17693 Update drupal
  library/drupal
Labels: library/drupal

#17694 Updates for the release of WebSphere and Open Liberty 24.0.0.10
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#17695 Update julia
  library/julia
Labels: library/julia

#17697 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.13
Labels: external/tianon/buildkit

#17702 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17704 Update tomcat
  library/tomcat
Labels: library/tomcat

#17700 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#17701 Update mongo
  library/mongo
Labels: library/mongo

#17698 Update spark 3.5 from 3.5.2 to 3.5.3
  library/spark
Labels: library/spark

#17709 mediawiki: fix ldd parsing logic
  library/mediawiki
Labels: library/mediawiki

#17710 Update php
  library/php
Labels: library/php

#17711 [oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2024-7848
  library/oraclelinux
Labels: library/oraclelinux

#17712 Update php
  library/php
Labels: library/php

#17713 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#17715 Update openjdk
  library/openjdk
Labels: library/openjdk

#17716 Update ghost
  library/ghost
Labels: library/ghost

#17717 Updated swipl devel to 9.3.13
  library/swipl
Labels: library/swipl

#17718 archlinux: Release 20241013.0.269705
  library/archlinux
Labels: library/archlinux

#17719 Update Clear Linux OS to 42440
  library/clearlinux
Labels: library/clearlinux

#17721 Update mysql
  library/mysql
Labels: library/mysql

#17722 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17725 Releasing Neo4j 5.24.2
  library/neo4j
Labels: library/neo4j

#17726 Update wordpress
  library/wordpress
Labels: library/wordpress

#17714 Update bonita, add 2024.3
  library/bonita
Labels: library/bonita

#17727 Update bash
  library/bash
Labels: library/bash

#17730 Aerospike 7.2.0.1_2
  library/aerospike
Labels: library/aerospike

#17731 Update Joomla!
  library/joomla
Labels: library/joomla

#17732 Update for 2024 q4. Also remove 22
  library/amazoncorretto
Labels: library/amazoncorretto

#17734 [Friendica] update 2024.09-rc
  library/friendica
Labels: library/friendica

#17735 Update sapmachine to 11.0.25, 17.0.13, 21.0.5 and 23.0.1
  library/sapmachine
Labels: library/sapmachine

#17733 Upgrade Graal 23 to 23.0.1
  library/gradle
Labels: library/gradle

#17737 eclipse-mosquitto 2.0.20
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#17728 Update photon image
  library/photon
Labels: library/photon

#17739 Update ghost
  library/ghost
Labels: library/ghost

#17743 Updated TomEE 10.0.0-M2 to -M3
  library/tomee
Labels: library/tomee

#17740 Update julia
  library/julia
Labels: library/julia

#17741 Update haproxy
  library/haproxy
Labels: library/haproxy

#17742 Update drupal
  library/drupal
Labels: library/drupal

#17736 Update Debian
  library/debian
Labels: library/debian

#17745 [8.15.3] Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#17746 Odoo: update 16.0-18.0 to release 20241017
  library/odoo
Labels: library/odoo

#17747 chore: Update to Rust version 1.82.0
  library/rust
Labels: library/rust

#17748 Update nats to 2.10.22
  library/nats
Labels: library/nats

#17749 [Swift] Add missing Noble slim image for 5.10.1
  library/swift
Labels: library/swift

#17750 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#17751 [Friendica] update 2024.09-dev, 2024.09-rc
  library/friendica
Labels: library/friendica

#17753 New ref for tag 6.4.1 of Silverpeas 6.4.1
  library/silverpeas
Labels: library/silverpeas

#17754 Update dart
  library/dart
Labels: library/dart

#17699 Send list of extra SBOM scanner to use
  .bin/bashbrew-buildkit-env-setup.sh
  .external-pins/docker/scout-sbom-indexer___1
  .external-pins/docker/scout-sbom-indexer___1-doi
Labels: external/docker/scout-sbom-indexer

#17756 Update ghost
  library/ghost
Labels: library/ghost

#17755 Update openjdk
  library/openjdk
Labels: library/openjdk

#17757 Update python
  library/python
Labels: library/python

#17758 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#17760 archlinux: Release 20241020.0.271562
  library/archlinux
Labels: library/archlinux

#17761 Update Clear Linux OS to 42520
  library/clearlinux
Labels: library/clearlinux

#17764 Update after XWiki 15.10.13 release
  library/xwiki
Labels: library/xwiki

#17767 Update cassandra
  library/cassandra
Labels: library/cassandra

#17768 Update memcached
  library/memcached
Labels: library/memcached

#17769 Update tianon/buildkit:0.13
  .external-pins/tianon/buildkit___0.13
Labels: external/tianon/buildkit

#17770 Update busybox
  library/busybox
Labels: library/busybox

#17771 Update python
  library/python
Labels: library/python

#17762 emqx 5.8.1
  library/emqx
Labels: library/emqx

#17772 [7.17.25] Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#17775 chore: release InfluxDB Enterprise v1.11.7
  library/influxdb
Labels: library/influxdb

#17776 Apache CouchDB 3.4.2
  library/couchdb
Labels: library/couchdb

#17777 Update ghost
  library/ghost
Labels: library/ghost

#17778 Update wordpress
  library/wordpress
Labels: library/wordpress

#17773 Update to Flink 2.0-preview1
  library/flink
Labels: library/flink

#17782 Updated swipl stable to 9.2.8
  library/swipl
Labels: library/swipl

#17781 Update photon image
  library/photon
Labels: library/photon

#17780 eclipse-temurin: October updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#17784 Release of GeoNetwork v4.2.11 and v4.4.6
  library/geonetwork
Labels: library/geonetwork

#17783 Update ghost
  library/ghost
Labels: library/ghost

#17785 Update php
  library/php
Labels: library/php

#17786 Add Couchbase Server EE 7.2.6
  library/couchbase
Labels: library/couchbase

#17790 "[oraclelinux] Updating 9 for ELSA-2024-8446"
  library/oraclelinux
Labels: library/oraclelinux

#17792 Update openjdk
  library/openjdk
Labels: library/openjdk

#17793 Update mongo
  library/mongo
Labels: library/mongo

#17791 chore: release InfluxDB OSS v1.11.7
  library/influxdb
Labels: library/influxdb

#17794 archlinux: Release 20241027.0.273886
  library/archlinux
Labels: library/archlinux

#17795 Update Clear Linux OS to 42540
  library/clearlinux
Labels: library/clearlinux

#17797 Upgrade Zookeper to 3.9.3 and remove 3.7.2
  library/zookeeper
Labels: library/zookeeper

#17796 Update the API Firewall to v0.8.3
  library/api-firewall
Labels: library/api-firewall

#17798 XWiki 16.9.0 release
  library/xwiki
Labels: library/xwiki

#17799 Bump Traefik to v2.11.13, v3.1.7, and v3.2.0
  library/traefik
Labels: library/traefik

#17800 chore: release Kapacitor 1.7.6
  library/kapacitor
Labels: library/kapacitor

#17801 Update ghost
  library/ghost
Labels: library/ghost

#17802 Update UBI pins
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9

#17803 [Swift] Release Swift 6.0.2
  library/swift
Labels: library/swift

#17804 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#17805 Telegraf v1.32.2
  library/telegraf
Labels: library/telegraf

#17808 Released OrientDB 3.2.35
  library/orientdb
Labels: library/orientdb

#17810 Update julia
  library/julia
Labels: library/julia

#17811 Update ghost
  library/ghost
Labels: library/ghost

#17812 Update bash
  library/bash
Labels: library/bash

#17813 Update docker
  library/docker
Labels: library/docker

#17815 Update wordpress
  library/wordpress
Labels: library/wordpress

#17816 release 2.8.2
  library/composer
Labels: library/composer

#17817 Bump rakudo-star to 2024.10
  library/rakudo-star
Labels: library/rakudo-star

#17819 arangodb 3.12.3
  library/arangodb
Labels: library/arangodb

#17820 Update xwiki recommended version to 16.4.5
  library/xwiki
Labels: library/xwiki

#17821 Update docker
  library/docker
Labels: library/docker
