Repository docker-library/official-images, pull requests merged in 2025-07, with the labels that each got.

#19356 Update Debian
  library/debian
Labels: library/debian

#19357 maven: java 24 debian
  library/maven
Labels: library/maven

#19359 [oraclelinux] Releasing Oracle Linux 10 and 10-slim.
  library/oraclelinux
Labels: library/oraclelinux

#19360 arangodb 3.12.5 (with BTS-1877 fix)
  library/arangodb
Labels: library/arangodb

#19364 Update Joomla!
  library/joomla
Labels: library/joomla

#19366 MediaWiki 1.43.3 / 1.42.7 / 1.39.13 security releases
  library/mediawiki
Labels: library/mediawiki

#19367 Releasing Neo4j 2025.06.0
  library/neo4j
Labels: library/neo4j

#19369 ZNC 1.10.1
  library/znc
Labels: library/znc

#19372 Update docker
  library/docker
Labels: library/docker

#19373 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#19374 Upgrade to Ubuntu Noble
  library/groovy
Labels: library/groovy

#19375 Update haproxy
  library/haproxy
Labels: library/haproxy

#19376 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#19381 Drop EOL 1.42 and add new stable 1.44 release
  library/mediawiki
Labels: library/mediawiki

#19382 emqx 5.8.7
  library/emqx
Labels: library/emqx

#19383 Update CrateDB to 5.10.10
  library/crate
Labels: library/crate

#19384 Release OrientDB 3.2.42
  library/orientdb
Labels: library/orientdb

#19388 Update mongo
  library/mongo
Labels: library/mongo

#19387 Update docker
  library/docker
Labels: library/docker

#19389 chore: update influxdb3 core and enterprise to 3.2.1
  library/influxdb
Labels: library/influxdb

#19390 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#19391 Update php
  library/php
Labels: library/php

#19392 Update busybox
  library/busybox
Labels: library/busybox

#19393 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#19401 [SECURITY] Update Redis versions with July 2025 CVE fixes
  library/redis
Labels: library/redis

#19394 Update Jetty version to 12.0.23
  library/jetty
Labels: library/jetty

#19397 Gradle 8.14.3 and 7.6.6
  library/gradle
Labels: library/gradle

#19396 library/perl: Add Perl 5.42.0
  library/perl
Labels: library/perl

#19400 SapMachine Updates
  library/sapmachine
Labels: library/sapmachine

#19402 Update release tags for Percona Server MongoDB
  library/percona
Labels: library/percona

#19407 Update ghost
  library/ghost
Labels: library/ghost

#19408 Update tomcat
  library/tomcat
Labels: library/tomcat

#19409 Update openjdk
  library/openjdk
Labels: library/openjdk

#19412 Update UBI pins
  .external-pins/redhat/ubi10-minimal___latest
  .external-pins/redhat/ubi10___latest
Labels: external/redhat/ubi10-minimal, external/redhat/ubi10

#19410 Update bash
  library/bash
Labels: library/bash

#19413 Update photon image
  library/photon
Labels: library/photon

#19414 Update php
  library/php
Labels: library/php

#19417 Telegraf v1.35.2
  library/telegraf
Labels: library/telegraf

#19422 Make Kapacitor v1.8.0 the 'latest' version
  library/kapacitor
Labels: library/kapacitor

#19423 "[oraclelinux] Updating 9 for ELSA-2025-10407"
  library/oraclelinux
Labels: library/oraclelinux

#19424 Update wordpress
  library/wordpress
Labels: library/wordpress

#19421 Update python
  library/python
Labels: library/python

#19430 Update haproxy
  library/haproxy
Labels: library/haproxy

#19435 Update mageia image
  library/mageia
Labels: library/mageia

#19436 Odoo: update 16.0-18.0 to release 20250710
  library/odoo
Labels: library/odoo

#19442 [oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-10699
  library/oraclelinux
Labels: library/oraclelinux

#19451 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#19452 Bump Traefik to v2.11.27 and v3.4.4 and v3.5.0-rc2
  library/traefik
Labels: library/traefik

#19448 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-10698"
  library/oraclelinux
Labels: library/oraclelinux

#19443 Update mongo
  library/mongo
Labels: library/mongo

#19444 Update docker
  library/docker
Labels: library/docker

#19446 Update httpd
  library/httpd
Labels: library/httpd

#19447 Update julia
  library/julia
Labels: library/julia

#19455 Update haproxy
  library/haproxy
Labels: library/haproxy

#19454 eclipse-mosquitto 2.0.22
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#19439 Release Neo4j 5.26.9 and 2025.06.2
  library/neo4j
Labels: library/neo4j

#19449 release 2.8.10
  library/composer
Labels: library/composer

#19463 Rocket.Chat: feat: Rocket.Chat 7.8.0,7.3.6,7.5.3,7.6.4,7.7.4
  library/rocket.chat
Labels: library/rocket.chat

#19465 Update julia
  library/julia
Labels: library/julia

#19467 Updated nginx debian images to pick up key fixes.
  library/nginx
Labels: library/nginx

#19468 alpine: bump 3.19.8, 3.20.7, 3.21.4 and 3.22.1
  library/alpine
Labels: library/alpine

#19473 Update ruby
  library/ruby
Labels: library/ruby

#19475 Update wordpress
  library/wordpress
Labels: library/wordpress

#19476 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#19478 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-11035 ELSA-2025-11036"
  library/oraclelinux
Labels: library/oraclelinux

#19484 "[oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-11140"
  library/oraclelinux
Labels: library/oraclelinux

#19485 Update amazoncorretto for 2025 q3 release
  library/amazoncorretto
Labels: library/amazoncorretto

#19486 Updates for WebSphere and Open Liberty release 25.0.0.7
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#19488 Update CrateDB to 5.10.11
  library/crate
Labels: library/crate

#19490 Update dart
  library/dart
Labels: library/dart

#19494 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#19497 Rocket.Chat: feat: Rocket.Chat 7.8.1,7.4.4,7.7.5
  library/rocket.chat
Labels: library/rocket.chat

#19493 Update php
  library/php
Labels: library/php

#19502 archlinux: Release 20250720.0.386825
  library/archlinux
Labels: library/archlinux

#19504 haxe: add new versions and variants
  library/haxe
Labels: library/haxe

#19505 Fedora Update 20250721
  library/fedora
Labels: library/fedora

#19508 Update mongo
  library/mongo
Labels: library/mongo

#19509 Update openjdk
  library/openjdk
Labels: library/openjdk

#19510 Update golang
  library/golang
Labels: library/golang

#19440 feat!: version bump to SATOSA v8.5.1
  library/satosa
Labels: library/satosa

#19506 Update UBI pins
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8

#19514 Update Debian
  library/debian
Labels: library/debian

#19515 Update ELK images for 9.0.4, 8.18.4 and 8.17.9
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#19520 Update KrakenD to v2.10.2
  library/krakend
Labels: library/krakend

#19517 Update docker
  library/docker
Labels: library/docker

#19518 Update bash
  library/bash
Labels: library/bash

#19403 Add XWiki 17.4.2 as intermediate LTS version
  library/xwiki
Labels: library/xwiki

#19527 Update httpd
  library/httpd
Labels: library/httpd

#19524 Update mysql
  library/mysql
Labels: library/mysql

#19525 Update python
  library/python
Labels: library/python

#19528 Update ghost
  library/ghost
Labels: library/ghost

#19529 Update memcached
  library/memcached
Labels: library/memcached

#19531 Update mongo
  library/mongo
Labels: library/mongo

#19533 Update docker
  library/docker
Labels: library/docker

#19534 Update ruby
  library/ruby
Labels: library/ruby

#19535 Apache Solr - Apache Solr release 9.9.0
  library/solr
Labels: library/solr

#19536 Update Joomla!
  library/joomla
Labels: library/joomla

#19537 Update Semeru Container versions to 8u452, 11.0.28, 17.0.16, 21.0.8
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#19539 feat!: drop support for building SATOSA images on platforms other than linux/amd64 and linux/arm64
  library/satosa
Labels: library/satosa

#19540 archlinux: Release 20250727.0.390543
  library/archlinux
Labels: library/archlinux

#19546 XWiki 17.6.0 release
  library/xwiki
Labels: library/xwiki

#19547 Update openjdk
  library/openjdk
Labels: library/openjdk

#19550 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#19554 Rocket.Chat: feat: Rocket.Chat 7.8.3,7.7.7
  library/rocket.chat
Labels: library/rocket.chat

#19552 Telegraf v1.35.3
  library/telegraf
Labels: library/telegraf

#19556 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#19555 Update busybox
  library/busybox
Labels: library/busybox

#19559 Release SonarQube Server 2025.4.0
  library/sonarqube
Labels: library/sonarqube

#19560 Update memcached
  library/memcached
Labels: library/memcached

#19563 "[oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-11992"
  library/oraclelinux
Labels: library/oraclelinux

#19564 maven: amazoncorretto-24-al2023
  library/maven
Labels: library/maven

#19562 Update UBI pins
  .external-pins/redhat/ubi10-minimal___latest
  .external-pins/redhat/ubi10___latest
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi8-minimal, external/redhat/ubi8, external/redhat/ubi9, external/redhat/ubi10-minimal, external/redhat/ubi10

#19565 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-12010"
  library/oraclelinux
Labels: library/oraclelinux

#19570 SonarQube latest editions set to 2025.3
  library/sonarqube
Labels: library/sonarqube

#19558 Update ELK images for 9.1.0 and 8.19.0
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#19553 Update YOURLS
  library/yourls
Labels: library/yourls

#19577 Update ghost
  library/ghost
Labels: library/ghost
