Repository docker-library/official-images, pull requests merged in 2025-02, with the labels that each got.

#18355 archlinux: Release 20250202.0.304438
  library/archlinux
Labels: library/archlinux

#18356 Update Clear Linux OS to 42920
  library/clearlinux
Labels: library/clearlinux

#18357 Update photon image
  library/photon
Labels: library/photon

#18358 Update eggdrop to compilecleaning patchlevel
  library/eggdrop
Labels: library/eggdrop

#18359 fluentd: Update to Fluentd v1.16.7
  library/fluentd
Labels: library/fluentd

#18361 Update CrateDB to versions 5.9.9, 5.8.6 & 5.7.6
  library/crate
Labels: library/crate

#18362 Rocket.Chat: feat: Rocket.Chat 7.3.0
  library/rocket.chat
Labels: library/rocket.chat

#18363 Update memcached
  library/memcached
Labels: library/memcached

#18364 Update docker
  library/docker
Labels: library/docker

#18365 Update Debian
  library/debian
Labels: library/debian

#18366 Update ghost
  library/ghost
Labels: library/ghost

#18367 Update cassandra
  library/cassandra
Labels: library/cassandra

#18369 MediaWiki 1.42.5 maintenance releases
  library/mediawiki
Labels: library/mediawiki

#18370 releasing Neo4j 4.4.41
  library/neo4j
Labels: library/neo4j

#18372 Update golang
  library/golang
Labels: library/golang

#18371 Update dart
  library/dart
Labels: library/dart

#18376 Update bash
  library/bash
Labels: library/bash

#18377 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#18374 Update ruby
  library/ruby
Labels: library/ruby

#18378 Update postgres
  library/postgres
Labels: library/postgres

#18379 Update tianon/buildkit:0.16 (Debian rebuild)
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#18380 Update openjdk
  library/openjdk
Labels: library/openjdk

#18382 Update ghost
  library/ghost
Labels: library/ghost

#18381 Update wordpress
  library/wordpress
Labels: library/wordpress

#18383 Releasing neo4j 5.26.2
  library/neo4j
Labels: library/neo4j

#18384 [Friendica] update dev image to latest version
  library/friendica
Labels: library/friendica

#18386 Update CrateDB 5.9.9
  library/crate
Labels: library/crate

#18389 Update memcached
  library/memcached
Labels: library/memcached

#18391 "[oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-0925"
  library/oraclelinux
Labels: library/oraclelinux

#18392 Aerospike 8.0.0.2
  library/aerospike
Labels: library/aerospike

#18393 MariaDB 2025 Q1 Maintaince release
  library/mariadb
Labels: library/mariadb

#18394 Update nginx to latest versions
  library/nginx
Labels: library/nginx

#18388 Update python
  library/python
Labels: library/python

#18395 Update golang
  library/golang
Labels: library/golang

#18390 Update mongo
  library/mongo
Labels: library/mongo

#18398 Update dart
  library/dart
Labels: library/dart

#18399 Update pypy
  library/pypy
Labels: library/pypy

#18400 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18402 External pins redhat
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#18401 Update drupal
  library/drupal
Labels: library/drupal

#18375 REL-3521 Release SonarQube Community Build 25.2
  library/sonarqube
Labels: library/sonarqube

#18396 Add more Ubuntu Noble images
  library/gradle
Labels: library/gradle

#18404 Update docker
  library/docker
Labels: library/docker

#18405 Updated swipl devel to 9.3.20
  library/swipl
Labels: library/swipl

#18406 Odoo: update 16.0-18.0 to release 20250207
  library/odoo
Labels: library/odoo

#18409 Rocket.Chat: feat: Rocket.Chat 7.0.6,7.1.2,7.2.2,7.3.1
  library/rocket.chat
Labels: library/rocket.chat

#18411 [oraclelinux] Updating 8, 8-slim, 8-slim-fips, 9, 9-slim, 9-slim-fips for tzdata-2025a
  library/oraclelinux
Labels: library/oraclelinux

#18412 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18413 archlinux: Release 20250209.0.306557
  library/archlinux
Labels: library/archlinux

#18414 elixir 1.18.2
  library/elixir
Labels: library/elixir

#18415 Update Clear Linux OS to 42950
  library/clearlinux
Labels: library/clearlinux

#18416 Update CrateDB 5.9.9
  library/crate
Labels: library/crate

#18426 Telegraf v1.33.2
  library/telegraf
Labels: library/telegraf

#18419 Update openjdk
  library/openjdk
Labels: library/openjdk

#18420 Update cassandra
  library/cassandra
Labels: library/cassandra

#18421 Update ghost
  library/ghost
Labels: library/ghost

#18422 Update wordpress
  library/wordpress
Labels: library/wordpress

#18423 Update haproxy
  library/haproxy
Labels: library/haproxy

#18424 Update tomcat
  library/tomcat
Labels: library/tomcat

#18425 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18429 Update ghost
  library/ghost
Labels: library/ghost

#18427 Update ELK images for 8.16.4
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18428 Update ELK images for 8.17.2
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18433 Update JRuby 9.4 to 9.4.12.0
  library/jruby
Labels: library/jruby

#18436 Update registry to 3.0.0-rc.3
  library/registry
Labels: library/registry

#18435 Update golang
  library/golang
Labels: library/golang

#18431 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18432 Update drupal
  library/drupal
Labels: library/drupal

#18438 Update python
  library/python
Labels: library/python

#18439 Update pypy
  library/pypy
Labels: library/pypy

#18441 Update dart
  library/dart
Labels: library/dart

#18440 Updated mageia images
  library/mageia
Labels: library/mageia

#18445 Update python
  library/python
Labels: library/python

#18446 Update pypy
  library/pypy
Labels: library/pypy

#18444 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18447 Update Windows pins (minus 2025)
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#18449 Update ghost
  library/ghost
Labels: library/ghost

#18451 [security] Update postgres
  library/postgres
Labels: library/postgres

#18454 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18455 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#18457 [oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-1301
  library/oraclelinux
Labels: library/oraclelinux

#18458 Update php
  library/php
Labels: library/php

#18459 alpline: fix CVE-2024-12797, CVE-2024-13176 and CVE-2025-26519
  library/alpine
Labels: library/alpine

#18461 MariaDB 2025 Q1 Part 2 release
  library/mariadb
Labels: library/mariadb

#18462 arangodb 3.11.13
  library/arangodb
Labels: library/arangodb

#18460 Update Semeru release version
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#18456 Update ghost
  library/ghost
Labels: library/ghost

#18463 Update openjdk
  library/openjdk
Labels: library/openjdk

#18464 [oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-1346 ELSA-2025-1330 ELSA-2025-1350
  library/oraclelinux
Labels: library/oraclelinux

#18450 Update mongo
  library/mongo
Labels: library/mongo

#18465 Update golang
  library/golang
Labels: library/golang

#18466 Update ruby
  library/ruby
Labels: library/ruby

#18452 Update to Apache Flink 1.19.2 and 1.20.1
  library/flink
Labels: library/flink

#18467 Aerospike 8.0.0.3
  library/aerospike
Labels: library/aerospike

#18468 archlinux: Release 20250216.0.309127
  library/archlinux
Labels: library/archlinux

#18469 Update Clear Linux OS to 43020
  library/clearlinux
Labels: library/clearlinux

#18470 erlang/otp 27.2.2
  library/erlang
Labels: library/erlang

#18471 Bump IBM Java8 version to 8.0.8.40
  library/ibmjava
Labels: library/ibmjava

#18472 Update CrateDB to 5.9.10 and 5.10.1
  library/crate
Labels: library/crate

#18474 Odoo: update 16.0-18.0 to release 20250218
  library/odoo
Labels: library/odoo

#18476 Update mongo
  library/mongo
Labels: library/mongo

#18477 Update UBI pins
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9

#18478 Update docker
  library/docker
Labels: library/docker

#18479 Update bash
  library/bash
Labels: library/bash

#18480 Update golang
  library/golang
Labels: library/golang

#18481 Update tomcat
  library/tomcat
Labels: library/tomcat

#18482 Update postgres
  library/postgres
Labels: library/postgres

#18483 Update docker
  library/docker
Labels: library/docker

#18484 erlang/otp 27.2.3
  library/erlang
Labels: library/erlang

#18485 Updates to Gradle 6 and 7 and standardizing tags
  library/gradle
Labels: library/gradle

#18486 Update Joomla!
  library/joomla
Labels: library/joomla

#18487 Update clojure
  library/clojure
Labels: library/clojure

#18489 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-1517"
  library/oraclelinux
Labels: library/oraclelinux

#18493 Update lightstreamer image
  library/lightstreamer
Labels: library/lightstreamer

#18495 Release OrientDB 3.2.38
  library/orientdb
Labels: library/orientdb

#18496 Update xwiki LTS to 16.10.4
  library/xwiki
Labels: library/xwiki

#18497 chore: Update to Rust version 1.85.0
  library/rust
Labels: library/rust

#18492 Update docker
  library/docker
Labels: library/docker

#18488 Update busybox
  library/busybox
Labels: library/busybox

#18490 Update haproxy
  library/haproxy
Labels: library/haproxy

#18491 Update drupal
  library/drupal
Labels: library/drupal

#18498 Rocket.Chat: feat: Rocket.Chat 7.0.7,7.1.3,7.2.3,7.3.2
  library/rocket.chat
Labels: library/rocket.chat

#18499 "[oraclelinux] Updating 8 for ELSA-2025-1675"
  library/oraclelinux
Labels: library/oraclelinux

#18500 Aerospike 8.0.0.4
  library/aerospike
Labels: library/aerospike

#18501 Update postgres
  library/postgres
Labels: library/postgres

#18502 Update memcached
  library/memcached
Labels: library/memcached

#18503 Update ghost
  library/ghost
Labels: library/ghost

#18504 Update docker
  library/docker
Labels: library/docker

#18505 Update openjdk
  library/openjdk
Labels: library/openjdk

#18506 Update the API-firewall to v0.8.7
  library/api-firewall
Labels: library/api-firewall

#18507 erlang/otp 27.2.4
  library/erlang
Labels: library/erlang

#18508 archlinux: Release 20250223.0.312761
  library/archlinux
Labels: library/archlinux

#18509 Update Clear Linux OS to 43030
  library/clearlinux
Labels: library/clearlinux

#18511 Bump Traefik to v2.11.21
  library/traefik
Labels: library/traefik

#18512 Update mongo
  library/mongo
Labels: library/mongo

#18513 Update ghost
  library/ghost
Labels: library/ghost

#18516 Update busybox
  library/busybox
Labels: library/busybox

#18514 Update Debian
  library/debian
Labels: library/debian

#18517 Release Neo4j 5.26.3
  library/neo4j
Labels: library/neo4j

#18518 Update ELK images for 7.17.28
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18519 Release of XWiki 17.1.0
  library/xwiki
Labels: library/xwiki

#18525 [nats] Release v2.10.26
  library/nats
Labels: library/nats

#18526 Telegraf v1.33.3
  library/telegraf
Labels: library/telegraf

#18527 Aerospike 8.0.0.5
  library/aerospike
Labels: library/aerospike

#18521 Update golang
  library/golang
Labels: library/golang

#18522 Update bash
  library/bash
Labels: library/bash

#18523 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#18528 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18529 emqx 5.8.5
  library/emqx
Labels: library/emqx

#18531 Updates for the release of WebSphere and Open Liberty 25.0.0.2
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty
