Repository docker-library/official-images, pull requests merged in 2025-03, with the labels that each got.

#18553 archlinux: Release 20250302.0.316047
  library/archlinux
Labels: library/archlinux

#18554 Update Clear Linux OS to 43070
  library/clearlinux
Labels: library/clearlinux

#18556 release 2.8.6
  library/composer
Labels: library/composer

#18557 Update CrateDB to 5.10.2 5.9.11 and 5.8.7
  library/crate
Labels: library/crate

#18558 chore: Update to Rustup version 1.28.0
  library/rust
Labels: library/rust

#18560 Update neurodebian to use `/etc/apt/keyrings`
  library/neurodebian
Labels: library/neurodebian

#18561 Update golang
  library/golang
Labels: library/golang

#18562 Update docker
  library/docker
Labels: library/docker

#18563 Update ghost
  library/ghost
Labels: library/ghost

#18566 REL-3592 Release SonarQube Community Build 25.3
  library/sonarqube
Labels: library/sonarqube

#18568 [security] Update golang
  library/golang
Labels: library/golang

#18567 Update openjdk
  library/openjdk
Labels: library/openjdk

#18565 Update ELK images for 8.17.3
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18564 Update ELK images for 8.16.5
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18570 [Friendica ] Update Debian to bookworm
  library/friendica
Labels: library/friendica

#18555 Update photon image
  library/photon
Labels: library/photon

#18571 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18572 Update ghost
  library/ghost
Labels: library/ghost

#18573 chore: Update to Rustup version 1.28.1
  library/rust
Labels: library/rust

#18551 Remove unsupported Java versions and add UBI images
  library/gradle
Labels: library/gradle

#18576 Update Spark 3.5 from 3.5.4 to 3.5.5 and Drop Spark 3.4
  library/spark
Labels: library/spark

#18577 eclipse-mosquitto 2.0.21
  library/eclipse-mosquitto
Labels: library/eclipse-mosquitto

#18578 Update drupal
  library/drupal
Labels: library/drupal

#18580 Update tomcat
  library/tomcat
Labels: library/tomcat

#18579 Update mongo
  library/mongo
Labels: library/mongo

#18581 Rocket.Chat: feat: Rocket.Chat 7.0.9,7.1.5,7.2.5,7.3.3,7.4.0
  library/rocket.chat
Labels: library/rocket.chat

#18583 Bump rakudo-star to 2025.02
  library/rakudo-star
Labels: library/rakudo-star

#18589 Updating image to latest release of Backdrop 1.30.1
  library/backdrop
Labels: library/backdrop

#18587 Update ghost
  library/ghost
Labels: library/ghost

#18588 Update haproxy
  library/haproxy
Labels: library/haproxy

#18584 TomEE: build temurin jre21-alpine based images for arm64v8 as well
  library/tomee
Labels: library/tomee

#18591 Update clojure
  library/clojure
Labels: library/clojure

#18592 Update Clear Linux OS to 43090
  library/clearlinux
Labels: library/clearlinux

#18594 [ROS] bump ROS package versions, Iron target final snapshot before retirement
  library/ros
Labels: library/ros

#18595 REL-3605 Release SonarQube 9.9.9
  library/sonarqube
Labels: library/sonarqube

#18601 Add Adminer 5.0.2
  library/adminer
Labels: library/adminer

#18600 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#18597 Update tomcat
  library/tomcat
Labels: library/tomcat

#18598 Update openjdk
  library/openjdk
Labels: library/openjdk

#18599 Update golang
  library/golang
Labels: library/golang

#18602 Add patch version of 0 to 8.13 tags
  library/gradle
Labels: library/gradle

#18603 Telegraf v1.34.0
  library/telegraf
Labels: library/telegraf

#18604 erlang/otp 27.3
  library/erlang
Labels: library/erlang

#18605 Odoo: update 16.0-18.0 to release 20250311
  library/odoo
Labels: library/odoo

#18606 release Neo4j 5.26.4
  library/neo4j
Labels: library/neo4j

#18607 Update XWiki's mid-year LTS version to 16.4.7
  library/xwiki
Labels: library/xwiki

#18612 Update xwiki LTS to 16.10.5
  library/xwiki
Labels: library/xwiki

#18610 Update julia
  library/julia
Labels: library/julia

#18613 Update wordpress
  library/wordpress
Labels: library/wordpress

#18614 Apache Solr - Apache Solr release 9.8.1
  library/solr
Labels: library/solr

#18615 Updated swipl devel to 9.3.21
  library/swipl
Labels: library/swipl

#18616 Rocket.Chat: feat: Rocket.Chat 7.3.4,7.4.1
  library/rocket.chat
Labels: library/rocket.chat

#18617 Update dart
  library/dart
Labels: library/dart

#18620 REL-3609 Release SonarQube Server 2025.1.1
  library/sonarqube
Labels: library/sonarqube

#18618 Update mongo
  library/mongo
Labels: library/mongo

#18619 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2025
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2025
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#18622 Update to Adminer 5.0.4
  library/adminer
Labels: library/adminer

#18621 Update ghost
  library/ghost
Labels: library/ghost

#18625 "[oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-2679"
  library/oraclelinux
Labels: library/oraclelinux

#18628 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-2686"
  library/oraclelinux
Labels: library/oraclelinux

#18626 Update mongo
  library/mongo
Labels: library/mongo

#18627 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi8-minimal, external/redhat/ubi8, external/redhat/ubi9

#18630 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18608 Official Convertigo 8.3.3 release!
  library/convertigo
Labels: library/convertigo

#18631 [security] Update php
  library/php
Labels: library/php

#18632 Update wordpress
  library/wordpress
Labels: library/wordpress

#18633 Update Matomo
  library/matomo
Labels: library/matomo

#18634 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18636 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-2722"
  library/oraclelinux
Labels: library/oraclelinux

#18637 Update docker
  library/docker
Labels: library/docker

#18638 Update ghost
  library/ghost
Labels: library/ghost

#18639 Update mongo
  library/mongo
Labels: library/mongo

#18645 elixir 1.18.3
  library/elixir
Labels: library/elixir

#18644 Update to Adminer 5.0.5
  library/adminer
Labels: library/adminer

#18642 Update Clear Linux OS to 43120
  library/clearlinux
Labels: library/clearlinux

#18641 archlinux: Release 20250316.0.322463
  library/archlinux
Labels: library/archlinux

#18640 Update python
  library/python
Labels: library/python

#18643 Update photon image
  library/photon
Labels: library/photon

#18647 Update to Adminer 5.0.6
  library/adminer
Labels: library/adminer

#18649 Update openjdk
  library/openjdk
Labels: library/openjdk

#18650 Update Debian (esp. 12.10)
  library/debian
Labels: library/debian

#18651 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#18652 Update mongo
  library/mongo
Labels: library/mongo

#18654 Apache CouchDB: add 3.4.3 and 3.4.3-nouveau
  library/couchdb
Labels: library/couchdb

#18653 Update docker
  library/docker
Labels: library/docker

#18656 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#18657 Update wordpress
  library/wordpress
Labels: library/wordpress

#18659 chore: Update to Rust version 1.85.1
  library/rust
Labels: library/rust

#18658 Update busybox
  library/busybox
Labels: library/busybox

#18660 Update to Flink 2.0.0
  library/flink
Labels: library/flink

#18662 Update to SapMachine 24
  library/sapmachine
Labels: library/sapmachine

#18664 Redis CE 8.0 Milestone 04
  library/redis
Labels: library/redis

#18665 Update Jetty versions to 12.0.18, 11.0.25 and 10.0.25
  library/jetty
Labels: library/jetty

#18661 erlang/otp 28.0 rc2
  library/erlang
Labels: library/erlang

#18666 Update hylang
  library/hylang
Labels: library/hylang

#18667 Update ghost
  library/ghost
Labels: library/ghost

#18668 Update openjdk
  library/openjdk
Labels: library/openjdk

#18669 Update Matomo
  library/matomo
Labels: library/matomo

#18670 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18672 Update drupal
  library/drupal
Labels: library/drupal

#18674 Odoo: update 16.0-18.0 to release 20250320
  library/odoo
Labels: library/odoo

#18675 Releasing Neo4j 4.4.42
  library/neo4j
Labels: library/neo4j

#18671 Update docker
  library/docker
Labels: library/docker

#18678 Update haproxy
  library/haproxy
Labels: library/haproxy

#18677 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18679 [varnish] update to 7.7
  library/varnish
Labels: library/varnish

#18680 Update CrateDB to 5.9.12 and 5.10.3
  library/crate
Labels: library/crate

#18681 Update dart
  library/dart
Labels: library/dart

#18682 Update Joomla!
  library/joomla
Labels: library/joomla

#18683 Updating Backdrop to release 1.30.2
  library/backdrop
Labels: library/backdrop

#18684 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#18586 Update Tomcat version for Semeru Releases
  library/ibm-semeru-runtimes
Labels: library/ibm-semeru-runtimes

#18688 Update Clear Linux OS to 43140
  library/clearlinux
Labels: library/clearlinux

#18689 Update photon image
  library/photon
Labels: library/photon

#18691 Fix CrateDB 5.9.12 and 5.9.11
  library/crate
Labels: library/crate

#18690 Add Corretto 24 images
  library/amazoncorretto
Labels: library/amazoncorretto

#18693 Update mongo
  library/mongo
Labels: library/mongo

#18695 Update ghost
  library/ghost
Labels: library/ghost

#18696 Update haproxy
  library/haproxy
Labels: library/haproxy

#18700 Update mageia images
  library/mageia
Labels: library/mageia

#18701 Telegraf v1.34.1
  library/telegraf
Labels: library/telegraf

#18699 Update couchbase-server
  library/couchbase
Labels: library/couchbase

#18703 Update ELK images for 8.16.6
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18706 Update bash
  library/bash
Labels: library/bash

#18707 emqx 5.8.6
  library/emqx
Labels: library/emqx

#18708 REL-3640 SonarQube Server 2025 Release 2
  library/sonarqube
Labels: library/sonarqube

#18709 Update docker
  library/docker
Labels: library/docker

#18711 eclipse-temurin: add JDK24 release
  library/eclipse-temurin
Labels: library/eclipse-temurin

#18712 Registry v3.rc-4 release
  library/registry
Labels: library/registry

#18713 [security] Update ruby
  library/ruby
Labels: library/ruby

#13592 Add official image for KrakenD Api Gateway
  library/krakend
Labels: new-image, library/krakend

#18715 Update clojure
  library/clojure
Labels: library/clojure

#18714 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#18716 Update ghost
  library/ghost
Labels: library/ghost

#18717 Update wordpress
  library/wordpress
Labels: library/wordpress

#18719 The XWiki 14.10.x branch is not supported anymore
  library/xwiki
Labels: library/xwiki

#18720 Fedora Update 20250327
  library/fedora
Labels: library/fedora

#18722 Update dart
  library/dart
Labels: library/dart

#18723 Releasing Neo4j 2025.03.0
  library/neo4j
Labels: library/neo4j

#18724 maven: java 24
  library/maven
Labels: library/maven

#18725 Update redmine
  library/redmine
Labels: library/redmine

#18726 Update to Adminer 5.1.0
  library/adminer
Labels: library/adminer

#18727 Update openjdk
  library/openjdk
Labels: library/openjdk

#18728 Update memcached
  library/memcached
Labels: library/memcached

#18705 Updates for WebSphere and Open Liberty 25.0.0.3 release
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#18729 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18730 Update memcached
  library/memcached
Labels: library/memcached

#18733 Update api-firewall to v0.8.9
  library/api-firewall
Labels: library/api-firewall

#18734 archlinux: Release 20250330.0.328921
  library/archlinux
Labels: library/archlinux

#18736 Update Clear Linux OS to 43160
  library/clearlinux
Labels: library/clearlinux
