Repository docker-library/official-images, pull requests merged in 2025-10, with the labels that each got.

#19995 gitsha bump for Neo4j 2025.09.0
  library/neo4j
Labels: library/neo4j

#19998 Kapacitor v1.8.2
  library/kapacitor
Labels: library/kapacitor

#20000 Update redmine
  library/redmine
Labels: library/redmine

#20001 Update mongo
  library/mongo
Labels: library/mongo

#20003 Update JRuby top JDK to 25
  library/jruby
Labels: library/jruby

#20007 Fedora Update 20251002
  library/fedora
Labels: library/fedora

#20009 Update docker
  library/docker
Labels: library/docker

#20010 Update XWiki stable version to 17.8
  library/xwiki
Labels: library/xwiki

#20013 XWiki 16.10.12 was released
  library/xwiki
Labels: library/xwiki

#20017 Update ghost
  library/ghost
Labels: library/ghost

#20019 TomEE images based on JRE 25
  library/tomee
Labels: library/tomee

#20020 Release sonarqube 25.10.0.113419-community
  library/sonarqube
Labels: library/sonarqube

#20024 Update ELK images for 8.18.8, 8.19.5, 9.0.8, 9.1.5
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#20027 "[oraclelinux] Updating 8 for ELSA-2025-16823"
  library/oraclelinux
Labels: library/oraclelinux

#20025 Update golang
  library/golang
Labels: library/golang

#20029 Update tomcat
  library/tomcat
Labels: library/tomcat

#20035 Update python
  library/python
Labels: library/python

#20032 Update bash
  library/bash
Labels: library/bash

#20033 Update tomcat
  library/tomcat
Labels: library/tomcat

#20037 Update mainline nginx
  library/nginx
Labels: library/nginx
