Repository docker-library/official-images, pull requests merged in 2025-04, with the labels that each got.

#18747 Couchbase Server EE 7.2.7 release
  library/couchbase
Labels: library/couchbase

#18748 [oraclelinux] Updating 9, 9-slim and 9-slim-fips for tzdata-2025b
  library/oraclelinux
Labels: library/oraclelinux

#18755 [security] Update golang
  library/golang
Labels: library/golang

#18749 [Swift] Release 6.1.0
  library/swift
Labels: library/swift

#18752 Odoo: update 16.0-18.0 to release 20250401
  library/odoo
Labels: library/odoo

#18754 Update bash
  library/bash
Labels: library/bash

#18756 Desupport SapMachine 11 docker images on ppc64le and arm64v8
  library/sapmachine
Labels: library/sapmachine

#18758 haxe: remove alpine3.17, fix builds of 4.1-bullseye and 4.0-bullseye
  library/haxe
Labels: library/haxe

#18759 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18760 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18761 Update memcached
  library/memcached
Labels: library/memcached

#18757 Update Monica latest tag
  library/monica
Labels: library/monica

#18762 Update python
  library/python
Labels: library/python

#18763 Releasing Neo4j 5.26.5
  library/neo4j
Labels: library/neo4j

#18765 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18766 Update wordpress
  library/wordpress
Labels: library/wordpress

#18767 Update haproxy
  library/haproxy
Labels: library/haproxy

#18768 Updated swipl devel to 9.3.22
  library/swipl
Labels: library/swipl

#18769 Update to spiped 1.6.4
  library/spiped
Labels: library/spiped

#18772 chore: Update to Rust version 1.86.0
  library/rust
Labels: library/rust

#18773 Official Convertigo 8.3.4 release!
  library/convertigo
Labels: library/convertigo

#18770 Update drupal
  library/drupal
Labels: library/drupal

#18771 Registry v3 release
  library/registry
Labels: library/registry

#18774 Update YOURLS
  library/yourls
Labels: library/yourls

#18776 release 2.8.7
  library/composer
Labels: library/composer

#18777 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18778 "[oraclelinux] Updating 9 for ELSA-2025-3531"
  library/oraclelinux
Labels: library/oraclelinux

#18779 Update api-firewall to v0.9.0
  library/api-firewall
Labels: library/api-firewall

#18780 Update julia
  library/julia
Labels: library/julia

#18783 archlinux: Release 20250406.0.331908
  library/archlinux
Labels: library/archlinux

#18784 Update Clear Linux OS to 43210
  library/clearlinux
Labels: library/clearlinux

#18786 release 2.8.8
  library/composer
Labels: library/composer

#18787 Haskell: add ghc 9.12.2, bump ghc 9.6 to 9.6.7
  library/haskell
Labels: library/haskell

#18789 Release SonarQube Community Build 25.4.0.105899
  library/sonarqube
Labels: library/sonarqube

#18788 Redis CE 8.0 RC1
  library/redis
Labels: library/redis

#18794 Publish LTS and Current images
  library/gradle
Labels: library/gradle

#18796 Rocket.Chat: feat: Rocket.Chat 7.5.0
  library/rocket.chat
Labels: library/rocket.chat

#18785 Update photon image
  library/photon
Labels: library/photon

#18790 Update bash
  library/bash
Labels: library/bash

#18791 Update ghost
  library/ghost
Labels: library/ghost

#18792 Update golang
  library/golang
Labels: library/golang

#18793 Update openjdk
  library/openjdk
Labels: library/openjdk

#18799 Update bash
  library/bash
Labels: library/bash

#18800 Update UBI pins
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9

#18801 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#18802 [nats] Release v2.11.1
  library/nats
Labels: library/nats

#18803 Update python
  library/python
Labels: library/python

#18804 Update tomcat
  library/tomcat
Labels: library/tomcat

#18805 Update wordpress
  library/wordpress
Labels: library/wordpress

#18806 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2025
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2025
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#18797 Update Jetty version to 12.0.19
  library/jetty
Labels: library/jetty

#18807 Update python
  library/python
Labels: library/python

#18810 Update windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/servercore___1809
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#18811 Update tomcat
  library/tomcat
Labels: library/tomcat

#18812 Update ruby
  library/ruby
Labels: library/ruby

#18813 Update pypy
  library/pypy
Labels: library/pypy

#18814 Update Joomla!
  library/joomla
Labels: library/joomla

#18815 Update tomcat
  library/tomcat
Labels: library/tomcat

#18816 erlang/otp 27.3.2
  library/erlang
Labels: library/erlang

#18819 Update CrateDB to 5.10.4 & 5.9.13
  library/crate
Labels: library/crate

#18820 Update dart
  library/dart
Labels: library/dart

#18821 Update KrakenD to v2.9.4
  library/krakend
Labels: library/krakend

#18824 Update docker
  library/docker
Labels: library/docker

#18825 MediaWiki 1.43.1 / 1.42.6 / 1.39.12 security releases
  library/mediawiki
Labels: library/mediawiki

#18827 Update cassandra
  library/cassandra
Labels: library/cassandra

#18828 Update php
  library/php
Labels: library/php

#18826 Update wordpress
  library/wordpress
Labels: library/wordpress

#18830 Update haproxy
  library/haproxy
Labels: library/haproxy

#18831 Update to R 4.5.0 released this morning
  library/r-base
Labels: library/r-base

#18834 Update ghost
  library/ghost
Labels: library/ghost

#18832 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18835 Update docker
  library/docker
Labels: library/docker

#18836 TomEE version bump 10.0.1
  library/tomee
Labels: library/tomee

#18841 library/perl: multiple updates
  library/perl
Labels: library/perl

#18838 Update Clear Linux OS to 43250
  library/clearlinux
Labels: library/clearlinux

#18839 Update to Adminer 5.2.1
  library/adminer
Labels: library/adminer

#18840 Release of GeoNetwork v4.2.12
  library/geonetwork
Labels: library/geonetwork

#18844 Release OrientDB 3.2.39
  library/orientdb
Labels: library/orientdb

#18847 Telegraf v1.34.2
  library/telegraf
Labels: library/telegraf

#18845 Update golang
  library/golang
Labels: library/golang

#18846 Update openjdk
  library/openjdk
Labels: library/openjdk

#18851 Update wordpress
  library/wordpress
Labels: library/wordpress

#18850 Update ruby
  library/ruby
Labels: library/ruby

#18848 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18849 Update mongo
  library/mongo
Labels: library/mongo

#18852 Add JRuby 10.0.0.0 as latest with JDK/JRE 21 and 24
  library/jruby
Labels: library/jruby

#18853 Update mysql
  library/mysql
Labels: library/mysql

#18857 Upgrade GraalVM to 24.0.1
  library/gradle
Labels: library/gradle

#18858 Odoo: update 16.0-18.0 to release 20250415
  library/odoo
Labels: library/odoo

#18859 Fix Adminer plugin loader
  library/adminer
Labels: library/adminer

#18860 Fedora Update 20250415
  library/fedora
Labels: library/fedora

#18867 Update Joomla!
  library/joomla
Labels: library/joomla

#18854 Update ELK images for 8.17.5
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#18869 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-3828"
  library/oraclelinux
Labels: library/oraclelinux

#18862 Update julia
  library/julia
Labels: library/julia

#18864 Update mysql
  library/mysql
Labels: library/mysql

#18865 Update ghost
  library/ghost
Labels: library/ghost

#18866 Update docker
  library/docker
Labels: library/docker

#18868 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18870 Update wordpress
  library/wordpress
Labels: library/wordpress

#18863 Update bash
  library/bash
Labels: library/bash

#18871 Update amazoncorretto for 2025 q2 release
  library/amazoncorretto
Labels: library/amazoncorretto

#18872 SapMachine updates April 2025
  library/sapmachine
Labels: library/sapmachine

#18873 Release Chronograf 1.10.7
  library/chronograf
Labels: library/chronograf

#18874 Updated nginx mainline to 1.27.5.
  library/nginx
Labels: library/nginx

#18877 "[oraclelinux] Updating 8 for ELSA-2025-3913"
  library/oraclelinux
Labels: library/oraclelinux

#18861 feat: release influxdb:3-core and influxdb:3-enterprise
  library/influxdb
Labels: library/influxdb

#18878 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18879 Update docker
  library/docker
Labels: library/docker

#18881 Update dart
  library/dart
Labels: library/dart

#18882 XWiki 17.2.2 release
  library/xwiki
Labels: library/xwiki

#18883 Update haproxy
  library/haproxy
Labels: library/haproxy

#18884 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2025
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2025
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#18886 Updated swipl devel to 9.3.23
  library/swipl
Labels: library/swipl

#18888 InfluxDB3 Core and Enterprise v3.0.01
  library/influxdb
Labels: library/influxdb

#18890 Update docker
  library/docker
Labels: library/docker

#18889 Update openjdk
  library/openjdk
Labels: library/openjdk

#18833 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#18892 erlang/otp 27.3.3, 26.2.5.11, 25.3.2.20
  library/erlang
Labels: library/erlang

#18895 Aerospike 8.0.0.6
  library/aerospike
Labels: library/aerospike

#18897 Update Clear Linux OS to 43280
  library/clearlinux
Labels: library/clearlinux

#18903 Update redmine
  library/redmine
Labels: library/redmine

#18902 Update ghost
  library/ghost
Labels: library/ghost

#18904 Update golang
  library/golang
Labels: library/golang

#18893 caddy: v2.10.0 release
  library/caddy
Labels: library/caddy

#18906 Update ruby
  library/ruby
Labels: library/ruby

#18900 Update tags for PSMDB
  library/percona
Labels: library/percona

#18911 Update bash
  library/bash
Labels: library/bash

#18912 Update haproxy
  library/haproxy
Labels: library/haproxy

#18914 eclipse-temurin: April PSU updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#18916 Update api-firewall to v0.9.1
  library/api-firewall
Labels: library/api-firewall

#18917 Updated stable nginx to 1.28.0.
  library/nginx
Labels: library/nginx

#18915 Update haproxy
  library/haproxy
Labels: library/haproxy

#18918 New Redis version
  library/redis
Labels: library/redis

#18919 Updates for the release of WebSphere and Open Liberty 25.0.0.4
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#18920 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18924 Update xwiki 16.10.6
  library/xwiki
Labels: library/xwiki

#18926 [nats] Releases v2.11.2, v2.10.28
  library/nats
Labels: library/nats

#18928 Update YOURLS
  library/yourls
Labels: library/yourls

#18921 Update php
  library/php
Labels: library/php

#18922 Update UBI pins
  .external-pins/redhat/ubi8-minimal___latest
  .external-pins/redhat/ubi8___latest
Labels: external/redhat/ubi8-minimal, external/redhat/ubi8

#18930 Update busybox
  library/busybox
Labels: library/busybox

#18931 Update openjdk
  library/openjdk
Labels: library/openjdk

#18932 Update ghost
  library/ghost
Labels: library/ghost

#18934 Aerospike 8.0.0.7
  library/aerospike
Labels: library/aerospike

#18935 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-4051 ELSA-2025-4049"
  library/oraclelinux
Labels: library/oraclelinux

#18933 Update gcc
  library/gcc
Labels: library/gcc

#18937 Gradle 8.14
  library/gradle
Labels: library/gradle

#18938 archlinux: Release 20250427.0.341977
  library/archlinux
Labels: library/archlinux

#18939 Update Clear Linux OS to 43300
  library/clearlinux
Labels: library/clearlinux
