Repository docker-library/official-images, pull requests merged in 2025-08, with the labels that each got.

#19571 fluentd: Update to v1.19.0
  library/fluentd
Labels: library/fluentd

#19583 XWiki 17.4.3 released
  library/xwiki
Labels: library/xwiki

#19584 "[oraclelinux] Updating 9, 9-slim and 9-slim-fips for ELSA-2025-12447"
  library/oraclelinux
Labels: library/oraclelinux

#19586 archlinux: Release 20250803.0.394512
  library/archlinux
Labels: library/archlinux

#19579 eclipse-temurin: July PSU updates
  library/eclipse-temurin
Labels: library/eclipse-temurin

#19587 Update photon image
  library/photon
Labels: library/photon

#19591 Update YOURLS
  library/yourls
Labels: library/yourls

#19592 Releasing Neo4j 5.26.10
  library/neo4j
Labels: library/neo4j

#19578 Update php
  library/php
Labels: library/php

#19598 "[oraclelinux] Updating 8, 8-slim and 8-slim-fips for ELSA-2025-12450"
  library/oraclelinux
Labels: library/oraclelinux

#19594 Update openjdk
  library/openjdk
Labels: library/openjdk

#19596 Update golang
  library/golang
Labels: library/golang

#19599 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#19600 arangodb 3.12.5.2
  library/arangodb
Labels: library/arangodb

#19602 Update YOURLS
  library/yourls
Labels: library/yourls

#19607 Releasing Neo4j 2025.07.1
  library/neo4j
Labels: library/neo4j

#19603 maven: eclipse-temurin is now noble based
  library/maven
Labels: library/maven

#19608 Update bash
  library/bash
Labels: library/bash

#19609 Update cassandra
  library/cassandra
Labels: library/cassandra

#19614 [security] Update golang
  library/golang
Labels: library/golang

#19615 Update ghost
  library/ghost
Labels: library/ghost

#19618 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#19620 Odoo: update 16.0-18.0 to release 20250807
  library/odoo
Labels: library/odoo

#19622 Update dart
  library/dart
Labels: library/dart

#19617 Update haproxy
  library/haproxy
Labels: library/haproxy

#19624 Update drupal
  library/drupal
Labels: library/drupal

#19630 chore: Update rust to 1.89.0
  library/rust
Labels: library/rust

#19636 Apache Storm 2.8.2
  library/storm
Labels: library/storm

#19637 archlinux: Release 20250810.0.398652
  library/archlinux
Labels: library/archlinux

#19640 Update spiped:alpine to alpine:3.22
  library/spiped
Labels: library/spiped

#19642 Update ELK images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#19638 Update photon image
  library/photon
Labels: library/photon

#19629 maridadb: 2025 Q3 release
  library/mariadb
Labels: library/mariadb

#19667 Update ELK Images
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#19651 Update mongo
  library/mongo
Labels: library/mongo

#19668 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2025
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2025
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#19654 Release OrientDB 3.2.43
  library/orientdb
Labels: library/orientdb

#19645 Update gcc
  library/gcc
Labels: library/gcc

#19658 Update julia
  library/julia
Labels: library/julia

#19659 Update postgres
  library/postgres
Labels: library/postgres

#19661 Update python
  library/python
Labels: library/python

#19664 Update ruby
  library/ruby
Labels: library/ruby

#19665 Update haproxy
  library/haproxy
Labels: library/haproxy

#19666 Update httpd
  library/httpd
Labels: library/httpd

#19670 Rocket.Chat: feat: Rocket.Chat 7.9.3
  library/rocket.chat
Labels: library/rocket.chat

#19671 Update irssi
  library/irssi
Labels: library/irssi

#19643 Update Jetty to 12.0.24
  library/jetty
Labels: library/jetty

#19682 Update couchbase-server
  library/couchbase
Labels: library/couchbase

#19683 Update memcached
  library/memcached
Labels: library/memcached

#19686 Update ghost
  library/ghost
Labels: library/ghost

#19687 Update haproxy
  library/haproxy
Labels: library/haproxy

#19689 Update hello-world
  library/hello-world
Labels: library/hello-world

#19633 Update UBI pins
  .external-pins/redhat/ubi10-minimal___latest
  .external-pins/redhat/ubi10___latest
  .external-pins/redhat/ubi8___latest
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi8, external/redhat/ubi9, external/redhat/ubi10-minimal, external/redhat/ubi10

#19695 [security] Update postgres
  library/postgres
Labels: library/postgres

#19691 Update busybox
  library/busybox
Labels: library/busybox

#19697 Update mongo
  library/mongo
Labels: library/mongo

#19698 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#19703 [varnish][security] upgrade varnish
  library/varnish
Labels: library/varnish

#19700 [Swift] Update Windows docker images for 5.9 and 5.10
  library/swift
Labels: library/swift

#19708 Update php
  library/php
Labels: library/php

#19709 Update ghost
  library/ghost
Labels: library/ghost

#19699 Update tianon/buildkit:0.16
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#19725 Update YOURLS
  library/yourls
Labels: library/yourls

#19727 TomEE 10.1.1
  library/tomee
Labels: library/tomee

#19732 Update Joomla!
  library/joomla
Labels: library/joomla

#19723 Update Jetty versions to 10.0.26 & 11.0.26, and introduce new images for 12.1.0
  library/jetty
Labels: library/jetty

#19733 Haskell: bump ghc 9.10 to 9.10.2
  library/haskell
Labels: library/haskell

#19734 Update dart
  library/dart
Labels: library/dart

#19737 composer 2.8.11
  library/composer
Labels: library/composer

#19741 Update mongo
  library/mongo
Labels: library/mongo

#19742 Update xwiki intermediate LTS version
  library/xwiki
Labels: library/xwiki

#19743 Update golang
  library/golang
Labels: library/golang

#19744 Update ghost
  library/ghost
Labels: library/ghost

#19745 caddy: v2.10.2 release
  library/caddy
Labels: library/caddy

#19746 archlinux: Release 20250824.0.410029
  library/archlinux
Labels: library/archlinux

#19748 disable gazebo classic as focal is EOL
  library/gazebo
Labels: library/gazebo

#19747 library/perl: 5.43.1 -> 5.43.2
  library/perl
Labels: library/perl

#19752 Update openjdk
  library/openjdk
Labels: library/openjdk

#19751 Update golang
  library/golang
Labels: library/golang

#19753 Update varnish
  library/varnish
Labels: library/varnish

#19754 Update clojure
  library/clojure
Labels: library/clojure

#19756 Update photon image
  library/photon
Labels: library/photon

#19757 feat(rust): Support riscv64 on Trixie
  library/rust
Labels: library/rust

#19762 chore: influxdb3 3.4.0 release
  library/influxdb
Labels: library/influxdb

#19770 Releasing neo4j 2025.08.0
  library/neo4j
Labels: library/neo4j

#19768 Fedora Update 20250827
  library/fedora
Labels: library/fedora

#19772 Update xwiki stable to 17.7.0
  library/xwiki
Labels: library/xwiki

#19767 Update gcc
  library/gcc
Labels: library/gcc

#19778 chore: update influxdb3 core/enterprise to 3.4.1
  library/influxdb
Labels: library/influxdb

#19781 Update Matomo
  library/matomo
  test/tests/matomo-fpm-run/run.sh
Labels: library/matomo

#19782 Update php
  library/php
Labels: library/php

#19785 Replace `libssl3` with `libssl3t64` for spiped
  library/spiped
Labels: library/spiped
