Repository docker-library/official-images, pull requests merged in 2025-05, with the labels that each got.

#18957 [nats] Releases v2.11.3, v2.10.29
  library/nats
Labels: library/nats

#18960 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#18961 Update mongo
  library/mongo
Labels: library/mongo

#18963 arangodb 3.12.4.3
  library/arangodb
Labels: library/arangodb

#18965 fluentd: update to Fluentd v1.16.8
  library/fluentd
Labels: library/fluentd

#18966 Update Matomo
  library/matomo
Labels: library/matomo

#18967 archlinux: Release 20250504.0.344409
  library/archlinux
Labels: library/archlinux

#18968 Update Clear Linux OS to 43320
  library/clearlinux
Labels: library/clearlinux

#18970 Release SonarQube Community Build 25.5
  library/sonarqube
Labels: library/sonarqube

#18971 Bump Traefik to v3.3.7 and v3.4.0
  library/traefik
Labels: library/traefik

#18973 chore(rust): Update rustup to 1.28.2
  library/rust
Labels: library/rust

#18972 InfluxDB3 Core and Enterprise v3.0.2
  library/influxdb
Labels: library/influxdb

#18974 Update golang
  library/golang
Labels: library/golang

#18975 Update openjdk
  library/openjdk
Labels: library/openjdk

#18976 Update ghost
  library/ghost
Labels: library/ghost

#18979 Telegraf v1.34.3
  library/telegraf
Labels: library/telegraf

#18980 library/perl: 5.41.10 -> 5.41.12
  library/perl
Labels: library/perl

#18981 New Apache CouchDB release 3.5.0
  library/couchdb
Labels: library/couchdb

#18982 Upgrade XWiki recommended version to 16.4.8
  library/xwiki
Labels: library/xwiki

#18985 Update ghost
  library/ghost
Labels: library/ghost

#18986 Update bash
  library/bash
Labels: library/bash

#18988 [security] Update golang
  library/golang
Labels: library/golang

#18990 Releasing Neo4j 5.26.6
  library/neo4j
Labels: library/neo4j

#18991 Update wordpress
  library/wordpress
Labels: library/wordpress

#18992 Update JRuby 10 to 10.0.0.1 and 9.4 to 9.4.12.1
  library/jruby
Labels: library/jruby

#18994 Update docker
  library/docker
Labels: library/docker

#18987 Update photon image
  library/photon
Labels: library/photon

#18995 Update drupal
  library/drupal
Labels: library/drupal

#18996 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#18997 [security] Update postgres
  library/postgres
Labels: library/postgres

#19002 Update php
  library/php
Labels: library/php

#19003 Update haproxy
  library/haproxy
Labels: library/haproxy

#19004 Update hylang
  library/hylang
Labels: library/hylang

#19008 Update amazoncorretto for alpine 3.18 deprecation
  library/amazoncorretto
Labels: library/amazoncorretto

#18983 Update ELK images for 8.17.6, 8.18.1, and 9.0.1
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#19009 Update python
  library/python
Labels: library/python

#19010 Update ghost
  library/ghost
Labels: library/ghost

#19012 archlinux: Release 20250511.0.348143
  library/archlinux
Labels: library/archlinux

#19013 Update Clear Linux OS to 43410
  library/clearlinux
Labels: library/clearlinux

#19016 Update openjdk
  library/openjdk
Labels: library/openjdk

#19018 Update clojure
  library/clojure
Labels: library/clojure

#19019 Update Jetty to version 12.0.20
  library/jetty
Labels: library/jetty

#19020 Releasing Neo4j 4.4.43
  library/neo4j
Labels: library/neo4j

#19024 Redis 8.0.1
  library/redis
Labels: library/redis

#19017 Update tomcat
  library/tomcat
Labels: library/tomcat

#19021 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#19023 Update julia
  library/julia
Labels: library/julia

#19025 Update Varnish because of vsv16
  library/varnish
Labels: library/varnish

#19026 haskell: bump to stack 3.3.1
  library/haskell
Labels: library/haskell

#19027 Update Jetty to version 12.0.21
  library/jetty
Labels: library/jetty

#19028 Update XWiki LTS version to 16.10.8
  library/xwiki
Labels: library/xwiki

#19029 Bump IBM Java8 version to 8.0.8.45
  library/ibmjava
Labels: library/ibmjava

#19030 Update haproxy
  library/haproxy
Labels: library/haproxy

#19032 Update ghost
  library/ghost
Labels: library/ghost

#19022 Update docker/scout-sbom-indexer:1
  .external-pins/docker/scout-sbom-indexer___1
Labels: external/docker/scout-sbom-indexer

#19033 Update Windows pins
  .external-pins/mcr.microsoft.com/windows/nanoserver___1809
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2022
  .external-pins/mcr.microsoft.com/windows/nanoserver___ltsc2025
  .external-pins/mcr.microsoft.com/windows/servercore___1809
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2022
  .external-pins/mcr.microsoft.com/windows/servercore___ltsc2025
Labels: external/mcr.microsoft.com/windows/nanoserver, external/mcr.microsoft.com/windows/servercore

#19031 Update UBI pins
  .external-pins/redhat/ubi9-minimal___latest
  .external-pins/redhat/ubi9___latest
Labels: external/redhat/ubi9-minimal, external/redhat/ubi9

#19037 release 2.8.9
  library/composer
Labels: library/composer

#19040 chore: Bump to rust version 1.87.0
  library/rust
Labels: library/rust

#19041 Rocket.Chat: feat: Rocket.Chat 7.6.0
  library/rocket.chat
Labels: library/rocket.chat

#19039 Update ruby
  library/ruby
Labels: library/ruby

#19043 Update Nextcloud
  library/nextcloud
Labels: library/nextcloud

#19044 Updating to the Latest Release of Backdrop 1.31.0
  library/backdrop
Labels: library/backdrop

#19046 Update openjdk
  library/openjdk
Labels: library/openjdk

#19047 Update ghost
  library/ghost
Labels: library/ghost

#19048 [ROS] retire EOL iron images
  library/ros
Labels: library/ros

#19050 archlinux: Release 20250518.0.352066
  library/archlinux
Labels: library/archlinux

#19049 Update to Adminer 5.3.0
  library/adminer
Labels: library/adminer

#19051 Update Clear Linux OS to 43470
  library/clearlinux
Labels: library/clearlinux

#19052 Update photon image
  library/photon
Labels: library/photon

#19054 [percona] update ps-80 version
  library/percona
Labels: library/percona

#19055 Telegraf v1.34.4
  library/telegraf
Labels: library/telegraf

#19057 Update golang
  library/golang
Labels: library/golang

#19056 Add amazonlinux releases
  library/amazonlinux
Labels: library/amazonlinux

#19059 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#19058 Update docker
  library/docker
Labels: library/docker

#19060 Update couchbase-server
  library/couchbase
Labels: library/couchbase

#19061 Odoo: update 16.0-18.0 to release 20250520
  library/odoo
Labels: library/odoo

#19062 Update cassandra
  library/cassandra
Labels: library/cassandra

#19065 Update dart
  library/dart
Labels: library/dart

#19066 Update buildpack-deps
  library/buildpack-deps
Labels: library/buildpack-deps

#19063 Update bash
  library/bash
Labels: library/bash

#19070 erlang/otp 27.3.4
  library/erlang
Labels: library/erlang

#19071 Updates for the release of 25.0.0.5
  library/open-liberty
  library/websphere-liberty
Labels: library/websphere-liberty, library/open-liberty

#19074 Update haproxy
  library/haproxy
Labels: library/haproxy

#19069 Remove mips64le from buildpack-deps:trixie*
  library/buildpack-deps
Labels: library/buildpack-deps

#19075 feat: Update influxdb 2.7.11 -> 2.7.12
  library/influxdb
Labels: library/influxdb

#19068 Update Debian (esp. for 12.11)
  library/debian
Labels: library/debian

#19076 fluentd: update to Fluentd v1.16.9
  library/fluentd
Labels: library/fluentd

#19078 erlang/otp 28
  library/erlang
Labels: library/erlang

#19079 [nats] Release v2.11.4
  library/nats
Labels: library/nats

#19080 elixir v1.18.4
  library/elixir
Labels: library/elixir

#19081 Releasing neo4j 4.4.44
  library/neo4j
Labels: library/neo4j

#19082 Update ghost
  library/ghost
Labels: library/ghost

#19083 Update postgres
  library/postgres
Labels: library/postgres

#19085 2025 Q2 maintaince release of MariaDB 10.5.29, 10.6.22, 10.11.13 11.4.7
  library/mariadb
Labels: library/mariadb

#19084 Update busybox
  library/busybox
Labels: library/busybox

#19087 Update mongo
  library/mongo
Labels: library/mongo

#19086 Update php
  library/php
Labels: library/php

#19091 Update docker
  library/docker
Labels: library/docker

#19094 Update tianon/buildkit
  .external-pins/tianon/buildkit___0.16
Labels: external/tianon/buildkit

#19095 Add images for ROS 2 Kilted Kaiju
  library/ros
Labels: library/ros

#19096 Update ghost
  library/ghost
Labels: library/ghost

#19097 arangodb 3.11.14
  library/arangodb
Labels: library/arangodb

#19098 Update docker
  library/docker
Labels: library/docker

#19101 archlinux: Release 20250525.0.354646
  library/archlinux
Labels: library/archlinux

#19105 Release SonarQube 2025.3 and 2025.1.2
  library/sonarqube
Labels: library/sonarqube

#19100 [Swift] Release 6.1.1
  library/swift
Labels: library/swift

#19104 [varnish] update vmod-dynamic to 7.7
  library/varnish
Labels: library/varnish

#19110 Update python
  library/python
Labels: library/python

#19114 Rocket.Chat: feat: Rocket.Chat 7.6.1
  library/rocket.chat
Labels: library/rocket.chat

#19116 Aerospike 8.0.0.8
  library/aerospike
Labels: library/aerospike

#19117 Update spark 4.0.0-preview2 to spark 4.0.0
  library/spark
Labels: library/spark

#19120 Update ghost
  library/ghost
Labels: library/ghost

#19121 [Swift] Update the Docker images to Swift 6.1.2
  library/swift
Labels: library/swift

#19122 Kapacitor v1.7.7
  library/kapacitor
Labels: library/kapacitor

#19127 Update CrateDB to 5.10.7
  library/crate
Labels: library/crate

#19128 Release OrientDB 3.2.40
  library/orientdb
Labels: library/orientdb

#19126 Update ELK images for 8.18.2
  library/elasticsearch
  library/kibana
  library/logstash
Labels: library/elasticsearch, library/logstash, library/kibana

#19132 Add JRuby 10.0-dev and 9.4-dev images
  library/jruby
Labels: library/jruby

#19130 Update docker
  library/docker
Labels: library/docker

#19131 Update cassandra
  library/cassandra
Labels: library/cassandra

#19133 Update haproxy
  library/haproxy
Labels: library/haproxy

#19137 Update docker
  library/docker
Labels: library/docker

#19135 alpine: add 3.22.0 as latest, remove EOL 3.18
  library/alpine
Labels: library/alpine

#19140 [oraclelinux] Release Oracle Linux 9 Update 6
  library/oraclelinux
Labels: library/oraclelinux

#19142 feat(rust): Add Alpine 3.22 based images
  library/rust
Labels: library/rust

#19141 Update bash
  library/bash
Labels: library/bash

#19143 Update busybox
  library/busybox
Labels: library/busybox

#19147 Update openjdk
  library/openjdk
Labels: library/openjdk

#19148 Update irssi
  library/irssi
Labels: library/irssi

#19149 Update drupal
  library/drupal
Labels: library/drupal

#19150 Update rabbitmq
  library/rabbitmq
Labels: library/rabbitmq

#19151 Update memcached
  library/memcached
Labels: library/memcached

#19153 Update mongo
  library/mongo
Labels: library/mongo

#19154 Update pypy
  library/pypy
Labels: library/pypy

#19155 Update ruby
  library/ruby
Labels: library/ruby

#19152 Update python
  library/python
Labels: library/python

#19157 Update docker
  library/docker
Labels: library/docker

#19158 Update haproxy
  library/haproxy
Labels: library/haproxy

#19159 Update julia
  library/julia
Labels: library/julia

#19160 Update golang
  library/golang
Labels: library/golang
